Repository microsoft/winget-pkgs, pull requests merged in 2024-04, with the labels that each got.

#147192 New version: Jackett.Jackett version 0.21.2253
  manifests/j/Jackett/Jackett/0.21.2253/Jackett.Jackett.installer.yaml
  manifests/j/Jackett/Jackett/0.21.2253/Jackett.Jackett.locale.en-US.yaml
  manifests/j/Jackett/Jackett/0.21.2253/Jackett.Jackett.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147125 New version: FutureScholars.Paperlib version 3.0.7
  manifests/f/FutureScholars/Paperlib/3.0.7/FutureScholars.Paperlib.installer.yaml
  manifests/f/FutureScholars/Paperlib/3.0.7/FutureScholars.Paperlib.locale.en-US.yaml
  manifests/f/FutureScholars/Paperlib/3.0.7/FutureScholars.Paperlib.locale.zh-CN.yaml
  manifests/f/FutureScholars/Paperlib/3.0.7/FutureScholars.Paperlib.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147135 Revert "New version: Microsoft.VCRedist.2015+.x86 version 14.40.33617.1"
  manifests/m/Microsoft/VCRedist/2015+/x86/14.40.33617.1/Microsoft.VCRedist.2015+.x86.installer.yaml
  manifests/m/Microsoft/VCRedist/2015+/x86/14.40.33617.1/Microsoft.VCRedist.2015+.x86.locale.en-US.yaml
  manifests/m/Microsoft/VCRedist/2015+/x86/14.40.33617.1/Microsoft.VCRedist.2015+.x86.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Needs-Attention, Needs-Manual-Merge

#147167 New version: 360.360SE version 15.1.2040.64
  manifests/3/360/360SE/15.1.2040.64/360.360SE.installer.yaml
  manifests/3/360/360SE/15.1.2040.64/360.360SE.locale.en-US.yaml
  manifests/3/360/360SE/15.1.2040.64/360.360SE.locale.zh-CN.yaml
  manifests/3/360/360SE/15.1.2040.64/360.360SE.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147169 New version: cURL.cURL version 8.7.1.6
  manifests/c/cURL/cURL/8.7.1.6/cURL.cURL.installer.yaml
  manifests/c/cURL/cURL/8.7.1.6/cURL.cURL.locale.en-US.yaml
  manifests/c/cURL/cURL/8.7.1.6/cURL.cURL.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147170 New version: PerfectWorld.PerfectWorldArena version 1.0.24040112
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24040112/PerfectWorld.PerfectWorldArena.installer.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24040112/PerfectWorld.PerfectWorldArena.locale.en-US.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24040112/PerfectWorld.PerfectWorldArena.locale.zh-CN.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24040112/PerfectWorld.PerfectWorldArena.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147191 New version: Proxyman.Proxyman version 2.13.0
  manifests/p/Proxyman/Proxyman/2.13.0/Proxyman.Proxyman.installer.yaml
  manifests/p/Proxyman/Proxyman/2.13.0/Proxyman.Proxyman.locale.en-US.yaml
  manifests/p/Proxyman/Proxyman/2.13.0/Proxyman.Proxyman.locale.zh-CN.yaml
  manifests/p/Proxyman/Proxyman/2.13.0/Proxyman.Proxyman.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147197 New version: Meitu.ColorByte version 5.5.2
  manifests/m/Meitu/ColorByte/5.5.2/Meitu.ColorByte.installer.yaml
  manifests/m/Meitu/ColorByte/5.5.2/Meitu.ColorByte.locale.en-US.yaml
  manifests/m/Meitu/ColorByte/5.5.2/Meitu.ColorByte.locale.zh-CN.yaml
  manifests/m/Meitu/ColorByte/5.5.2/Meitu.ColorByte.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147193 New version: ByteDance.DouyinIDE version 4.2.2
  manifests/b/ByteDance/DouyinIDE/4.2.2/ByteDance.DouyinIDE.installer.yaml
  manifests/b/ByteDance/DouyinIDE/4.2.2/ByteDance.DouyinIDE.locale.en-US.yaml
  manifests/b/ByteDance/DouyinIDE/4.2.2/ByteDance.DouyinIDE.locale.zh-CN.yaml
  manifests/b/ByteDance/DouyinIDE/4.2.2/ByteDance.DouyinIDE.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147202 New version: Google.Chrome.Canary version 125.0.6392.0
  manifests/g/Google/Chrome/Canary/125.0.6392.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/125.0.6392.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/125.0.6392.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/125.0.6392.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/125.0.6392.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147201 New version: Tencent.QQ.NT version 9.9.9.22578 (9.9.9)
  manifests/t/Tencent/QQ/NT/9.9.9.22578/Tencent.QQ.NT.installer.yaml
  manifests/t/Tencent/QQ/NT/9.9.9.22578/Tencent.QQ.NT.locale.en-US.yaml
  manifests/t/Tencent/QQ/NT/9.9.9.22578/Tencent.QQ.NT.locale.zh-CN.yaml
  manifests/t/Tencent/QQ/NT/9.9.9.22578/Tencent.QQ.NT.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147203 New version: Slonopotamus.Stevedore version 1.4.0
  manifests/s/Slonopotamus/Stevedore/1.4.0/Slonopotamus.Stevedore.installer.yaml
  manifests/s/Slonopotamus/Stevedore/1.4.0/Slonopotamus.Stevedore.locale.en-US.yaml
  manifests/s/Slonopotamus/Stevedore/1.4.0/Slonopotamus.Stevedore.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147112 New version: GarboMuffin.TurboWarp version 1.10.1
  manifests/g/GarboMuffin/TurboWarp/1.10.1/GarboMuffin.TurboWarp.installer.yaml
  manifests/g/GarboMuffin/TurboWarp/1.10.1/GarboMuffin.TurboWarp.locale.en-US.yaml
  manifests/g/GarboMuffin/TurboWarp/1.10.1/GarboMuffin.TurboWarp.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147115 New version: Google.Chrome.Canary version 125.0.6390.0
  manifests/g/Google/Chrome/Canary/125.0.6390.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/125.0.6390.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/125.0.6390.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/125.0.6390.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/125.0.6390.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147116 New version: MediaArea.MediaInfo.GUI version 24.03
  manifests/m/MediaArea/MediaInfo/GUI/24.03/MediaArea.MediaInfo.GUI.installer.yaml
  manifests/m/MediaArea/MediaInfo/GUI/24.03/MediaArea.MediaInfo.GUI.locale.en-US.yaml
  manifests/m/MediaArea/MediaInfo/GUI/24.03/MediaArea.MediaInfo.GUI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147118 New version: VideoLAN.x264 version 3190
  manifests/v/VideoLAN/x264/3190/VideoLAN.x264.installer.yaml
  manifests/v/VideoLAN/x264/3190/VideoLAN.x264.locale.en-US.yaml
  manifests/v/VideoLAN/x264/3190/VideoLAN.x264.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147119 New version: EDRLab.Thorium version 2.4.1
  manifests/e/EDRLab/Thorium/2.4.1/EDRLab.Thorium.installer.yaml
  manifests/e/EDRLab/Thorium/2.4.1/EDRLab.Thorium.locale.en-US.yaml
  manifests/e/EDRLab/Thorium/2.4.1/EDRLab.Thorium.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147120 New version: Catsxp.Catsxp version 123.4.4.2
  manifests/c/Catsxp/Catsxp/123.4.4.2/Catsxp.Catsxp.installer.yaml
  manifests/c/Catsxp/Catsxp/123.4.4.2/Catsxp.Catsxp.locale.en-US.yaml
  manifests/c/Catsxp/Catsxp/123.4.4.2/Catsxp.Catsxp.locale.zh-CN.yaml
  manifests/c/Catsxp/Catsxp/123.4.4.2/Catsxp.Catsxp.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147122 New version: Streamlink.Streamlink version 6.7.1-1
  manifests/s/Streamlink/Streamlink/6.7.1-1/Streamlink.Streamlink.installer.yaml
  manifests/s/Streamlink/Streamlink/6.7.1-1/Streamlink.Streamlink.locale.en-US.yaml
  manifests/s/Streamlink/Streamlink/6.7.1-1/Streamlink.Streamlink.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147124 valinet.ExplorerPatcher.Prerelease version 22621.3296.64.2
  manifests/v/valinet/ExplorerPatcher/Prerelease/22621.3296.64.2/valinet.ExplorerPatcher.Prerelease.installer.yaml
  manifests/v/valinet/ExplorerPatcher/Prerelease/22621.3296.64.2/valinet.ExplorerPatcher.Prerelease.locale.en-US.yaml
  manifests/v/valinet/ExplorerPatcher/Prerelease/22621.3296.64.2/valinet.ExplorerPatcher.Prerelease.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#147132 Go musicfox 4.3.3
  manifests/g/go-musicfox/go-musicfox/4.3.3/go-musicfox.go-musicfox.installer.yaml
  manifests/g/go-musicfox/go-musicfox/4.3.3/go-musicfox.go-musicfox.locale.en-US.yaml
  manifests/g/go-musicfox/go-musicfox/4.3.3/go-musicfox.go-musicfox.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147139 New version: WestWind.MarkdownMonster version 3.2.9.0
  manifests/w/WestWind/MarkdownMonster/3.2.9.0/WestWind.MarkdownMonster.installer.yaml
  manifests/w/WestWind/MarkdownMonster/3.2.9.0/WestWind.MarkdownMonster.locale.en-US.yaml
  manifests/w/WestWind/MarkdownMonster/3.2.9.0/WestWind.MarkdownMonster.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147141 New version: stnkl.EverythingToolbar version 1.3.3
  manifests/s/stnkl/EverythingToolbar/1.3.3/stnkl.EverythingToolbar.installer.yaml
  manifests/s/stnkl/EverythingToolbar/1.3.3/stnkl.EverythingToolbar.locale.en-US.yaml
  manifests/s/stnkl/EverythingToolbar/1.3.3/stnkl.EverythingToolbar.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#147142 New version: twpayne.chezmoi 2.47.3
  manifests/t/twpayne/chezmoi/2.47.3/twpayne.chezmoi.installer.yaml
  manifests/t/twpayne/chezmoi/2.47.3/twpayne.chezmoi.locale.en-US.yaml
  manifests/t/twpayne/chezmoi/2.47.3/twpayne.chezmoi.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147145 New version: Google.Chrome.Canary version 125.0.6391.0
  manifests/g/Google/Chrome/Canary/125.0.6391.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/125.0.6391.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/125.0.6391.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/125.0.6391.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/125.0.6391.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147155 New version: aquaproj.aqua 2.25.2
  manifests/a/aquaproj/aqua/2.25.2/aquaproj.aqua.installer.yaml
  manifests/a/aquaproj/aqua/2.25.2/aquaproj.aqua.locale.en-US.yaml
  manifests/a/aquaproj/aqua/2.25.2/aquaproj.aqua.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147149 TopalaSoftwareSolutions.SIW version 2024.02.15.11
  manifests/t/TopalaSoftwareSolutions/SIW/2024.02.15.11/TopalaSoftwareSolutions.SIW.installer.yaml
  manifests/t/TopalaSoftwareSolutions/SIW/2024.02.15.11/TopalaSoftwareSolutions.SIW.locale.en-US.yaml
  manifests/t/TopalaSoftwareSolutions/SIW/2024.02.15.11/TopalaSoftwareSolutions.SIW.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147159 New version: Abdelrhman-AK.WinPaletter version 1.0.9.0
  manifests/a/Abdelrhman-AK/WinPaletter/1.0.9.0/Abdelrhman-AK.WinPaletter.installer.yaml
  manifests/a/Abdelrhman-AK/WinPaletter/1.0.9.0/Abdelrhman-AK.WinPaletter.locale.en-US.yaml
  manifests/a/Abdelrhman-AK/WinPaletter/1.0.9.0/Abdelrhman-AK.WinPaletter.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147158 flyingpie/windows-terminal-quake-prerelease 6
  manifests/f/flyingpie/windows-terminal-quake/prerelease/2.0.0.6/flyingpie.windows-terminal-quake.prerelease.installer.yaml
  manifests/f/flyingpie/windows-terminal-quake/prerelease/2.0.0.6/flyingpie.windows-terminal-quake.prerelease.locale.en-US.yaml
  manifests/f/flyingpie/windows-terminal-quake/prerelease/2.0.0.6/flyingpie.windows-terminal-quake.prerelease.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147160 New version: PerfectWorld.PerfectWorldArena version 1.0.24040111
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24040111/PerfectWorld.PerfectWorldArena.installer.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24040111/PerfectWorld.PerfectWorldArena.locale.en-US.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24040111/PerfectWorld.PerfectWorldArena.locale.zh-CN.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24040111/PerfectWorld.PerfectWorldArena.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147163 New version: GnuCash.GnuCash version 5.6
  manifests/g/GnuCash/GnuCash/5.6/GnuCash.GnuCash.installer.yaml
  manifests/g/GnuCash/GnuCash/5.6/GnuCash.GnuCash.locale.en-US.yaml
  manifests/g/GnuCash/GnuCash/5.6/GnuCash.GnuCash.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147165 New version: yt-dlp.yt-dlp.nightly version 2024.03.31.232706
  manifests/y/yt-dlp/yt-dlp/nightly/2024.03.31.232706/yt-dlp.yt-dlp.nightly.installer.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2024.03.31.232706/yt-dlp.yt-dlp.nightly.locale.en-US.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2024.03.31.232706/yt-dlp.yt-dlp.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147068 MiTeC.IconExplorer version 5.3.0
  manifests/m/MiTeC/IconExplorer/5.3.0/MiTeC.IconExplorer.installer.yaml
  manifests/m/MiTeC/IconExplorer/5.3.0/MiTeC.IconExplorer.locale.en-US.yaml
  manifests/m/MiTeC/IconExplorer/5.3.0/MiTeC.IconExplorer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Package

#147066 MiTeC.WindowsFileAnalyzer version 2.10.0
  manifests/m/MiTeC/WindowsFileAnalyzer/2.10.0/MiTeC.WindowsFileAnalyzer.installer.yaml
  manifests/m/MiTeC/WindowsFileAnalyzer/2.10.0/MiTeC.WindowsFileAnalyzer.locale.en-US.yaml
  manifests/m/MiTeC/WindowsFileAnalyzer/2.10.0/MiTeC.WindowsFileAnalyzer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#147073 New package: MiTeC.NetworkMeter version 2.5.0
  manifests/m/MiTeC/NetworkMeter/2.5.0/MiTeC.NetworkMeter.installer.yaml
  manifests/m/MiTeC/NetworkMeter/2.5.0/MiTeC.NetworkMeter.locale.en-US.yaml
  manifests/m/MiTeC/NetworkMeter/2.5.0/MiTeC.NetworkMeter.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#147074 New version: Ruihu.Apifox version 2.5.15
  manifests/r/Ruihu/Apifox/2.5.15/Ruihu.Apifox.installer.yaml
  manifests/r/Ruihu/Apifox/2.5.15/Ruihu.Apifox.locale.en-US.yaml
  manifests/r/Ruihu/Apifox/2.5.15/Ruihu.Apifox.locale.zh-CN.yaml
  manifests/r/Ruihu/Apifox/2.5.15/Ruihu.Apifox.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147078 New version: EclipseAdoptium.Temurin.17.JDK version 17.0.10.7
  manifests/e/EclipseAdoptium/Temurin/17/JDK/17.0.10.7/EclipseAdoptium.Temurin.17.JDK.installer.yaml
  manifests/e/EclipseAdoptium/Temurin/17/JDK/17.0.10.7/EclipseAdoptium.Temurin.17.JDK.locale.en-US.yaml
  manifests/e/EclipseAdoptium/Temurin/17/JDK/17.0.10.7/EclipseAdoptium.Temurin.17.JDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#147079 New version: taers232c.GAMADV-XTD3 version 6.72.05
  manifests/t/taers232c/GAMADV-XTD3/6.72.05/taers232c.GAMADV-XTD3.installer.yaml
  manifests/t/taers232c/GAMADV-XTD3/6.72.05/taers232c.GAMADV-XTD3.locale.en-US.yaml
  manifests/t/taers232c/GAMADV-XTD3/6.72.05/taers232c.GAMADV-XTD3.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147084 New version: Google.Chrome.Canary version 125.0.6389.0
  manifests/g/Google/Chrome/Canary/125.0.6389.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/125.0.6389.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/125.0.6389.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/125.0.6389.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/125.0.6389.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147081 New version: RemNote.RemNote version 1.15.4
  manifests/r/RemNote/RemNote/1.15.4/RemNote.RemNote.installer.yaml
  manifests/r/RemNote/RemNote/1.15.4/RemNote.RemNote.locale.en-US.yaml
  manifests/r/RemNote/RemNote/1.15.4/RemNote.RemNote.locale.zh-CN.yaml
  manifests/r/RemNote/RemNote/1.15.4/RemNote.RemNote.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147086 New version: blacktop.ipsw 3.1.463
  manifests/b/blacktop/ipsw/3.1.463/blacktop.ipsw.installer.yaml
  manifests/b/blacktop/ipsw/3.1.463/blacktop.ipsw.locale.en-US.yaml
  manifests/b/blacktop/ipsw/3.1.463/blacktop.ipsw.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147087 New version: blacktop.ipswd 3.1.463
  manifests/b/blacktop/ipswd/3.1.463/blacktop.ipswd.installer.yaml
  manifests/b/blacktop/ipswd/3.1.463/blacktop.ipswd.locale.en-US.yaml
  manifests/b/blacktop/ipswd/3.1.463/blacktop.ipswd.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147100 New version: Huawei.IdeaShare version 7.02.1.08
  manifests/h/Huawei/IdeaShare/7.02.1.08/Huawei.IdeaShare.installer.yaml
  manifests/h/Huawei/IdeaShare/7.02.1.08/Huawei.IdeaShare.locale.en-US.yaml
  manifests/h/Huawei/IdeaShare/7.02.1.08/Huawei.IdeaShare.locale.zh-CN.yaml
  manifests/h/Huawei/IdeaShare/7.02.1.08/Huawei.IdeaShare.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147092 Update-metadata-AdrienAllard.FileConverter
  manifests/a/AdrienAllard/FileConverter/2.0.2/AdrienAllard.FileConverter.locale.en-US.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Needs-Author-Feedback

#147075 MiTeC.JsonViewer version 3.2.0
  manifests/m/MiTeC/JsonViewer/3.2.0/MiTeC.JsonViewer.installer.yaml
  manifests/m/MiTeC/JsonViewer/3.2.0/MiTeC.JsonViewer.locale.en-US.yaml
  manifests/m/MiTeC/JsonViewer/3.2.0/MiTeC.JsonViewer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#147107 New version: yt-dlp.yt-dlp.nightly version 2024.03.30.232704
  manifests/y/yt-dlp/yt-dlp/nightly/2024.03.30.232704/yt-dlp.yt-dlp.nightly.installer.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2024.03.30.232704/yt-dlp.yt-dlp.nightly.locale.en-US.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2024.03.30.232704/yt-dlp.yt-dlp.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147109 Moving: DiegoFernandes.jsdesign version 1.0.7
  manifests/d/DiegoFernandes/jsdesign/1.0.7/DiegoFernandes.jsdesign.installer.yaml
  manifests/d/DiegoFernandes/jsdesign/1.0.7/DiegoFernandes.jsdesign.locale.en-US.yaml
  manifests/d/DiegoFernandes/jsdesign/1.0.7/DiegoFernandes.jsdesign.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed

#147108 Change: Improve sf-yuzifu.bcm_convertor
  manifests/s/sf-yuzifu/bcm_convertor/2.0.0/sf-yuzifu.bcm_convertor.installer.yaml
  manifests/s/sf-yuzifu/bcm_convertor/2.0.0/sf-yuzifu.bcm_convertor.locale.en-US.yaml
  manifests/s/sf-yuzifu/bcm_convertor/2.0.0/sf-yuzifu.bcm_convertor.locale.zh-CN.yaml
  manifests/s/sf-yuzifu/bcm_convertor/2.0.0/sf-yuzifu.bcm_convertor.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#147111 New version: Ferdium.Ferdium.Nightly version 6.7.3-nightly.5
  manifests/f/Ferdium/Ferdium/Nightly/6.7.3-nightly.5/Ferdium.Ferdium.Nightly.installer.yaml
  manifests/f/Ferdium/Ferdium/Nightly/6.7.3-nightly.5/Ferdium.Ferdium.Nightly.locale.en-US.yaml
  manifests/f/Ferdium/Ferdium/Nightly/6.7.3-nightly.5/Ferdium.Ferdium.Nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147117 New version: MediaArea.MediaInfo version 24.03
  manifests/m/MediaArea/MediaInfo/24.03/MediaArea.MediaInfo.installer.yaml
  manifests/m/MediaArea/MediaInfo/24.03/MediaArea.MediaInfo.locale.en-US.yaml
  manifests/m/MediaArea/MediaInfo/24.03/MediaArea.MediaInfo.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147105 New package: Meta.Oculus version 1.86.0.0
  manifests/m/Meta/Oculus/1.86.0.0/Meta.Oculus.installer.yaml
  manifests/m/Meta/Oculus/1.86.0.0/Meta.Oculus.locale.en-US.yaml
  manifests/m/Meta/Oculus/1.86.0.0/Meta.Oculus.locale.zh-CN.yaml
  manifests/m/Meta/Oculus/1.86.0.0/Meta.Oculus.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, 1GB+, New-Package

#147037 CodingWondersSoftware.DISMTools.Stable version 0.4.2.2434
  manifests/c/CodingWondersSoftware/DISMTools/Stable/0.4.2.2434/CodingWondersSoftware.DISMTools.Stable.installer.yaml
  manifests/c/CodingWondersSoftware/DISMTools/Stable/0.4.2.2434/CodingWondersSoftware.DISMTools.Stable.locale.en-US.yaml
  manifests/c/CodingWondersSoftware/DISMTools/Stable/0.4.2.2434/CodingWondersSoftware.DISMTools.Stable.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147040 New version: Google.Chrome.Canary version 125.0.6388.0
  manifests/g/Google/Chrome/Canary/125.0.6388.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/125.0.6388.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/125.0.6388.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/125.0.6388.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/125.0.6388.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147038 CodingWondersSoftware.DISMTools.Preview version 0.5.0.2433
  manifests/c/CodingWondersSoftware/DISMTools/Preview/0.5.0.2433/CodingWondersSoftware.DISMTools.Preview.installer.yaml
  manifests/c/CodingWondersSoftware/DISMTools/Preview/0.5.0.2433/CodingWondersSoftware.DISMTools.Preview.locale.en-US.yaml
  manifests/c/CodingWondersSoftware/DISMTools/Preview/0.5.0.2433/CodingWondersSoftware.DISMTools.Preview.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147042 New version: Xiaoyaoyixia.KOOK version 0.82.1
  manifests/x/Xiaoyaoyixia/KOOK/0.82.1/Xiaoyaoyixia.KOOK.installer.yaml
  manifests/x/Xiaoyaoyixia/KOOK/0.82.1/Xiaoyaoyixia.KOOK.locale.en-US.yaml
  manifests/x/Xiaoyaoyixia/KOOK/0.82.1/Xiaoyaoyixia.KOOK.locale.zh-CN.yaml
  manifests/x/Xiaoyaoyixia/KOOK/0.82.1/Xiaoyaoyixia.KOOK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147047 New version: AquaSecurity.Trivy version 0.50.1
  manifests/a/AquaSecurity/Trivy/0.50.1/AquaSecurity.Trivy.installer.yaml
  manifests/a/AquaSecurity/Trivy/0.50.1/AquaSecurity.Trivy.locale.en-US.yaml
  manifests/a/AquaSecurity/Trivy/0.50.1/AquaSecurity.Trivy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147048 New version: Gramps.Gramps version 5.2.1
  manifests/g/Gramps/Gramps/5.2.1/Gramps.Gramps.installer.yaml
  manifests/g/Gramps/Gramps/5.2.1/Gramps.Gramps.locale.en-US.yaml
  manifests/g/Gramps/Gramps/5.2.1/Gramps.Gramps.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147049 New version: Infracost.Infracost version 0.10.34
  manifests/i/Infracost/Infracost/0.10.34/Infracost.Infracost.installer.yaml
  manifests/i/Infracost/Infracost/0.10.34/Infracost.Infracost.locale.en-US.yaml
  manifests/i/Infracost/Infracost/0.10.34/Infracost.Infracost.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147052 New version: MikeFarah.yq version 4.43.1
  manifests/m/MikeFarah/yq/4.43.1/MikeFarah.yq.installer.yaml
  manifests/m/MikeFarah/yq/4.43.1/MikeFarah.yq.locale.en-US.yaml
  manifests/m/MikeFarah/yq/4.43.1/MikeFarah.yq.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147055 Move Tixati.Tixati 3.19 to Tixati.Tixati.Portable 3.19
  manifests/t/Tixati/Tixati/Portable/3.19/Tixati.Tixati.Portable.installer.yaml
  manifests/t/Tixati/Tixati/Portable/3.19/Tixati.Tixati.Portable.locale.en-US.yaml
  manifests/t/Tixati/Tixati/Portable/3.19/Tixati.Tixati.Portable.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, New-Package

#147056 Remove Tixati.Tixati 3.19 to Tixati.Tixati.Portable 3.19
  manifests/t/Tixati/Tixati/3.19/Tixati.Tixati.installer.yaml
  manifests/t/Tixati/Tixati/3.19/Tixati.Tixati.locale.en-US.yaml
  manifests/t/Tixati/Tixati/3.19/Tixati.Tixati.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed

#147058 New Package: ntwind.VistaSwitcher version 1.1.5
  manifests/n/ntwind/VistaSwitcher/1.1.5/ntwind.VistaSwitcher.installer.yaml
  manifests/n/ntwind/VistaSwitcher/1.1.5/ntwind.VistaSwitcher.locale.en-US.yaml
  manifests/n/ntwind/VistaSwitcher/1.1.5/ntwind.VistaSwitcher.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#147064 Remove Version: IObit.DriverBooster version 11.2.0
  manifests/i/IObit/DriverBooster/11.2.0/IObit.DriverBooster.installer.yaml
  manifests/i/IObit/DriverBooster/11.2.0/IObit.DriverBooster.locale.en-US.yaml
  manifests/i/IObit/DriverBooster/11.2.0/IObit.DriverBooster.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed

#147046 MyMonero.MyMonero version 1.3.3
  manifests/m/MyMonero/MyMonero/1.3.3/MyMonero.MyMonero.installer.yaml
  manifests/m/MyMonero/MyMonero/1.3.3/MyMonero.MyMonero.locale.en-US.yaml
  manifests/m/MyMonero/MyMonero/1.3.3/MyMonero.MyMonero.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Package

#147072 New package: MiTeC.HexEdit version 7.1.0
  manifests/m/MiTeC/HexEdit/7.1.0/MiTeC.HexEdit.installer.yaml
  manifests/m/MiTeC/HexEdit/7.1.0/MiTeC.HexEdit.locale.en-US.yaml
  manifests/m/MiTeC/HexEdit/7.1.0/MiTeC.HexEdit.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Package

#147060 New Package: ntwind.AltTabTer version 6.4
  manifests/n/ntwind/AltTabTer/6.4/ntwind.AltTabTer.installer.yaml
  manifests/n/ntwind/AltTabTer/6.4/ntwind.AltTabTer.locale.en-US.yaml
  manifests/n/ntwind/AltTabTer/6.4/ntwind.AltTabTer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#147144 New version: gokcehan.lf version r32
  manifests/g/gokcehan/lf/r32/gokcehan.lf.installer.yaml
  manifests/g/gokcehan/lf/r32/gokcehan.lf.locale.en-US.yaml
  manifests/g/gokcehan/lf/r32/gokcehan.lf.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, New-Manifest, Manifest-Metadata-Consistency

#147209 Add Obsidian.Obsidian 1.15.12
  manifests/o/Obsidian/Obsidian/1.15.12/Obsidian.Obsidian.installer.yaml
  manifests/o/Obsidian/Obsidian/1.15.12/Obsidian.Obsidian.locale.en-US.yaml
  manifests/o/Obsidian/Obsidian/1.15.12/Obsidian.Obsidian.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147210 New version: goreleaser.nfpm 2.36.1
  manifests/g/goreleaser/nfpm/2.36.1/goreleaser.nfpm.installer.yaml
  manifests/g/goreleaser/nfpm/2.36.1/goreleaser.nfpm.locale.en-US.yaml
  manifests/g/goreleaser/nfpm/2.36.1/goreleaser.nfpm.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147211 New version: Rem0o.FanControl version 186
  manifests/r/Rem0o/FanControl/186/Rem0o.FanControl.installer.yaml
  manifests/r/Rem0o/FanControl/186/Rem0o.FanControl.locale.en-US.yaml
  manifests/r/Rem0o/FanControl/186/Rem0o.FanControl.locale.zh-CN.yaml
  manifests/r/Rem0o/FanControl/186/Rem0o.FanControl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147213 New version: Spicetify.Spicetify version 2.36.2
  manifests/s/Spicetify/Spicetify/2.36.2/Spicetify.Spicetify.installer.yaml
  manifests/s/Spicetify/Spicetify/2.36.2/Spicetify.Spicetify.locale.en-US.yaml
  manifests/s/Spicetify/Spicetify/2.36.2/Spicetify.Spicetify.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147212 New version: RedHat.Podman version 5.0.1
  manifests/r/RedHat/Podman/5.0.1/RedHat.Podman.installer.yaml
  manifests/r/RedHat/Podman/5.0.1/RedHat.Podman.locale.en-US.yaml
  manifests/r/RedHat/Podman/5.0.1/RedHat.Podman.locale.zh-CN.yaml
  manifests/r/RedHat/Podman/5.0.1/RedHat.Podman.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147214 New version: Datronicsoft.SpacedeskDriver.Server version 2.1.16.0
  manifests/d/Datronicsoft/SpacedeskDriver/Server/2.1.16.0/Datronicsoft.SpacedeskDriver.Server.installer.yaml
  manifests/d/Datronicsoft/SpacedeskDriver/Server/2.1.16.0/Datronicsoft.SpacedeskDriver.Server.locale.en-US.yaml
  manifests/d/Datronicsoft/SpacedeskDriver/Server/2.1.16.0/Datronicsoft.SpacedeskDriver.Server.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147076 MiTeC.NetworkScanner version 5.7.0
  manifests/m/MiTeC/NetworkScanner/5.7.0/MiTeC.NetworkScanner.installer.yaml
  manifests/m/MiTeC/NetworkScanner/5.7.0/MiTeC.NetworkScanner.locale.en-US.yaml
  manifests/m/MiTeC/NetworkScanner/5.7.0/MiTeC.NetworkScanner.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Package

#147215 New version: Nvidia.GeForceNow version 2.0.61.148
  manifests/n/Nvidia/GeForceNow/2.0.61.148/Nvidia.GeForceNow.installer.yaml
  manifests/n/Nvidia/GeForceNow/2.0.61.148/Nvidia.GeForceNow.locale.en-US.yaml
  manifests/n/Nvidia/GeForceNow/2.0.61.148/Nvidia.GeForceNow.locale.zh-CN.yaml
  manifests/n/Nvidia/GeForceNow/2.0.61.148/Nvidia.GeForceNow.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#146589 New version: Ryujinx.Ryujinx version 1.1.1246
  manifests/r/Ryujinx/Ryujinx/1.1.1246/Ryujinx.Ryujinx.installer.yaml
  manifests/r/Ryujinx/Ryujinx/1.1.1246/Ryujinx.Ryujinx.locale.en-US.yaml
  manifests/r/Ryujinx/Ryujinx/1.1.1246/Ryujinx.Ryujinx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Waived-Validation-Executable-Error, New-Manifest

#146664 Microsoft.VisualStudioCode.Insiders.CLI_v1.88.0 cli
  manifests/m/Microsoft/VisualStudioCode/Insiders/CLI/1.88.0/Microsoft.VisualStudioCode.Insiders.CLI.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Waived-Validation-Executable-Error

#146682 New version: Ryujinx.Ryujinx version 1.1.1248
  manifests/r/Ryujinx/Ryujinx/1.1.1248/Ryujinx.Ryujinx.installer.yaml
  manifests/r/Ryujinx/Ryujinx/1.1.1248/Ryujinx.Ryujinx.locale.en-US.yaml
  manifests/r/Ryujinx/Ryujinx/1.1.1248/Ryujinx.Ryujinx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Waived-Validation-Executable-Error, New-Manifest

#146803 New version: uazo.cromite version 123.0.6312.86
  manifests/u/uazo/cromite/123.0.6312.86/uazo.cromite.installer.yaml
  manifests/u/uazo/cromite/123.0.6312.86/uazo.cromite.locale.en-US.yaml
  manifests/u/uazo/cromite/123.0.6312.86/uazo.cromite.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Waived-Validation-Executable-Error, New-Manifest, Manifest-Metadata-Consistency

#146920 New version: GolangCI.golangci-lint version 1.56.2
  manifests/g/GolangCI/golangci-lint/1.56.2/GolangCI.golangci-lint.installer.yaml
  manifests/g/GolangCI/golangci-lint/1.56.2/GolangCI.golangci-lint.locale.en-US.yaml
  manifests/g/GolangCI/golangci-lint/1.56.2/GolangCI.golangci-lint.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#146921 New version: GolangCI.golangci-lint version 1.57.0
  manifests/g/GolangCI/golangci-lint/1.57.0/GolangCI.golangci-lint.installer.yaml
  manifests/g/GolangCI/golangci-lint/1.57.0/GolangCI.golangci-lint.locale.en-US.yaml
  manifests/g/GolangCI/golangci-lint/1.57.0/GolangCI.golangci-lint.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#146922 New version: GolangCI.golangci-lint version 1.57.1
  manifests/g/GolangCI/golangci-lint/1.57.1/GolangCI.golangci-lint.installer.yaml
  manifests/g/GolangCI/golangci-lint/1.57.1/GolangCI.golangci-lint.locale.en-US.yaml
  manifests/g/GolangCI/golangci-lint/1.57.1/GolangCI.golangci-lint.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#146923 New version: GolangCI.golangci-lint version 1.57.2
  manifests/g/GolangCI/golangci-lint/1.57.2/GolangCI.golangci-lint.installer.yaml
  manifests/g/GolangCI/golangci-lint/1.57.2/GolangCI.golangci-lint.locale.en-US.yaml
  manifests/g/GolangCI/golangci-lint/1.57.2/GolangCI.golangci-lint.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#146945 new version 4.1.0.0
  manifests/w/WGlunz/pstoedit/4.1.0.0/WGlunz.pstoedit.installer.yaml
  manifests/w/WGlunz/pstoedit/4.1.0.0/WGlunz.pstoedit.locale.en-US.yaml
  manifests/w/WGlunz/pstoedit/4.1.0.0/WGlunz.pstoedit.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Waived-Validation-Unapproved-URL, New-Manifest

#146960 New version: TheBrowserCompany.Arc version 0.15.2.18950
  manifests/t/TheBrowserCompany/Arc/0.15.2.18950/TheBrowserCompany.Arc.installer.yaml
  manifests/t/TheBrowserCompany/Arc/0.15.2.18950/TheBrowserCompany.Arc.locale.en-US.yaml
  manifests/t/TheBrowserCompany/Arc/0.15.2.18950/TheBrowserCompany.Arc.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#146964 Smallstep.step 0.26.0
  manifests/s/Smallstep/step/0.26.0/Smallstep.step.installer.yaml
  manifests/s/Smallstep/step/0.26.0/Smallstep.step.locale.en-US.yaml
  manifests/s/Smallstep/step/0.26.0/Smallstep.step.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#147028 New version: taers232c.GAMADV-XTD3 version 6.72.04
  manifests/t/taers232c/GAMADV-XTD3/6.72.04/taers232c.GAMADV-XTD3.installer.yaml
  manifests/t/taers232c/GAMADV-XTD3/6.72.04/taers232c.GAMADV-XTD3.locale.en-US.yaml
  manifests/t/taers232c/GAMADV-XTD3/6.72.04/taers232c.GAMADV-XTD3.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147032 New version: monkeyWie.Gopeed version 1.5.6
  manifests/m/monkeyWie/Gopeed/1.5.6/monkeyWie.Gopeed.installer.yaml
  manifests/m/monkeyWie/Gopeed/1.5.6/monkeyWie.Gopeed.locale.en-US.yaml
  manifests/m/monkeyWie/Gopeed/1.5.6/monkeyWie.Gopeed.locale.zh-CN.yaml
  manifests/m/monkeyWie/Gopeed/1.5.6/monkeyWie.Gopeed.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147217 altair-graphql.altair version 6.4.0
  manifests/a/altair-graphql/altair/6.4.0/altair-graphql.altair.installer.yaml
  manifests/a/altair-graphql/altair/6.4.0/altair-graphql.altair.locale.en-US.yaml
  manifests/a/altair-graphql/altair/6.4.0/altair-graphql.altair.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147208 New version: clsid2.mpc-hc version 2.2.0
  manifests/c/clsid2/mpc-hc/2.2.0/clsid2.mpc-hc.installer.yaml
  manifests/c/clsid2/mpc-hc/2.2.0/clsid2.mpc-hc.locale.en-US.yaml
  manifests/c/clsid2/mpc-hc/2.2.0/clsid2.mpc-hc.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Needs-Author-Feedback, Version-Parameter-Mismatch, New-Manifest

#147219 HeroicGamesLauncher.HeroicGamesLauncher version 2.14.0
  manifests/h/HeroicGamesLauncher/HeroicGamesLauncher/2.14.0/HeroicGamesLauncher.HeroicGamesLauncher.installer.yaml
  manifests/h/HeroicGamesLauncher/HeroicGamesLauncher/2.14.0/HeroicGamesLauncher.HeroicGamesLauncher.locale.en-US.yaml
  manifests/h/HeroicGamesLauncher/HeroicGamesLauncher/2.14.0/HeroicGamesLauncher.HeroicGamesLauncher.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147220 Obsidian.Obsidian version 1.5.12
  manifests/o/Obsidian/Obsidian/1.5.12/Obsidian.Obsidian.installer.yaml
  manifests/o/Obsidian/Obsidian/1.5.12/Obsidian.Obsidian.locale.en-US.yaml
  manifests/o/Obsidian/Obsidian/1.5.12/Obsidian.Obsidian.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#147223 New version: tldr-pages.tlrc 1.9.1
  manifests/t/tldr-pages/tlrc/1.9.1/tldr-pages.tlrc.installer.yaml
  manifests/t/tldr-pages/tlrc/1.9.1/tldr-pages.tlrc.locale.en-US.yaml
  manifests/t/tldr-pages/tlrc/1.9.1/tldr-pages.tlrc.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147224 Add AGSProjectTeam.AdventureGameStudio 3.6.0.58
  manifests/a/AGSProjectTeam/AdventureGameStudio/3.6.0.58/AGSProjectTeam.AdventureGameStudio.installer.yaml
  manifests/a/AGSProjectTeam/AdventureGameStudio/3.6.0.58/AGSProjectTeam.AdventureGameStudio.locale.en-US.yaml
  manifests/a/AGSProjectTeam/AdventureGameStudio/3.6.0.58/AGSProjectTeam.AdventureGameStudio.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#147225 New version: RemNote.RemNote version 1.15.5
  manifests/r/RemNote/RemNote/1.15.5/RemNote.RemNote.installer.yaml
  manifests/r/RemNote/RemNote/1.15.5/RemNote.RemNote.locale.en-US.yaml
  manifests/r/RemNote/RemNote/1.15.5/RemNote.RemNote.locale.zh-CN.yaml
  manifests/r/RemNote/RemNote/1.15.5/RemNote.RemNote.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#146999 New package: UnionTech.DeepinCooperation version 0.7.4
  manifests/u/UnionTech/DeepinCooperation/0.7.4/UnionTech.DeepinCooperation.installer.yaml
  manifests/u/UnionTech/DeepinCooperation/0.7.4/UnionTech.DeepinCooperation.locale.en-US.yaml
  manifests/u/UnionTech/DeepinCooperation/0.7.4/UnionTech.DeepinCooperation.locale.zh-CN.yaml
  manifests/u/UnionTech/DeepinCooperation/0.7.4/UnionTech.DeepinCooperation.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Waived-Validation-Domain, New-Package

#147222 New package: Oven-sh.Bun version 1.1.0
  manifests/o/Oven-sh/Bun/1.1.0/Oven-sh.Bun.installer.yaml
  manifests/o/Oven-sh/Bun/1.1.0/Oven-sh.Bun.locale.en-US.yaml
  manifests/o/Oven-sh/Bun/1.1.0/Oven-sh.Bun.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#144301 Remove version: QuestSoft.QTranslate version 6.10.0
  manifests/q/QuestSoft/QTranslate/6.10.0/QuestSoft.QTranslate.installer.yaml
  manifests/q/QuestSoft/QTranslate/6.10.0/QuestSoft.QTranslate.locale.en-US.yaml
  manifests/q/QuestSoft/QTranslate/6.10.0/QuestSoft.QTranslate.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Needs-Author-Feedback, Last-Version-Remaining

#144339 Remove version: Autodesk.sketchbook version 8.7.1.0
  manifests/a/Autodesk/sketchbook/8.7.1.0/Autodesk.sketchbook.installer.yaml
  manifests/a/Autodesk/sketchbook/8.7.1.0/Autodesk.sketchbook.locale.en-US.yaml
  manifests/a/Autodesk/sketchbook/8.7.1.0/Autodesk.sketchbook.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Needs-Author-Feedback, Last-Version-Remaining

#145846 Remove version: Prog.ProgDVB.Professional version 7.51.6
  manifests/p/Prog/ProgDVB/Professional/7.51.6/Prog.ProgDVB.Professional.installer.yaml
  manifests/p/Prog/ProgDVB/Professional/7.51.6/Prog.ProgDVB.Professional.locale.en-US.yaml
  manifests/p/Prog/ProgDVB/Professional/7.51.6/Prog.ProgDVB.Professional.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Needs-Author-Feedback, Last-Version-Remaining

#145847 Remove version: Prog.ProgDVB.Free version 7.51.6
  manifests/p/Prog/ProgDVB/Free/7.51.6/Prog.ProgDVB.Free.installer.yaml
  manifests/p/Prog/ProgDVB/Free/7.51.6/Prog.ProgDVB.Free.locale.en-US.yaml
  manifests/p/Prog/ProgDVB/Free/7.51.6/Prog.ProgDVB.Free.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Needs-Author-Feedback, Last-Version-Remaining

#147260 Remove Obsidian.Obsidian version 1.15.12 since it's typoed version because actual release is 1.5.12
  manifests/o/Obsidian/Obsidian/1.15.12/Obsidian.Obsidian.installer.yaml
  manifests/o/Obsidian/Obsidian/1.15.12/Obsidian.Obsidian.locale.en-US.yaml
  manifests/o/Obsidian/Obsidian/1.15.12/Obsidian.Obsidian.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed

#147147 New version: PPSSPPTeam.PPSSPP version 1.17.1
  manifests/p/PPSSPPTeam/PPSSPP/1.17.1/PPSSPPTeam.PPSSPP.installer.yaml
  manifests/p/PPSSPPTeam/PPSSPP/1.17.1/PPSSPPTeam.PPSSPP.locale.en-US.yaml
  manifests/p/PPSSPPTeam/PPSSPP/1.17.1/PPSSPPTeam.PPSSPP.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147200 New package: Ccache.Ccache version 4.9.1
  manifests/c/Ccache/Ccache/4.9.1/Ccache.Ccache.installer.yaml
  manifests/c/Ccache/Ccache/4.9.1/Ccache.Ccache.locale.en-US.yaml
  manifests/c/Ccache/Ccache/4.9.1/Ccache.Ccache.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Waived-Validation-Executable-Error, New-Package

#146955 New version: Microsoft.PIX version 2403.08
  manifests/m/Microsoft/PIX/2403.08/Microsoft.PIX.installer.yaml
  manifests/m/Microsoft/PIX/2403.08/Microsoft.PIX.locale.en-US.yaml
  manifests/m/Microsoft/PIX/2403.08/Microsoft.PIX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Needs-Author-Feedback, Version-Parameter-Mismatch, New-Manifest

#147168 New version: nektos.act version 0.2.61
  manifests/n/nektos/act/0.2.61/nektos.act.installer.yaml
  manifests/n/nektos/act/0.2.61/nektos.act.locale.en-US.yaml
  manifests/n/nektos/act/0.2.61/nektos.act.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147227 New version: RemNote.RemNote version 1.15.6
  manifests/r/RemNote/RemNote/1.15.6/RemNote.RemNote.installer.yaml
  manifests/r/RemNote/RemNote/1.15.6/RemNote.RemNote.locale.en-US.yaml
  manifests/r/RemNote/RemNote/1.15.6/RemNote.RemNote.locale.zh-CN.yaml
  manifests/r/RemNote/RemNote/1.15.6/RemNote.RemNote.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#147234 New Version: Tixati.Tixati.Portable version 3.24
  manifests/t/Tixati/Tixati/Portable/3.24/Tixati.Tixati.Portable.installer.yaml
  manifests/t/Tixati/Tixati/Portable/3.24/Tixati.Tixati.Portable.locale.en-US.yaml
  manifests/t/Tixati/Tixati/Portable/3.24/Tixati.Tixati.Portable.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147257 Move TheDocumentFoundation.LibreOffice 6.4.6.2 to TheDocumentFoundati…
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/6.4.6.2/TheDocumentFoundation.LibreOffice.LTS.installer.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/6.4.6.2/TheDocumentFoundation.LibreOffice.LTS.locale.en-US.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/6.4.6.2/TheDocumentFoundation.LibreOffice.LTS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147259 New version: Microsoft.Teams.Classic version 1.7.00.7956
  manifests/m/Microsoft/Teams/Classic/1.7.00.7956/Microsoft.Teams.Classic.installer.yaml
  manifests/m/Microsoft/Teams/Classic/1.7.00.7956/Microsoft.Teams.Classic.locale.en-US.yaml
  manifests/m/Microsoft/Teams/Classic/1.7.00.7956/Microsoft.Teams.Classic.locale.zh-CN.yaml
  manifests/m/Microsoft/Teams/Classic/1.7.00.7956/Microsoft.Teams.Classic.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147258 Move TheDocumentFoundation.LibreOffice 6.4.6.1 to TheDocumentFoundati…
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/6.4.6.1/TheDocumentFoundation.LibreOffice.LTS.installer.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/6.4.6.1/TheDocumentFoundation.LibreOffice.LTS.locale.en-US.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/6.4.6.1/TheDocumentFoundation.LibreOffice.LTS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147255 Move TheDocumentFoundation.LibreOffice 7.2.0.4 to TheDocumentFoundati…
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.0.4/TheDocumentFoundation.LibreOffice.LTS.installer.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.0.4/TheDocumentFoundation.LibreOffice.LTS.locale.en-US.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.0.4/TheDocumentFoundation.LibreOffice.LTS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147264 New version: pnpm.pnpm version 8.15.6
  manifests/p/pnpm/pnpm/8.15.6/pnpm.pnpm.installer.yaml
  manifests/p/pnpm/pnpm/8.15.6/pnpm.pnpm.locale.en-US.yaml
  manifests/p/pnpm/pnpm/8.15.6/pnpm.pnpm.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147270 New version: Google.Chrome.Canary version 125.0.6393.0
  manifests/g/Google/Chrome/Canary/125.0.6393.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/125.0.6393.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/125.0.6393.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/125.0.6393.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/125.0.6393.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147276 JabRef.JabRef version 5.13.60000
  manifests/j/JabRef/JabRef/5.13.60000/JabRef.JabRef.installer.yaml
  manifests/j/JabRef/JabRef/5.13.60000/JabRef.JabRef.locale.en-US.yaml
  manifests/j/JabRef/JabRef/5.13.60000/JabRef.JabRef.locale.zh-CN.yaml
  manifests/j/JabRef/JabRef/5.13.60000/JabRef.JabRef.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#147275 Discord.Discord.PTB version 1.0.1063
  manifests/d/Discord/Discord/PTB/1.0.1063/Discord.Discord.PTB.installer.yaml
  manifests/d/Discord/Discord/PTB/1.0.1063/Discord.Discord.PTB.locale.en-US.yaml
  manifests/d/Discord/Discord/PTB/1.0.1063/Discord.Discord.PTB.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147274 Discord.Discord.Canary version 1.0.207
  manifests/d/Discord/Discord/Canary/1.0.207/Discord.Discord.Canary.installer.yaml
  manifests/d/Discord/Discord/Canary/1.0.207/Discord.Discord.Canary.locale.en-US.yaml
  manifests/d/Discord/Discord/Canary/1.0.207/Discord.Discord.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#146087 New version: GnuWin32.Grep version 3.5.0
  manifests/g/GnuWin32/Grep/3.5.0/GnuWin32.Grep.installer.yaml
  manifests/g/GnuWin32/Grep/3.5.0/GnuWin32.Grep.locale.en-US.yaml
  manifests/g/GnuWin32/Grep/3.5.0/GnuWin32.Grep.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Waived-Validation-Executable-Error, New-Manifest, Manifest-Metadata-Consistency

#147252 Move TheDocumentFoundation.LibreOffice 7.2.4.1 to TheDocumentFoundati…
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.4.1/TheDocumentFoundation.LibreOffice.LTS.installer.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.4.1/TheDocumentFoundation.LibreOffice.LTS.locale.en-US.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.4.1/TheDocumentFoundation.LibreOffice.LTS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147254 Move TheDocumentFoundation.LibreOffice 7.2.1.2 to TheDocumentFoundati…
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.1.2/TheDocumentFoundation.LibreOffice.LTS.installer.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.1.2/TheDocumentFoundation.LibreOffice.LTS.locale.en-US.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.1.2/TheDocumentFoundation.LibreOffice.LTS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147253 Move TheDocumentFoundation.LibreOffice 7.2.2.2 to TheDocumentFoundati…
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.2.2/TheDocumentFoundation.LibreOffice.LTS.installer.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.2.2/TheDocumentFoundation.LibreOffice.LTS.locale.en-US.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.2.2.2/TheDocumentFoundation.LibreOffice.LTS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147278 Prey.Prey version 1.12.4
  manifests/p/Prey/Prey/1.12.4/Prey.Prey.installer.yaml
  manifests/p/Prey/Prey/1.12.4/Prey.Prey.locale.en-US.yaml
  manifests/p/Prey/Prey/1.12.4/Prey.Prey.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#147256 Move TheDocumentFoundation.LibreOffice 7.0.6.2 to TheDocumentFoundati…
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.0.6.2/TheDocumentFoundation.LibreOffice.LTS.installer.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.0.6.2/TheDocumentFoundation.LibreOffice.LTS.locale.en-US.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/LTS/7.0.6.2/TheDocumentFoundation.LibreOffice.LTS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147280 New version: vim.vim.nightly version 9.1.0252
  manifests/v/vim/vim/nightly/9.1.0252/vim.vim.nightly.installer.yaml
  manifests/v/vim/vim/nightly/9.1.0252/vim.vim.nightly.locale.en-US.yaml
  manifests/v/vim/vim/nightly/9.1.0252/vim.vim.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147287 New version: yt-dlp.yt-dlp.nightly version 2024.04.01.232704
  manifests/y/yt-dlp/yt-dlp/nightly/2024.04.01.232704/yt-dlp.yt-dlp.nightly.installer.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2024.04.01.232704/yt-dlp.yt-dlp.nightly.locale.en-US.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2024.04.01.232704/yt-dlp.yt-dlp.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147290 Change command for Microsoft.Sysinternals.ProcessExplorer
  manifests/m/Microsoft/Sysinternals/ProcessExplorer/17.05/Microsoft.Sysinternals.ProcessExplorer.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed

#147289 New version: soopercool101.BrawlCrate version 0.42
  manifests/s/soopercool101/BrawlCrate/0.42/soopercool101.BrawlCrate.installer.yaml
  manifests/s/soopercool101/BrawlCrate/0.42/soopercool101.BrawlCrate.locale.en-US.yaml
  manifests/s/soopercool101/BrawlCrate/0.42/soopercool101.BrawlCrate.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147293 New version: Tinn-R.Tinn-R version 9..1.1 (9.00.01.01)
  manifests/t/Tinn-R/Tinn-R/9..1.1/Tinn-R.Tinn-R.installer.yaml
  manifests/t/Tinn-R/Tinn-R/9..1.1/Tinn-R.Tinn-R.locale.en-US.yaml
  manifests/t/Tinn-R/Tinn-R/9..1.1/Tinn-R.Tinn-R.locale.zh-CN.yaml
  manifests/t/Tinn-R/Tinn-R/9..1.1/Tinn-R.Tinn-R.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#147063 FrankBijnen.ExifToolGUI version 6.3.0
  manifests/f/FrankBijnen/ExifToolGUI/6.3.0/FrankBijnen.ExifToolGUI.installer.yaml
  manifests/f/FrankBijnen/ExifToolGUI/6.3.0/FrankBijnen.ExifToolGUI.locale.en-US.yaml
  manifests/f/FrankBijnen/ExifToolGUI/6.3.0/FrankBijnen.ExifToolGUI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#147080 Snappy Driver Installer (underrated program pls add)
  manifests/s/samlab-ws/SnappyDriverInstaller/1.23.9 (R2309)/samlab-ws.SnappyDriverInstaller.installer.yaml
  manifests/s/samlab-ws/SnappyDriverInstaller/1.23.9 (R2309)/samlab-ws.SnappyDriverInstaller.locale.en-US.yaml
  manifests/s/samlab-ws/SnappyDriverInstaller/1.23.9 (R2309)/samlab-ws.SnappyDriverInstaller.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Waived-Validation-Domain, New-Package

#147292 New version: 5E.5EClient version 7.1.41
  manifests/5/5E/5EClient/7.1.41/5E.5EClient.installer.yaml
  manifests/5/5E/5EClient/7.1.41/5E.5EClient.locale.en-US.yaml
  manifests/5/5E/5EClient/7.1.41/5E.5EClient.locale.zh-CN.yaml
  manifests/5/5E/5EClient/7.1.41/5E.5EClient.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#147229 Remove: TheDocumentFoundation.LibreOffice.PreRelease version 7.0.0.2
  manifests/t/TheDocumentFoundation/LibreOffice/PreRelease/7.0.0.2/TheDocumentFoundation.LibreOffice.PreRelease.installer.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/PreRelease/7.0.0.2/TheDocumentFoundation.LibreOffice.PreRelease.locale.en-US.yaml
  manifests/t/TheDocumentFoundation/LibreOffice/PreRelease/7.0.0.2/TheDocumentFoundation.LibreOffice.PreRelease.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Needs-Attention, Last-Version-Remaining

#147311 New version: Jackett.Jackett version 0.21.2258
  manifests/j/Jackett/Jackett/0.21.2258/Jackett.Jackett.installer.yaml
  manifests/j/Jackett/Jackett/0.21.2258/Jackett.Jackett.locale.en-US.yaml
  manifests/j/Jackett/Jackett/0.21.2258/Jackett.Jackett.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147317 Add version: Google.Chrome version 123.0.6312.86
  manifests/g/Google/Chrome/123.0.6312.86/Google.Chrome.installer.yaml
  manifests/g/Google/Chrome/123.0.6312.86/Google.Chrome.locale.en-US.yaml
  manifests/g/Google/Chrome/123.0.6312.86/Google.Chrome.locale.nb-NO.yaml
  manifests/g/Google/Chrome/123.0.6312.86/Google.Chrome.locale.zh-CN.yaml
  manifests/g/Google/Chrome/123.0.6312.86/Google.Chrome.yaml
  manifests/g/Google/Chrome/123.0.6312.87/Google.Chrome.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147318 Modify: Google.Chrome.Beta version 124.0.6367.18
  manifests/g/Google/Chrome/Beta/124.0.6367.18/Google.Chrome.Beta.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#147319 Modify: Google.Chrome.Dev version 125.0.6382.3
  manifests/g/Google/Chrome/Dev/125.0.6382.3/Google.Chrome.Dev.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#147320 Modify: Google.Chrome.Canary version 125.0.6393.0
  manifests/g/Google/Chrome/Canary/125.0.6393.0/Google.Chrome.Canary.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#147313 New version: Yuanli.uTools version 5.0.0
  manifests/y/Yuanli/uTools/5.0.0/Yuanli.uTools.installer.yaml
  manifests/y/Yuanli/uTools/5.0.0/Yuanli.uTools.locale.en-US.yaml
  manifests/y/Yuanli/uTools/5.0.0/Yuanli.uTools.locale.zh-CN.yaml
  manifests/y/Yuanli/uTools/5.0.0/Yuanli.uTools.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147316 New version: Bilibili.Bilibili version 1.13.2
  manifests/b/Bilibili/Bilibili/1.13.2/Bilibili.Bilibili.installer.yaml
  manifests/b/Bilibili/Bilibili/1.13.2/Bilibili.Bilibili.locale.en-US.yaml
  manifests/b/Bilibili/Bilibili/1.13.2/Bilibili.Bilibili.locale.zh-CN.yaml
  manifests/b/Bilibili/Bilibili/1.13.2/Bilibili.Bilibili.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147323 New version: 2BrightSparks.SyncBackSE version 11.3.16.0
  manifests/2/2BrightSparks/SyncBackSE/11.3.16.0/2BrightSparks.SyncBackSE.installer.yaml
  manifests/2/2BrightSparks/SyncBackSE/11.3.16.0/2BrightSparks.SyncBackSE.locale.en-US.yaml
  manifests/2/2BrightSparks/SyncBackSE/11.3.16.0/2BrightSparks.SyncBackSE.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147324 New version: 2BrightSparks.SyncBackPro version 11.3.16.0
  manifests/2/2BrightSparks/SyncBackPro/11.3.16.0/2BrightSparks.SyncBackPro.installer.yaml
  manifests/2/2BrightSparks/SyncBackPro/11.3.16.0/2BrightSparks.SyncBackPro.locale.en-US.yaml
  manifests/2/2BrightSparks/SyncBackPro/11.3.16.0/2BrightSparks.SyncBackPro.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147328 New version: LukiLabs.Craft version 1.33.0
  manifests/l/LukiLabs/Craft/1.33.0/LukiLabs.Craft.installer.yaml
  manifests/l/LukiLabs/Craft/1.33.0/LukiLabs.Craft.locale.en-US.yaml
  manifests/l/LukiLabs/Craft/1.33.0/LukiLabs.Craft.locale.zh-CN.yaml
  manifests/l/LukiLabs/Craft/1.33.0/LukiLabs.Craft.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147326 New version: Appest.TickTick version 5.3.0.2
  manifests/a/Appest/TickTick/5.3.0.2/Appest.TickTick.installer.yaml
  manifests/a/Appest/TickTick/5.3.0.2/Appest.TickTick.locale.en-US.yaml
  manifests/a/Appest/TickTick/5.3.0.2/Appest.TickTick.locale.zh-CN.yaml
  manifests/a/Appest/TickTick/5.3.0.2/Appest.TickTick.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147325 New version: Appest.Dida version 5.3.0.2
  manifests/a/Appest/Dida/5.3.0.2/Appest.Dida.installer.yaml
  manifests/a/Appest/Dida/5.3.0.2/Appest.Dida.locale.en-US.yaml
  manifests/a/Appest/Dida/5.3.0.2/Appest.Dida.locale.zh-CN.yaml
  manifests/a/Appest/Dida/5.3.0.2/Appest.Dida.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147329 New version: evilmartians.lefthook version 1.6.8
  manifests/e/evilmartians/lefthook/1.6.8/evilmartians.lefthook.installer.yaml
  manifests/e/evilmartians/lefthook/1.6.8/evilmartians.lefthook.locale.en-US.yaml
  manifests/e/evilmartians/lefthook/1.6.8/evilmartians.lefthook.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147332 New version: WHTA.Tamara version 2024.0.0.1
  manifests/w/WHTA/Tamara/2024.0.0.1/WHTA.Tamara.installer.yaml
  manifests/w/WHTA/Tamara/2024.0.0.1/WHTA.Tamara.locale.en-US.yaml
  manifests/w/WHTA/Tamara/2024.0.0.1/WHTA.Tamara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147334 Update studio-cli version 24.3.0
  manifests/w/WindRiver/studio-cli/24.3.0/WindRiver.studio-cli.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#147330 New version: Strem.App version 0.9.29
  manifests/s/Strem/App/0.9.29/Strem.App.installer.yaml
  manifests/s/Strem/App/0.9.29/Strem.App.locale.en-US.yaml
  manifests/s/Strem/App/0.9.29/Strem.App.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147338 New version: Google.Chrome.Canary version 125.0.6394.0
  manifests/g/Google/Chrome/Canary/125.0.6394.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/125.0.6394.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/125.0.6394.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/125.0.6394.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/125.0.6394.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#147341 Fix: Axure.AxureRP.10 version 10.0.0.3915
  manifests/a/Axure/AxureRP/10/10.0.0.3915/Axure.AxureRP.10.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved
