Repository microsoft/winget-pkgs, pull requests merged in 2024-11, with the labels that each got.

#186995 New version: Unity.Unity.CN.2022 version 2022.3.47f1c1
  manifests/u/Unity/Unity/CN/2022/2022.3.47f1c1/Unity.Unity.CN.2022.installer.yaml
  manifests/u/Unity/Unity/CN/2022/2022.3.47f1c1/Unity.Unity.CN.2022.locale.en-US.yaml
  manifests/u/Unity/Unity/CN/2022/2022.3.47f1c1/Unity.Unity.CN.2022.locale.zh-CN.yaml
  manifests/u/Unity/Unity/CN/2022/2022.3.47f1c1/Unity.Unity.CN.2022.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#186060 New version: REINERSCT.cyberJackDriverPackage version 1.4.0
  manifests/r/REINERSCT/cyberJackDriverPackage/1.4.0/REINERSCT.cyberJackDriverPackage.installer.yaml
  manifests/r/REINERSCT/cyberJackDriverPackage/1.4.0/REINERSCT.cyberJackDriverPackage.locale.en-US.yaml
  manifests/r/REINERSCT/cyberJackDriverPackage/1.4.0/REINERSCT.cyberJackDriverPackage.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, New-Manifest

#187410 New version: SteelSeries.GG version 74.0.0
  manifests/s/SteelSeries/GG/74.0.0/SteelSeries.GG.installer.yaml
  manifests/s/SteelSeries/GG/74.0.0/SteelSeries.GG.locale.en-US.yaml
  manifests/s/SteelSeries/GG/74.0.0/SteelSeries.GG.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#185611 New version: Unity.Unity.6000 version 6000.0.24f1
  manifests/u/Unity/Unity/6000/6000.0.24f1/Unity.Unity.6000.installer.yaml
  manifests/u/Unity/Unity/6000/6000.0.24f1/Unity.Unity.6000.locale.en-US.yaml
  manifests/u/Unity/Unity/6000/6000.0.24f1/Unity.Unity.6000.locale.zh-CN.yaml
  manifests/u/Unity/Unity/6000/6000.0.24f1/Unity.Unity.6000.yaml
Labels: Validation-Completed, Moderator-Approved

#187411 New version: astral-sh.uv version 0.4.29
  manifests/a/astral-sh/uv/0.4.29/astral-sh.uv.installer.yaml
  manifests/a/astral-sh/uv/0.4.29/astral-sh.uv.locale.en-US.yaml
  manifests/a/astral-sh/uv/0.4.29/astral-sh.uv.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187418 New version: WinsiderSS.SystemInformer.Canary version 3.1.24305.0
  manifests/w/WinsiderSS/SystemInformer/Canary/3.1.24305.0/WinsiderSS.SystemInformer.Canary.installer.yaml
  manifests/w/WinsiderSS/SystemInformer/Canary/3.1.24305.0/WinsiderSS.SystemInformer.Canary.locale.en-US.yaml
  manifests/w/WinsiderSS/SystemInformer/Canary/3.1.24305.0/WinsiderSS.SystemInformer.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187430 Oleg shilo cs script 4.8.19.0
  manifests/o/oleg-shilo/cs-script/4.8.19.0/oleg-shilo.cs-script.installer.yaml
  manifests/o/oleg-shilo/cs-script/4.8.19.0/oleg-shilo.cs-script.locale.en-US.yaml
  manifests/o/oleg-shilo/cs-script/4.8.19.0/oleg-shilo.cs-script.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187445 New version: TheQucsTeam.Qucs-S version 24.4.0
  manifests/t/TheQucsTeam/Qucs-S/24.4.0/TheQucsTeam.Qucs-S.installer.yaml
  manifests/t/TheQucsTeam/Qucs-S/24.4.0/TheQucsTeam.Qucs-S.locale.en-US.yaml
  manifests/t/TheQucsTeam/Qucs-S/24.4.0/TheQucsTeam.Qucs-S.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187459 New version: pizzaboxer.Bloxstrap version 2.8.1
  manifests/p/pizzaboxer/Bloxstrap/2.8.1/pizzaboxer.Bloxstrap.installer.yaml
  manifests/p/pizzaboxer/Bloxstrap/2.8.1/pizzaboxer.Bloxstrap.locale.en-US.yaml
  manifests/p/pizzaboxer/Bloxstrap/2.8.1/pizzaboxer.Bloxstrap.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187469 New version: Zen-Team.Zen-Browser version 1.0.1-a.16
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.16/Zen-Team.Zen-Browser.installer.yaml
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.16/Zen-Team.Zen-Browser.locale.en-US.yaml
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.16/Zen-Team.Zen-Browser.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187470 New version: Zen-Team.Zen-Browser.Optimized version 1.0.1-a.16
  manifests/z/Zen-Team/Zen-Browser/Optimized/1.0.1-a.16/Zen-Team.Zen-Browser.Optimized.installer.yaml
  manifests/z/Zen-Team/Zen-Browser/Optimized/1.0.1-a.16/Zen-Team.Zen-Browser.Optimized.locale.en-US.yaml
  manifests/z/Zen-Team/Zen-Browser/Optimized/1.0.1-a.16/Zen-Team.Zen-Browser.Optimized.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187472 Update version: MongoDB.MongoDBCLI version 2.0.3
  manifests/m/MongoDB/MongoDBCLI/2.0.3/MongoDB.MongoDBCLI.installer.yaml
  manifests/m/MongoDB/MongoDBCLI/2.0.3/MongoDB.MongoDBCLI.locale.en-US.yaml
  manifests/m/MongoDB/MongoDBCLI/2.0.3/MongoDB.MongoDBCLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187475 New version: ParallelsInternationalGmbH.ParallelsClient version 20.0.25389
  manifests/p/ParallelsInternationalGmbH/ParallelsClient/20.0.25389/ParallelsInternationalGmbH.ParallelsClient.installer.yaml
  manifests/p/ParallelsInternationalGmbH/ParallelsClient/20.0.25389/ParallelsInternationalGmbH.ParallelsClient.locale.en-US.yaml
  manifests/p/ParallelsInternationalGmbH/ParallelsClient/20.0.25389/ParallelsInternationalGmbH.ParallelsClient.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187500 New version: Gruntwork.Terragrunt version 0.68.6
  manifests/g/Gruntwork/Terragrunt/0.68.6/Gruntwork.Terragrunt.installer.yaml
  manifests/g/Gruntwork/Terragrunt/0.68.6/Gruntwork.Terragrunt.locale.en-US.yaml
  manifests/g/Gruntwork/Terragrunt/0.68.6/Gruntwork.Terragrunt.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187501 New version: squidowl.halloy version 2024.13.0
  manifests/s/squidowl/halloy/2024.13.0/squidowl.halloy.installer.yaml
  manifests/s/squidowl/halloy/2024.13.0/squidowl.halloy.locale.en-US.yaml
  manifests/s/squidowl/halloy/2024.13.0/squidowl.halloy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187502 New version: squidowl.halloy version 2024.14.0
  manifests/s/squidowl/halloy/2024.14.0/squidowl.halloy.installer.yaml
  manifests/s/squidowl/halloy/2024.14.0/squidowl.halloy.locale.en-US.yaml
  manifests/s/squidowl/halloy/2024.14.0/squidowl.halloy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187498 New package:RODE.RODE-Central version 2.0.59
  manifests/r/RODE/Rode-Central/2.0.59/RODE.Rode-Central.installer.yaml
  manifests/r/RODE/Rode-Central/2.0.59/RODE.Rode-Central.locale.en-US.yaml
  manifests/r/RODE/Rode-Central/2.0.59/RODE.Rode-Central.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Package

#187473 New package: project-maker.fr.DashboardPM version 1.0.1
  manifests/p/project-maker/fr/DashboardPM/1.0.1/project-maker.fr.DashboardPM.installer.yaml
  manifests/p/project-maker/fr/DashboardPM/1.0.1/project-maker.fr.DashboardPM.locale.fr-FR.yaml
  manifests/p/project-maker/fr/DashboardPM/1.0.1/project-maker.fr.DashboardPM.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, New-Package

#187513 New version: PixPin.PixPin.Beta version 1.9.4.0
  manifests/p/PixPin/PixPin/Beta/1.9.4.0/PixPin.PixPin.Beta.installer.yaml
  manifests/p/PixPin/PixPin/Beta/1.9.4.0/PixPin.PixPin.Beta.locale.zh-CN.yaml
  manifests/p/PixPin/PixPin/Beta/1.9.4.0/PixPin.PixPin.Beta.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187536 New version: TorProject.TorBrowser version 14.0.1
  manifests/t/TorProject/TorBrowser/14.0.1/TorProject.TorBrowser.installer.yaml
  manifests/t/TorProject/TorBrowser/14.0.1/TorProject.TorBrowser.locale.en-US.yaml
  manifests/t/TorProject/TorBrowser/14.0.1/TorProject.TorBrowser.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187538 New version: taers232c.GAMADV-XTD3 version 7.00.34
  manifests/t/taers232c/GAMADV-XTD3/7.00.34/taers232c.GAMADV-XTD3.installer.yaml
  manifests/t/taers232c/GAMADV-XTD3/7.00.34/taers232c.GAMADV-XTD3.locale.en-US.yaml
  manifests/t/taers232c/GAMADV-XTD3/7.00.34/taers232c.GAMADV-XTD3.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187540 New version: Readdle.Spark version 3.17.11 (3.17.11.89740)
  manifests/r/Readdle/Spark/3.17.11/Readdle.Spark.installer.yaml
  manifests/r/Readdle/Spark/3.17.11/Readdle.Spark.locale.en-US.yaml
  manifests/r/Readdle/Spark/3.17.11/Readdle.Spark.locale.zh-CN.yaml
  manifests/r/Readdle/Spark/3.17.11/Readdle.Spark.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187539 New version: PBH-BTN.PeerBanHelper version 7.0.1
  manifests/p/PBH-BTN/PeerBanHelper/7.0.1/PBH-BTN.PeerBanHelper.installer.yaml
  manifests/p/PBH-BTN/PeerBanHelper/7.0.1/PBH-BTN.PeerBanHelper.locale.en-US.yaml
  manifests/p/PBH-BTN/PeerBanHelper/7.0.1/PBH-BTN.PeerBanHelper.locale.zh-CN.yaml
  manifests/p/PBH-BTN/PeerBanHelper/7.0.1/PBH-BTN.PeerBanHelper.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187546 New version: Google.Chrome.Canary version 132.0.6810.0
  manifests/g/Google/Chrome/Canary/132.0.6810.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/132.0.6810.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/132.0.6810.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/132.0.6810.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/132.0.6810.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#187545 New version: Discord.Discord.Development version 1.0.888
  manifests/d/Discord/Discord/Development/1.0.888/Discord.Discord.Development.installer.yaml
  manifests/d/Discord/Discord/Development/1.0.888/Discord.Discord.Development.locale.en-US.yaml
  manifests/d/Discord/Discord/Development/1.0.888/Discord.Discord.Development.locale.zh-CN.yaml
  manifests/d/Discord/Discord/Development/1.0.888/Discord.Discord.Development.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187542 New version: Telegram.TelegramDesktop version 5.7.0
  manifests/t/Telegram/TelegramDesktop/5.7.0/Telegram.TelegramDesktop.installer.yaml
  manifests/t/Telegram/TelegramDesktop/5.7.0/Telegram.TelegramDesktop.locale.en-US.yaml
  manifests/t/Telegram/TelegramDesktop/5.7.0/Telegram.TelegramDesktop.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, Moderator-Approved, New-Manifest

#187568 ⬆️ Add MullvadVPN.MullvadVPN.beta version 2024.7
  manifests/m/MullvadVPN/MullvadVPN/beta/2024.7/MullvadVPN.MullvadVPN.beta.installer.yaml
  manifests/m/MullvadVPN/MullvadVPN/beta/2024.7/MullvadVPN.MullvadVPN.beta.locale.en-US.yaml
  manifests/m/MullvadVPN/MullvadVPN/beta/2024.7/MullvadVPN.MullvadVPN.beta.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187569 ⬆️ Add MullvadVPN.MullvadVPN version 2024.7
  manifests/m/MullvadVPN/MullvadVPN/2024.7/MullvadVPN.MullvadVPN.installer.yaml
  manifests/m/MullvadVPN/MullvadVPN/2024.7/MullvadVPN.MullvadVPN.locale.en-US.yaml
  manifests/m/MullvadVPN/MullvadVPN/2024.7/MullvadVPN.MullvadVPN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187571 Microsoft.VisualStudioCode_v1.95.1 desktop
  manifests/m/Microsoft/VisualStudioCode/1.95.1/Microsoft.VisualStudioCode.installer.yaml
  manifests/m/Microsoft/VisualStudioCode/1.95.1/Microsoft.VisualStudioCode.locale.en-US.yaml
  manifests/m/Microsoft/VisualStudioCode/1.95.1/Microsoft.VisualStudioCode.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187570 New version: vim.vim.nightly version 9.1.0825
  manifests/v/vim/vim/nightly/9.1.0825/vim.vim.nightly.installer.yaml
  manifests/v/vim/vim/nightly/9.1.0825/vim.vim.nightly.locale.en-US.yaml
  manifests/v/vim/vim/nightly/9.1.0825/vim.vim.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187573 New version: Discord.Discord.Canary version 1.0.471
  manifests/d/Discord/Discord/Canary/1.0.471/Discord.Discord.Canary.installer.yaml
  manifests/d/Discord/Discord/Canary/1.0.471/Discord.Discord.Canary.locale.en-US.yaml
  manifests/d/Discord/Discord/Canary/1.0.471/Discord.Discord.Canary.locale.zh-CN.yaml
  manifests/d/Discord/Discord/Canary/1.0.471/Discord.Discord.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187572 New version: Discord.Discord.Development version 1.0.889
  manifests/d/Discord/Discord/Development/1.0.889/Discord.Discord.Development.installer.yaml
  manifests/d/Discord/Discord/Development/1.0.889/Discord.Discord.Development.locale.en-US.yaml
  manifests/d/Discord/Discord/Development/1.0.889/Discord.Discord.Development.locale.zh-CN.yaml
  manifests/d/Discord/Discord/Development/1.0.889/Discord.Discord.Development.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187574 New version: JetBrains.GoLand.EAP version 243.21565.42
  manifests/j/JetBrains/GoLand/EAP/243.21565.42/JetBrains.GoLand.EAP.installer.yaml
  manifests/j/JetBrains/GoLand/EAP/243.21565.42/JetBrains.GoLand.EAP.locale.en-US.yaml
  manifests/j/JetBrains/GoLand/EAP/243.21565.42/JetBrains.GoLand.EAP.locale.zh-CN.yaml
  manifests/j/JetBrains/GoLand/EAP/243.21565.42/JetBrains.GoLand.EAP.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187584 tecwindow.Albayan version 1.3.0
  manifests/t/tecwindow/Albayan/1.3.0/tecwindow.Albayan.installer.yaml
  manifests/t/tecwindow/Albayan/1.3.0/tecwindow.Albayan.locale.ar-SA.yaml
  manifests/t/tecwindow/Albayan/1.3.0/tecwindow.Albayan.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187587 New version: CologneCodeCompany.XYplorer version 26.60.0000
  manifests/c/CologneCodeCompany/XYplorer/26.60.0000/CologneCodeCompany.XYplorer.installer.yaml
  manifests/c/CologneCodeCompany/XYplorer/26.60.0000/CologneCodeCompany.XYplorer.locale.en-US.yaml
  manifests/c/CologneCodeCompany/XYplorer/26.60.0000/CologneCodeCompany.XYplorer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#186332 Move Alist.Alist 3.37.4 to AList.AList 3.37.4
  manifests/a/AList/AList/3.37.4/AList.AList.installer.yaml
  manifests/a/AList/AList/3.37.4/AList.AList.locale.en-US.yaml
  manifests/a/AList/AList/3.37.4/AList.AList.locale.zh-CN.yaml
  manifests/a/AList/AList/3.37.4/AList.AList.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187671 New version: Microsoft.EdgeDriver version 130.0.2849.68
  manifests/m/Microsoft/EdgeDriver/130.0.2849.68/Microsoft.EdgeDriver.installer.yaml
  manifests/m/Microsoft/EdgeDriver/130.0.2849.68/Microsoft.EdgeDriver.locale.en-US.yaml
  manifests/m/Microsoft/EdgeDriver/130.0.2849.68/Microsoft.EdgeDriver.locale.zh-CN.yaml
  manifests/m/Microsoft/EdgeDriver/130.0.2849.68/Microsoft.EdgeDriver.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187664 New version: Termius.Termius version 9.8.5
  manifests/t/Termius/Termius/9.8.5/Termius.Termius.installer.yaml
  manifests/t/Termius/Termius/9.8.5/Termius.Termius.locale.en-US.yaml
  manifests/t/Termius/Termius/9.8.5/Termius.Termius.locale.zh-CN.yaml
  manifests/t/Termius/Termius/9.8.5/Termius.Termius.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187590 New version: Discord.Discord.PTB version 1.0.1114
  manifests/d/Discord/Discord/PTB/1.0.1114/Discord.Discord.PTB.installer.yaml
  manifests/d/Discord/Discord/PTB/1.0.1114/Discord.Discord.PTB.locale.en-US.yaml
  manifests/d/Discord/Discord/PTB/1.0.1114/Discord.Discord.PTB.locale.zh-CN.yaml
  manifests/d/Discord/Discord/PTB/1.0.1114/Discord.Discord.PTB.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#186132 New version: Tohrusky.Final2x version 2024-10-28
  manifests/t/Tohrusky/Final2x/2024-10-28/Tohrusky.Final2x.installer.yaml
  manifests/t/Tohrusky/Final2x/2024-10-28/Tohrusky.Final2x.locale.en-US.yaml
  manifests/t/Tohrusky/Final2x/2024-10-28/Tohrusky.Final2x.locale.zh-CN.yaml
  manifests/t/Tohrusky/Final2x/2024-10-28/Tohrusky.Final2x.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187670 New version: Jackett.Jackett version 0.22.869
  manifests/j/Jackett/Jackett/0.22.869/Jackett.Jackett.installer.yaml
  manifests/j/Jackett/Jackett/0.22.869/Jackett.Jackett.locale.en-US.yaml
  manifests/j/Jackett/Jackett/0.22.869/Jackett.Jackett.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187614 New version: Bilibili.Bilibili version 1.15.0
  manifests/b/Bilibili/Bilibili/1.15.0/Bilibili.Bilibili.installer.yaml
  manifests/b/Bilibili/Bilibili/1.15.0/Bilibili.Bilibili.locale.en-US.yaml
  manifests/b/Bilibili/Bilibili/1.15.0/Bilibili.Bilibili.locale.zh-CN.yaml
  manifests/b/Bilibili/Bilibili/1.15.0/Bilibili.Bilibili.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187611 New version: CCTV.CBox version 6.0.3.0
  manifests/c/CCTV/CBox/6.0.3.0/CCTV.CBox.installer.yaml
  manifests/c/CCTV/CBox/6.0.3.0/CCTV.CBox.locale.en-US.yaml
  manifests/c/CCTV/CBox/6.0.3.0/CCTV.CBox.locale.zh-CN.yaml
  manifests/c/CCTV/CBox/6.0.3.0/CCTV.CBox.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187591 New version: Doist.Todoist version 9.9.0
  manifests/d/Doist/Todoist/9.9.0/Doist.Todoist.installer.yaml
  manifests/d/Doist/Todoist/9.9.0/Doist.Todoist.locale.en-US.yaml
  manifests/d/Doist/Todoist/9.9.0/Doist.Todoist.locale.zh-CN.yaml
  manifests/d/Doist/Todoist/9.9.0/Doist.Todoist.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187666 New version: ByteDance.SodaMusic version 1.9.0
  manifests/b/ByteDance/SodaMusic/1.9.0/ByteDance.SodaMusic.installer.yaml
  manifests/b/ByteDance/SodaMusic/1.9.0/ByteDance.SodaMusic.locale.en-US.yaml
  manifests/b/ByteDance/SodaMusic/1.9.0/ByteDance.SodaMusic.locale.zh-CN.yaml
  manifests/b/ByteDance/SodaMusic/1.9.0/ByteDance.SodaMusic.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187667 New version: RProject.R version 4.4.2
  manifests/r/RProject/R/4.4.2/RProject.R.installer.yaml
  manifests/r/RProject/R/4.4.2/RProject.R.locale.en-US.yaml
  manifests/r/RProject/R/4.4.2/RProject.R.locale.zh-CN.yaml
  manifests/r/RProject/R/4.4.2/RProject.R.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187607 New version: PerfectWorld.PerfectWorldArena version 1.0.24110111
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24110111/PerfectWorld.PerfectWorldArena.installer.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24110111/PerfectWorld.PerfectWorldArena.locale.en-US.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24110111/PerfectWorld.PerfectWorldArena.locale.zh-CN.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24110111/PerfectWorld.PerfectWorldArena.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187674 Microsoft.VisualStudioCode.Insiders.CLI_v1.96.0 cli
  manifests/m/Microsoft/VisualStudioCode/Insiders/CLI/1.96.0/Microsoft.VisualStudioCode.Insiders.CLI.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187677 New version: Redisant.IEC61850ServerSimulator version 1.0.1.4
  manifests/r/Redisant/IEC61850ServerSimulator/1.0.1.4/Redisant.IEC61850ServerSimulator.installer.yaml
  manifests/r/Redisant/IEC61850ServerSimulator/1.0.1.4/Redisant.IEC61850ServerSimulator.locale.en-US.yaml
  manifests/r/Redisant/IEC61850ServerSimulator/1.0.1.4/Redisant.IEC61850ServerSimulator.locale.zh-CN.yaml
  manifests/r/Redisant/IEC61850ServerSimulator/1.0.1.4/Redisant.IEC61850ServerSimulator.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187679 New version: Redisant.IEC104ServerSimulator version 1.1.9.3
  manifests/r/Redisant/IEC104ServerSimulator/1.1.9.3/Redisant.IEC104ServerSimulator.installer.yaml
  manifests/r/Redisant/IEC104ServerSimulator/1.1.9.3/Redisant.IEC104ServerSimulator.locale.en-US.yaml
  manifests/r/Redisant/IEC104ServerSimulator/1.1.9.3/Redisant.IEC104ServerSimulator.locale.zh-CN.yaml
  manifests/r/Redisant/IEC104ServerSimulator/1.1.9.3/Redisant.IEC104ServerSimulator.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187680 New version: Tencent.START version 0.11.0.19256
  manifests/t/Tencent/START/0.11.0.19256/Tencent.START.installer.yaml
  manifests/t/Tencent/START/0.11.0.19256/Tencent.START.locale.en-US.yaml
  manifests/t/Tencent/START/0.11.0.19256/Tencent.START.locale.zh-CN.yaml
  manifests/t/Tencent/START/0.11.0.19256/Tencent.START.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187673 Microsoft.VisualStudioCode.Insiders_v1.96.0 desktop
  manifests/m/Microsoft/VisualStudioCode/Insiders/1.96.0/Microsoft.VisualStudioCode.Insiders.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187678 New version: Redisant.IEC104ClientSimulator version 1.1.9.3
  manifests/r/Redisant/IEC104ClientSimulator/1.1.9.3/Redisant.IEC104ClientSimulator.installer.yaml
  manifests/r/Redisant/IEC104ClientSimulator/1.1.9.3/Redisant.IEC104ClientSimulator.locale.en-US.yaml
  manifests/r/Redisant/IEC104ClientSimulator/1.1.9.3/Redisant.IEC104ClientSimulator.locale.zh-CN.yaml
  manifests/r/Redisant/IEC104ClientSimulator/1.1.9.3/Redisant.IEC104ClientSimulator.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187676 New version: ByteDance.StreamingTool version 8.6.3
  manifests/b/ByteDance/StreamingTool/8.6.3/ByteDance.StreamingTool.installer.yaml
  manifests/b/ByteDance/StreamingTool/8.6.3/ByteDance.StreamingTool.locale.en-US.yaml
  manifests/b/ByteDance/StreamingTool/8.6.3/ByteDance.StreamingTool.locale.zh-CN.yaml
  manifests/b/ByteDance/StreamingTool/8.6.3/ByteDance.StreamingTool.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187681 New version: Wondershare.Virbo version 1.5.27
  manifests/w/Wondershare/Virbo/1.5.27/Wondershare.Virbo.installer.yaml
  manifests/w/Wondershare/Virbo/1.5.27/Wondershare.Virbo.locale.en-US.yaml
  manifests/w/Wondershare/Virbo/1.5.27/Wondershare.Virbo.locale.zh-CN.yaml
  manifests/w/Wondershare/Virbo/1.5.27/Wondershare.Virbo.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187675 New version: Grammarly.Grammarly version 1.2.111.1503
  manifests/g/Grammarly/Grammarly/1.2.111.1503/Grammarly.Grammarly.installer.yaml
  manifests/g/Grammarly/Grammarly/1.2.111.1503/Grammarly.Grammarly.locale.en-US.yaml
  manifests/g/Grammarly/Grammarly/1.2.111.1503/Grammarly.Grammarly.locale.zh-CN.yaml
  manifests/g/Grammarly/Grammarly/1.2.111.1503/Grammarly.Grammarly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187683 New version: Wondershare.PDFelement.CN version 11.2.0
  manifests/w/Wondershare/PDFelement/CN/11.2.0/Wondershare.PDFelement.CN.installer.yaml
  manifests/w/Wondershare/PDFelement/CN/11.2.0/Wondershare.PDFelement.CN.locale.en-US.yaml
  manifests/w/Wondershare/PDFelement/CN/11.2.0/Wondershare.PDFelement.CN.locale.zh-CN.yaml
  manifests/w/Wondershare/PDFelement/CN/11.2.0/Wondershare.PDFelement.CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187684 New version: Unity.Unity.CN.6000 version 6000.0.22f1c1
  manifests/u/Unity/Unity/CN/6000/6000.0.22f1c1/Unity.Unity.CN.6000.installer.yaml
  manifests/u/Unity/Unity/CN/6000/6000.0.22f1c1/Unity.Unity.CN.6000.locale.en-US.yaml
  manifests/u/Unity/Unity/CN/6000/6000.0.22f1c1/Unity.Unity.CN.6000.locale.zh-CN.yaml
  manifests/u/Unity/Unity/CN/6000/6000.0.22f1c1/Unity.Unity.CN.6000.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187685 New version: Google.Chrome.Canary version 132.0.6811.0
  manifests/g/Google/Chrome/Canary/132.0.6811.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/132.0.6811.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/132.0.6811.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/132.0.6811.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/132.0.6811.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187688 New version: Bilibili.Livehime version 6.10.0.7816
  manifests/b/Bilibili/Livehime/6.10.0.7816/Bilibili.Livehime.installer.yaml
  manifests/b/Bilibili/Livehime/6.10.0.7816/Bilibili.Livehime.locale.en-US.yaml
  manifests/b/Bilibili/Livehime/6.10.0.7816/Bilibili.Livehime.locale.zh-CN.yaml
  manifests/b/Bilibili/Livehime/6.10.0.7816/Bilibili.Livehime.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187689 New version: LLVM.LLVM version 19.1.3
  manifests/l/LLVM/LLVM/19.1.3/LLVM.LLVM.installer.yaml
  manifests/l/LLVM/LLVM/19.1.3/LLVM.LLVM.locale.de-DE.yaml
  manifests/l/LLVM/LLVM/19.1.3/LLVM.LLVM.locale.en-US.yaml
  manifests/l/LLVM/LLVM/19.1.3/LLVM.LLVM.locale.zh-CN.yaml
  manifests/l/LLVM/LLVM/19.1.3/LLVM.LLVM.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187698 Update: 360.360Chrome version 13.5.2044.0
  manifests/3/360/360Chrome/13.5.2044.0/360.360Chrome.installer.yaml
  manifests/3/360/360Chrome/13.5.2044.0/360.360Chrome.locale.en-US.yaml
  manifests/3/360/360Chrome/13.5.2044.0/360.360Chrome.locale.zh-CN.yaml
  manifests/3/360/360Chrome/13.5.2044.0/360.360Chrome.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187687 New version: 123.123pan version 2.2.5.0 (2.2.5)
  manifests/1/123/123pan/2.2.5.0/123.123pan.installer.yaml
  manifests/1/123/123pan/2.2.5.0/123.123pan.locale.en-US.yaml
  manifests/1/123/123pan/2.2.5.0/123.123pan.locale.zh-CN.yaml
  manifests/1/123/123pan/2.2.5.0/123.123pan.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187690 New version: Wondershare.MobileTrans version 4.5.28
  manifests/w/Wondershare/MobileTrans/4.5.28/Wondershare.MobileTrans.installer.yaml
  manifests/w/Wondershare/MobileTrans/4.5.28/Wondershare.MobileTrans.locale.en-US.yaml
  manifests/w/Wondershare/MobileTrans/4.5.28/Wondershare.MobileTrans.locale.zh-CN.yaml
  manifests/w/Wondershare/MobileTrans/4.5.28/Wondershare.MobileTrans.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187692 New version: CI010.XMinecraftLauncher version 0.47.11.1008
  manifests/c/CI010/XMinecraftLauncher/0.47.11.1008/CI010.XMinecraftLauncher.installer.yaml
  manifests/c/CI010/XMinecraftLauncher/0.47.11.1008/CI010.XMinecraftLauncher.locale.zh-CN.yaml
  manifests/c/CI010/XMinecraftLauncher/0.47.11.1008/CI010.XMinecraftLauncher.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187699 Update: 360.360Chrome.X version 22.3.3087.64
  manifests/3/360/360Chrome/X/22.3.3087.64/360.360Chrome.X.installer.yaml
  manifests/3/360/360Chrome/X/22.3.3087.64/360.360Chrome.X.locale.en-US.yaml
  manifests/3/360/360Chrome/X/22.3.3087.64/360.360Chrome.X.locale.zh-CN.yaml
  manifests/3/360/360Chrome/X/22.3.3087.64/360.360Chrome.X.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187697 Update: Bilibili.Bilibili version 1.15.0
  manifests/b/Bilibili/Bilibili/1.15.0/Bilibili.Bilibili.installer.yaml
  manifests/b/Bilibili/Bilibili/1.15.0/Bilibili.Bilibili.locale.en-US.yaml
  manifests/b/Bilibili/Bilibili/1.15.0/Bilibili.Bilibili.locale.zh-CN.yaml
  manifests/b/Bilibili/Bilibili/1.15.0/Bilibili.Bilibili.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187695 New version: ByteDance.JianyingPro version 7.0.0.12369
  manifests/b/ByteDance/JianyingPro/7.0.0.12369/ByteDance.JianyingPro.installer.yaml
  manifests/b/ByteDance/JianyingPro/7.0.0.12369/ByteDance.JianyingPro.locale.en-US.yaml
  manifests/b/ByteDance/JianyingPro/7.0.0.12369/ByteDance.JianyingPro.locale.zh-CN.yaml
  manifests/b/ByteDance/JianyingPro/7.0.0.12369/ByteDance.JianyingPro.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#187701 New version: Wondershare.Repairit version 6.0.5.11 (6.0.5)
  manifests/w/Wondershare/Repairit/6.0.5.11/Wondershare.Repairit.installer.yaml
  manifests/w/Wondershare/Repairit/6.0.5.11/Wondershare.Repairit.locale.en-US.yaml
  manifests/w/Wondershare/Repairit/6.0.5.11/Wondershare.Repairit.locale.zh-CN.yaml
  manifests/w/Wondershare/Repairit/6.0.5.11/Wondershare.Repairit.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187706 New version: EEO.ClassIn version 5.4.0.354
  manifests/e/EEO/ClassIn/5.4.0.354/EEO.ClassIn.installer.yaml
  manifests/e/EEO/ClassIn/5.4.0.354/EEO.ClassIn.locale.en-US.yaml
  manifests/e/EEO/ClassIn/5.4.0.354/EEO.ClassIn.locale.zh-CN.yaml
  manifests/e/EEO/ClassIn/5.4.0.354/EEO.ClassIn.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187615 Remove version: Revopoint.RevoScan version 5.4.10.1483
  manifests/r/Revopoint/RevoScan/5.4.10.1483/Revopoint.RevoScan.installer.yaml
  manifests/r/Revopoint/RevoScan/5.4.10.1483/Revopoint.RevoScan.locale.en-US.yaml
  manifests/r/Revopoint/RevoScan/5.4.10.1483/Revopoint.RevoScan.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#186219 New version: Yuanfudao.Yuanfudao version 6.118.0
  manifests/y/Yuanfudao/Yuanfudao/6.118.0/Yuanfudao.Yuanfudao.installer.yaml
  manifests/y/Yuanfudao/Yuanfudao/6.118.0/Yuanfudao.Yuanfudao.locale.en-US.yaml
  manifests/y/Yuanfudao/Yuanfudao/6.118.0/Yuanfudao.Yuanfudao.locale.zh-CN.yaml
  manifests/y/Yuanfudao/Yuanfudao/6.118.0/Yuanfudao.Yuanfudao.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187509 New version: TheBrowserCompany.Arc version 1.26.0.59867
  manifests/t/TheBrowserCompany/Arc/1.26.0.59867/TheBrowserCompany.Arc.installer.yaml
  manifests/t/TheBrowserCompany/Arc/1.26.0.59867/TheBrowserCompany.Arc.locale.en-US.yaml
  manifests/t/TheBrowserCompany/Arc/1.26.0.59867/TheBrowserCompany.Arc.locale.zh-CN.yaml
  manifests/t/TheBrowserCompany/Arc/1.26.0.59867/TheBrowserCompany.Arc.yaml
Labels: Validation-Completed, Moderator-Approved

#185936 New version: maqibin.MDXNotes version 1.0.2
  manifests/m/maqibin/MDXNotes/1.0.2/maqibin.MDXNotes.installer.yaml
  manifests/m/maqibin/MDXNotes/1.0.2/maqibin.MDXNotes.locale.en-US.yaml
  manifests/m/maqibin/MDXNotes/1.0.2/maqibin.MDXNotes.locale.zh-CN.yaml
  manifests/m/maqibin/MDXNotes/1.0.2/maqibin.MDXNotes.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#185785 New version: OK1DIX.VUSC4WIN version 7.07
  manifests/o/OK1DIX/VUSC4WIN/7.07/OK1DIX.VUSC4WIN.installer.yaml
  manifests/o/OK1DIX/VUSC4WIN/7.07/OK1DIX.VUSC4WIN.locale.en-US.yaml
  manifests/o/OK1DIX/VUSC4WIN/7.07/OK1DIX.VUSC4WIN.locale.zh-CN.yaml
  manifests/o/OK1DIX/VUSC4WIN/7.07/OK1DIX.VUSC4WIN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#185729 New version: LinearOrbit.Linear version 1.27.3
  manifests/l/LinearOrbit/Linear/1.27.3/LinearOrbit.Linear.installer.yaml
  manifests/l/LinearOrbit/Linear/1.27.3/LinearOrbit.Linear.locale.en-US.yaml
  manifests/l/LinearOrbit/Linear/1.27.3/LinearOrbit.Linear.locale.zh-CN.yaml
  manifests/l/LinearOrbit/Linear/1.27.3/LinearOrbit.Linear.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#185667 New version: Magnate.SpeedManager.Pro version 2.9.8
  manifests/m/Magnate/SpeedManager/Pro/2.9.8/Magnate.SpeedManager.Pro.installer.yaml
  manifests/m/Magnate/SpeedManager/Pro/2.9.8/Magnate.SpeedManager.Pro.locale.en-US.yaml
  manifests/m/Magnate/SpeedManager/Pro/2.9.8/Magnate.SpeedManager.Pro.locale.zh-CN.yaml
  manifests/m/Magnate/SpeedManager/Pro/2.9.8/Magnate.SpeedManager.Pro.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#186346 New package: Wozhi.WizNote.X version 0.1.107
  manifests/w/Wozhi/WizNote/X/0.1.107/Wozhi.WizNote.X.installer.yaml
  manifests/w/Wozhi/WizNote/X/0.1.107/Wozhi.WizNote.X.locale.en-US.yaml
  manifests/w/Wozhi/WizNote/X/0.1.107/Wozhi.WizNote.X.locale.zh-CN.yaml
  manifests/w/Wozhi/WizNote/X/0.1.107/Wozhi.WizNote.X.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#186342 New package: Wozhi.WizNote version 4.14
  manifests/w/Wozhi/WizNote/4.14/Wozhi.WizNote.installer.yaml
  manifests/w/Wozhi/WizNote/4.14/Wozhi.WizNote.locale.en-US.yaml
  manifests/w/Wozhi/WizNote/4.14/Wozhi.WizNote.locale.zh-CN.yaml
  manifests/w/Wozhi/WizNote/4.14/Wozhi.WizNote.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187565 Microsoft.VisualStudioCode.CLI_v1.95.1 cli
  manifests/m/Microsoft/VisualStudioCode/CLI/1.95.1/Microsoft.VisualStudioCode.CLI.installer.yaml
  manifests/m/Microsoft/VisualStudioCode/CLI/1.95.1/Microsoft.VisualStudioCode.CLI.locale.en-US.yaml
  manifests/m/Microsoft/VisualStudioCode/CLI/1.95.1/Microsoft.VisualStudioCode.CLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187534 GitHub.smimesign 0.2.0-rc1, fixes #187533
  manifests/g/GitHub/smimesign/0.2.0-rc1/GitHub.smimesign.installer.yaml
  manifests/g/GitHub/smimesign/0.2.0-rc1/GitHub.smimesign.locale.en-US.yaml
  manifests/g/GitHub/smimesign/0.2.0-rc1/GitHub.smimesign.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Package

#187707 New version: AList.AListDesktop version 3.38.0
  manifests/a/AList/AListDesktop/3.38.0/AList.AListDesktop.installer.yaml
  manifests/a/AList/AListDesktop/3.38.0/AList.AListDesktop.locale.en-US.yaml
  manifests/a/AList/AListDesktop/3.38.0/AList.AListDesktop.locale.zh-CN.yaml
  manifests/a/AList/AListDesktop/3.38.0/AList.AListDesktop.yaml
Labels: Validation-Completed, Moderator-Approved

#187417 New version: Unity.Unity.6000 version 6000.0.25f1
  manifests/u/Unity/Unity/6000/6000.0.25f1/Unity.Unity.6000.installer.yaml
  manifests/u/Unity/Unity/6000/6000.0.25f1/Unity.Unity.6000.locale.en-US.yaml
  manifests/u/Unity/Unity/6000/6000.0.25f1/Unity.Unity.6000.locale.zh-CN.yaml
  manifests/u/Unity/Unity/6000/6000.0.25f1/Unity.Unity.6000.yaml
Labels: Validation-Completed, Moderator-Approved

#187588 New version: CologneCodeCompany.XYplorerPortable version 26.60.0000
  manifests/c/CologneCodeCompany/XYplorerPortable/26.60.0000/CologneCodeCompany.XYplorerPortable.installer.yaml
  manifests/c/CologneCodeCompany/XYplorerPortable/26.60.0000/CologneCodeCompany.XYplorerPortable.locale.en-US.yaml
  manifests/c/CologneCodeCompany/XYplorerPortable/26.60.0000/CologneCodeCompany.XYplorerPortable.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187594 New version: RobertFFrasca.PDFKeeper version 10.0.1
  manifests/r/RobertFFrasca/PDFKeeper/10.0.1/RobertFFrasca.PDFKeeper.installer.yaml
  manifests/r/RobertFFrasca/PDFKeeper/10.0.1/RobertFFrasca.PDFKeeper.locale.en-US.yaml
  manifests/r/RobertFFrasca/PDFKeeper/10.0.1/RobertFFrasca.PDFKeeper.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187597 New version: GiulioSorrentino.CBriscola.Avalonia version 0.9.3.2
  manifests/g/GiulioSorrentino/CBriscola/Avalonia/0.9.3.2/GiulioSorrentino.CBriscola.Avalonia.installer.yaml
  manifests/g/GiulioSorrentino/CBriscola/Avalonia/0.9.3.2/GiulioSorrentino.CBriscola.Avalonia.locale.en-US.yaml
  manifests/g/GiulioSorrentino/CBriscola/Avalonia/0.9.3.2/GiulioSorrentino.CBriscola.Avalonia.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187599 New version: GiulioSorrentino.CBriscola.WPF version 0.7.1.1
  manifests/g/GiulioSorrentino/CBriscola/WPF/0.7.1.1/GiulioSorrentino.CBriscola.WPF.installer.yaml
  manifests/g/GiulioSorrentino/CBriscola/WPF/0.7.1.1/GiulioSorrentino.CBriscola.WPF.locale.en-US.yaml
  manifests/g/GiulioSorrentino/CBriscola/WPF/0.7.1.1/GiulioSorrentino.CBriscola.WPF.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187600 New Version: Taiizor.SucroseWallpaperEngine Version 24.11.1.0
  manifests/t/Taiizor/SucroseWallpaperEngine/24.11.1.0/Taiizor.SucroseWallpaperEngine.installer.yaml
  manifests/t/Taiizor/SucroseWallpaperEngine/24.11.1.0/Taiizor.SucroseWallpaperEngine.locale.en-GB.yaml
  manifests/t/Taiizor/SucroseWallpaperEngine/24.11.1.0/Taiizor.SucroseWallpaperEngine.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187601 New version: GiulioSorrentino.Diario.Avalonia version 0.5.0.4
  manifests/g/GiulioSorrentino/Diario/Avalonia/0.5.0.4/GiulioSorrentino.Diario.Avalonia.installer.yaml
  manifests/g/GiulioSorrentino/Diario/Avalonia/0.5.0.4/GiulioSorrentino.Diario.Avalonia.locale.it-IT.yaml
  manifests/g/GiulioSorrentino/Diario/Avalonia/0.5.0.4/GiulioSorrentino.Diario.Avalonia.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187602 New version: GiulioSorrentino.Latorredibabele version 3.0.0.4
  manifests/g/GiulioSorrentino/Latorredibabele/3.0.0.4/GiulioSorrentino.Latorredibabele.installer.yaml
  manifests/g/GiulioSorrentino/Latorredibabele/3.0.0.4/GiulioSorrentino.Latorredibabele.locale.it-IT.yaml
  manifests/g/GiulioSorrentino/Latorredibabele/3.0.0.4/GiulioSorrentino.Latorredibabele.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187603 New version: GiulioSorrentino.wheelofnumfortune.avalonia version 0.2.0.3
  manifests/g/GiulioSorrentino/wheelofnumfortune/avalonia/0.2.0.3/GiulioSorrentino.wheelofnumfortune.avalonia.installer.yaml
  manifests/g/GiulioSorrentino/wheelofnumfortune/avalonia/0.2.0.3/GiulioSorrentino.wheelofnumfortune.avalonia.locale.en-US.yaml
  manifests/g/GiulioSorrentino/wheelofnumfortune/avalonia/0.2.0.3/GiulioSorrentino.wheelofnumfortune.avalonia.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#187616 New version: nektos.act version 0.2.69
  manifests/n/nektos/act/0.2.69/nektos.act.installer.yaml
  manifests/n/nektos/act/0.2.69/nektos.act.locale.en-US.yaml
  manifests/n/nektos/act/0.2.69/nektos.act.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187637 64Gram.64Gram version 1.1.44
  manifests/6/64Gram/64Gram/1.1.44/64Gram.64Gram.installer.yaml
  manifests/6/64Gram/64Gram/1.1.44/64Gram.64Gram.locale.en-US.yaml
  manifests/6/64Gram/64Gram/1.1.44/64Gram.64Gram.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#187643 New version: Zen-Team.Zen-Browser version 1.0.1-a.17
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.17/Zen-Team.Zen-Browser.installer.yaml
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.17/Zen-Team.Zen-Browser.locale.en-US.yaml
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.17/Zen-Team.Zen-Browser.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187686 New version: OwlPlug.OwlPlug version 1.27.1
  manifests/o/OwlPlug/OwlPlug/1.27.1/OwlPlug.OwlPlug.installer.yaml
  manifests/o/OwlPlug/OwlPlug/1.27.1/OwlPlug.OwlPlug.locale.en-US.yaml
  manifests/o/OwlPlug/OwlPlug/1.27.1/OwlPlug.OwlPlug.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187525 Create updated WinGet package for October 2023 GDK
  manifests/m/Microsoft/Gaming/GDK/2310.0.1886/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.0.1886/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.0.1886/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.0.1886/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187531 Create updated WinGet package for October 2023 GDK Update 6
  manifests/m/Microsoft/Gaming/GDK/2310.6.1983/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.6.1983/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.6.1983/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.6.1983/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187529 Create updated WinGet package for October 2023 GDK Update 4
  manifests/m/Microsoft/Gaming/GDK/2310.4.1940/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.4.1940/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.4.1940/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.4.1940/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187515 Remove deprecated WinGet package for October 2023 GDK Update 1
  manifests/m/Microsoft/GDK/2310/231001/Microsoft.GDK.2310.installer.yaml
  manifests/m/Microsoft/GDK/2310/231001/Microsoft.GDK.2310.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2310/231001/Microsoft.GDK.2310.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2310/231001/Microsoft.GDK.2310.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187532 Create updated WinGet package for October 2023 GDK Update 7
  manifests/m/Microsoft/Gaming/GDK/2310.7.1991/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.7.1991/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.7.1991/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.7.1991/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187517 Remove deprecated WinGet package for October 2023 GDK Update 3
  manifests/m/Microsoft/GDK/2310/231003/Microsoft.GDK.2310.installer.yaml
  manifests/m/Microsoft/GDK/2310/231003/Microsoft.GDK.2310.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2310/231003/Microsoft.GDK.2310.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2310/231003/Microsoft.GDK.2310.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187289 Create updated WinGet package for March 2024 GDK
  manifests/m/Microsoft/Gaming/GDK/2403.0.3159/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.0.3159/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.0.3159/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.0.3159/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187284 Add March 2023 GDK Update 4 to the new unified GDK winget ID.
  manifests/m/Microsoft/Gaming/GDK/2303.4.3097/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2303.4.3097/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2303.4.3097/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187275 Remove deprecated WinGet package for March 2024 GDK Update 4
  manifests/m/Microsoft/GDK/2403/240304/Microsoft.GDK.2403.installer.yaml
  manifests/m/Microsoft/GDK/2403/240304/Microsoft.GDK.2403.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2403/240304/Microsoft.GDK.2403.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2403/240304/Microsoft.GDK.2403.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187266 Remove March 2023 GDK Update 4 as part of migrating to unified GDK ID.
  manifests/m/Microsoft/GDK/2303/230304/Microsoft.GDK.2303.installer.yaml
  manifests/m/Microsoft/GDK/2303/230304/Microsoft.GDK.2303.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2303/230304/Microsoft.GDK.2303.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187285 Add March 2023 GDK Update 5 to the new unified GDK winget ID.
  manifests/m/Microsoft/Gaming/GDK/2303.5.3104/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2303.5.3104/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2303.5.3104/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187325 Add June 2023 GDK Update 3 to the new unified GDK winget ID.
  manifests/m/Microsoft/Gaming/GDK/2306.3.4313/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2306.3.4313/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2306.3.4313/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187292 Create updated WinGet package for March 2024 GDK Update 2
  manifests/m/Microsoft/Gaming/GDK/2403.2.3181/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.2.3181/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.2.3181/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.2.3181/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187279 Remove deprecated WinGet package for March 2024 GDK Update 8
  manifests/m/Microsoft/GDK/2403/240308/Microsoft.GDK.2403.installer.yaml
  manifests/m/Microsoft/GDK/2403/240308/Microsoft.GDK.2403.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2403/240308/Microsoft.GDK.2403.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2403/240308/Microsoft.GDK.2403.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187302 Create updated WinGet package for March 2024 GDK Update 7
  manifests/m/Microsoft/Gaming/GDK/2403.7.3237/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.7.3237/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.7.3237/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.7.3237/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, Moderator-Approved, New-Package

#187278 Remove deprecated WinGet package for March 2024 GDK Update 7
  manifests/m/Microsoft/GDK/2403/240307/Microsoft.GDK.2403.installer.yaml
  manifests/m/Microsoft/GDK/2403/240307/Microsoft.GDK.2403.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2403/240307/Microsoft.GDK.2403.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2403/240307/Microsoft.GDK.2403.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187263 Remove March 2023 GDK Update 2 as part of migrating to unified GDK ID.
  manifests/m/Microsoft/GDK/2303/230302/Microsoft.GDK.2303.installer.yaml
  manifests/m/Microsoft/GDK/2303/230302/Microsoft.GDK.2303.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2303/230302/Microsoft.GDK.2303.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187241 Remove deprecated WinGet package for June 2024 GDK
  manifests/m/Microsoft/GDK/2406/240600/Microsoft.GDK.2406.installer.yaml
  manifests/m/Microsoft/GDK/2406/240600/Microsoft.GDK.2406.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2406/240600/Microsoft.GDK.2406.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2406/240600/Microsoft.GDK.2406.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187272 Remove deprecated WinGet package for March 2024 GDK Update 1
  manifests/m/Microsoft/GDK/2403/240301/Microsoft.GDK.2403.installer.yaml
  manifests/m/Microsoft/GDK/2403/240301/Microsoft.GDK.2403.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2403/240301/Microsoft.GDK.2403.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2403/240301/Microsoft.GDK.2403.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187265 Remove March 2023 GDK Update 3 as part of migrating to unified GDK ID.
  manifests/m/Microsoft/GDK/2303/230303/Microsoft.GDK.2303.installer.yaml
  manifests/m/Microsoft/GDK/2303/230303/Microsoft.GDK.2303.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2303/230303/Microsoft.GDK.2303.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187318 Add June 2023 GDK to the new unified GDK winget ID.
  manifests/m/Microsoft/Gaming/GDK/2306.0.4272/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2306.0.4272/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2306.0.4272/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187251 Create updated WinGet package for June 2024 GDK Update 2
  manifests/m/Microsoft/Gaming/GDK/2406.2.4312/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2406.2.4312/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2406.2.4312/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2406.2.4312/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187310 Remove June 2023 GDK Update 2 as part of migrating to unified GDK ID
  manifests/m/Microsoft/GDK/2306/230602/Microsoft.GDK.2306.installer.yaml
  manifests/m/Microsoft/GDK/2306/230602/Microsoft.GDK.2306.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2306/230602/Microsoft.GDK.2306.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187321 Add June 2023 GDK Update 1 to the new unified GDK winget ID.
  manifests/m/Microsoft/Gaming/GDK/2306.1.4287/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2306.1.4287/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2306.1.4287/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187309 Remove June 2023 Update 1 GDK as part of migrating to unified GDK ID
  manifests/m/Microsoft/GDK/2306/230601/Microsoft.GDK.2306.installer.yaml
  manifests/m/Microsoft/GDK/2306/230601/Microsoft.GDK.2306.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2306/230601/Microsoft.GDK.2306.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#186397 Update: OSGeo.QGIS-3.40.0
  manifests/o/OSGeo/QGIS/3.40.0/OSGeo.QGIS.installer.yaml
  manifests/o/OSGeo/QGIS/3.40.0/OSGeo.QGIS.locale.en-US.yaml
  manifests/o/OSGeo/QGIS/3.40.0/OSGeo.QGIS.locale.zh-CN.yaml
  manifests/o/OSGeo/QGIS/3.40.0/OSGeo.QGIS.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#187528 Create updated WinGet package for October 2023 GDK Update 3
  manifests/m/Microsoft/Gaming/GDK/2310.3.1924/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.3.1924/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.3.1924/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.3.1924/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187518 Remove deprecated WinGet package for October 2023 GDK Update 4
  manifests/m/Microsoft/GDK/2310/231004/Microsoft.GDK.2310.installer.yaml
  manifests/m/Microsoft/GDK/2310/231004/Microsoft.GDK.2310.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2310/231004/Microsoft.GDK.2310.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2310/231004/Microsoft.GDK.2310.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187286 Add March 2023 GDK Update 6 to the new unified GDK winget ID.
  manifests/m/Microsoft/Gaming/GDK/2303.6.3111/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2303.6.3111/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2303.6.3111/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187524 Remove deprecated WinGet package for October 2023 GDK Update 7
  manifests/m/Microsoft/GDK/2310/231007/Microsoft.GDK.2310.installer.yaml
  manifests/m/Microsoft/GDK/2310/231007/Microsoft.GDK.2310.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2310/231007/Microsoft.GDK.2310.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2310/231007/Microsoft.GDK.2310.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187327 Add June 2023 GDK Update 4 to the new unified GDK winget ID.
  manifests/m/Microsoft/Gaming/GDK/2306.4.4349/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2306.4.4349/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2306.4.4349/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187250 Create updated WinGet package for June 2024 GDK Update 1
  manifests/m/Microsoft/Gaming/GDK/2406.1.4299/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2406.1.4299/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2406.1.4299/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2406.1.4299/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187530 Create updated WinGet package for October 2023 GDK Update 5
  manifests/m/Microsoft/Gaming/GDK/2310.5.1955/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.5.1955/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.5.1955/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2310.5.1955/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187276 Remove deprecated WinGet package for March 2024 GDK Update 5
  manifests/m/Microsoft/GDK/2403/240305/Microsoft.GDK.2403.installer.yaml
  manifests/m/Microsoft/GDK/2403/240305/Microsoft.GDK.2403.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2403/240305/Microsoft.GDK.2403.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2403/240305/Microsoft.GDK.2403.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187298 Create updated WinGet package for March 2024 GDK Update 4
  manifests/m/Microsoft/Gaming/GDK/2403.4.3207/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.4.3207/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.4.3207/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.4.3207/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187269 Remove March 2023 GDK Update 6 as part of migrating to unified GDK ID.
  manifests/m/Microsoft/GDK/2303/230306/Microsoft.GDK.2303.installer.yaml
  manifests/m/Microsoft/GDK/2303/230306/Microsoft.GDK.2303.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2303/230306/Microsoft.GDK.2303.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187693 New package: RODE.RODE-Connect version 1.3.43
  manifests/r/RODE/Rode-Connect/1.3.43/RODE.Rode-Connect.installer.yaml
  manifests/r/RODE/Rode-Connect/1.3.43/RODE.Rode-Connect.locale.en-US.yaml
  manifests/r/RODE/Rode-Connect/1.3.43/RODE.Rode-Connect.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187300 Create updated WinGet package for March 2024 GDK Update 6
  manifests/m/Microsoft/Gaming/GDK/2403.6.3229/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.6.3229/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.6.3229/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.6.3229/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187277 Remove deprecated WinGet package for March 2024 GDK Update 6
  manifests/m/Microsoft/GDK/2403/240306/Microsoft.GDK.2403.installer.yaml
  manifests/m/Microsoft/GDK/2403/240306/Microsoft.GDK.2403.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2403/240306/Microsoft.GDK.2403.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2403/240306/Microsoft.GDK.2403.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187710 FileVoyager.FileVoyager version 24.11.1.0
  manifests/f/FileVoyager/FileVoyager/24.11.1.0/FileVoyager.FileVoyager.installer.yaml
  manifests/f/FileVoyager/FileVoyager/24.11.1.0/FileVoyager.FileVoyager.locale.en-US.yaml
  manifests/f/FileVoyager/FileVoyager/24.11.1.0/FileVoyager.FileVoyager.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187519 Remove deprecated WinGet package for October 2023 GDK Update 5
  manifests/m/Microsoft/GDK/2310/231005/Microsoft.GDK.2310.installer.yaml
  manifests/m/Microsoft/GDK/2310/231005/Microsoft.GDK.2310.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2310/231005/Microsoft.GDK.2310.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2310/231005/Microsoft.GDK.2310.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187273 Remove deprecated WinGet package for March 2024 GDK Update 2
  manifests/m/Microsoft/GDK/2403/240302/Microsoft.GDK.2403.installer.yaml
  manifests/m/Microsoft/GDK/2403/240302/Microsoft.GDK.2403.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2403/240302/Microsoft.GDK.2403.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2403/240302/Microsoft.GDK.2403.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187246 Remove deprecated WinGet package for June 2024 GDK Update 2
  manifests/m/Microsoft/GDK/2406/240602/Microsoft.GDK.2406.installer.yaml
  manifests/m/Microsoft/GDK/2406/240602/Microsoft.GDK.2406.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2406/240602/Microsoft.GDK.2406.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2406/240602/Microsoft.GDK.2406.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187267 Remove March 2023 GDK Update 5 as part of migrating to unified GDK ID.
  manifests/m/Microsoft/GDK/2303/230305/Microsoft.GDK.2303.installer.yaml
  manifests/m/Microsoft/GDK/2303/230305/Microsoft.GDK.2303.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2303/230305/Microsoft.GDK.2303.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187694 New package: Lumivero.Citavi version 6.19.2.1
  manifests/l/Lumivero/Citavi/6.19.2.1/Lumivero.Citavi.installer.yaml
  manifests/l/Lumivero/Citavi/6.19.2.1/Lumivero.Citavi.locale.en-US.yaml
  manifests/l/Lumivero/Citavi/6.19.2.1/Lumivero.Citavi.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187274 Remove deprecated WinGet package for March 2024 GDK Update 3
  manifests/m/Microsoft/GDK/2403/240303/Microsoft.GDK.2403.installer.yaml
  manifests/m/Microsoft/GDK/2403/240303/Microsoft.GDK.2403.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2403/240303/Microsoft.GDK.2403.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2403/240303/Microsoft.GDK.2403.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187249 Create updated WinGet package for June 2024 GDK
  manifests/m/Microsoft/Gaming/GDK/2406.0.4271/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2406.0.4271/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2406.0.4271/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2406.0.4271/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187299 Create updated WinGet package for March 2024 GDK Update 5
  manifests/m/Microsoft/Gaming/GDK/2403.5.3225/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.5.3225/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.5.3225/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.5.3225/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187516 Remove deprecated WinGet package for October 2023 GDK Update 2
  manifests/m/Microsoft/GDK/2310/231002/Microsoft.GDK.2310.installer.yaml
  manifests/m/Microsoft/GDK/2310/231002/Microsoft.GDK.2310.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2310/231002/Microsoft.GDK.2310.locale.ja-JP.yaml
  manifests/m/Microsoft/GDK/2310/231002/Microsoft.GDK.2310.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#187291 Create updated WinGet package for March 2024 GDK Update 1
  manifests/m/Microsoft/Gaming/GDK/2403.1.3171/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.1.3171/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.1.3171/Microsoft.Gaming.GDK.locale.ja-JP.yaml
  manifests/m/Microsoft/Gaming/GDK/2403.1.3171/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187709 New version: BrettMayson.HEMTT version 1.13.4
  manifests/b/BrettMayson/HEMTT/1.13.4/BrettMayson.HEMTT.installer.yaml
  manifests/b/BrettMayson/HEMTT/1.13.4/BrettMayson.HEMTT.locale.en-US.yaml
  manifests/b/BrettMayson/HEMTT/1.13.4/BrettMayson.HEMTT.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187287 Add March 2023 GDK Update 7 to the new unified GDK winget ID.
  manifests/m/Microsoft/Gaming/GDK/2303.7.3139/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2303.7.3139/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2303.7.3139/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187324 Add June 2023 GDK Update 2 to the new unified GDK winget ID.
  manifests/m/Microsoft/Gaming/GDK/2306.2.4304/Microsoft.Gaming.GDK.installer.yaml
  manifests/m/Microsoft/Gaming/GDK/2306.2.4304/Microsoft.Gaming.GDK.locale.en-US.yaml
  manifests/m/Microsoft/Gaming/GDK/2306.2.4304/Microsoft.Gaming.GDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#187705 New version: TomEnglert.RegionToShare version 1.11.6454
  manifests/t/TomEnglert/RegionToShare/1.11.6454/TomEnglert.RegionToShare.installer.yaml
  manifests/t/TomEnglert/RegionToShare/1.11.6454/TomEnglert.RegionToShare.locale.en-US.yaml
  manifests/t/TomEnglert/RegionToShare/1.11.6454/TomEnglert.RegionToShare.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#187315 Remove June 2023 GDK Update 4 as part of migrating to unified GDK ID
  manifests/m/Microsoft/GDK/2306/230604/Microsoft.GDK.2306.installer.yaml
  manifests/m/Microsoft/GDK/2306/230604/Microsoft.GDK.2306.locale.en-US.yaml
  manifests/m/Microsoft/GDK/2306/230604/Microsoft.GDK.2306.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved
