Repository microsoft/winget-pkgs, pull requests merged in 2024-12, with the labels that each got.

#195413 JanDeDobbeleer.OhMyPosh version v24.11.2
  manifests/j/JanDeDobbeleer/OhMyPosh/24.11.2/JanDeDobbeleer.OhMyPosh.installer.yaml
  manifests/j/JanDeDobbeleer/OhMyPosh/24.11.2/JanDeDobbeleer.OhMyPosh.locale.en-US.yaml
  manifests/j/JanDeDobbeleer/OhMyPosh/24.11.2/JanDeDobbeleer.OhMyPosh.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195378 Dylibso.Extism.CLI version 1.6.1
  manifests/d/Dylibso/Extism/CLI/1.6.1/Dylibso.Extism.CLI.installer.yaml
  manifests/d/Dylibso/Extism/CLI/1.6.1/Dylibso.Extism.CLI.locale.en-US.yaml
  manifests/d/Dylibso/Extism/CLI/1.6.1/Dylibso.Extism.CLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#195488 New version: Microsoft.NuGet version 6.12.1
  manifests/m/Microsoft/NuGet/6.12.1/Microsoft.NuGet.installer.yaml
  manifests/m/Microsoft/NuGet/6.12.1/Microsoft.NuGet.locale.en-US.yaml
  manifests/m/Microsoft/NuGet/6.12.1/Microsoft.NuGet.locale.zh-CN.yaml
  manifests/m/Microsoft/NuGet/6.12.1/Microsoft.NuGet.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195502 TopalaSoftwareSolutions.SIW version 2024.11.03.2
  manifests/t/TopalaSoftwareSolutions/SIW/2024.11.03.2/TopalaSoftwareSolutions.SIW.installer.yaml
  manifests/t/TopalaSoftwareSolutions/SIW/2024.11.03.2/TopalaSoftwareSolutions.SIW.locale.en-US.yaml
  manifests/t/TopalaSoftwareSolutions/SIW/2024.11.03.2/TopalaSoftwareSolutions.SIW.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195477 New version: Jackett.Jackett version 0.22.1023
  manifests/j/Jackett/Jackett/0.22.1023/Jackett.Jackett.installer.yaml
  manifests/j/Jackett/Jackett/0.22.1023/Jackett.Jackett.locale.en-US.yaml
  manifests/j/Jackett/Jackett/0.22.1023/Jackett.Jackett.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195497 New version: AmN.yasb version 1.4.3
  manifests/a/AmN/yasb/1.4.3/AmN.yasb.installer.yaml
  manifests/a/AmN/yasb/1.4.3/AmN.yasb.locale.en-US.yaml
  manifests/a/AmN/yasb/1.4.3/AmN.yasb.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195487 New version: Blushyes.Sofast version 0.3.1
  manifests/b/Blushyes/Sofast/0.3.1/Blushyes.Sofast.installer.yaml
  manifests/b/Blushyes/Sofast/0.3.1/Blushyes.Sofast.locale.en-US.yaml
  manifests/b/Blushyes/Sofast/0.3.1/Blushyes.Sofast.locale.zh-CN.yaml
  manifests/b/Blushyes/Sofast/0.3.1/Blushyes.Sofast.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195493 New version: Bin-Huang.Chatbox version 1.7.0
  manifests/b/Bin-Huang/Chatbox/1.7.0/Bin-Huang.Chatbox.installer.yaml
  manifests/b/Bin-Huang/Chatbox/1.7.0/Bin-Huang.Chatbox.locale.en-US.yaml
  manifests/b/Bin-Huang/Chatbox/1.7.0/Bin-Huang.Chatbox.locale.zh-CN.yaml
  manifests/b/Bin-Huang/Chatbox/1.7.0/Bin-Huang.Chatbox.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195495 New version: Google.Chrome.Canary version 133.0.6870.0
  manifests/g/Google/Chrome/Canary/133.0.6870.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/133.0.6870.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/133.0.6870.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/133.0.6870.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/133.0.6870.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195417 New version: Neemb.Distill version 3.10.31-beta
  manifests/n/Neemb/Distill/3.10.31-beta/Neemb.Distill.installer.yaml
  manifests/n/Neemb/Distill/3.10.31-beta/Neemb.Distill.locale.en-US.yaml
  manifests/n/Neemb/Distill/3.10.31-beta/Neemb.Distill.locale.zh-CN.yaml
  manifests/n/Neemb/Distill/3.10.31-beta/Neemb.Distill.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195471 Remove MiXXX.MiXXX 2.3.6 to Mixxx.Mixxx 2.3.6
  manifests/m/MiXXX/MiXXX/2.3.6/MiXXX.MiXXX.installer.yaml
  manifests/m/MiXXX/MiXXX/2.3.6/MiXXX.MiXXX.locale.en-US.yaml
  manifests/m/MiXXX/MiXXX/2.3.6/MiXXX.MiXXX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195475 Remove MiXXX.MiXXX 2.4.1 to Mixxx.Mixxx 2.4.1
  manifests/m/MiXXX/MiXXX/2.4.1/MiXXX.MiXXX.installer.yaml
  manifests/m/MiXXX/MiXXX/2.4.1/MiXXX.MiXXX.locale.en-US.yaml
  manifests/m/MiXXX/MiXXX/2.4.1/MiXXX.MiXXX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195442 Modify: DuckStudio.GitHubLabelsManager version 1.3
  manifests/d/DuckStudio/GitHubLabelsManager/v1.3/DuckStudio.GitHubLabelsManager.locale.en-US.yaml
  manifests/d/DuckStudio/GitHubLabelsManager/v1.3/DuckStudio.GitHubLabelsManager.locale.zh-CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195424 New version: vim.vim.nightly version 9.1.0898
  manifests/v/vim/vim/nightly/9.1.0898/vim.vim.nightly.installer.yaml
  manifests/v/vim/vim/nightly/9.1.0898/vim.vim.nightly.locale.en-US.yaml
  manifests/v/vim/vim/nightly/9.1.0898/vim.vim.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195457 New version: SamuelTulach.VirusTotalUploader version 0.2.1
  manifests/s/SamuelTulach/VirusTotalUploader/0.2.1/SamuelTulach.VirusTotalUploader.installer.yaml
  manifests/s/SamuelTulach/VirusTotalUploader/0.2.1/SamuelTulach.VirusTotalUploader.locale.en-US.yaml
  manifests/s/SamuelTulach/VirusTotalUploader/0.2.1/SamuelTulach.VirusTotalUploader.locale.zh-CN.yaml
  manifests/s/SamuelTulach/VirusTotalUploader/0.2.1/SamuelTulach.VirusTotalUploader.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195454 New version: ClashVergeRev.ClashVergeRev version 2.0.2
  manifests/c/ClashVergeRev/ClashVergeRev/2.0.2/ClashVergeRev.ClashVergeRev.installer.yaml
  manifests/c/ClashVergeRev/ClashVergeRev/2.0.2/ClashVergeRev.ClashVergeRev.locale.en-US.yaml
  manifests/c/ClashVergeRev/ClashVergeRev/2.0.2/ClashVergeRev.ClashVergeRev.locale.zh-CN.yaml
  manifests/c/ClashVergeRev/ClashVergeRev/2.0.2/ClashVergeRev.ClashVergeRev.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195469 Remove MiXXX.MiXXX 2.3.5 to Mixxx.Mixxx 2.3.5
  manifests/m/MiXXX/MiXXX/2.3.5/MiXXX.MiXXX.installer.yaml
  manifests/m/MiXXX/MiXXX/2.3.5/MiXXX.MiXXX.locale.en-US.yaml
  manifests/m/MiXXX/MiXXX/2.3.5/MiXXX.MiXXX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195492 Update Proton.ProtonMail.installer.yaml
  manifests/p/Proton/ProtonMail/1.3.2/Proton.ProtonMail.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#194820 New version: Zen-Team.Zen-Browser.Optimized version 1.0.1-a.20
  manifests/z/Zen-Team/Zen-Browser/Optimized/1.0.1-a.20/Zen-Team.Zen-Browser.Optimized.installer.yaml
  manifests/z/Zen-Team/Zen-Browser/Optimized/1.0.1-a.20/Zen-Team.Zen-Browser.Optimized.locale.en-US.yaml
  manifests/z/Zen-Team/Zen-Browser/Optimized/1.0.1-a.20/Zen-Team.Zen-Browser.Optimized.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#194928 New version: Zen-Team.Zen-Browser.Optimized version 1.0.1-a.21
  manifests/z/Zen-Team/Zen-Browser/Optimized/1.0.1-a.21/Zen-Team.Zen-Browser.Optimized.installer.yaml
  manifests/z/Zen-Team/Zen-Browser/Optimized/1.0.1-a.21/Zen-Team.Zen-Browser.Optimized.locale.en-US.yaml
  manifests/z/Zen-Team/Zen-Browser/Optimized/1.0.1-a.21/Zen-Team.Zen-Browser.Optimized.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#194819 New version: Zen-Team.Zen-Browser version 1.0.1-a.20
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.20/Zen-Team.Zen-Browser.installer.yaml
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.20/Zen-Team.Zen-Browser.locale.en-US.yaml
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.20/Zen-Team.Zen-Browser.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195463 Remove MiXXX.MiXXX 2.3.1 to Mixxx.Mixxx 2.3.1
  manifests/m/MiXXX/MiXXX/2.3.1/MiXXX.MiXXX.installer.yaml
  manifests/m/MiXXX/MiXXX/2.3.1/MiXXX.MiXXX.locale.en-US.yaml
  manifests/m/MiXXX/MiXXX/2.3.1/MiXXX.MiXXX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#194930 New version: Zen-Team.Zen-Browser version 1.0.1-a.21
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.21/Zen-Team.Zen-Browser.installer.yaml
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.21/Zen-Team.Zen-Browser.locale.en-US.yaml
  manifests/z/Zen-Team/Zen-Browser/1.0.1-a.21/Zen-Team.Zen-Browser.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195491 Update 2dust.v2rayN.installer.yaml
  manifests/2/2dust/v2rayN/6.60/2dust.v2rayN.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195447 Fix: Qalculate.Qalculate version 5.4.0
  manifests/q/Qalculate/Qalculate/5.4.0/Qalculate.Qalculate.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195405 Remove version: smartfrigde.Legcord version 1.0.2
  manifests/s/smartfrigde/Legcord/1.0.2/smartfrigde.Legcord.installer.yaml
  manifests/s/smartfrigde/Legcord/1.0.2/smartfrigde.Legcord.locale.en-US.yaml
  manifests/s/smartfrigde/Legcord/1.0.2/smartfrigde.Legcord.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195436 Modify: DuckStudio.GitHubLabelsManager version 1.1
  manifests/d/DuckStudio/GitHubLabelsManager/v1.1/DuckStudio.GitHubLabelsManager.locale.en-US.yaml
  manifests/d/DuckStudio/GitHubLabelsManager/v1.1/DuckStudio.GitHubLabelsManager.locale.zh-CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195448 Fix: Qalculate.Qalculate version 5.3.0
  manifests/q/Qalculate/Qalculate/5.3.0/Qalculate.Qalculate.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195404 Remove version: smartfrigde.Legcord version 1.0.4
  manifests/s/smartfrigde/Legcord/1.0.4/smartfrigde.Legcord.installer.yaml
  manifests/s/smartfrigde/Legcord/1.0.4/smartfrigde.Legcord.locale.en-US.yaml
  manifests/s/smartfrigde/Legcord/1.0.4/smartfrigde.Legcord.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#194832 Remove version: DuckStudio.ChineseGit version 2.5
  manifests/d/DuckStudio/ChineseGit/2.5/DuckStudio.ChineseGit.installer.yaml
  manifests/d/DuckStudio/ChineseGit/2.5/DuckStudio.ChineseGit.locale.zh-CN.yaml
  manifests/d/DuckStudio/ChineseGit/2.5/DuckStudio.ChineseGit.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, Moderator-Approved

#195473 Remove MiXXX.MiXXX 2.4.0 to Mixxx.Mixxx 2.4.0
  manifests/m/MiXXX/MiXXX/2.4.0/MiXXX.MiXXX.installer.yaml
  manifests/m/MiXXX/MiXXX/2.4.0/MiXXX.MiXXX.locale.en-US.yaml
  manifests/m/MiXXX/MiXXX/2.4.0/MiXXX.MiXXX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195443 Modify: DuckStudio.GitHubLabelsManager version 1.4
  manifests/d/DuckStudio/GitHubLabelsManager/v1.4/DuckStudio.GitHubLabelsManager.locale.en-US.yaml
  manifests/d/DuckStudio/GitHubLabelsManager/v1.4/DuckStudio.GitHubLabelsManager.locale.zh-CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195467 Remove MiXXX.MiXXX 2.3.3 to Mixxx.Mixxx 2.3.3
  manifests/m/MiXXX/MiXXX/2.3.3/MiXXX.MiXXX.installer.yaml
  manifests/m/MiXXX/MiXXX/2.3.3/MiXXX.MiXXX.locale.en-US.yaml
  manifests/m/MiXXX/MiXXX/2.3.3/MiXXX.MiXXX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195465 Remove MiXXX.MiXXX 2.3.2 to Mixxx.Mixxx 2.3.2
  manifests/m/MiXXX/MiXXX/2.3.2/MiXXX.MiXXX.installer.yaml
  manifests/m/MiXXX/MiXXX/2.3.2/MiXXX.MiXXX.locale.en-US.yaml
  manifests/m/MiXXX/MiXXX/2.3.2/MiXXX.MiXXX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195449 Fix: Qalculate.Qalculate version 5.2.0
  manifests/q/Qalculate/Qalculate/5.2.0/Qalculate.Qalculate.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195453 New version: NomanDhoni.BlinkEye version 2.3.0
  manifests/n/NomanDhoni/BlinkEye/2.3.0/NomanDhoni.BlinkEye.installer.yaml
  manifests/n/NomanDhoni/BlinkEye/2.3.0/NomanDhoni.BlinkEye.locale.en-US.yaml
  manifests/n/NomanDhoni/BlinkEye/2.3.0/NomanDhoni.BlinkEye.locale.zh-CN.yaml
  manifests/n/NomanDhoni/BlinkEye/2.3.0/NomanDhoni.BlinkEye.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195500 Remove: SoftwareOK.Q-Dir version 11.44
  manifests/s/SoftwareOK/Q-Dir/11.44/SoftwareOK.Q-Dir.installer.yaml
  manifests/s/SoftwareOK/Q-Dir/11.44/SoftwareOK.Q-Dir.locale.en-US.yaml
  manifests/s/SoftwareOK/Q-Dir/11.44/SoftwareOK.Q-Dir.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195426 New version: Blushyes.Sofast version 0.3.0
  manifests/b/Blushyes/Sofast/0.3.0/Blushyes.Sofast.installer.yaml
  manifests/b/Blushyes/Sofast/0.3.0/Blushyes.Sofast.locale.en-US.yaml
  manifests/b/Blushyes/Sofast/0.3.0/Blushyes.Sofast.locale.zh-CN.yaml
  manifests/b/Blushyes/Sofast/0.3.0/Blushyes.Sofast.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195416 New version: Google.Chrome.Canary version 133.0.6869.0
  manifests/g/Google/Chrome/Canary/133.0.6869.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/133.0.6869.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/133.0.6869.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/133.0.6869.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/133.0.6869.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195459 Remove MiXXX.MiXXX 2.2.4.6798 to Mixxx.Mixxx 2.2.4.6798
  manifests/m/MiXXX/MiXXX/2.2.4.6798/MiXXX.MiXXX.installer.yaml
  manifests/m/MiXXX/MiXXX/2.2.4.6798/MiXXX.MiXXX.locale.en-US.yaml
  manifests/m/MiXXX/MiXXX/2.2.4.6798/MiXXX.MiXXX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195504 New version: OpenMPT.OpenMPT version 1.31.13.00
  manifests/o/OpenMPT/OpenMPT/1.31.13.00/OpenMPT.OpenMPT.installer.yaml
  manifests/o/OpenMPT/OpenMPT/1.31.13.00/OpenMPT.OpenMPT.locale.en-US.yaml
  manifests/o/OpenMPT/OpenMPT/1.31.13.00/OpenMPT.OpenMPT.locale.zh-CN.yaml
  manifests/o/OpenMPT/OpenMPT/1.31.13.00/OpenMPT.OpenMPT.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195418 New version: StefanFreischlad.Filius version 2.7.1
  manifests/s/StefanFreischlad/Filius/2.7.1/StefanFreischlad.Filius.installer.yaml
  manifests/s/StefanFreischlad/Filius/2.7.1/StefanFreischlad.Filius.locale.de-DE.yaml
  manifests/s/StefanFreischlad/Filius/2.7.1/StefanFreischlad.Filius.locale.zh-CN.yaml
  manifests/s/StefanFreischlad/Filius/2.7.1/StefanFreischlad.Filius.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195472 Move MiXXX.MiXXX 2.4.0 to Mixxx.Mixxx 2.4.0
  manifests/m/Mixxx/Mixxx/2.4.0/Mixxx.Mixxx.installer.yaml
  manifests/m/Mixxx/Mixxx/2.4.0/Mixxx.Mixxx.locale.en-US.yaml
  manifests/m/Mixxx/Mixxx/2.4.0/Mixxx.Mixxx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#195458 Move MiXXX.MiXXX 2.2.4.6798 to Mixxx.Mixxx 2.2.4.6798
  manifests/m/Mixxx/Mixxx/2.2.4.6798/Mixxx.Mixxx.installer.yaml
  manifests/m/Mixxx/Mixxx/2.2.4.6798/Mixxx.Mixxx.locale.en-US.yaml
  manifests/m/Mixxx/Mixxx/2.2.4.6798/Mixxx.Mixxx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Manifest-Version-Deprecated, New-Package

#195466 Move MiXXX.MiXXX 2.3.3 to Mixxx.Mixxx 2.3.3
  manifests/m/Mixxx/Mixxx/2.3.3/Mixxx.Mixxx.installer.yaml
  manifests/m/Mixxx/Mixxx/2.3.3/Mixxx.Mixxx.locale.en-US.yaml
  manifests/m/Mixxx/Mixxx/2.3.3/Mixxx.Mixxx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Manifest-Version-Deprecated, New-Package

#195464 Move MiXXX.MiXXX 2.3.2 to Mixxx.Mixxx 2.3.2
  manifests/m/Mixxx/Mixxx/2.3.2/Mixxx.Mixxx.installer.yaml
  manifests/m/Mixxx/Mixxx/2.3.2/Mixxx.Mixxx.locale.en-US.yaml
  manifests/m/Mixxx/Mixxx/2.3.2/Mixxx.Mixxx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Manifest-Version-Deprecated, New-Package

#195468 Move MiXXX.MiXXX 2.3.5 to Mixxx.Mixxx 2.3.5
  manifests/m/Mixxx/Mixxx/2.3.5/Mixxx.Mixxx.installer.yaml
  manifests/m/Mixxx/Mixxx/2.3.5/Mixxx.Mixxx.locale.en-US.yaml
  manifests/m/Mixxx/Mixxx/2.3.5/Mixxx.Mixxx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Needs-Author-Feedback, Manifest-Version-Deprecated, New-Package

#195462 Move MiXXX.MiXXX 2.3.1 to Mixxx.Mixxx 2.3.1
  manifests/m/Mixxx/Mixxx/2.3.1/Mixxx.Mixxx.installer.yaml
  manifests/m/Mixxx/Mixxx/2.3.1/Mixxx.Mixxx.locale.en-US.yaml
  manifests/m/Mixxx/Mixxx/2.3.1/Mixxx.Mixxx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Needs-Author-Feedback, Manifest-Version-Deprecated, New-Package

#195485 New version: Mixxx.Mixxx version 2.4.2
  manifests/m/Mixxx/Mixxx/2.4.2/Mixxx.Mixxx.installer.yaml
  manifests/m/Mixxx/Mixxx/2.4.2/Mixxx.Mixxx.locale.en-US.yaml
  manifests/m/Mixxx/Mixxx/2.4.2/Mixxx.Mixxx.locale.zh-CN.yaml
  manifests/m/Mixxx/Mixxx/2.4.2/Mixxx.Mixxx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#195474 Move MiXXX.MiXXX 2.4.1 to Mixxx.Mixxx 2.4.1
  manifests/m/Mixxx/Mixxx/2.4.1/Mixxx.Mixxx.installer.yaml
  manifests/m/Mixxx/Mixxx/2.4.1/Mixxx.Mixxx.locale.en-US.yaml
  manifests/m/Mixxx/Mixxx/2.4.1/Mixxx.Mixxx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#195515 JanDeDobbeleer.OhMyPosh version 24.11.4
  manifests/j/JanDeDobbeleer/OhMyPosh/24.11.4/JanDeDobbeleer.OhMyPosh.installer.yaml
  manifests/j/JanDeDobbeleer/OhMyPosh/24.11.4/JanDeDobbeleer.OhMyPosh.locale.en-US.yaml
  manifests/j/JanDeDobbeleer/OhMyPosh/24.11.4/JanDeDobbeleer.OhMyPosh.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195608 New version: Jackett.Jackett version 0.22.1027
  manifests/j/Jackett/Jackett/0.22.1027/Jackett.Jackett.installer.yaml
  manifests/j/Jackett/Jackett/0.22.1027/Jackett.Jackett.locale.en-US.yaml
  manifests/j/Jackett/Jackett/0.22.1027/Jackett.Jackett.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195620 Microsoft.VisualStudioCode.Insiders_v1.96.0 desktop
  manifests/m/Microsoft/VisualStudioCode/Insiders/1.96.0/Microsoft.VisualStudioCode.Insiders.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195629 Microsoft.VisualStudioCode.Insiders_v1.96.0 desktop
  manifests/m/Microsoft/VisualStudioCode/Insiders/1.96.0/Microsoft.VisualStudioCode.Insiders.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195075 New version: Tencent.UGit version 5.26.0
  manifests/t/Tencent/UGit/5.26.0/Tencent.UGit.installer.yaml
  manifests/t/Tencent/UGit/5.26.0/Tencent.UGit.locale.en-US.yaml
  manifests/t/Tencent/UGit/5.26.0/Tencent.UGit.locale.zh-CN.yaml
  manifests/t/Tencent/UGit/5.26.0/Tencent.UGit.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#192904 Remove version: Prog.ProgDVB.Professional version 7.62.6
  manifests/p/Prog/ProgDVB/Professional/7.62.6/Prog.ProgDVB.Professional.installer.yaml
  manifests/p/Prog/ProgDVB/Professional/7.62.6/Prog.ProgDVB.Professional.locale.en-US.yaml
  manifests/p/Prog/ProgDVB/Professional/7.62.6/Prog.ProgDVB.Professional.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, Moderator-Approved, Needs-Author-Feedback, Validation-Dependency-Removal, Highest-Version-Removal

#192863 Remove version: GamaPlatform.Gama version 2024.10.0
  manifests/g/GamaPlatform/Gama/2024.10.0/GamaPlatform.Gama.installer.yaml
  manifests/g/GamaPlatform/Gama/2024.10.0/GamaPlatform.Gama.locale.en-US.yaml
  manifests/g/GamaPlatform/Gama/2024.10.0/GamaPlatform.Gama.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Needs-Attention, Highest-Version-Removal

#193574 New version: Seafile.Seafile version 9.0.11
  manifests/s/Seafile/Seafile/9.0.11/Seafile.Seafile.installer.yaml
  manifests/s/Seafile/Seafile/9.0.11/Seafile.Seafile.locale.en-US.yaml
  manifests/s/Seafile/Seafile/9.0.11/Seafile.Seafile.locale.zh-CN.yaml
  manifests/s/Seafile/Seafile/9.0.11/Seafile.Seafile.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195584 New version: 2dust.v2rayN version 7.1.3
  manifests/2/2dust/v2rayN/7.1.3/2dust.v2rayN.installer.yaml
  manifests/2/2dust/v2rayN/7.1.3/2dust.v2rayN.locale.zh-CN.yaml
  manifests/2/2dust/v2rayN/7.1.3/2dust.v2rayN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195581 New package: SoftwareOK.DesktopOK version 11.47
  manifests/s/SoftwareOK/DesktopOK/11.47/SoftwareOK.DesktopOK.installer.yaml
  manifests/s/SoftwareOK/DesktopOK/11.47/SoftwareOK.DesktopOK.locale.en-US.yaml
  manifests/s/SoftwareOK/DesktopOK/11.47/SoftwareOK.DesktopOK.locale.zh-CN.yaml
  manifests/s/SoftwareOK/DesktopOK/11.47/SoftwareOK.DesktopOK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#195657 New version: GeoGebra.GraphingCalculator version 6.0.869
  manifests/g/GeoGebra/GraphingCalculator/6.0.869/GeoGebra.GraphingCalculator.installer.yaml
  manifests/g/GeoGebra/GraphingCalculator/6.0.869/GeoGebra.GraphingCalculator.locale.en-US.yaml
  manifests/g/GeoGebra/GraphingCalculator/6.0.869/GeoGebra.GraphingCalculator.locale.zh-CN.yaml
  manifests/g/GeoGebra/GraphingCalculator/6.0.869/GeoGebra.GraphingCalculator.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195654 New version: GeoGebra.CalculatorSuite version 6.0.869
  manifests/g/GeoGebra/CalculatorSuite/6.0.869/GeoGebra.CalculatorSuite.installer.yaml
  manifests/g/GeoGebra/CalculatorSuite/6.0.869/GeoGebra.CalculatorSuite.locale.en-US.yaml
  manifests/g/GeoGebra/CalculatorSuite/6.0.869/GeoGebra.CalculatorSuite.locale.zh-CN.yaml
  manifests/g/GeoGebra/CalculatorSuite/6.0.869/GeoGebra.CalculatorSuite.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195632 New version: PostgreSQL.PostgreSQL.16 version 16.6-2
  manifests/p/PostgreSQL/PostgreSQL/16/16.6-2/PostgreSQL.PostgreSQL.16.installer.yaml
  manifests/p/PostgreSQL/PostgreSQL/16/16.6-2/PostgreSQL.PostgreSQL.16.locale.en-US.yaml
  manifests/p/PostgreSQL/PostgreSQL/16/16.6-2/PostgreSQL.PostgreSQL.16.locale.zh-CN.yaml
  manifests/p/PostgreSQL/PostgreSQL/16/16.6-2/PostgreSQL.PostgreSQL.16.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195656 New version: GeoGebra.Classic version 6.0.869
  manifests/g/GeoGebra/Classic/6.0.869/GeoGebra.Classic.installer.yaml
  manifests/g/GeoGebra/Classic/6.0.869/GeoGebra.Classic.locale.en-US.yaml
  manifests/g/GeoGebra/Classic/6.0.869/GeoGebra.Classic.locale.zh-CN.yaml
  manifests/g/GeoGebra/Classic/6.0.869/GeoGebra.Classic.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195614 New version: WonderIdea.FlipPDFPlus version 6.30.15
  manifests/w/WonderIdea/FlipPDFPlus/6.30.15/WonderIdea.FlipPDFPlus.installer.yaml
  manifests/w/WonderIdea/FlipPDFPlus/6.30.15/WonderIdea.FlipPDFPlus.locale.en-US.yaml
  manifests/w/WonderIdea/FlipPDFPlus/6.30.15/WonderIdea.FlipPDFPlus.locale.zh-CN.yaml
  manifests/w/WonderIdea/FlipPDFPlus/6.30.15/WonderIdea.FlipPDFPlus.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195580 New version: Ollama.Ollama version 0.4.7
  manifests/o/Ollama/Ollama/0.4.7/Ollama.Ollama.installer.yaml
  manifests/o/Ollama/Ollama/0.4.7/Ollama.Ollama.locale.en-US.yaml
  manifests/o/Ollama/Ollama/0.4.7/Ollama.Ollama.locale.zh-CN.yaml
  manifests/o/Ollama/Ollama/0.4.7/Ollama.Ollama.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195609 New version: iQIYI.iQIYI version 12.11.0.8812
  manifests/i/iQIYI/iQIYI/12.11.0.8812/iQIYI.iQIYI.installer.yaml
  manifests/i/iQIYI/iQIYI/12.11.0.8812/iQIYI.iQIYI.locale.en-US.yaml
  manifests/i/iQIYI/iQIYI/12.11.0.8812/iQIYI.iQIYI.locale.zh-CN.yaml
  manifests/i/iQIYI/iQIYI/12.11.0.8812/iQIYI.iQIYI.locale.zh-HK.yaml
  manifests/i/iQIYI/iQIYI/12.11.0.8812/iQIYI.iQIYI.locale.zh-TW.yaml
  manifests/i/iQIYI/iQIYI/12.11.0.8812/iQIYI.iQIYI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195630 New version: LukiLabs.Craft version 3.0.2
  manifests/l/LukiLabs/Craft/3.0.2/LukiLabs.Craft.installer.yaml
  manifests/l/LukiLabs/Craft/3.0.2/LukiLabs.Craft.locale.en-US.yaml
  manifests/l/LukiLabs/Craft/3.0.2/LukiLabs.Craft.locale.zh-CN.yaml
  manifests/l/LukiLabs/Craft/3.0.2/LukiLabs.Craft.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195652 New version: Tencent.TencentMeetingRooms version 3.30.310.555
  manifests/t/Tencent/TencentMeetingRooms/3.30.310.555/Tencent.TencentMeetingRooms.installer.yaml
  manifests/t/Tencent/TencentMeetingRooms/3.30.310.555/Tencent.TencentMeetingRooms.locale.en-US.yaml
  manifests/t/Tencent/TencentMeetingRooms/3.30.310.555/Tencent.TencentMeetingRooms.locale.zh-CN.yaml
  manifests/t/Tencent/TencentMeetingRooms/3.30.310.555/Tencent.TencentMeetingRooms.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195535 New version: vim.vim.nightly version 9.1.0899
  manifests/v/vim/vim/nightly/9.1.0899/vim.vim.nightly.installer.yaml
  manifests/v/vim/vim/nightly/9.1.0899/vim.vim.nightly.locale.en-US.yaml
  manifests/v/vim/vim/nightly/9.1.0899/vim.vim.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195613 New version: NetEase.YoudaoNote version 8.0.80
  manifests/n/NetEase/YoudaoNote/8.0.80/NetEase.YoudaoNote.installer.yaml
  manifests/n/NetEase/YoudaoNote/8.0.80/NetEase.YoudaoNote.locale.en-US.yaml
  manifests/n/NetEase/YoudaoNote/8.0.80/NetEase.YoudaoNote.locale.zh-CN.yaml
  manifests/n/NetEase/YoudaoNote/8.0.80/NetEase.YoudaoNote.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195649 New version: Enter-tainer.typstyle version 0.12.6
  manifests/e/Enter-tainer/typstyle/0.12.6/Enter-tainer.typstyle.installer.yaml
  manifests/e/Enter-tainer/typstyle/0.12.6/Enter-tainer.typstyle.locale.en-US.yaml
  manifests/e/Enter-tainer/typstyle/0.12.6/Enter-tainer.typstyle.locale.zh-CN.yaml
  manifests/e/Enter-tainer/typstyle/0.12.6/Enter-tainer.typstyle.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195653 New version: Anthropic.Claude version 0.7.5
  manifests/a/Anthropic/Claude/0.7.5/Anthropic.Claude.installer.yaml
  manifests/a/Anthropic/Claude/0.7.5/Anthropic.Claude.locale.en-US.yaml
  manifests/a/Anthropic/Claude/0.7.5/Anthropic.Claude.locale.zh-CN.yaml
  manifests/a/Anthropic/Claude/0.7.5/Anthropic.Claude.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195536 New version: Google.Chrome.Canary version 133.0.6871.0
  manifests/g/Google/Chrome/Canary/133.0.6871.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/133.0.6871.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/133.0.6871.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/133.0.6871.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/133.0.6871.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195651 New version: Opera.Opera.Dev version 117.0.5369.0
  manifests/o/Opera/Opera/Dev/117.0.5369.0/Opera.Opera.Dev.installer.yaml
  manifests/o/Opera/Opera/Dev/117.0.5369.0/Opera.Opera.Dev.locale.en-US.yaml
  manifests/o/Opera/Opera/Dev/117.0.5369.0/Opera.Opera.Dev.locale.zh-CN.yaml
  manifests/o/Opera/Opera/Dev/117.0.5369.0/Opera.Opera.Dev.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195590 New version: Yandex.Music version 5.30.3
  manifests/y/Yandex/Music/5.30.3/Yandex.Music.installer.yaml
  manifests/y/Yandex/Music/5.30.3/Yandex.Music.locale.en-US.yaml
  manifests/y/Yandex/Music/5.30.3/Yandex.Music.locale.zh-CN.yaml
  manifests/y/Yandex/Music/5.30.3/Yandex.Music.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195579 New version: Coldlake.StellarPlayer version 2.24.2127.20 (20241127105240)
  manifests/c/Coldlake/StellarPlayer/2.24.2127.20/Coldlake.StellarPlayer.installer.yaml
  manifests/c/Coldlake/StellarPlayer/2.24.2127.20/Coldlake.StellarPlayer.locale.en-US.yaml
  manifests/c/Coldlake/StellarPlayer/2.24.2127.20/Coldlake.StellarPlayer.locale.zh-CN.yaml
  manifests/c/Coldlake/StellarPlayer/2.24.2127.20/Coldlake.StellarPlayer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195628 New version: IPVanish.IPVanish version 4.3.4.552
  manifests/i/IPVanish/IPVanish/4.3.4.552/IPVanish.IPVanish.installer.yaml
  manifests/i/IPVanish/IPVanish/4.3.4.552/IPVanish.IPVanish.locale.en-US.yaml
  manifests/i/IPVanish/IPVanish/4.3.4.552/IPVanish.IPVanish.locale.zh-CN.yaml
  manifests/i/IPVanish/IPVanish/4.3.4.552/IPVanish.IPVanish.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195627 New version: Google.Chrome.Canary version 133.0.6872.0
  manifests/g/Google/Chrome/Canary/133.0.6872.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/133.0.6872.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/133.0.6872.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/133.0.6872.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/133.0.6872.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195634 New version: reMarkable.reMarkableCompanionApp version 3.16.0.898
  manifests/r/reMarkable/reMarkableCompanionApp/3.16.0.898/reMarkable.reMarkableCompanionApp.installer.yaml
  manifests/r/reMarkable/reMarkableCompanionApp/3.16.0.898/reMarkable.reMarkableCompanionApp.locale.en-US.yaml
  manifests/r/reMarkable/reMarkableCompanionApp/3.16.0.898/reMarkable.reMarkableCompanionApp.locale.zh-CN.yaml
  manifests/r/reMarkable/reMarkableCompanionApp/3.16.0.898/reMarkable.reMarkableCompanionApp.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195618 New version: DoltHub.Dolt version 1.43.19
  manifests/d/DoltHub/Dolt/1.43.19/DoltHub.Dolt.installer.yaml
  manifests/d/DoltHub/Dolt/1.43.19/DoltHub.Dolt.locale.en-US.yaml
  manifests/d/DoltHub/Dolt/1.43.19/DoltHub.Dolt.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195615 New version: WonderIdea.FlipPDFPlus.Pro version 6.3.17
  manifests/w/WonderIdea/FlipPDFPlus/Pro/6.3.17/WonderIdea.FlipPDFPlus.Pro.installer.yaml
  manifests/w/WonderIdea/FlipPDFPlus/Pro/6.3.17/WonderIdea.FlipPDFPlus.Pro.locale.en-US.yaml
  manifests/w/WonderIdea/FlipPDFPlus/Pro/6.3.17/WonderIdea.FlipPDFPlus.Pro.locale.zh-CN.yaml
  manifests/w/WonderIdea/FlipPDFPlus/Pro/6.3.17/WonderIdea.FlipPDFPlus.Pro.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195585 New package: SoftwareOK.DirPrintOK version 7.17
  manifests/s/SoftwareOK/DirPrintOK/7.17/SoftwareOK.DirPrintOK.installer.yaml
  manifests/s/SoftwareOK/DirPrintOK/7.17/SoftwareOK.DirPrintOK.locale.en-US.yaml
  manifests/s/SoftwareOK/DirPrintOK/7.17/SoftwareOK.DirPrintOK.locale.zh-CN.yaml
  manifests/s/SoftwareOK/DirPrintOK/7.17/SoftwareOK.DirPrintOK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#195482 Remove version: MusicBee.MusicBee version 3.5.8698
  manifests/m/MusicBee/MusicBee/3.5.8698/MusicBee.MusicBee.installer.yaml
  manifests/m/MusicBee/MusicBee/3.5.8698/MusicBee.MusicBee.locale.en-US.yaml
  manifests/m/MusicBee/MusicBee/3.5.8698/MusicBee.MusicBee.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, Moderator-Approved

#195612 Remove version: OK1DIX.VUSC4WIN version 7.07
  manifests/o/OK1DIX/VUSC4WIN/7.07/OK1DIX.VUSC4WIN.installer.yaml
  manifests/o/OK1DIX/VUSC4WIN/7.07/OK1DIX.VUSC4WIN.locale.en-US.yaml
  manifests/o/OK1DIX/VUSC4WIN/7.07/OK1DIX.VUSC4WIN.locale.zh-CN.yaml
  manifests/o/OK1DIX/VUSC4WIN/7.07/OK1DIX.VUSC4WIN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195452 Remove version: Microsoft.VisualStudioCode.Insiders version 1.75.0
  manifests/m/Microsoft/VisualStudioCode/Insiders/1.75.0/Microsoft.VisualStudioCode.Insiders.installer.yaml
  manifests/m/Microsoft/VisualStudioCode/Insiders/1.75.0/Microsoft.VisualStudioCode.Insiders.locale.en-US.yaml
  manifests/m/Microsoft/VisualStudioCode/Insiders/1.75.0/Microsoft.VisualStudioCode.Insiders.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#194255 New version: Spicetify.Spicetify version 2.38.5
  manifests/s/Spicetify/Spicetify/2.38.5/Spicetify.Spicetify.installer.yaml
  manifests/s/Spicetify/Spicetify/2.38.5/Spicetify.Spicetify.locale.en-US.yaml
  manifests/s/Spicetify/Spicetify/2.38.5/Spicetify.Spicetify.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#193136 New version: BRL-CAD.brlcad version 7.40.2
  manifests/b/BRL-CAD/brlcad/7.40.2/BRL-CAD.brlcad.installer.yaml
  manifests/b/BRL-CAD/brlcad/7.40.2/BRL-CAD.brlcad.locale.en-US.yaml
  manifests/b/BRL-CAD/brlcad/7.40.2/BRL-CAD.brlcad.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#195582 Remove version: Oracle.MySQLWorkbench version 8.0.34
  manifests/o/Oracle/MySQLWorkbench/8.0.34/Oracle.MySQLWorkbench.installer.yaml
  manifests/o/Oracle/MySQLWorkbench/8.0.34/Oracle.MySQLWorkbench.locale.en-US.yaml
  manifests/o/Oracle/MySQLWorkbench/8.0.34/Oracle.MySQLWorkbench.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195434 Modify: DOSBox.DOSBox version 0.74-3
  manifests/d/DOSBox/DOSBox/0.74-3/DOSBox.DOSBox.installer.yaml
  manifests/d/DOSBox/DOSBox/0.74-3/DOSBox.DOSBox.locale.en-US.yaml
  manifests/d/DOSBox/DOSBox/0.74-3/DOSBox.DOSBox.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195384 GoyalSoftech.Website2APKBuilderPro version 5.4
  manifests/g/GoyalSoftech/Website2APKBuilderPro/5.4/GoyalSoftech.Website2APKBuilderPro.installer.yaml
  manifests/g/GoyalSoftech/Website2APKBuilderPro/5.4/GoyalSoftech.Website2APKBuilderPro.locale.en-US.yaml
  manifests/g/GoyalSoftech/Website2APKBuilderPro/5.4/GoyalSoftech.Website2APKBuilderPro.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195414 the-sz.Medford version 1.28
  manifests/t/the-sz/Medford/1.28/the-sz.Medford.installer.yaml
  manifests/t/the-sz/Medford/1.28/the-sz.Medford.locale.en-US.yaml
  manifests/t/the-sz/Medford/1.28/the-sz.Medford.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195395 New version: alexx2000.DoubleCommander version 1.1.21
  manifests/a/alexx2000/DoubleCommander/1.1.21/alexx2000.DoubleCommander.installer.yaml
  manifests/a/alexx2000/DoubleCommander/1.1.21/alexx2000.DoubleCommander.locale.en-US.yaml
  manifests/a/alexx2000/DoubleCommander/1.1.21/alexx2000.DoubleCommander.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195356 Wakatime.DesktopWakatime version 1.0.4
  manifests/w/Wakatime/DesktopWakatime/1.0.4/Wakatime.DesktopWakatime.installer.yaml
  manifests/w/Wakatime/DesktopWakatime/1.0.4/Wakatime.DesktopWakatime.locale.en-US.yaml
  manifests/w/Wakatime/DesktopWakatime/1.0.4/Wakatime.DesktopWakatime.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195359 New version: Balena.BalenaCLI version 20.0.7
  manifests/b/Balena/BalenaCLI/20.0.7/Balena.BalenaCLI.installer.yaml
  manifests/b/Balena/BalenaCLI/20.0.7/Balena.BalenaCLI.locale.en-US.yaml
  manifests/b/Balena/BalenaCLI/20.0.7/Balena.BalenaCLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195358 Update version: BandicamCompany.Bandicut version 3.8.5.2442
  manifests/b/BandicamCompany/Bandicut/3.8.5.2442/BandicamCompany.Bandicut.installer.yaml
  manifests/b/BandicamCompany/Bandicut/3.8.5.2442/BandicamCompany.Bandicut.locale.en-US.yaml
  manifests/b/BandicamCompany/Bandicut/3.8.5.2442/BandicamCompany.Bandicut.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195357 Wakatime.DesktopWakatime version 1.0.5
  manifests/w/Wakatime/DesktopWakatime/1.0.5/Wakatime.DesktopWakatime.installer.yaml
  manifests/w/Wakatime/DesktopWakatime/1.0.5/Wakatime.DesktopWakatime.locale.en-US.yaml
  manifests/w/Wakatime/DesktopWakatime/1.0.5/Wakatime.DesktopWakatime.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195382 TGRMNSoftware.BulkRenameUtility version 4.0.0.3
  manifests/t/TGRMNSoftware/BulkRenameUtility/4.0.0.3/TGRMNSoftware.BulkRenameUtility.installer.yaml
  manifests/t/TGRMNSoftware/BulkRenameUtility/4.0.0.3/TGRMNSoftware.BulkRenameUtility.locale.en-US.yaml
  manifests/t/TGRMNSoftware/BulkRenameUtility/4.0.0.3/TGRMNSoftware.BulkRenameUtility.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195386 Modify: YutakaSawada.MultiPar.Beta version 1.3.3.3
  manifests/y/YutakaSawada/MultiPar/Beta/1.3.3.3/YutakaSawada.MultiPar.Beta.installer.yaml
  manifests/y/YutakaSawada/MultiPar/Beta/1.3.3.3/YutakaSawada.MultiPar.Beta.locale.en-US.yaml
  manifests/y/YutakaSawada/MultiPar/Beta/1.3.3.3/YutakaSawada.MultiPar.Beta.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#194588 New Version: Taiizor.SucroseWallpaperEngine Version 24.11.26.0
  manifests/t/Taiizor/SucroseWallpaperEngine/24.11.26.0/Taiizor.SucroseWallpaperEngine.installer.yaml
  manifests/t/Taiizor/SucroseWallpaperEngine/24.11.26.0/Taiizor.SucroseWallpaperEngine.locale.en-GB.yaml
  manifests/t/Taiizor/SucroseWallpaperEngine/24.11.26.0/Taiizor.SucroseWallpaperEngine.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Manifest

#194861 New version: OPAutoClicker.OPAutoClicker version 3.0
  manifests/o/OPAutoClicker/OPAutoClicker/3.0/OPAutoClicker.OPAutoClicker.installer.yaml
  manifests/o/OPAutoClicker/OPAutoClicker/3.0/OPAutoClicker.OPAutoClicker.locale.en-US.yaml
  manifests/o/OPAutoClicker/OPAutoClicker/3.0/OPAutoClicker.OPAutoClicker.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#194872 New version: Seelen.SeelenUI version 2.0.7.0
  manifests/s/Seelen/SeelenUI/2.0.7.0/Seelen.SeelenUI.installer.yaml
  manifests/s/Seelen/SeelenUI/2.0.7.0/Seelen.SeelenUI.locale.en-US.yaml
  manifests/s/Seelen/SeelenUI/2.0.7.0/Seelen.SeelenUI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#194873 Modify: GitHub.cli version 2.63.0
  manifests/g/GitHub/cli/2.63.0/GitHub.cli.installer.yaml
  manifests/g/GitHub/cli/2.63.0/GitHub.cli.locale.en-US.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed

#194570 New version: Unity.Unity.CN.2022 version 2022.3.49f1c1
  manifests/u/Unity/Unity/CN/2022/2022.3.49f1c1/Unity.Unity.CN.2022.installer.yaml
  manifests/u/Unity/Unity/CN/2022/2022.3.49f1c1/Unity.Unity.CN.2022.locale.en-US.yaml
  manifests/u/Unity/Unity/CN/2022/2022.3.49f1c1/Unity.Unity.CN.2022.locale.zh-CN.yaml
  manifests/u/Unity/Unity/CN/2022/2022.3.49f1c1/Unity.Unity.CN.2022.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#194958 New version: Unibo.Alchemist version 36.0.2
  manifests/u/Unibo/Alchemist/36.0.2/Unibo.Alchemist.installer.yaml
  manifests/u/Unibo/Alchemist/36.0.2/Unibo.Alchemist.locale.en-US.yaml
  manifests/u/Unibo/Alchemist/36.0.2/Unibo.Alchemist.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195223 New version: Eccam.ReqView version 2.20.1
  manifests/e/Eccam/ReqView/2.20.1/Eccam.ReqView.installer.yaml
  manifests/e/Eccam/ReqView/2.20.1/Eccam.ReqView.locale.en-US.yaml
  manifests/e/Eccam/ReqView/2.20.1/Eccam.ReqView.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195268 New version: Dataflare.Dataflare version 1.9.2
  manifests/d/Dataflare/Dataflare/1.9.2/Dataflare.Dataflare.installer.yaml
  manifests/d/Dataflare/Dataflare/1.9.2/Dataflare.Dataflare.locale.en-US.yaml
  manifests/d/Dataflare/Dataflare/1.9.2/Dataflare.Dataflare.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, New-Manifest

#195337 New version: Unibo.Alchemist version 36.0.3
  manifests/u/Unibo/Alchemist/36.0.3/Unibo.Alchemist.installer.yaml
  manifests/u/Unibo/Alchemist/36.0.3/Unibo.Alchemist.locale.en-US.yaml
  manifests/u/Unibo/Alchemist/36.0.3/Unibo.Alchemist.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195347 DEVCOM.JetBrainsMonoNerdFont version 3.3.0
  manifests/d/DEVCOM/JetBrainsMonoNerdFont/3.3.0/DEVCOM.JetBrainsMonoNerdFont.installer.yaml
  manifests/d/DEVCOM/JetBrainsMonoNerdFont/3.3.0/DEVCOM.JetBrainsMonoNerdFont.locale.en-US.yaml
  manifests/d/DEVCOM/JetBrainsMonoNerdFont/3.3.0/DEVCOM.JetBrainsMonoNerdFont.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195379 New version: jamaljsr.Polar version 3.1.0
  manifests/j/jamaljsr/Polar/3.1.0/jamaljsr.Polar.installer.yaml
  manifests/j/jamaljsr/Polar/3.1.0/jamaljsr.Polar.locale.en-US.yaml
  manifests/j/jamaljsr/Polar/3.1.0/jamaljsr.Polar.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195383 New version: Fort.Firewall version 3.15.2
  manifests/f/Fort/Firewall/3.15.2/Fort.Firewall.installer.yaml
  manifests/f/Fort/Firewall/3.15.2/Fort.Firewall.locale.en-US.yaml
  manifests/f/Fort/Firewall/3.15.2/Fort.Firewall.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195409 New version: WinDirStat.WinDirStat.Beta version 2.1.0.2024-11-30
  manifests/w/WinDirStat/WinDirStat/Beta/2.1.0.2024-11-30/WinDirStat.WinDirStat.Beta.installer.yaml
  manifests/w/WinDirStat/WinDirStat/Beta/2.1.0.2024-11-30/WinDirStat.WinDirStat.Beta.locale.en-US.yaml
  manifests/w/WinDirStat/WinDirStat/Beta/2.1.0.2024-11-30/WinDirStat.WinDirStat.Beta.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195425 New version: aquaproj.aqua 2.38.2
  manifests/a/aquaproj/aqua/2.38.2/aquaproj.aqua.installer.yaml
  manifests/a/aquaproj/aqua/2.38.2/aquaproj.aqua.locale.en-US.yaml
  manifests/a/aquaproj/aqua/2.38.2/aquaproj.aqua.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195427 New version: Qobuz.Qobuz version 7.2.0-b121
  manifests/q/Qobuz/Qobuz/7.2.0-b121/Qobuz.Qobuz.installer.yaml
  manifests/q/Qobuz/Qobuz/7.2.0-b121/Qobuz.Qobuz.locale.en-US.yaml
  manifests/q/Qobuz/Qobuz/7.2.0-b121/Qobuz.Qobuz.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195431 Adding ARM64 installer to SonicWall NetExtender
  manifests/s/SonicWALL/NetExtender/10.3.0/SonicWALL.NetExtender.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195486 New version: Gluon.SceneBuilder version 23.0.1
  manifests/g/Gluon/SceneBuilder/23.0.1/Gluon.SceneBuilder.installer.yaml
  manifests/g/Gluon/SceneBuilder/23.0.1/Gluon.SceneBuilder.locale.en-US.yaml
  manifests/g/Gluon/SceneBuilder/23.0.1/Gluon.SceneBuilder.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195501 New version: Bisq.Bisq version 1.9.18
  manifests/b/Bisq/Bisq/1.9.18/Bisq.Bisq.installer.yaml
  manifests/b/Bisq/Bisq/1.9.18/Bisq.Bisq.locale.en-US.yaml
  manifests/b/Bisq/Bisq/1.9.18/Bisq.Bisq.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195510 New version: AdaLang.Alire version 2.0.2
  manifests/a/AdaLang/Alire/2.0.2/AdaLang.Alire.installer.yaml
  manifests/a/AdaLang/Alire/2.0.2/AdaLang.Alire.locale.en-US.yaml
  manifests/a/AdaLang/Alire/2.0.2/AdaLang.Alire.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195513 Migrate version: HydrusNetwork.HydrusNetwork version v600.a
  manifests/h/HydrusNetwork/HydrusNetwork/v600.a/HydrusNetwork.HydrusNetwork.installer.yaml
  manifests/h/HydrusNetwork/HydrusNetwork/v600.a/HydrusNetwork.HydrusNetwork.locale.en-US.yaml
  manifests/h/HydrusNetwork/HydrusNetwork/v600.a/HydrusNetwork.HydrusNetwork.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195514 Remove version: HydrusNetwork.HydrusNetwork version v600a
  manifests/h/HydrusNetwork/HydrusNetwork/v600a/HydrusNetwork.HydrusNetwork.installer.yaml
  manifests/h/HydrusNetwork/HydrusNetwork/v600a/HydrusNetwork.HydrusNetwork.locale.en-US.yaml
  manifests/h/HydrusNetwork/HydrusNetwork/v600a/HydrusNetwork.HydrusNetwork.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed

#195516 New version: dbeaver.dbeaver version 24.3.0
  manifests/d/dbeaver/dbeaver/24.3.0/dbeaver.dbeaver.installer.yaml
  manifests/d/dbeaver/dbeaver/24.3.0/dbeaver.dbeaver.locale.en-US.yaml
  manifests/d/dbeaver/dbeaver/24.3.0/dbeaver.dbeaver.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#191187 Remove unnecessary DisplayVersion from Microsoft.WindowsSDK.10.0.20348 version 10.1.20348.1
  manifests/m/Microsoft/WindowsSDK/10/0/20348/10.1.20348.1/Microsoft.WindowsSDK.10.0.20348.installer.yaml
  manifests/m/Microsoft/WindowsSDK/10/0/20348/10.1.20348.1/Microsoft.WindowsSDK.10.0.20348.locale.en-US.yaml
  manifests/m/Microsoft/WindowsSDK/10/0/20348/10.1.20348.1/Microsoft.WindowsSDK.10.0.20348.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#195479 New package: HealthInfoNet.HINClient version 3.6.2
  manifests/h/HealthInfoNet/HINClient/3.6.2/HealthInfoNet.HINClient.installer.yaml
  manifests/h/HealthInfoNet/HINClient/3.6.2/HealthInfoNet.HINClient.locale.de-DE.yaml
  manifests/h/HealthInfoNet/HINClient/3.6.2/HealthInfoNet.HINClient.locale.fr-FR.yaml
  manifests/h/HealthInfoNet/HINClient/3.6.2/HealthInfoNet.HINClient.locale.it-IT.yaml
  manifests/h/HealthInfoNet/HINClient/3.6.2/HealthInfoNet.HINClient.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#195527 New version: RussellBanks.Komac version 2.7.0
  manifests/r/RussellBanks/Komac/2.7.0/RussellBanks.Komac.installer.yaml
  manifests/r/RussellBanks/Komac/2.7.0/RussellBanks.Komac.locale.en-US.yaml
  manifests/r/RussellBanks/Komac/2.7.0/RussellBanks.Komac.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195460 Move MiXXX.MiXXX 2.3.0 to Mixxx.Mixxx 2.3.0
  manifests/m/Mixxx/Mixxx/2.3.0/Mixxx.Mixxx.installer.yaml
  manifests/m/Mixxx/Mixxx/2.3.0/Mixxx.Mixxx.locale.en-US.yaml
  manifests/m/Mixxx/Mixxx/2.3.0/Mixxx.Mixxx.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Manifest-Version-Deprecated, New-Package, New-Manifest, Manifest-Metadata-Consistency

#195659 New version: Brave.Brave.Nightly version 131.1.75.66
  manifests/b/Brave/Brave/Nightly/131.1.75.66/Brave.Brave.Nightly.installer.yaml
  manifests/b/Brave/Brave/Nightly/131.1.75.66/Brave.Brave.Nightly.locale.en-US.yaml
  manifests/b/Brave/Brave/Nightly/131.1.75.66/Brave.Brave.Nightly.locale.zh-CN.yaml
  manifests/b/Brave/Brave/Nightly/131.1.75.66/Brave.Brave.Nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#194210 Remove unneccessary AppsandFeaturesEntries * manifests/d/DuckStudio/ChineseGit/2.6/DuckStudio.ChineseGit.installer.yaml
  manifests/d/DuckStudio/ChineseGit/2.6/DuckStudio.ChineseGit.installer.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#194208 Remove unneccessary AppsandFeaturesEntries * manifests/d/DuckStudio/ChineseGit/2.4/DuckStudio.ChineseGit.installer.yaml
  manifests/d/DuckStudio/ChineseGit/2.4/DuckStudio.ChineseGit.installer.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#194211 Remove unneccessary AppsandFeaturesEntries * manifests/d/DuckStudio/ChineseGit/2.7/DuckStudio.ChineseGit.installer.yaml
  manifests/d/DuckStudio/ChineseGit/2.7/DuckStudio.ChineseGit.installer.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#194212 Remove unneccessary AppsandFeaturesEntries * manifests/d/DuckStudio/ChineseGit/2.8/DuckStudio.ChineseGit.installer.yaml
  manifests/d/DuckStudio/ChineseGit/2.8/DuckStudio.ChineseGit.installer.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#194213 Remove unneccessary AppsandFeaturesEntries * manifests/d/DuckStudio/ChineseGit/2.9/DuckStudio.ChineseGit.installer.yaml
  manifests/d/DuckStudio/ChineseGit/2.9/DuckStudio.ChineseGit.installer.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#194964 New version: OSGeo.QGIS_LTR version 3.34.13 (3.34.13-1)
  manifests/o/OSGeo/QGIS_LTR/3.34.13/OSGeo.QGIS_LTR.installer.yaml
  manifests/o/OSGeo/QGIS_LTR/3.34.13/OSGeo.QGIS_LTR.locale.en-US.yaml
  manifests/o/OSGeo/QGIS_LTR/3.34.13/OSGeo.QGIS_LTR.locale.zh-CN.yaml
  manifests/o/OSGeo/QGIS_LTR/3.34.13/OSGeo.QGIS_LTR.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#195411 Update version: GitButler.GitButler version 0.14.1
  manifests/g/GitButler/GitButler/0.14.1/GitButler.GitButler.installer.yaml
  manifests/g/GitButler/GitButler/0.14.1/GitButler.GitButler.locale.en-US.yaml
  manifests/g/GitButler/GitButler/0.14.1/GitButler.GitButler.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#195509 New version: AndreWiethoff.ExactAudioCopy version 1.8
  manifests/a/AndreWiethoff/ExactAudioCopy/1.8/AndreWiethoff.ExactAudioCopy.installer.yaml
  manifests/a/AndreWiethoff/ExactAudioCopy/1.8/AndreWiethoff.ExactAudioCopy.locale.en-US.yaml
  manifests/a/AndreWiethoff/ExactAudioCopy/1.8/AndreWiethoff.ExactAudioCopy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195539 Aserto.Topaz.v0.32.38
  manifests/a/Aserto/Topaz/0.32.38/Aserto.Topaz.installer.yaml
  manifests/a/Aserto/Topaz/0.32.38/Aserto.Topaz.locale.en-US.yaml
  manifests/a/Aserto/Topaz/0.32.38/Aserto.Topaz.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#194919 New version: Wondershare.DemoCreator version 8.3.2
  manifests/w/Wondershare/DemoCreator/8.3.2/Wondershare.DemoCreator.installer.yaml
  manifests/w/Wondershare/DemoCreator/8.3.2/Wondershare.DemoCreator.locale.en-US.yaml
  manifests/w/Wondershare/DemoCreator/8.3.2/Wondershare.DemoCreator.locale.zh-CN.yaml
  manifests/w/Wondershare/DemoCreator/8.3.2/Wondershare.DemoCreator.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#195674 Update: Mozilla.Firefox.DeveloperEdition.bn version 134.0 (134.0b4)
  manifests/m/Mozilla/Firefox/DeveloperEdition/bn/134.0/Mozilla.Firefox.DeveloperEdition.bn.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195667 Update: Mozilla.Firefox.DeveloperEdition.af version 134.0 (134.0b4)
  manifests/m/Mozilla/Firefox/DeveloperEdition/af/134.0/Mozilla.Firefox.DeveloperEdition.af.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#195572 New version: NCSoft.Purple version 2.24.1202.9
  manifests/n/NCSoft/Purple/2.24.1202.9/NCSoft.Purple.installer.yaml
  manifests/n/NCSoft/Purple/2.24.1202.9/NCSoft.Purple.locale.en-US.yaml
  manifests/n/NCSoft/Purple/2.24.1202.9/NCSoft.Purple.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195574 New Version: sourcegit-scm.SourceGit version 8.41
  manifests/s/sourcegit-scm/SourceGit/8.41/sourcegit-scm.SourceGit.installer.yaml
  manifests/s/sourcegit-scm/SourceGit/8.41/sourcegit-scm.SourceGit.locale.en-US.yaml
  manifests/s/sourcegit-scm/SourceGit/8.41/sourcegit-scm.SourceGit.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#194963 New version: OSGeo.QGIS version 3.40.1 (3.40.1-1)
  manifests/o/OSGeo/QGIS/3.40.1/OSGeo.QGIS.installer.yaml
  manifests/o/OSGeo/QGIS/3.40.1/OSGeo.QGIS.locale.en-US.yaml
  manifests/o/OSGeo/QGIS/3.40.1/OSGeo.QGIS.locale.zh-CN.yaml
  manifests/o/OSGeo/QGIS/3.40.1/OSGeo.QGIS.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#195575 New version: maforget.ComicRackCE.Nightly version nightly-fda75fd
  manifests/m/maforget/ComicRackCE/Nightly/nightly-fda75fd/maforget.ComicRackCE.Nightly.installer.yaml
  manifests/m/maforget/ComicRackCE/Nightly/nightly-fda75fd/maforget.ComicRackCE.Nightly.locale.en-US.yaml
  manifests/m/maforget/ComicRackCE/Nightly/nightly-fda75fd/maforget.ComicRackCE.Nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest, Manifest-Metadata-Consistency

#195578 New version: SQLite.SQLite version 3.47.1
  manifests/s/SQLite/SQLite/3.47.1/SQLite.SQLite.installer.yaml
  manifests/s/SQLite/SQLite/3.47.1/SQLite.SQLite.locale.en-US.yaml
  manifests/s/SQLite/SQLite/3.47.1/SQLite.SQLite.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195587 New Version: Project64.Project64.Dev (version 4.0.0.6503)
  manifests/p/Project64/Project64/Dev/4.0.0.6503/Project64.Project64.Dev.installer.yaml
  manifests/p/Project64/Project64/Dev/4.0.0.6503/Project64.Project64.Dev.locale.en-US.yaml
  manifests/p/Project64/Project64/Dev/4.0.0.6503/Project64.Project64.Dev.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195626 Remove version: 7S2P.Effie.CN version 4.0.1
  manifests/7/7S2P/Effie/CN/4.0.1/7S2P.Effie.CN.installer.yaml
  manifests/7/7S2P/Effie/CN/4.0.1/7S2P.Effie.CN.locale.en-US.yaml
  manifests/7/7S2P/Effie/CN/4.0.1/7S2P.Effie.CN.locale.zh-CN.yaml
  manifests/7/7S2P/Effie/CN/4.0.1/7S2P.Effie.CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed

#195621 Update version: Glarysoft.GlaryUtilities version 6.19.0.23
  manifests/g/Glarysoft/GlaryUtilities/6.19.0.23/Glarysoft.GlaryUtilities.installer.yaml
  manifests/g/Glarysoft/GlaryUtilities/6.19.0.23/Glarysoft.GlaryUtilities.locale.en-US.yaml
  manifests/g/Glarysoft/GlaryUtilities/6.19.0.23/Glarysoft.GlaryUtilities.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195637 New version: NexusMods.Vortex version 1.13.1
  manifests/n/NexusMods/Vortex/1.13.1/NexusMods.Vortex.installer.yaml
  manifests/n/NexusMods/Vortex/1.13.1/NexusMods.Vortex.locale.en-US.yaml
  manifests/n/NexusMods/Vortex/1.13.1/NexusMods.Vortex.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195643 PuTTY CAC 0.82 Update 1
  manifests/n/NoMoreFood/PuTTY-CAC/0.82.0.1/NoMoreFood.PuTTY-CAC.installer.yaml
  manifests/n/NoMoreFood/PuTTY-CAC/0.82.0.1/NoMoreFood.PuTTY-CAC.locale.en-US.yaml
  manifests/n/NoMoreFood/PuTTY-CAC/0.82.0.1/NoMoreFood.PuTTY-CAC.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#195645 New version: JTL.Wawi version 1.9.6.5
  manifests/j/JTL/Wawi/1.9.6.5/JTL.Wawi.installer.yaml
  manifests/j/JTL/Wawi/1.9.6.5/JTL.Wawi.locale.de-DE.yaml
  manifests/j/JTL/Wawi/1.9.6.5/JTL.Wawi.locale.en-US.yaml
  manifests/j/JTL/Wawi/1.9.6.5/JTL.Wawi.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#195646 New version: ONLYOFFICE.DesktopEditors version 8.2.2
  manifests/o/ONLYOFFICE/DesktopEditors/8.2.2/ONLYOFFICE.DesktopEditors.installer.yaml
  manifests/o/ONLYOFFICE/DesktopEditors/8.2.2/ONLYOFFICE.DesktopEditors.locale.en-US.yaml
  manifests/o/ONLYOFFICE/DesktopEditors/8.2.2/ONLYOFFICE.DesktopEditors.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, New-Manifest
