Repository microsoft/winget-pkgs, pull requests merged in 2024-08, with the labels that each got.

#165495 New version: Microsoft.WingetCreate version 1.6.4.0
  manifests/m/Microsoft/WingetCreate/1.6.4.0/Microsoft.WingetCreate.installer.yaml
  manifests/m/Microsoft/WingetCreate/1.6.4.0/Microsoft.WingetCreate.locale.en-US.yaml
  manifests/m/Microsoft/WingetCreate/1.6.4.0/Microsoft.WingetCreate.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165585 New version: Jackett.Jackett version 0.22.398
  manifests/j/Jackett/Jackett/0.22.398/Jackett.Jackett.installer.yaml
  manifests/j/Jackett/Jackett/0.22.398/Jackett.Jackett.locale.en-US.yaml
  manifests/j/Jackett/Jackett/0.22.398/Jackett.Jackett.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165637 update status for dependencies
  doc/manifest/schema/1.6.0/installer.md
Labels: Moderator-Approved, Project-File, Needs-Attention

#165639 Update schema
  doc/manifest/schema/1.6.0/installer.md
Labels: Moderator-Approved, Project-File

#165491 Microsoft.VisualStudioCode.Insiders_v1.92.0 desktop
  manifests/m/Microsoft/VisualStudioCode/Insiders/1.92.0/Microsoft.VisualStudioCode.Insiders.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165492 Microsoft.VisualStudioCode.Insiders.CLI_v1.92.0 cli
  manifests/m/Microsoft/VisualStudioCode/Insiders/CLI/1.92.0/Microsoft.VisualStudioCode.Insiders.CLI.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165629 New version: WHONET.WHONET version 24.8.1
  manifests/w/WHONET/WHONET/24.8.1/WHONET.WHONET.installer.yaml
  manifests/w/WHONET/WHONET/24.8.1/WHONET.WHONET.locale.en-US.yaml
  manifests/w/WHONET/WHONET/24.8.1/WHONET.WHONET.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165631 New version: HiroSystems.Clarinet version 2.8.0
  manifests/h/HiroSystems/Clarinet/2.8.0/HiroSystems.Clarinet.installer.yaml
  manifests/h/HiroSystems/Clarinet/2.8.0/HiroSystems.Clarinet.locale.en-US.yaml
  manifests/h/HiroSystems/Clarinet/2.8.0/HiroSystems.Clarinet.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165632 New version: AnyAssociation.Anytype version 0.42.0
  manifests/a/AnyAssociation/Anytype/0.42.0/AnyAssociation.Anytype.installer.yaml
  manifests/a/AnyAssociation/Anytype/0.42.0/AnyAssociation.Anytype.locale.en-US.yaml
  manifests/a/AnyAssociation/Anytype/0.42.0/AnyAssociation.Anytype.locale.zh-CN.yaml
  manifests/a/AnyAssociation/Anytype/0.42.0/AnyAssociation.Anytype.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165633 New version: Anydo.Anydo version 5.0.76
  manifests/a/Anydo/Anydo/5.0.76/Anydo.Anydo.installer.yaml
  manifests/a/Anydo/Anydo/5.0.76/Anydo.Anydo.locale.en-US.yaml
  manifests/a/Anydo/Anydo/5.0.76/Anydo.Anydo.locale.zh-CN.yaml
  manifests/a/Anydo/Anydo/5.0.76/Anydo.Anydo.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165634 New version: Bilibili.Livehime version 5.18.1.7152
  manifests/b/Bilibili/Livehime/5.18.1.7152/Bilibili.Livehime.installer.yaml
  manifests/b/Bilibili/Livehime/5.18.1.7152/Bilibili.Livehime.locale.en-US.yaml
  manifests/b/Bilibili/Livehime/5.18.1.7152/Bilibili.Livehime.locale.zh-CN.yaml
  manifests/b/Bilibili/Livehime/5.18.1.7152/Bilibili.Livehime.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165635 New version: Tarma.PublishOrPerish version 8.14.4640.8980
  manifests/t/Tarma/PublishOrPerish/8.14.4640.8980/Tarma.PublishOrPerish.installer.yaml
  manifests/t/Tarma/PublishOrPerish/8.14.4640.8980/Tarma.PublishOrPerish.locale.en-US.yaml
  manifests/t/Tarma/PublishOrPerish/8.14.4640.8980/Tarma.PublishOrPerish.locale.zh-CN.yaml
  manifests/t/Tarma/PublishOrPerish/8.14.4640.8980/Tarma.PublishOrPerish.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, Moderator-Approved, New-Manifest

#165602 New version: nkdAgility.AzureDevOpsMigrationTools.Preview version 15.1.7-Preview.4
  manifests/n/nkdAgility/AzureDevOpsMigrationTools/Preview/15.1.7-Preview.4/nkdAgility.AzureDevOpsMigrationTools.Preview.installer.yaml
  manifests/n/nkdAgility/AzureDevOpsMigrationTools/Preview/15.1.7-Preview.4/nkdAgility.AzureDevOpsMigrationTools.Preview.locale.en-US.yaml
  manifests/n/nkdAgility/AzureDevOpsMigrationTools/Preview/15.1.7-Preview.4/nkdAgility.AzureDevOpsMigrationTools.Preview.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165604 New version: Meitu.ColorByte version 5.8.0
  manifests/m/Meitu/ColorByte/5.8.0/Meitu.ColorByte.installer.yaml
  manifests/m/Meitu/ColorByte/5.8.0/Meitu.ColorByte.locale.en-US.yaml
  manifests/m/Meitu/ColorByte/5.8.0/Meitu.ColorByte.locale.zh-CN.yaml
  manifests/m/Meitu/ColorByte/5.8.0/Meitu.ColorByte.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165606 New version: voidtools.Everything version 1.4.1.1026
  manifests/v/voidtools/Everything/1.4.1.1026/voidtools.Everything.installer.yaml
  manifests/v/voidtools/Everything/1.4.1.1026/voidtools.Everything.locale.en-US.yaml
  manifests/v/voidtools/Everything/1.4.1.1026/voidtools.Everything.locale.zh-CN.yaml
  manifests/v/voidtools/Everything/1.4.1.1026/voidtools.Everything.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165608 New version: Evernote.Evernote version 10.99.3
  manifests/e/Evernote/Evernote/10.99.3/Evernote.Evernote.installer.yaml
  manifests/e/Evernote/Evernote/10.99.3/Evernote.Evernote.locale.en-US.yaml
  manifests/e/Evernote/Evernote/10.99.3/Evernote.Evernote.locale.zh-CN.yaml
  manifests/e/Evernote/Evernote/10.99.3/Evernote.Evernote.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165605 New version: voidtools.Everything.Lite version 1.4.1.1026
  manifests/v/voidtools/Everything/Lite/1.4.1.1026/voidtools.Everything.Lite.installer.yaml
  manifests/v/voidtools/Everything/Lite/1.4.1.1026/voidtools.Everything.Lite.locale.en-US.yaml
  manifests/v/voidtools/Everything/Lite/1.4.1.1026/voidtools.Everything.Lite.locale.zh-CN.yaml
  manifests/v/voidtools/Everything/Lite/1.4.1.1026/voidtools.Everything.Lite.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165609 New version: Google.Chrome.Canary version 129.0.6630.0
  manifests/g/Google/Chrome/Canary/129.0.6630.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/129.0.6630.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/129.0.6630.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/129.0.6630.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/129.0.6630.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165610 SmartSoft.SmartFTP version 10.0.3239.0
  manifests/s/SmartSoft/SmartFTP/10.0.3239.0/SmartSoft.SmartFTP.installer.yaml
  manifests/s/SmartSoft/SmartFTP/10.0.3239.0/SmartSoft.SmartFTP.locale.en-US.yaml
  manifests/s/SmartSoft/SmartFTP/10.0.3239.0/SmartSoft.SmartFTP.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165640 New version: DuckDuckGo.DesktopBrowser version 0.87.2.0
  manifests/d/DuckDuckGo/DesktopBrowser/0.87.2.0/DuckDuckGo.DesktopBrowser.installer.yaml
  manifests/d/DuckDuckGo/DesktopBrowser/0.87.2.0/DuckDuckGo.DesktopBrowser.locale.en-US.yaml
  manifests/d/DuckDuckGo/DesktopBrowser/0.87.2.0/DuckDuckGo.DesktopBrowser.locale.zh-CN.yaml
  manifests/d/DuckDuckGo/DesktopBrowser/0.87.2.0/DuckDuckGo.DesktopBrowser.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165592 New version: Clement.bottom version 0.10.0
  manifests/c/Clement/bottom/0.10.0/Clement.bottom.installer.yaml
  manifests/c/Clement/bottom/0.10.0/Clement.bottom.locale.en-US.yaml
  manifests/c/Clement/bottom/0.10.0/Clement.bottom.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165613 New version: th-ch.YouTubeMusic version 3.5.1
  manifests/t/th-ch/YouTubeMusic/3.5.1/th-ch.YouTubeMusic.installer.yaml
  manifests/t/th-ch/YouTubeMusic/3.5.1/th-ch.YouTubeMusic.locale.en-US.yaml
  manifests/t/th-ch/YouTubeMusic/3.5.1/th-ch.YouTubeMusic.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165538 Remove version: bornova.numara version 3.9.1
  manifests/b/bornova/numara/3.9.1/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.9.1/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.9.1/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165615 New version: Opera.OperaGX version 111.0.5168.104
  manifests/o/Opera/OperaGX/111.0.5168.104/Opera.OperaGX.installer.yaml
  manifests/o/Opera/OperaGX/111.0.5168.104/Opera.OperaGX.locale.en-US.yaml
  manifests/o/Opera/OperaGX/111.0.5168.104/Opera.OperaGX.locale.zh-CN.yaml
  manifests/o/Opera/OperaGX/111.0.5168.104/Opera.OperaGX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165617 New version: YY.YYAnchor version 2.19.0.3745 (2.19.0.0)
  manifests/y/YY/YYAnchor/2.19.0.3745/YY.YYAnchor.installer.yaml
  manifests/y/YY/YYAnchor/2.19.0.3745/YY.YYAnchor.locale.en-US.yaml
  manifests/y/YY/YYAnchor/2.19.0.3745/YY.YYAnchor.locale.zh-CN.yaml
  manifests/y/YY/YYAnchor/2.19.0.3745/YY.YYAnchor.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165618 New version: CollapseLauncher.Collapse version 1.80.17
  manifests/c/CollapseLauncher/Collapse/1.80.17/CollapseLauncher.Collapse.installer.yaml
  manifests/c/CollapseLauncher/Collapse/1.80.17/CollapseLauncher.Collapse.locale.en-US.yaml
  manifests/c/CollapseLauncher/Collapse/1.80.17/CollapseLauncher.Collapse.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165624 New version: Ant Commander Personal version 4.13
  manifests/j/Japplis/AntCommander/Personal/4.13/Japplis.AntCommander.Personal.installer.yaml
  manifests/j/Japplis/AntCommander/Personal/4.13/Japplis.AntCommander.Personal.locale.en-US.yaml
  manifests/j/Japplis/AntCommander/Personal/4.13/Japplis.AntCommander.Personal.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165628 New version: nkdAgility.AzureDevOpsMigrationTools.Preview version 15.1.7-Preview.5
  manifests/n/nkdAgility/AzureDevOpsMigrationTools/Preview/15.1.7-Preview.5/nkdAgility.AzureDevOpsMigrationTools.Preview.installer.yaml
  manifests/n/nkdAgility/AzureDevOpsMigrationTools/Preview/15.1.7-Preview.5/nkdAgility.AzureDevOpsMigrationTools.Preview.locale.en-US.yaml
  manifests/n/nkdAgility/AzureDevOpsMigrationTools/Preview/15.1.7-Preview.5/nkdAgility.AzureDevOpsMigrationTools.Preview.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165627 New version: Ant Commander Pro version 4.13
  manifests/j/Japplis/AntCommander/Pro/4.13/Japplis.AntCommander.Pro.installer.yaml
  manifests/j/Japplis/AntCommander/Pro/4.13/Japplis.AntCommander.Pro.locale.en-US.yaml
  manifests/j/Japplis/AntCommander/Pro/4.13/Japplis.AntCommander.Pro.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165641 New version: Telerik.Fiddler.Everywhere version 5.15.0
  manifests/t/Telerik/Fiddler/Everywhere/5.15.0/Telerik.Fiddler.Everywhere.installer.yaml
  manifests/t/Telerik/Fiddler/Everywhere/5.15.0/Telerik.Fiddler.Everywhere.locale.en-US.yaml
  manifests/t/Telerik/Fiddler/Everywhere/5.15.0/Telerik.Fiddler.Everywhere.locale.zh-CN.yaml
  manifests/t/Telerik/Fiddler/Everywhere/5.15.0/Telerik.Fiddler.Everywhere.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165642 New version: Clement.bottom version 0.10.1
  manifests/c/Clement/bottom/0.10.1/Clement.bottom.installer.yaml
  manifests/c/Clement/bottom/0.10.1/Clement.bottom.locale.en-US.yaml
  manifests/c/Clement/bottom/0.10.1/Clement.bottom.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, Moderator-Approved, New-Manifest

#165644 Ultimaker.Cura version 5.8.0
  manifests/u/Ultimaker/Cura/5.8.0/Ultimaker.Cura.installer.yaml
  manifests/u/Ultimaker/Cura/5.8.0/Ultimaker.Cura.locale.en-US.yaml
  manifests/u/Ultimaker/Cura/5.8.0/Ultimaker.Cura.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165647 New version: Axure.AxureRP.10 version 10.0.0.3924
  manifests/a/Axure/AxureRP/10/10.0.0.3924/Axure.AxureRP.10.installer.yaml
  manifests/a/Axure/AxureRP/10/10.0.0.3924/Axure.AxureRP.10.locale.en-US.yaml
  manifests/a/Axure/AxureRP/10/10.0.0.3924/Axure.AxureRP.10.locale.zh-CN.yaml
  manifests/a/Axure/AxureRP/10/10.0.0.3924/Axure.AxureRP.10.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165650 New version: Google.Chrome.Dev.EXE version 129.0.6628.3
  manifests/g/Google/Chrome/Dev/EXE/129.0.6628.3/Google.Chrome.Dev.EXE.installer.yaml
  manifests/g/Google/Chrome/Dev/EXE/129.0.6628.3/Google.Chrome.Dev.EXE.locale.en-US.yaml
  manifests/g/Google/Chrome/Dev/EXE/129.0.6628.3/Google.Chrome.Dev.EXE.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Dev/EXE/129.0.6628.3/Google.Chrome.Dev.EXE.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Dev/EXE/129.0.6628.3/Google.Chrome.Dev.EXE.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165649 New version: Discord.Discord.Canary version 1.0.425
  manifests/d/Discord/Discord/Canary/1.0.425/Discord.Discord.Canary.installer.yaml
  manifests/d/Discord/Discord/Canary/1.0.425/Discord.Discord.Canary.locale.en-US.yaml
  manifests/d/Discord/Discord/Canary/1.0.425/Discord.Discord.Canary.locale.zh-CN.yaml
  manifests/d/Discord/Discord/Canary/1.0.425/Discord.Discord.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165651 New version: Google.Chrome.Dev version 129.0.6628.3
  manifests/g/Google/Chrome/Dev/129.0.6628.3/Google.Chrome.Dev.installer.yaml
  manifests/g/Google/Chrome/Dev/129.0.6628.3/Google.Chrome.Dev.locale.en-US.yaml
  manifests/g/Google/Chrome/Dev/129.0.6628.3/Google.Chrome.Dev.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Dev/129.0.6628.3/Google.Chrome.Dev.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Dev/129.0.6628.3/Google.Chrome.Dev.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165539 Remove version: bornova.numara version 3.6.3
  manifests/b/bornova/numara/3.6.3/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.6.3/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.6.3/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165540 Remove version: bornova.numara version 3.16.6
  manifests/b/bornova/numara/3.16.6/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.16.6/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.16.6/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165541 Remove version: bornova.numara version 3.11.2
  manifests/b/bornova/numara/3.11.2/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.11.2/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.11.2/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165542 Remove version: bornova.numara version 3.16.9
  manifests/b/bornova/numara/3.16.9/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.16.9/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.16.9/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165543 Remove version: bornova.numara version 3.11.11
  manifests/b/bornova/numara/3.11.11/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.11.11/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.11.11/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165573 New version:binbat whepfrom version 0.5.1
  manifests/b/binbat/whepfrom/0.5.1/binbat.whepfrom.installer.yaml
  manifests/b/binbat/whepfrom/0.5.1/binbat.whepfrom.locale.en-US.yaml
  manifests/b/binbat/whepfrom/0.5.1/binbat.whepfrom.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165544 Remove version: bornova.numara version 3.15.2
  manifests/b/bornova/numara/3.15.2/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.15.2/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.15.2/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165575 New version: Ollama.Ollama version 0.3.2
  manifests/o/Ollama/Ollama/0.3.2/Ollama.Ollama.installer.yaml
  manifests/o/Ollama/Ollama/0.3.2/Ollama.Ollama.locale.en-US.yaml
  manifests/o/Ollama/Ollama/0.3.2/Ollama.Ollama.locale.zh-CN.yaml
  manifests/o/Ollama/Ollama/0.3.2/Ollama.Ollama.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165576 New version: WestWind.MarkdownMonster version 3.3.17.0
  manifests/w/WestWind/MarkdownMonster/3.3.17.0/WestWind.MarkdownMonster.installer.yaml
  manifests/w/WestWind/MarkdownMonster/3.3.17.0/WestWind.MarkdownMonster.locale.en-US.yaml
  manifests/w/WestWind/MarkdownMonster/3.3.17.0/WestWind.MarkdownMonster.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165574 New version: Cocos.CocosDashboard version 2.1.4.2614 (2.1.4)
  manifests/c/Cocos/CocosDashboard/2.1.4.2614/Cocos.CocosDashboard.installer.yaml
  manifests/c/Cocos/CocosDashboard/2.1.4.2614/Cocos.CocosDashboard.locale.en-US.yaml
  manifests/c/Cocos/CocosDashboard/2.1.4.2614/Cocos.CocosDashboard.locale.zh-CN.yaml
  manifests/c/Cocos/CocosDashboard/2.1.4.2614/Cocos.CocosDashboard.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165545 Remove version: bornova.numara version 3.18.4
  manifests/b/bornova/numara/3.18.4/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.18.4/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.18.4/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165577 Aserto.CLI.v0.32.0
  manifests/a/Aserto/CLI/0.32.0/Aserto.CLI.installer.yaml
  manifests/a/Aserto/CLI/0.32.0/Aserto.CLI.locale.en-US.yaml
  manifests/a/Aserto/CLI/0.32.0/Aserto.CLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165578 Aserto.Topaz.v0.32.19
  manifests/a/Aserto/Topaz/0.32.19/Aserto.Topaz.installer.yaml
  manifests/a/Aserto/Topaz/0.32.19/Aserto.Topaz.locale.en-US.yaml
  manifests/a/Aserto/Topaz/0.32.19/Aserto.Topaz.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165557 Remove version: Bitnami.PrestaShop version 1.7.8.7-0
  manifests/b/Bitnami/PrestaShop/1.7.8.7-0/Bitnami.PrestaShop.installer.yaml
  manifests/b/Bitnami/PrestaShop/1.7.8.7-0/Bitnami.PrestaShop.locale.en-US.yaml
  manifests/b/Bitnami/PrestaShop/1.7.8.7-0/Bitnami.PrestaShop.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165584 New version: Termius.Termius version 9.2.0
  manifests/t/Termius/Termius/9.2.0/Termius.Termius.installer.yaml
  manifests/t/Termius/Termius/9.2.0/Termius.Termius.locale.en-US.yaml
  manifests/t/Termius/Termius/9.2.0/Termius.Termius.locale.zh-CN.yaml
  manifests/t/Termius/Termius/9.2.0/Termius.Termius.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165579 New version: 8x8.Work version 8.15.2 (8.15.2.7)
  manifests/8/8x8/Work/8.15.2/8x8.Work.installer.yaml
  manifests/8/8x8/Work/8.15.2/8x8.Work.locale.en-US.yaml
  manifests/8/8x8/Work/8.15.2/8x8.Work.locale.zh-CN.yaml
  manifests/8/8x8/Work/8.15.2/8x8.Work.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#165586 Remove version: ByteDance.JianyingPro version 5.2.0.11062
  manifests/b/ByteDance/JianyingPro/5.2.0.11062/ByteDance.JianyingPro.installer.yaml
  manifests/b/ByteDance/JianyingPro/5.2.0.11062/ByteDance.JianyingPro.locale.en-US.yaml
  manifests/b/ByteDance/JianyingPro/5.2.0.11062/ByteDance.JianyingPro.locale.zh-CN.yaml
  manifests/b/ByteDance/JianyingPro/5.2.0.11062/ByteDance.JianyingPro.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165589 New version: 34u.MultiBaseCSProfessional version 5.2.0
  manifests/3/34u/MultiBaseCSProfessional/5.2.0/34u.MultiBaseCSProfessional.installer.yaml
  manifests/3/34u/MultiBaseCSProfessional/5.2.0/34u.MultiBaseCSProfessional.locale.de-DE.yaml
  manifests/3/34u/MultiBaseCSProfessional/5.2.0/34u.MultiBaseCSProfessional.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165590 New version: 34u.MultiBaseCSServer version 5.2.0
  manifests/3/34u/MultiBaseCSServer/5.2.0/34u.MultiBaseCSServer.installer.yaml
  manifests/3/34u/MultiBaseCSServer/5.2.0/34u.MultiBaseCSServer.locale.de-DE.yaml
  manifests/3/34u/MultiBaseCSServer/5.2.0/34u.MultiBaseCSServer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165583 New version: Unibo.Alchemist version 34.0.19
  manifests/u/Unibo/Alchemist/34.0.19/Unibo.Alchemist.installer.yaml
  manifests/u/Unibo/Alchemist/34.0.19/Unibo.Alchemist.locale.en-US.yaml
  manifests/u/Unibo/Alchemist/34.0.19/Unibo.Alchemist.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165588 New version: 34u.MultiBaseCSHome version 5.2.0
  manifests/3/34u/MultiBaseCSHome/5.2.0/34u.MultiBaseCSHome.installer.yaml
  manifests/3/34u/MultiBaseCSHome/5.2.0/34u.MultiBaseCSHome.locale.de-DE.yaml
  manifests/3/34u/MultiBaseCSHome/5.2.0/34u.MultiBaseCSHome.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165560 Remove version: Bitnami.Joomla version 4.1.5-1
  manifests/b/Bitnami/Joomla/4.1.5-1/Bitnami.Joomla.installer.yaml
  manifests/b/Bitnami/Joomla/4.1.5-1/Bitnami.Joomla.locale.en-US.yaml
  manifests/b/Bitnami/Joomla/4.1.5-1/Bitnami.Joomla.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165563 Remove version: Bitnami.ReportServerCommunity version 4.2.0.6070-0
  manifests/b/Bitnami/ReportServerCommunity/4.2.0.6070-0/Bitnami.ReportServerCommunity.installer.yaml
  manifests/b/Bitnami/ReportServerCommunity/4.2.0.6070-0/Bitnami.ReportServerCommunity.locale.en-US.yaml
  manifests/b/Bitnami/ReportServerCommunity/4.2.0.6070-0/Bitnami.ReportServerCommunity.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165594 New version: Brave.Brave.Beta version 127.1.69.131
  manifests/b/Brave/Brave/Beta/127.1.69.131/Brave.Brave.Beta.installer.yaml
  manifests/b/Brave/Brave/Beta/127.1.69.131/Brave.Brave.Beta.locale.en-US.yaml
  manifests/b/Brave/Brave/Beta/127.1.69.131/Brave.Brave.Beta.locale.zh-CN.yaml
  manifests/b/Brave/Brave/Beta/127.1.69.131/Brave.Brave.Beta.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165593 New version: sxyazi.yazi version 0.3.0
  manifests/s/sxyazi/yazi/0.3.0/sxyazi.yazi.installer.yaml
  manifests/s/sxyazi/yazi/0.3.0/sxyazi.yazi.locale.en-US.yaml
  manifests/s/sxyazi/yazi/0.3.0/sxyazi.yazi.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165561 Remove version: Bitnami.Joomla version 4.2.3-0
  manifests/b/Bitnami/Joomla/4.2.3-0/Bitnami.Joomla.installer.yaml
  manifests/b/Bitnami/Joomla/4.2.3-0/Bitnami.Joomla.locale.en-US.yaml
  manifests/b/Bitnami/Joomla/4.2.3-0/Bitnami.Joomla.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165597 New version: Microsoft.DevHome version 0.1601.561.0
  manifests/m/Microsoft/DevHome/0.1601.561.0/Microsoft.DevHome.installer.yaml
  manifests/m/Microsoft/DevHome/0.1601.561.0/Microsoft.DevHome.locale.en-US.yaml
  manifests/m/Microsoft/DevHome/0.1601.561.0/Microsoft.DevHome.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165566 Remove version: Bitnami.Drupal version 9.2.4-0
  manifests/b/Bitnami/Drupal/9.2.4-0/Bitnami.Drupal.installer.yaml
  manifests/b/Bitnami/Drupal/9.2.4-0/Bitnami.Drupal.locale.en-US.yaml
  manifests/b/Bitnami/Drupal/9.2.4-0/Bitnami.Drupal.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165564 Remove version: Bitnami.WordPress version 6.0.1-0
  manifests/b/Bitnami/WordPress/6.0.1-0/Bitnami.WordPress.installer.yaml
  manifests/b/Bitnami/WordPress/6.0.1-0/Bitnami.WordPress.locale.en-US.yaml
  manifests/b/Bitnami/WordPress/6.0.1-0/Bitnami.WordPress.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165558 Remove version: Bitnami.phpBB version 3.3.8-1
  manifests/b/Bitnami/phpBB/3.3.8-1/Bitnami.phpBB.installer.yaml
  manifests/b/Bitnami/phpBB/3.3.8-1/Bitnami.phpBB.locale.en-US.yaml
  manifests/b/Bitnami/phpBB/3.3.8-1/Bitnami.phpBB.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165565 Remove version: Bitnami.WordPress version 6.0.2-0
  manifests/b/Bitnami/WordPress/6.0.2-0/Bitnami.WordPress.installer.yaml
  manifests/b/Bitnami/WordPress/6.0.2-0/Bitnami.WordPress.locale.en-US.yaml
  manifests/b/Bitnami/WordPress/6.0.2-0/Bitnami.WordPress.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165598 New version: JanProchazka.dbgate version 5.3.3
  manifests/j/JanProchazka/dbgate/5.3.3/JanProchazka.dbgate.installer.yaml
  manifests/j/JanProchazka/dbgate/5.3.3/JanProchazka.dbgate.locale.en-US.yaml
  manifests/j/JanProchazka/dbgate/5.3.3/JanProchazka.dbgate.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165559 Remove version: Bitnami.WAMP version 8.1.11-0
  manifests/b/Bitnami/WAMP/8.1.11-0/Bitnami.WAMP.installer.yaml
  manifests/b/Bitnami/WAMP/8.1.11-0/Bitnami.WAMP.locale.en-US.yaml
  manifests/b/Bitnami/WAMP/8.1.11-0/Bitnami.WAMP.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165600 New version: LastPass.LastPass version 4.132.0.418
  manifests/l/LastPass/LastPass/4.132.0.418/LastPass.LastPass.installer.yaml
  manifests/l/LastPass/LastPass/4.132.0.418/LastPass.LastPass.locale.en-US.yaml
  manifests/l/LastPass/LastPass/4.132.0.418/LastPass.LastPass.locale.zh-CN.yaml
  manifests/l/LastPass/LastPass/4.132.0.418/LastPass.LastPass.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165599 New version: iFlytek.iFlyRecSI version 5.0.2
  manifests/i/iFlytek/iFlyRecSI/5.0.2/iFlytek.iFlyRecSI.installer.yaml
  manifests/i/iFlytek/iFlyRecSI/5.0.2/iFlytek.iFlyRecSI.locale.en-US.yaml
  manifests/i/iFlytek/iFlyRecSI/5.0.2/iFlytek.iFlyRecSI.locale.zh-CN.yaml
  manifests/i/iFlytek/iFlyRecSI/5.0.2/iFlytek.iFlyRecSI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#165648 New version: Brave.Brave.Nightly version 127.1.70.41
  manifests/b/Brave/Brave/Nightly/127.1.70.41/Brave.Brave.Nightly.installer.yaml
  manifests/b/Brave/Brave/Nightly/127.1.70.41/Brave.Brave.Nightly.locale.en-US.yaml
  manifests/b/Brave/Brave/Nightly/127.1.70.41/Brave.Brave.Nightly.locale.zh-CN.yaml
  manifests/b/Brave/Brave/Nightly/127.1.70.41/Brave.Brave.Nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165522 New version: DaxStudio.DaxStudio version 3.1.1
  manifests/d/DaxStudio/DaxStudio/3.1.1/DaxStudio.DaxStudio.installer.yaml
  manifests/d/DaxStudio/DaxStudio/3.1.1/DaxStudio.DaxStudio.locale.en-US.yaml
  manifests/d/DaxStudio/DaxStudio/3.1.1/DaxStudio.DaxStudio.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Possible-Duplicate, New-Manifest

#165523 New version: astral-sh.uv version 0.2.32
  manifests/a/astral-sh/uv/0.2.32/astral-sh.uv.installer.yaml
  manifests/a/astral-sh/uv/0.2.32/astral-sh.uv.locale.en-US.yaml
  manifests/a/astral-sh/uv/0.2.32/astral-sh.uv.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165526 New version: AuraMarker.Lattics version 1.23.3
  manifests/a/AuraMarker/Lattics/1.23.3/AuraMarker.Lattics.installer.yaml
  manifests/a/AuraMarker/Lattics/1.23.3/AuraMarker.Lattics.locale.en-US.yaml
  manifests/a/AuraMarker/Lattics/1.23.3/AuraMarker.Lattics.locale.zh-CN.yaml
  manifests/a/AuraMarker/Lattics/1.23.3/AuraMarker.Lattics.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#165070 Update: Posit.Positron version 2024.07.0 (2024.07.0-107)
  manifests/p/Posit/Positron/2024.07.0/Posit.Positron.installer.yaml
  manifests/p/Posit/Positron/2024.07.0/Posit.Positron.locale.en-US.yaml
  manifests/p/Posit/Positron/2024.07.0/Posit.Positron.locale.zh-CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Possible-Duplicate, Moderator-Approved, Needs-Author-Feedback, Validation-Retry

#165528 Remove version: bornova.numara version 3.15.3
  manifests/b/bornova/numara/3.15.3/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.15.3/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.15.3/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed

#165529 Remove version: bornova.numara version 3.11.6
  manifests/b/bornova/numara/3.11.6/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.11.6/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.11.6/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165657 Microsoft.VisualStudioCode.Insiders.CLI_v1.92.0 cli
  manifests/m/Microsoft/VisualStudioCode/Insiders/CLI/1.92.0/Microsoft.VisualStudioCode.Insiders.CLI.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165530 Remove version: bornova.numara version 3.14.1
  manifests/b/bornova/numara/3.14.1/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.14.1/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.14.1/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165531 Remove version: bornova.numara version 3.13.1
  manifests/b/bornova/numara/3.13.1/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.13.1/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.13.1/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165532 Remove version: bornova.numara version 3.7.1
  manifests/b/bornova/numara/3.7.1/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.7.1/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.7.1/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165534 Remove version: bornova.numara version 3.12.1
  manifests/b/bornova/numara/3.12.1/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.12.1/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.12.1/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165535 Remove version: bornova.numara version 3.5.2
  manifests/b/bornova/numara/3.5.2/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.5.2/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.5.2/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165536 Remove version: bornova.numara version 3.6.7
  manifests/b/bornova/numara/3.6.7/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.6.7/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.6.7/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165537 Remove version: bornova.numara version 3.18.0
  manifests/b/bornova/numara/3.18.0/bornova.numara.installer.yaml
  manifests/b/bornova/numara/3.18.0/bornova.numara.locale.en-US.yaml
  manifests/b/bornova/numara/3.18.0/bornova.numara.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165546 New version: Ryujinx.Ryujinx.Ava version 1.1.1364
  manifests/r/Ryujinx/Ryujinx/Ava/1.1.1364/Ryujinx.Ryujinx.Ava.installer.yaml
  manifests/r/Ryujinx/Ryujinx/Ava/1.1.1364/Ryujinx.Ryujinx.Ava.locale.en-US.yaml
  manifests/r/Ryujinx/Ryujinx/Ava/1.1.1364/Ryujinx.Ryujinx.Ava.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165655 New version: GitHub.cli version 2.54.0
  manifests/g/GitHub/cli/2.54.0/GitHub.cli.installer.yaml
  manifests/g/GitHub/cli/2.54.0/GitHub.cli.locale.en-US.yaml
  manifests/g/GitHub/cli/2.54.0/GitHub.cli.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165547 KirillOsenkov.MSBuildStructuredLogViewer version 2.2.294
  manifests/k/KirillOsenkov/MSBuildStructuredLogViewer/2.2.294/KirillOsenkov.MSBuildStructuredLogViewer.installer.yaml
  manifests/k/KirillOsenkov/MSBuildStructuredLogViewer/2.2.294/KirillOsenkov.MSBuildStructuredLogViewer.locale.en-US.yaml
  manifests/k/KirillOsenkov/MSBuildStructuredLogViewer/2.2.294/KirillOsenkov.MSBuildStructuredLogViewer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165623 New package: Wondershare.PDFelement.11 version 11.0.1
  manifests/w/Wondershare/PDFelement/11/11.0.1/Wondershare.PDFelement.11.installer.yaml
  manifests/w/Wondershare/PDFelement/11/11.0.1/Wondershare.PDFelement.11.locale.en-US.yaml
  manifests/w/Wondershare/PDFelement/11/11.0.1/Wondershare.PDFelement.11.locale.zh-CN.yaml
  manifests/w/Wondershare/PDFelement/11/11.0.1/Wondershare.PDFelement.11.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Package

#165552 New version: nektos.act version 0.2.65
  manifests/n/nektos/act/0.2.65/nektos.act.installer.yaml
  manifests/n/nektos/act/0.2.65/nektos.act.locale.en-US.yaml
  manifests/n/nektos/act/0.2.65/nektos.act.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165553 New version: PerfectWorld.PerfectWorldArena version 1.0.24080112
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080112/PerfectWorld.PerfectWorldArena.installer.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080112/PerfectWorld.PerfectWorldArena.locale.en-US.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080112/PerfectWorld.PerfectWorldArena.locale.zh-CN.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080112/PerfectWorld.PerfectWorldArena.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165556 New version: PerfectWorld.PerfectWorldArena version 1.0.24080113
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080113/PerfectWorld.PerfectWorldArena.installer.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080113/PerfectWorld.PerfectWorldArena.locale.en-US.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080113/PerfectWorld.PerfectWorldArena.locale.zh-CN.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080113/PerfectWorld.PerfectWorldArena.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165555 New version: Huawei.Welink version 7.43.3
  manifests/h/Huawei/Welink/7.43.3/Huawei.Welink.installer.yaml
  manifests/h/Huawei/Welink/7.43.3/Huawei.Welink.locale.en-US.yaml
  manifests/h/Huawei/Welink/7.43.3/Huawei.Welink.locale.zh-CN.yaml
  manifests/h/Huawei/Welink/7.43.3/Huawei.Welink.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165591 New version: 34u.MultiBaseCSBirdBase version 5.2.0
  manifests/3/34u/MultiBaseCSBirdBase/5.2.0/34u.MultiBaseCSBirdBase.installer.yaml
  manifests/3/34u/MultiBaseCSBirdBase/5.2.0/34u.MultiBaseCSBirdBase.locale.de-DE.yaml
  manifests/3/34u/MultiBaseCSBirdBase/5.2.0/34u.MultiBaseCSBirdBase.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165595 New version: Elgato.StreamDeck version 6.7.1.20984
  manifests/e/Elgato/StreamDeck/6.7.1.20984/Elgato.StreamDeck.installer.yaml
  manifests/e/Elgato/StreamDeck/6.7.1.20984/Elgato.StreamDeck.locale.en-US.yaml
  manifests/e/Elgato/StreamDeck/6.7.1.20984/Elgato.StreamDeck.locale.zh-CN.yaml
  manifests/e/Elgato/StreamDeck/6.7.1.20984/Elgato.StreamDeck.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165481 Add MongoDB.Compass.Full 1.43.5.0
  manifests/m/MongoDB/Compass/Full/1.43.5.0/MongoDB.Compass.Full.installer.yaml
  manifests/m/MongoDB/Compass/Full/1.43.5.0/MongoDB.Compass.Full.locale.en-US.yaml
  manifests/m/MongoDB/Compass/Full/1.43.5.0/MongoDB.Compass.Full.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165488 Add MongoDB.Compass.Isolated 1.43.5.0
  manifests/m/MongoDB/Compass/Isolated/1.43.5.0/MongoDB.Compass.Isolated.installer.yaml
  manifests/m/MongoDB/Compass/Isolated/1.43.5.0/MongoDB.Compass.Isolated.locale.en-US.yaml
  manifests/m/MongoDB/Compass/Isolated/1.43.5.0/MongoDB.Compass.Isolated.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165490 Add MongoDB.Compass.Readonly 1.43.5.0
  manifests/m/MongoDB/Compass/Readonly/1.43.5.0/MongoDB.Compass.Readonly.installer.yaml
  manifests/m/MongoDB/Compass/Readonly/1.43.5.0/MongoDB.Compass.Readonly.locale.en-US.yaml
  manifests/m/MongoDB/Compass/Readonly/1.43.5.0/MongoDB.Compass.Readonly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165501 New version: Unibo.Alchemist version 34.0.18
  manifests/u/Unibo/Alchemist/34.0.18/Unibo.Alchemist.installer.yaml
  manifests/u/Unibo/Alchemist/34.0.18/Unibo.Alchemist.locale.en-US.yaml
  manifests/u/Unibo/Alchemist/34.0.18/Unibo.Alchemist.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165500 New version: vim.vim.nightly version 9.1.0646
  manifests/v/vim/vim/nightly/9.1.0646/vim.vim.nightly.installer.yaml
  manifests/v/vim/vim/nightly/9.1.0646/vim.vim.nightly.locale.en-US.yaml
  manifests/v/vim/vim/nightly/9.1.0646/vim.vim.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165503 New version: Tonec.InternetDownloadManager version 6.42.18 (642build18)
  manifests/t/Tonec/InternetDownloadManager/6.42.18/Tonec.InternetDownloadManager.installer.yaml
  manifests/t/Tonec/InternetDownloadManager/6.42.18/Tonec.InternetDownloadManager.locale.en-US.yaml
  manifests/t/Tonec/InternetDownloadManager/6.42.18/Tonec.InternetDownloadManager.locale.zh-CN.yaml
  manifests/t/Tonec/InternetDownloadManager/6.42.18/Tonec.InternetDownloadManager.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165505 KirillOsenkov.MSBuildStructuredLogViewer version 2.2.292
  manifests/k/KirillOsenkov/MSBuildStructuredLogViewer/2.2.292/KirillOsenkov.MSBuildStructuredLogViewer.installer.yaml
  manifests/k/KirillOsenkov/MSBuildStructuredLogViewer/2.2.292/KirillOsenkov.MSBuildStructuredLogViewer.locale.en-US.yaml
  manifests/k/KirillOsenkov/MSBuildStructuredLogViewer/2.2.292/KirillOsenkov.MSBuildStructuredLogViewer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165502 New version: PerfectWorld.PerfectWorldArena version 1.0.24080111
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080111/PerfectWorld.PerfectWorldArena.installer.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080111/PerfectWorld.PerfectWorldArena.locale.en-US.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080111/PerfectWorld.PerfectWorldArena.locale.zh-CN.yaml
  manifests/p/PerfectWorld/PerfectWorldArena/1.0.24080111/PerfectWorld.PerfectWorldArena.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165507 schemacrawler.schemacrawler version 16.22.1
  manifests/s/schemacrawler/schemacrawler/16.22.1/schemacrawler.schemacrawler.installer.yaml
  manifests/s/schemacrawler/schemacrawler/16.22.1/schemacrawler.schemacrawler.locale.en-US.yaml
  manifests/s/schemacrawler/schemacrawler/16.22.1/schemacrawler.schemacrawler.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165506 Prey.Prey version 1.12.14
  manifests/p/Prey/Prey/1.12.14/Prey.Prey.installer.yaml
  manifests/p/Prey/Prey/1.12.14/Prey.Prey.locale.en-US.yaml
  manifests/p/Prey/Prey/1.12.14/Prey.Prey.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165511 ReleaseNotes: 5E.5EClient version 7.1.44
  manifests/5/5E/5EClient/7.1.44/5E.5EClient.locale.zh-CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165512 Update: ElectronicArts.EADesktop version 13.262.0.5775
  manifests/e/ElectronicArts/EADesktop/13.262.0.5775/ElectronicArts.EADesktop.installer.yaml
  manifests/e/ElectronicArts/EADesktop/13.262.0.5775/ElectronicArts.EADesktop.locale.en-US.yaml
  manifests/e/ElectronicArts/EADesktop/13.262.0.5775/ElectronicArts.EADesktop.locale.zh-CN.yaml
  manifests/e/ElectronicArts/EADesktop/13.262.0.5775/ElectronicArts.EADesktop.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved

#165513 New version: Element.Element version 1.11.72
  manifests/e/Element/Element/1.11.72/Element.Element.installer.yaml
  manifests/e/Element/Element/1.11.72/Element.Element.locale.en-US.yaml
  manifests/e/Element/Element/1.11.72/Element.Element.locale.zh-CN.yaml
  manifests/e/Element/Element/1.11.72/Element.Element.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165656 Microsoft.VisualStudioCode.Insiders_v1.92.0 desktop
  manifests/m/Microsoft/VisualStudioCode/Insiders/1.92.0/Microsoft.VisualStudioCode.Insiders.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#165520 Add version: AntibodySoftware.WizTree version 4.19
  manifests/a/AntibodySoftware/WizTree/4.19/AntibodySoftware.WizTree.installer.yaml
  manifests/a/AntibodySoftware/WizTree/4.19/AntibodySoftware.WizTree.locale.en-US.yaml
  manifests/a/AntibodySoftware/WizTree/4.19/AntibodySoftware.WizTree.locale.zh-CN.yaml
  manifests/a/AntibodySoftware/WizTree/4.19/AntibodySoftware.WizTree.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165658 New version: Discord.Discord.PTB version 1.0.1095
  manifests/d/Discord/Discord/PTB/1.0.1095/Discord.Discord.PTB.installer.yaml
  manifests/d/Discord/Discord/PTB/1.0.1095/Discord.Discord.PTB.locale.en-US.yaml
  manifests/d/Discord/Discord/PTB/1.0.1095/Discord.Discord.PTB.locale.zh-CN.yaml
  manifests/d/Discord/Discord/PTB/1.0.1095/Discord.Discord.PTB.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165659 New version: yt-dlp.yt-dlp version 2024.08.01
  manifests/y/yt-dlp/yt-dlp/2024.08.01/yt-dlp.yt-dlp.installer.yaml
  manifests/y/yt-dlp/yt-dlp/2024.08.01/yt-dlp.yt-dlp.locale.en-US.yaml
  manifests/y/yt-dlp/yt-dlp/2024.08.01/yt-dlp.yt-dlp.locale.zh-CN.yaml
  manifests/y/yt-dlp/yt-dlp/2024.08.01/yt-dlp.yt-dlp.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#164805 Modify: Oracle.JDK.21 version 21.0.4.0
  manifests/o/Oracle/JDK/21/21.0.4.0/Oracle.JDK.21.installer.yaml
  manifests/o/Oracle/JDK/21/21.0.4.0/Oracle.JDK.21.locale.en-US.yaml
  manifests/o/Oracle/JDK/21/21.0.4.0/Oracle.JDK.21.locale.zh-CN.yaml
  manifests/o/Oracle/JDK/21/21.0.4.0/Oracle.JDK.21.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry

#165551 New package: SnapNet.SnapNet version 0.28.0.0
  manifests/s/SnapNet/SnapNet/0.28.0.0/SnapNet.SnapNet.installer.yaml
  manifests/s/SnapNet/SnapNet/0.28.0.0/SnapNet.SnapNet.locale.en-US.yaml
  manifests/s/SnapNet/SnapNet/0.28.0.0/SnapNet.SnapNet.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Package

#164811 New version: Oracle.JDK.17 version 17.0.12.0
  manifests/o/Oracle/JDK/17/17.0.12.0/Oracle.JDK.17.installer.yaml
  manifests/o/Oracle/JDK/17/17.0.12.0/Oracle.JDK.17.locale.en-US.yaml
  manifests/o/Oracle/JDK/17/17.0.12.0/Oracle.JDK.17.locale.zh-CN.yaml
  manifests/o/Oracle/JDK/17/17.0.12.0/Oracle.JDK.17.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest, Manifest-Metadata-Consistency

#165660 New version: JetBrains.Writerside.EAP version 241.18775.101
  manifests/j/JetBrains/Writerside/EAP/241.18775.101/JetBrains.Writerside.EAP.installer.yaml
  manifests/j/JetBrains/Writerside/EAP/241.18775.101/JetBrains.Writerside.EAP.locale.en-US.yaml
  manifests/j/JetBrains/Writerside/EAP/241.18775.101/JetBrains.Writerside.EAP.locale.zh-CN.yaml
  manifests/j/JetBrains/Writerside/EAP/241.18775.101/JetBrains.Writerside.EAP.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165180 Updated MSFT-openjdk-jdk11 to version: 11.0.24.8
  manifests/m/Microsoft/OpenJDK/11/11.0.24.8/Microsoft.OpenJDK.11.installer.yaml
  manifests/m/Microsoft/OpenJDK/11/11.0.24.8/Microsoft.OpenJDK.11.locale.en-US.yaml
  manifests/m/Microsoft/OpenJDK/11/11.0.24.8/Microsoft.OpenJDK.11.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#165227 New version: Datto.Workplace version 10.5.1.22
  manifests/d/Datto/Workplace/10.5.1.22/Datto.Workplace.installer.yaml
  manifests/d/Datto/Workplace/10.5.1.22/Datto.Workplace.locale.en-US.yaml
  manifests/d/Datto/Workplace/10.5.1.22/Datto.Workplace.locale.zh-CN.yaml
  manifests/d/Datto/Workplace/10.5.1.22/Datto.Workplace.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Manifest

#164807 New package: Oracle.JDK.19 version 19.0.2.0
  manifests/o/Oracle/JDK/19/19.0.2.0/Oracle.JDK.19.installer.yaml
  manifests/o/Oracle/JDK/19/19.0.2.0/Oracle.JDK.19.locale.en-US.yaml
  manifests/o/Oracle/JDK/19/19.0.2.0/Oracle.JDK.19.locale.zh-CN.yaml
  manifests/o/Oracle/JDK/19/19.0.2.0/Oracle.JDK.19.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Validation-Retry, New-Package

#164827 New version: Brave.Brave.Nightly version 127.1.70.26
  manifests/b/Brave/Brave/Nightly/127.1.70.26/Brave.Brave.Nightly.installer.yaml
  manifests/b/Brave/Brave/Nightly/127.1.70.26/Brave.Brave.Nightly.locale.en-US.yaml
  manifests/b/Brave/Brave/Nightly/127.1.70.26/Brave.Brave.Nightly.locale.zh-CN.yaml
  manifests/b/Brave/Brave/Nightly/127.1.70.26/Brave.Brave.Nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#164829 New version: Brave.Brave version 127.1.68.131
  manifests/b/Brave/Brave/127.1.68.131/Brave.Brave.installer.yaml
  manifests/b/Brave/Brave/127.1.68.131/Brave.Brave.locale.en-US.yaml
  manifests/b/Brave/Brave/127.1.68.131/Brave.Brave.locale.zh-CN.yaml
  manifests/b/Brave/Brave/127.1.68.131/Brave.Brave.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#164831 New version: Kingsoft.WPSOffice.CN version 12.1.0.17150
  manifests/k/Kingsoft/WPSOffice/CN/12.1.0.17150/Kingsoft.WPSOffice.CN.installer.yaml
  manifests/k/Kingsoft/WPSOffice/CN/12.1.0.17150/Kingsoft.WPSOffice.CN.locale.en-US.yaml
  manifests/k/Kingsoft/WPSOffice/CN/12.1.0.17150/Kingsoft.WPSOffice.CN.locale.zh-CN.yaml
  manifests/k/Kingsoft/WPSOffice/CN/12.1.0.17150/Kingsoft.WPSOffice.CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#164919 Tgstation.Server version 6.8.0
  manifests/t/Tgstation/Server/6.8.0/Tgstation.Server.installer.yaml
  manifests/t/Tgstation/Server/6.8.0/Tgstation.Server.locale.en-US.yaml
  manifests/t/Tgstation/Server/6.8.0/Tgstation.Server.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#164925 New version: Google.Chrome.Canary version 129.0.6620.0
  manifests/g/Google/Chrome/Canary/129.0.6620.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/129.0.6620.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/129.0.6620.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/129.0.6620.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/129.0.6620.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#164935 New version: DG0JBJ.HDSDR version 2.81-b9
  manifests/d/DG0JBJ/HDSDR/2.81-b9/DG0JBJ.HDSDR.installer.yaml
  manifests/d/DG0JBJ/HDSDR/2.81-b9/DG0JBJ.HDSDR.locale.en-US.yaml
  manifests/d/DG0JBJ/HDSDR/2.81-b9/DG0JBJ.HDSDR.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Validation-Retry, New-Manifest

#164936 Add version: DG0JBJ.HDSDR version 2.81-b10
  manifests/d/DG0JBJ/HDSDR/2.81-b10/DG0JBJ.HDSDR.installer.yaml
  manifests/d/DG0JBJ/HDSDR/2.81-b10/DG0JBJ.HDSDR.locale.en-US.yaml
  manifests/d/DG0JBJ/HDSDR/2.81-b10/DG0JBJ.HDSDR.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#164949 New version: Rem0o.FanControl version 198
  manifests/r/Rem0o/FanControl/198/Rem0o.FanControl.installer.yaml
  manifests/r/Rem0o/FanControl/198/Rem0o.FanControl.locale.en-US.yaml
  manifests/r/Rem0o/FanControl/198/Rem0o.FanControl.locale.zh-CN.yaml
  manifests/r/Rem0o/FanControl/198/Rem0o.FanControl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#165084 New version: NordSecurity.NordPass version 5.19.3
  manifests/n/NordSecurity/NordPass/5.19.3/NordSecurity.NordPass.installer.yaml
  manifests/n/NordSecurity/NordPass/5.19.3/NordSecurity.NordPass.locale.en-US.yaml
  manifests/n/NordSecurity/NordPass/5.19.3/NordSecurity.NordPass.locale.zh-CN.yaml
  manifests/n/NordSecurity/NordPass/5.19.3/NordSecurity.NordPass.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#164959 New version: MilosParipovic.OneCommander version 3.87.0 (3.87.0.0)
  manifests/m/MilosParipovic/OneCommander/3.87.0/MilosParipovic.OneCommander.installer.yaml
  manifests/m/MilosParipovic/OneCommander/3.87.0/MilosParipovic.OneCommander.locale.en-US.yaml
  manifests/m/MilosParipovic/OneCommander/3.87.0/MilosParipovic.OneCommander.locale.zh-CN.yaml
  manifests/m/MilosParipovic/OneCommander/3.87.0/MilosParipovic.OneCommander.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#165254 New version: TigerVNCproject.TigerVNC version 1.14.0
  manifests/t/TigerVNCproject/TigerVNC/1.14.0/TigerVNCproject.TigerVNC.installer.yaml
  manifests/t/TigerVNCproject/TigerVNC/1.14.0/TigerVNCproject.TigerVNC.locale.en-US.yaml
  manifests/t/TigerVNCproject/TigerVNC/1.14.0/TigerVNCproject.TigerVNC.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#165299 New version: hrzlgnm.mdns-browser version 0.7.2
  manifests/h/hrzlgnm/mdns-browser/0.7.2/hrzlgnm.mdns-browser.installer.yaml
  manifests/h/hrzlgnm/mdns-browser/0.7.2/hrzlgnm.mdns-browser.locale.en-US.yaml
  manifests/h/hrzlgnm/mdns-browser/0.7.2/hrzlgnm.mdns-browser.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#164193 New version: Baidu.BaiduPinyin version 6.1.10.7
  manifests/b/Baidu/BaiduPinyin/6.1.10.7/Baidu.BaiduPinyin.installer.yaml
  manifests/b/Baidu/BaiduPinyin/6.1.10.7/Baidu.BaiduPinyin.locale.en-US.yaml
  manifests/b/Baidu/BaiduPinyin/6.1.10.7/Baidu.BaiduPinyin.locale.zh-CN.yaml
  manifests/b/Baidu/BaiduPinyin/6.1.10.7/Baidu.BaiduPinyin.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#164662 New version: Unity.Unity.6000.Android version 6000.0.12f1
  manifests/u/Unity/Unity/6000/Android/6000.0.12f1/Unity.Unity.6000.Android.installer.yaml
  manifests/u/Unity/Unity/6000/Android/6000.0.12f1/Unity.Unity.6000.Android.locale.en-US.yaml
  manifests/u/Unity/Unity/6000/Android/6000.0.12f1/Unity.Unity.6000.Android.locale.zh-CN.yaml
  manifests/u/Unity/Unity/6000/Android/6000.0.12f1/Unity.Unity.6000.Android.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Dependencies, Retry-1, Moderator-Approved, New-Manifest

#164347 New version: Maxthon.Maxthon version 7.2.2.3001
  manifests/m/Maxthon/Maxthon/7.2.2.3001/Maxthon.Maxthon.installer.yaml
  manifests/m/Maxthon/Maxthon/7.2.2.3001/Maxthon.Maxthon.locale.en-US.yaml
  manifests/m/Maxthon/Maxthon/7.2.2.3001/Maxthon.Maxthon.locale.zh-CN.yaml
  manifests/m/Maxthon/Maxthon/7.2.2.3001/Maxthon.Maxthon.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#164664 New version: Unity.Unity.6000.tvOS version 6000.0.12f1
  manifests/u/Unity/Unity/6000/tvOS/6000.0.12f1/Unity.Unity.6000.tvOS.installer.yaml
  manifests/u/Unity/Unity/6000/tvOS/6000.0.12f1/Unity.Unity.6000.tvOS.locale.en-US.yaml
  manifests/u/Unity/Unity/6000/tvOS/6000.0.12f1/Unity.Unity.6000.tvOS.locale.zh-CN.yaml
  manifests/u/Unity/Unity/6000/tvOS/6000.0.12f1/Unity.Unity.6000.tvOS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Dependencies, Moderator-Approved, New-Manifest

#164665 New version: Unity.Unity.6000.visionOS version 6000.0.12f1
  manifests/u/Unity/Unity/6000/visionOS/6000.0.12f1/Unity.Unity.6000.visionOS.installer.yaml
  manifests/u/Unity/Unity/6000/visionOS/6000.0.12f1/Unity.Unity.6000.visionOS.locale.en-US.yaml
  manifests/u/Unity/Unity/6000/visionOS/6000.0.12f1/Unity.Unity.6000.visionOS.locale.zh-CN.yaml
  manifests/u/Unity/Unity/6000/visionOS/6000.0.12f1/Unity.Unity.6000.visionOS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Dependencies, Moderator-Approved, New-Manifest

#164750 New version: Mozilla.Firefox version 128.0.3
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.installer.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.cs-CZ.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.da-DK.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.de-DE.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.el-GR.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.en-GB.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.en-US.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.es-MX.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.fr-FR.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.hu-HU.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.ja-JP.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.nb-NO.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.ru-RU.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.ta-IN.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.locale.zh-CN.yaml
  manifests/m/Mozilla/Firefox/128.0.3/Mozilla.Firefox.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Manifest

#164666 New version: Unity.Unity.6000.LinuxIL2CPP version 6000.0.12f1
  manifests/u/Unity/Unity/6000/LinuxIL2CPP/6000.0.12f1/Unity.Unity.6000.LinuxIL2CPP.installer.yaml
  manifests/u/Unity/Unity/6000/LinuxIL2CPP/6000.0.12f1/Unity.Unity.6000.LinuxIL2CPP.locale.en-US.yaml
  manifests/u/Unity/Unity/6000/LinuxIL2CPP/6000.0.12f1/Unity.Unity.6000.LinuxIL2CPP.locale.zh-CN.yaml
  manifests/u/Unity/Unity/6000/LinuxIL2CPP/6000.0.12f1/Unity.Unity.6000.LinuxIL2CPP.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Dependencies, Moderator-Approved, New-Manifest

#164765 New version: Brave.Brave.Nightly version 127.1.70.24
  manifests/b/Brave/Brave/Nightly/127.1.70.24/Brave.Brave.Nightly.installer.yaml
  manifests/b/Brave/Brave/Nightly/127.1.70.24/Brave.Brave.Nightly.locale.en-US.yaml
  manifests/b/Brave/Brave/Nightly/127.1.70.24/Brave.Brave.Nightly.locale.zh-CN.yaml
  manifests/b/Brave/Brave/Nightly/127.1.70.24/Brave.Brave.Nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#164775 New version: Google.Chrome.Dev.EXE version 129.0.6614.3
  manifests/g/Google/Chrome/Dev/EXE/129.0.6614.3/Google.Chrome.Dev.EXE.installer.yaml
  manifests/g/Google/Chrome/Dev/EXE/129.0.6614.3/Google.Chrome.Dev.EXE.locale.en-US.yaml
  manifests/g/Google/Chrome/Dev/EXE/129.0.6614.3/Google.Chrome.Dev.EXE.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Dev/EXE/129.0.6614.3/Google.Chrome.Dev.EXE.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Dev/EXE/129.0.6614.3/Google.Chrome.Dev.EXE.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#165424 valinet.ExplorerPatcher.Prerelease version 22621.3880.66.3
  manifests/v/valinet/ExplorerPatcher/Prerelease/22621.3880.66.3/valinet.ExplorerPatcher.Prerelease.installer.yaml
  manifests/v/valinet/ExplorerPatcher/Prerelease/22621.3880.66.3/valinet.ExplorerPatcher.Prerelease.locale.en-US.yaml
  manifests/v/valinet/ExplorerPatcher/Prerelease/22621.3880.66.3/valinet.ExplorerPatcher.Prerelease.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#164790 New version: Discord.Discord.Canary version 1.0.422
  manifests/d/Discord/Discord/Canary/1.0.422/Discord.Discord.Canary.installer.yaml
  manifests/d/Discord/Discord/Canary/1.0.422/Discord.Discord.Canary.locale.en-US.yaml
  manifests/d/Discord/Discord/Canary/1.0.422/Discord.Discord.Canary.locale.zh-CN.yaml
  manifests/d/Discord/Discord/Canary/1.0.422/Discord.Discord.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#165416 PurpleI2P.i2pd version 2.53.0
  manifests/p/PurpleI2P/i2pd/2.53.0/PurpleI2P.i2pd.installer.yaml
  manifests/p/PurpleI2P/i2pd/2.53.0/PurpleI2P.i2pd.locale.en-US.yaml
  manifests/p/PurpleI2P/i2pd/2.53.0/PurpleI2P.i2pd.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165479 the-sz.Deansbury version 1.02
  manifests/t/the-sz/Deansbury/1.02/the-sz.Deansbury.installer.yaml
  manifests/t/the-sz/Deansbury/1.02/the-sz.Deansbury.locale.en-US.yaml
  manifests/t/the-sz/Deansbury/1.02/the-sz.Deansbury.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165439 New version: Gruntwork.Terragrunt version 0.64.4
  manifests/g/Gruntwork/Terragrunt/0.64.4/Gruntwork.Terragrunt.installer.yaml
  manifests/g/Gruntwork/Terragrunt/0.64.4/Gruntwork.Terragrunt.locale.en-US.yaml
  manifests/g/Gruntwork/Terragrunt/0.64.4/Gruntwork.Terragrunt.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#165669 Update: SnapNet.SnapNet version 0.28.0.0
  manifests/s/SnapNet/SnapNet/0.28.0.0/SnapNet.SnapNet.installer.yaml
  manifests/s/SnapNet/SnapNet/0.28.0.0/SnapNet.SnapNet.locale.en-US.yaml
  manifests/s/SnapNet/SnapNet/0.28.0.0/SnapNet.SnapNet.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved

#164663 New version: Unity.Unity.6000.iOS version 6000.0.12f1
  manifests/u/Unity/Unity/6000/iOS/6000.0.12f1/Unity.Unity.6000.iOS.installer.yaml
  manifests/u/Unity/Unity/6000/iOS/6000.0.12f1/Unity.Unity.6000.iOS.locale.en-US.yaml
  manifests/u/Unity/Unity/6000/iOS/6000.0.12f1/Unity.Unity.6000.iOS.locale.zh-CN.yaml
  manifests/u/Unity/Unity/6000/iOS/6000.0.12f1/Unity.Unity.6000.iOS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Dependencies, New-Manifest

#164929 Fly-io.flyctl: New version 0.2.99
  manifests/f/Fly-io/flyctl/0.2.99/Fly-io.flyctl.installer.yaml
  manifests/f/Fly-io/flyctl/0.2.99/Fly-io.flyctl.locale.en-US.yaml
  manifests/f/Fly-io/flyctl/0.2.99/Fly-io.flyctl.locale.ko-KR.yaml
  manifests/f/Fly-io/flyctl/0.2.99/Fly-io.flyctl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Validation-Retry, New-Manifest

#165668 New version: Microsoft.EdgeWebView2Runtime version 127.0.2651.86
  manifests/m/Microsoft/EdgeWebView2Runtime/127.0.2651.86/Microsoft.EdgeWebView2Runtime.installer.yaml
  manifests/m/Microsoft/EdgeWebView2Runtime/127.0.2651.86/Microsoft.EdgeWebView2Runtime.locale.en-US.yaml
  manifests/m/Microsoft/EdgeWebView2Runtime/127.0.2651.86/Microsoft.EdgeWebView2Runtime.locale.zh-CN.yaml
  manifests/m/Microsoft/EdgeWebView2Runtime/127.0.2651.86/Microsoft.EdgeWebView2Runtime.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest
