Repository microsoft/winget-pkgs, pull requests merged in 2025-07, with the labels that each got.

#269906 Update: Mozilla.Firefox.DeveloperEdition.ia version 141.0 (141.0b4)
  manifests/m/Mozilla/Firefox/DeveloperEdition/ia/141.0/Mozilla.Firefox.DeveloperEdition.ia.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#269985 New version: JReleaser.jreleaser version 1.19.0
  manifests/j/JReleaser/jreleaser/1.19.0/JReleaser.jreleaser.installer.yaml
  manifests/j/JReleaser/jreleaser/1.19.0/JReleaser.jreleaser.locale.en-US.yaml
  manifests/j/JReleaser/jreleaser/1.19.0/JReleaser.jreleaser.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270001 New version: Mozilla.Thunderbird.ESR.af version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/af/128.12.0/Mozilla.Thunderbird.ESR.af.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/af/128.12.0/Mozilla.Thunderbird.ESR.af.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/af/128.12.0/Mozilla.Thunderbird.ESR.af.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/af/128.12.0/Mozilla.Thunderbird.ESR.af.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270020 New version: Mozilla.Thunderbird.ESR.et version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/et/128.12.0/Mozilla.Thunderbird.ESR.et.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/et/128.12.0/Mozilla.Thunderbird.ESR.et.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/et/128.12.0/Mozilla.Thunderbird.ESR.et.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/et/128.12.0/Mozilla.Thunderbird.ESR.et.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270023 New version: Mozilla.Thunderbird.ESR.fr version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/fr/128.12.0/Mozilla.Thunderbird.ESR.fr.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/fr/128.12.0/Mozilla.Thunderbird.ESR.fr.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/fr/128.12.0/Mozilla.Thunderbird.ESR.fr.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/fr/128.12.0/Mozilla.Thunderbird.ESR.fr.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#270024 New version: Python.PythonInstallManager version 25.0.187.0
  manifests/p/Python/PythonInstallManager/25.0.187.0/Python.PythonInstallManager.installer.yaml
  manifests/p/Python/PythonInstallManager/25.0.187.0/Python.PythonInstallManager.locale.en-US.yaml
  manifests/p/Python/PythonInstallManager/25.0.187.0/Python.PythonInstallManager.locale.zh-CN.yaml
  manifests/p/Python/PythonInstallManager/25.0.187.0/Python.PythonInstallManager.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270029 New version: Mozilla.Thunderbird.ESR.he version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/he/128.12.0/Mozilla.Thunderbird.ESR.he.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/he/128.12.0/Mozilla.Thunderbird.ESR.he.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/he/128.12.0/Mozilla.Thunderbird.ESR.he.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/he/128.12.0/Mozilla.Thunderbird.ESR.he.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270032 New version: Mozilla.Thunderbird.ESR.hu version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/hu/128.12.0/Mozilla.Thunderbird.ESR.hu.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/hu/128.12.0/Mozilla.Thunderbird.ESR.hu.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/hu/128.12.0/Mozilla.Thunderbird.ESR.hu.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/hu/128.12.0/Mozilla.Thunderbird.ESR.hu.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270034 New version: Mozilla.Thunderbird.ESR.id version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/id/128.12.0/Mozilla.Thunderbird.ESR.id.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/id/128.12.0/Mozilla.Thunderbird.ESR.id.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/id/128.12.0/Mozilla.Thunderbird.ESR.id.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/id/128.12.0/Mozilla.Thunderbird.ESR.id.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270035 New version: Mozilla.Thunderbird.ESR.is version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/is/128.12.0/Mozilla.Thunderbird.ESR.is.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/is/128.12.0/Mozilla.Thunderbird.ESR.is.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/is/128.12.0/Mozilla.Thunderbird.ESR.is.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/is/128.12.0/Mozilla.Thunderbird.ESR.is.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270036 New version: Mozilla.Thunderbird.ESR.it version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/it/128.12.0/Mozilla.Thunderbird.ESR.it.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/it/128.12.0/Mozilla.Thunderbird.ESR.it.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/it/128.12.0/Mozilla.Thunderbird.ESR.it.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/it/128.12.0/Mozilla.Thunderbird.ESR.it.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270041 New version: Mozilla.Thunderbird.ESR.ko version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/ko/128.12.0/Mozilla.Thunderbird.ESR.ko.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ko/128.12.0/Mozilla.Thunderbird.ESR.ko.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ko/128.12.0/Mozilla.Thunderbird.ESR.ko.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ko/128.12.0/Mozilla.Thunderbird.ESR.ko.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270042 New version: Mozilla.Thunderbird.ESR.lt version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/lt/128.12.0/Mozilla.Thunderbird.ESR.lt.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/lt/128.12.0/Mozilla.Thunderbird.ESR.lt.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/lt/128.12.0/Mozilla.Thunderbird.ESR.lt.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/lt/128.12.0/Mozilla.Thunderbird.ESR.lt.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270043 New version: Mozilla.Thunderbird.ESR.lv version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/lv/128.12.0/Mozilla.Thunderbird.ESR.lv.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/lv/128.12.0/Mozilla.Thunderbird.ESR.lv.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/lv/128.12.0/Mozilla.Thunderbird.ESR.lv.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/lv/128.12.0/Mozilla.Thunderbird.ESR.lv.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270044 New version: Mozilla.Thunderbird.ESR.ms version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/ms/128.12.0/Mozilla.Thunderbird.ESR.ms.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ms/128.12.0/Mozilla.Thunderbird.ESR.ms.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ms/128.12.0/Mozilla.Thunderbird.ESR.ms.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ms/128.12.0/Mozilla.Thunderbird.ESR.ms.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270047 New version: Mozilla.Thunderbird.ESR.nn-NO version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/nn-NO/128.12.0/Mozilla.Thunderbird.ESR.nn-NO.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/nn-NO/128.12.0/Mozilla.Thunderbird.ESR.nn-NO.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/nn-NO/128.12.0/Mozilla.Thunderbird.ESR.nn-NO.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/nn-NO/128.12.0/Mozilla.Thunderbird.ESR.nn-NO.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269716 New version: Python.Launcher version 3.13.5
  manifests/p/Python/Launcher/3.13.5/Python.Launcher.installer.yaml
  manifests/p/Python/Launcher/3.13.5/Python.Launcher.locale.en-US.yaml
  manifests/p/Python/Launcher/3.13.5/Python.Launcher.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270052 New version: Mozilla.Thunderbird.ESR.pt-PT version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/pt-PT/128.12.0/Mozilla.Thunderbird.ESR.pt-PT.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/pt-PT/128.12.0/Mozilla.Thunderbird.ESR.pt-PT.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/pt-PT/128.12.0/Mozilla.Thunderbird.ESR.pt-PT.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/pt-PT/128.12.0/Mozilla.Thunderbird.ESR.pt-PT.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269824 New version: Speakeasy.speakeasy 1.572.0
  manifests/s/Speakeasy/speakeasy/1.572.0/Speakeasy.speakeasy.installer.yaml
  manifests/s/Speakeasy/speakeasy/1.572.0/Speakeasy.speakeasy.locale.en-US.yaml
  manifests/s/Speakeasy/speakeasy/1.572.0/Speakeasy.speakeasy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270053 New version: Mozilla.Thunderbird.ESR.rm version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/rm/128.12.0/Mozilla.Thunderbird.ESR.rm.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/rm/128.12.0/Mozilla.Thunderbird.ESR.rm.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/rm/128.12.0/Mozilla.Thunderbird.ESR.rm.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/rm/128.12.0/Mozilla.Thunderbird.ESR.rm.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270056 New version: Mozilla.Thunderbird.ESR.sk version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/sk/128.12.0/Mozilla.Thunderbird.ESR.sk.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sk/128.12.0/Mozilla.Thunderbird.ESR.sk.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sk/128.12.0/Mozilla.Thunderbird.ESR.sk.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sk/128.12.0/Mozilla.Thunderbird.ESR.sk.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270057 New version: Mozilla.Thunderbird.ESR.sl version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/sl/128.12.0/Mozilla.Thunderbird.ESR.sl.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sl/128.12.0/Mozilla.Thunderbird.ESR.sl.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sl/128.12.0/Mozilla.Thunderbird.ESR.sl.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sl/128.12.0/Mozilla.Thunderbird.ESR.sl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270060 New version: Mozilla.Thunderbird.ESR.sr version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/sr/128.12.0/Mozilla.Thunderbird.ESR.sr.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sr/128.12.0/Mozilla.Thunderbird.ESR.sr.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sr/128.12.0/Mozilla.Thunderbird.ESR.sr.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sr/128.12.0/Mozilla.Thunderbird.ESR.sr.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270062 New version: Mozilla.Thunderbird.ESR.th version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/th/128.12.0/Mozilla.Thunderbird.ESR.th.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/th/128.12.0/Mozilla.Thunderbird.ESR.th.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/th/128.12.0/Mozilla.Thunderbird.ESR.th.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/th/128.12.0/Mozilla.Thunderbird.ESR.th.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270064 New version: Mozilla.Thunderbird.ESR.uk version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/uk/128.12.0/Mozilla.Thunderbird.ESR.uk.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/uk/128.12.0/Mozilla.Thunderbird.ESR.uk.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/uk/128.12.0/Mozilla.Thunderbird.ESR.uk.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/uk/128.12.0/Mozilla.Thunderbird.ESR.uk.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270065 New version: Mozilla.Thunderbird.ESR.uz version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/uz/128.12.0/Mozilla.Thunderbird.ESR.uz.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/uz/128.12.0/Mozilla.Thunderbird.ESR.uz.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/uz/128.12.0/Mozilla.Thunderbird.ESR.uz.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/uz/128.12.0/Mozilla.Thunderbird.ESR.uz.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270079 New version: KDE.Okular version 25.04.3 (25.04-6350)
  manifests/k/KDE/Okular/25.04.3/KDE.Okular.installer.yaml
  manifests/k/KDE/Okular/25.04.3/KDE.Okular.locale.en-US.yaml
  manifests/k/KDE/Okular/25.04.3/KDE.Okular.locale.zh-CN.yaml
  manifests/k/KDE/Okular/25.04.3/KDE.Okular.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270085 New version: matchmycolor.ColibriAlpha version 25.2.0.15294
  manifests/m/matchmycolor/ColibriAlpha/25.2.0.15294/matchmycolor.ColibriAlpha.installer.yaml
  manifests/m/matchmycolor/ColibriAlpha/25.2.0.15294/matchmycolor.ColibriAlpha.locale.en-US.yaml
  manifests/m/matchmycolor/ColibriAlpha/25.2.0.15294/matchmycolor.ColibriAlpha.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270094 Remove version: yt-dlp.yt-dlp.nightly version 2023.10.12.102112
  manifests/y/yt-dlp/yt-dlp/nightly/2023.10.12.102112/yt-dlp.yt-dlp.nightly.installer.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2023.10.12.102112/yt-dlp.yt-dlp.nightly.locale.en-US.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2023.10.12.102112/yt-dlp.yt-dlp.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#268681 New package: Microsoft.GameInput version 1.2.26100.4782
  manifests/m/Microsoft/GameInput/1.2.26100.4782/Microsoft.GameInput.installer.yaml
  manifests/m/Microsoft/GameInput/1.2.26100.4782/Microsoft.GameInput.locale.en-US.yaml
  manifests/m/Microsoft/GameInput/1.2.26100.4782/Microsoft.GameInput.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#269561 New package: WiiLink24.PatcherGUI version 1.1.2
  manifests/w/WiiLink24/PatcherGUI/1.1.2/WiiLink24.PatcherGUI.installer.yaml
  manifests/w/WiiLink24/PatcherGUI/1.1.2/WiiLink24.PatcherGUI.locale.en-US.yaml
  manifests/w/WiiLink24/PatcherGUI/1.1.2/WiiLink24.PatcherGUI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#269807 New version: 3TSoftwareLabs.Studio3T version 2025.12.0
  manifests/3/3TSoftwareLabs/Studio3T/2025.12.0/3TSoftwareLabs.Studio3T.installer.yaml
  manifests/3/3TSoftwareLabs/Studio3T/2025.12.0/3TSoftwareLabs.Studio3T.locale.en-US.yaml
  manifests/3/3TSoftwareLabs/Studio3T/2025.12.0/3TSoftwareLabs.Studio3T.locale.zh-CN.yaml
  manifests/3/3TSoftwareLabs/Studio3T/2025.12.0/3TSoftwareLabs.Studio3T.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269979 Update: KDE.Bomber version master (679)
  manifests/k/KDE/Bomber/master/KDE.Bomber.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270087 New version: mikf.gallery-dl.Nightly version 2025.06.30
  manifests/m/mikf/gallery-dl/Nightly/2025.06.30/mikf.gallery-dl.Nightly.installer.yaml
  manifests/m/mikf/gallery-dl/Nightly/2025.06.30/mikf.gallery-dl.Nightly.locale.en-US.yaml
  manifests/m/mikf/gallery-dl/Nightly/2025.06.30/mikf.gallery-dl.Nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270088 New version: vim.vim.nightly version 9.1.1498
  manifests/v/vim/vim/nightly/9.1.1498/vim.vim.nightly.installer.yaml
  manifests/v/vim/vim/nightly/9.1.1498/vim.vim.nightly.locale.en-US.yaml
  manifests/v/vim/vim/nightly/9.1.1498/vim.vim.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#265750 FilesCommunity.Files version 3.9.1.0
  manifests/f/FilesCommunity/Files/3.9.1.0/FilesCommunity.Files.installer.yaml
  manifests/f/FilesCommunity/Files/3.9.1.0/FilesCommunity.Files.locale.en-US.yaml
  manifests/f/FilesCommunity/Files/3.9.1.0/FilesCommunity.Files.yaml
Labels: Moderator-Approved, Needs-Manual-Merge

#267553 New version: MSYS2.MSYS2 version 20250622
  manifests/m/MSYS2/MSYS2/20250622/MSYS2.MSYS2.installer.yaml
  manifests/m/MSYS2/MSYS2/20250622/MSYS2.MSYS2.locale.en-US.yaml
  manifests/m/MSYS2/MSYS2/20250622/MSYS2.MSYS2.locale.zh-CN.yaml
  manifests/m/MSYS2/MSYS2/20250622/MSYS2.MSYS2.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved

#261469 New package: ThomasGossler.OutlookCalendarSync version 1.1.0.0
  manifests/t/ThomasGossler/OutlookCalendarSync/1.1.0.0/ThomasGossler.OutlookCalendarSync.installer.yaml
  manifests/t/ThomasGossler/OutlookCalendarSync/1.1.0.0/ThomasGossler.OutlookCalendarSync.locale.en-US.yaml
  manifests/t/ThomasGossler/OutlookCalendarSync/1.1.0.0/ThomasGossler.OutlookCalendarSync.yaml
Labels: Validation-Installation-Error, Moderator-Approved, Needs-Author-Feedback, Needs-Attention, Needs-Manual-Merge

#269111 New version: GaetanSencie.AnnualAccounting version 1.9.0.0
  manifests/g/GaetanSencie/AnnualAccounting/1.9.0.0/GaetanSencie.AnnualAccounting.installer.yaml
  manifests/g/GaetanSencie/AnnualAccounting/1.9.0.0/GaetanSencie.AnnualAccounting.locale.en-US.yaml
  manifests/g/GaetanSencie/AnnualAccounting/1.9.0.0/GaetanSencie.AnnualAccounting.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest, Manifest-Metadata-Consistency

#270089 New version: DuckDuckGo.DesktopBrowser version 0.117.7.0
  manifests/d/DuckDuckGo/DesktopBrowser/0.117.7.0/DuckDuckGo.DesktopBrowser.installer.yaml
  manifests/d/DuckDuckGo/DesktopBrowser/0.117.7.0/DuckDuckGo.DesktopBrowser.locale.en-US.yaml
  manifests/d/DuckDuckGo/DesktopBrowser/0.117.7.0/DuckDuckGo.DesktopBrowser.locale.zh-CN.yaml
  manifests/d/DuckDuckGo/DesktopBrowser/0.117.7.0/DuckDuckGo.DesktopBrowser.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269776 New version: Yuanfudao.Yuanfudao version 7.2.0
  manifests/y/Yuanfudao/Yuanfudao/7.2.0/Yuanfudao.Yuanfudao.installer.yaml
  manifests/y/Yuanfudao/Yuanfudao/7.2.0/Yuanfudao.Yuanfudao.locale.en-US.yaml
  manifests/y/Yuanfudao/Yuanfudao/7.2.0/Yuanfudao.Yuanfudao.locale.zh-CN.yaml
  manifests/y/Yuanfudao/Yuanfudao/7.2.0/Yuanfudao.Yuanfudao.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269270 New version: Microsoft.OneDrive version 25.105.0601.0002
  manifests/m/Microsoft/OneDrive/25.105.0601.0002/Microsoft.OneDrive.installer.yaml
  manifests/m/Microsoft/OneDrive/25.105.0601.0002/Microsoft.OneDrive.locale.en-US.yaml
  manifests/m/Microsoft/OneDrive/25.105.0601.0002/Microsoft.OneDrive.locale.zh-CN.yaml
  manifests/m/Microsoft/OneDrive/25.105.0601.0002/Microsoft.OneDrive.yaml
Labels: Validation-Installation-Error, Moderator-Approved, Needs-Author-Feedback, Needs-Attention, Needs-Manual-Merge

#269815 New version: BtbN.FFmpeg.GPL.Shared.7.1 version 7.1.1-20250630 (2025-06-30-13-55)
  manifests/b/BtbN/FFmpeg/GPL/Shared/7/1/7.1.1-20250630/BtbN.FFmpeg.GPL.Shared.7.1.installer.yaml
  manifests/b/BtbN/FFmpeg/GPL/Shared/7/1/7.1.1-20250630/BtbN.FFmpeg.GPL.Shared.7.1.locale.en-US.yaml
  manifests/b/BtbN/FFmpeg/GPL/Shared/7/1/7.1.1-20250630/BtbN.FFmpeg.GPL.Shared.7.1.locale.zh-CN.yaml
  manifests/b/BtbN/FFmpeg/GPL/Shared/7/1/7.1.1-20250630/BtbN.FFmpeg.GPL.Shared.7.1.yaml
Labels: Azure-Pipeline-Passed, Validation-Executable-Error, Moderator-Approved, Needs-Attention, Needs-Manual-Merge, New-Manifest

#269799 New version: BeyondATC.TrafficMap version 1.1.2
  manifests/b/BeyondATC/TrafficMap/1.1.2/BeyondATC.TrafficMap.installer.yaml
  manifests/b/BeyondATC/TrafficMap/1.1.2/BeyondATC.TrafficMap.locale.en-US.yaml
  manifests/b/BeyondATC/TrafficMap/1.1.2/BeyondATC.TrafficMap.locale.zh-CN.yaml
  manifests/b/BeyondATC/TrafficMap/1.1.2/BeyondATC.TrafficMap.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270095 New version: Amazon.SAM-CLI version 1.142.0
  manifests/a/Amazon/SAM-CLI/1.142.0/Amazon.SAM-CLI.installer.yaml
  manifests/a/Amazon/SAM-CLI/1.142.0/Amazon.SAM-CLI.locale.en-US.yaml
  manifests/a/Amazon/SAM-CLI/1.142.0/Amazon.SAM-CLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#267866 New version: AVRDudes.AVRDUDE version 8.1
  manifests/a/AVRDudes/AVRDUDE/8.1/AVRDudes.AVRDUDE.installer.yaml
  manifests/a/AVRDudes/AVRDUDE/8.1/AVRDudes.AVRDUDE.locale.en-US.yaml
  manifests/a/AVRDudes/AVRDUDE/8.1/AVRDudes.AVRDUDE.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270093 New version: yt-dlp.yt-dlp version 2025.06.30
  manifests/y/yt-dlp/yt-dlp/2025.06.30/yt-dlp.yt-dlp.installer.yaml
  manifests/y/yt-dlp/yt-dlp/2025.06.30/yt-dlp.yt-dlp.locale.en-US.yaml
  manifests/y/yt-dlp/yt-dlp/2025.06.30/yt-dlp.yt-dlp.locale.zh-CN.yaml
  manifests/y/yt-dlp/yt-dlp/2025.06.30/yt-dlp.yt-dlp.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269731 Fix: Cube.CubePlatform version 3.9.2.1
  manifests/c/Cube/CubePlatform/3.9.2.1/Cube.CubePlatform.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270038 New version: Mozilla.Thunderbird.ESR.ka version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/ka/128.12.0/Mozilla.Thunderbird.ESR.ka.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ka/128.12.0/Mozilla.Thunderbird.ESR.ka.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ka/128.12.0/Mozilla.Thunderbird.ESR.ka.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ka/128.12.0/Mozilla.Thunderbird.ESR.ka.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#267313 Update: RoyalApps.RoyalTS.7 version 7.3.50619.0
  manifests/r/RoyalApps/RoyalTS/7/7.3.50619.0/RoyalApps.RoyalTS.7.installer.yaml
  manifests/r/RoyalApps/RoyalTS/7/7.3.50619.0/RoyalApps.RoyalTS.7.locale.en-US.yaml
  manifests/r/RoyalApps/RoyalTS/7/7.3.50619.0/RoyalApps.RoyalTS.7.locale.zh-CN.yaml
  manifests/r/RoyalApps/RoyalTS/7/7.3.50619.0/RoyalApps.RoyalTS.7.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270000 New version: Mozilla.Thunderbird.ESR version 128.12.0
  manifests/m/Mozilla/Thunderbird/ESR/128.12.0/Mozilla.Thunderbird.ESR.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/128.12.0/Mozilla.Thunderbird.ESR.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/128.12.0/Mozilla.Thunderbird.ESR.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/128.12.0/Mozilla.Thunderbird.ESR.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269714 New version: codexu.NoteGen version 0.19.0
  manifests/c/codexu/NoteGen/0.19.0/codexu.NoteGen.installer.yaml
  manifests/c/codexu/NoteGen/0.19.0/codexu.NoteGen.locale.en-US.yaml
  manifests/c/codexu/NoteGen/0.19.0/codexu.NoteGen.locale.zh-CN.yaml
  manifests/c/codexu/NoteGen/0.19.0/codexu.NoteGen.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Manifest

#270092 New version: yt-dlp.yt-dlp.nightly version 2025.06.30.233919
  manifests/y/yt-dlp/yt-dlp/nightly/2025.06.30.233919/yt-dlp.yt-dlp.nightly.installer.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2025.06.30.233919/yt-dlp.yt-dlp.nightly.locale.en-US.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2025.06.30.233919/yt-dlp.yt-dlp.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269960 Update: Mozilla.Firefox.DeveloperEdition.zh-CN version 141.0 (141.0b4)
  manifests/m/Mozilla/Firefox/DeveloperEdition/zh-CN/141.0/Mozilla.Firefox.DeveloperEdition.zh-CN.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#269253 New version: Dalux.Dalux.MSI version 3.3.9309.22552
  manifests/d/Dalux/Dalux/MSI/3.3.9309.22552/Dalux.Dalux.MSI.installer.yaml
  manifests/d/Dalux/Dalux/MSI/3.3.9309.22552/Dalux.Dalux.MSI.locale.en-US.yaml
  manifests/d/Dalux/Dalux/MSI/3.3.9309.22552/Dalux.Dalux.MSI.locale.zh-CN.yaml
  manifests/d/Dalux/Dalux/MSI/3.3.9309.22552/Dalux.Dalux.MSI.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved

#270110 Update: KDE.Konversation version 25.04.2 (25.04-1377)
  manifests/k/KDE/Konversation/25.04.2/KDE.Konversation.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270127 Fix: Amazon.WorkspacesClient version 5.28.0.5487
  manifests/a/Amazon/WorkspacesClient/5.28.0.5487/Amazon.WorkspacesClient.installer.yaml
  manifests/a/Amazon/WorkspacesClient/5.28.0.5487/Amazon.WorkspacesClient.locale.en-US.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270120 New version: Fly-io.flyctl version 0.3.146
  manifests/f/Fly-io/flyctl/0.3.146/Fly-io.flyctl.installer.yaml
  manifests/f/Fly-io/flyctl/0.3.146/Fly-io.flyctl.locale.en-US.yaml
  manifests/f/Fly-io/flyctl/0.3.146/Fly-io.flyctl.locale.ko-KR.yaml
  manifests/f/Fly-io/flyctl/0.3.146/Fly-io.flyctl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270122 Add version: vivo.OfficeKit version 5.5.1.0 (5.5.1)
  manifests/v/vivo/OfficeKit/5.5.1.0/vivo.OfficeKit.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270112 New version: Redisant.IEC104ClientSimulator version 1.2.0.0
  manifests/r/Redisant/IEC104ClientSimulator/1.2.0.0/Redisant.IEC104ClientSimulator.installer.yaml
  manifests/r/Redisant/IEC104ClientSimulator/1.2.0.0/Redisant.IEC104ClientSimulator.locale.en-US.yaml
  manifests/r/Redisant/IEC104ClientSimulator/1.2.0.0/Redisant.IEC104ClientSimulator.locale.zh-CN.yaml
  manifests/r/Redisant/IEC104ClientSimulator/1.2.0.0/Redisant.IEC104ClientSimulator.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270108 Update: KDE.Elisa version 25.07.70 (3929)
  manifests/k/KDE/Elisa/25.07.70/KDE.Elisa.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#269968 New version: KDE.Ark version 25.04.3 (25.04-2177)
  manifests/k/KDE/Ark/25.04.3/KDE.Ark.installer.yaml
  manifests/k/KDE/Ark/25.04.3/KDE.Ark.locale.en-US.yaml
  manifests/k/KDE/Ark/25.04.3/KDE.Ark.locale.zh-CN.yaml
  manifests/k/KDE/Ark/25.04.3/KDE.Ark.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Manifest

#270133 New version: KDE.Umbrello version 25.04.3 (25.04-1233)
  manifests/k/KDE/Umbrello/25.04.3/KDE.Umbrello.installer.yaml
  manifests/k/KDE/Umbrello/25.04.3/KDE.Umbrello.locale.en-US.yaml
  manifests/k/KDE/Umbrello/25.04.3/KDE.Umbrello.locale.zh-CN.yaml
  manifests/k/KDE/Umbrello/25.04.3/KDE.Umbrello.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270124 New version: CreativeForce.Hue version 5.25.0
  manifests/c/CreativeForce/Hue/5.25.0/CreativeForce.Hue.installer.yaml
  manifests/c/CreativeForce/Hue/5.25.0/CreativeForce.Hue.locale.en-US.yaml
  manifests/c/CreativeForce/Hue/5.25.0/CreativeForce.Hue.locale.zh-CN.yaml
  manifests/c/CreativeForce/Hue/5.25.0/CreativeForce.Hue.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270128 New version: KDE.Kasts version 25.04.3 (25.04-3898)
  manifests/k/KDE/Kasts/25.04.3/KDE.Kasts.installer.yaml
  manifests/k/KDE/Kasts/25.04.3/KDE.Kasts.locale.en-US.yaml
  manifests/k/KDE/Kasts/25.04.3/KDE.Kasts.locale.zh-CN.yaml
  manifests/k/KDE/Kasts/25.04.3/KDE.Kasts.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270129 New version: KDE.NeoChat version 25.04.3 (25.04-12312)
  manifests/k/KDE/NeoChat/25.04.3/KDE.NeoChat.installer.yaml
  manifests/k/KDE/NeoChat/25.04.3/KDE.NeoChat.locale.en-US.yaml
  manifests/k/KDE/NeoChat/25.04.3/KDE.NeoChat.locale.zh-CN.yaml
  manifests/k/KDE/NeoChat/25.04.3/KDE.NeoChat.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270135 New version: LobeHub.LobeHub version 1.96.13
  manifests/l/LobeHub/LobeHub/1.96.13/LobeHub.LobeHub.installer.yaml
  manifests/l/LobeHub/LobeHub/1.96.13/LobeHub.LobeHub.locale.en-US.yaml
  manifests/l/LobeHub/LobeHub/1.96.13/LobeHub.LobeHub.locale.zh-CN.yaml
  manifests/l/LobeHub/LobeHub/1.96.13/LobeHub.LobeHub.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#268776 New package: TechPowerUp.ThrottleStop version 9.7
  manifests/t/TechPowerUp/ThrottleStop/9.7/TechPowerUp.ThrottleStop.installer.yaml
  manifests/t/TechPowerUp/ThrottleStop/9.7/TechPowerUp.ThrottleStop.locale.en-US.yaml
  manifests/t/TechPowerUp/ThrottleStop/9.7/TechPowerUp.ThrottleStop.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#269814 New version: BtbN.FFmpeg.GPL.Shared.6.1 version 6.1.2-20250630 (2025-06-30-13-55)
  manifests/b/BtbN/FFmpeg/GPL/Shared/6/1/6.1.2-20250630/BtbN.FFmpeg.GPL.Shared.6.1.installer.yaml
  manifests/b/BtbN/FFmpeg/GPL/Shared/6/1/6.1.2-20250630/BtbN.FFmpeg.GPL.Shared.6.1.locale.en-US.yaml
  manifests/b/BtbN/FFmpeg/GPL/Shared/6/1/6.1.2-20250630/BtbN.FFmpeg.GPL.Shared.6.1.locale.zh-CN.yaml
  manifests/b/BtbN/FFmpeg/GPL/Shared/6/1/6.1.2-20250630/BtbN.FFmpeg.GPL.Shared.6.1.yaml
Labels: Azure-Pipeline-Passed, Validation-Executable-Error, Moderator-Approved, Needs-Attention, Needs-Manual-Merge, New-Manifest

#269820 New version: BtbN.FFmpeg.LGPL.Shared.6.1 version 6.1.2-20250630 (2025-06-30-13-55)
  manifests/b/BtbN/FFmpeg/LGPL/Shared/6/1/6.1.2-20250630/BtbN.FFmpeg.LGPL.Shared.6.1.installer.yaml
  manifests/b/BtbN/FFmpeg/LGPL/Shared/6/1/6.1.2-20250630/BtbN.FFmpeg.LGPL.Shared.6.1.locale.en-US.yaml
  manifests/b/BtbN/FFmpeg/LGPL/Shared/6/1/6.1.2-20250630/BtbN.FFmpeg.LGPL.Shared.6.1.locale.zh-CN.yaml
  manifests/b/BtbN/FFmpeg/LGPL/Shared/6/1/6.1.2-20250630/BtbN.FFmpeg.LGPL.Shared.6.1.yaml
Labels: Azure-Pipeline-Passed, Validation-Executable-Error, Moderator-Approved, Needs-Attention, Needs-Manual-Merge, New-Manifest

#269847 New version: Datadog.dd-trace-dotnet version 3.20.0
  manifests/d/Datadog/dd-trace-dotnet/3.20.0/Datadog.dd-trace-dotnet.installer.yaml
  manifests/d/Datadog/dd-trace-dotnet/3.20.0/Datadog.dd-trace-dotnet.locale.en-US.yaml
  manifests/d/Datadog/dd-trace-dotnet/3.20.0/Datadog.dd-trace-dotnet.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269982 New version: HiroshibaKazuyuki.VOICEVOX.CPU version 0.24.1
  manifests/h/HiroshibaKazuyuki/VOICEVOX/CPU/0.24.1/HiroshibaKazuyuki.VOICEVOX.CPU.installer.yaml
  manifests/h/HiroshibaKazuyuki/VOICEVOX/CPU/0.24.1/HiroshibaKazuyuki.VOICEVOX.CPU.locale.en-US.yaml
  manifests/h/HiroshibaKazuyuki/VOICEVOX/CPU/0.24.1/HiroshibaKazuyuki.VOICEVOX.CPU.yaml
Labels: Azure-Pipeline-Passed, Validation-Executable-Error, Moderator-Approved, Needs-Attention, Needs-Manual-Merge, New-Manifest

#270116 Revert "Remove version: TechPowerUp.NVCleanstall version 1.17.0"
  manifests/t/TechPowerUp/NVCleanstall/1.17.0/TechPowerUp.NVCleanstall.installer.yaml
  manifests/t/TechPowerUp/NVCleanstall/1.17.0/TechPowerUp.NVCleanstall.locale.en-US.yaml
  manifests/t/TechPowerUp/NVCleanstall/1.17.0/TechPowerUp.NVCleanstall.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270136 New version: jdx.mise version 2025.7.0
  manifests/j/jdx/mise/2025.7.0/jdx.mise.installer.yaml
  manifests/j/jdx/mise/2025.7.0/jdx.mise.locale.en-US.yaml
  manifests/j/jdx/mise/2025.7.0/jdx.mise.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270139 Modify: IObit.MalwareFighter version 12.4.0.1536
  manifests/i/IObit/MalwareFighter/12.4.0.1536/IObit.MalwareFighter.installer.yaml
  manifests/i/IObit/MalwareFighter/12.4.0.1536/IObit.MalwareFighter.locale.en-US.yaml
  manifests/i/IObit/MalwareFighter/12.4.0.1536/IObit.MalwareFighter.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270145 New version: KDE.digiKam version 8.7.0
  manifests/k/KDE/digiKam/8.7.0/KDE.digiKam.installer.yaml
  manifests/k/KDE/digiKam/8.7.0/KDE.digiKam.locale.en-US.yaml
  manifests/k/KDE/digiKam/8.7.0/KDE.digiKam.locale.zh-CN.yaml
  manifests/k/KDE/digiKam/8.7.0/KDE.digiKam.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270150 New version: Abdelrhman-AK.WinPaletter version 1.0.9.4
  manifests/a/Abdelrhman-AK/WinPaletter/1.0.9.4/Abdelrhman-AK.WinPaletter.installer.yaml
  manifests/a/Abdelrhman-AK/WinPaletter/1.0.9.4/Abdelrhman-AK.WinPaletter.locale.en-US.yaml
  manifests/a/Abdelrhman-AK/WinPaletter/1.0.9.4/Abdelrhman-AK.WinPaletter.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270152 New version: bkryza.clang-uml version 0.6.2
  manifests/b/bkryza/clang-uml/0.6.2/bkryza.clang-uml.installer.yaml
  manifests/b/bkryza/clang-uml/0.6.2/bkryza.clang-uml.locale.en-US.yaml
  manifests/b/bkryza/clang-uml/0.6.2/bkryza.clang-uml.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270154 New version: Fedora.FedoraMediaWriter version 5.2.7
  manifests/f/Fedora/FedoraMediaWriter/5.2.7/Fedora.FedoraMediaWriter.installer.yaml
  manifests/f/Fedora/FedoraMediaWriter/5.2.7/Fedora.FedoraMediaWriter.locale.en-US.yaml
  manifests/f/Fedora/FedoraMediaWriter/5.2.7/Fedora.FedoraMediaWriter.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270155 New version: Baidu.BaiduNetdisk version 7.58.0
  manifests/b/Baidu/BaiduNetdisk/7.58.0/Baidu.BaiduNetdisk.installer.yaml
  manifests/b/Baidu/BaiduNetdisk/7.58.0/Baidu.BaiduNetdisk.locale.en-US.yaml
  manifests/b/Baidu/BaiduNetdisk/7.58.0/Baidu.BaiduNetdisk.locale.zh-CN.yaml
  manifests/b/Baidu/BaiduNetdisk/7.58.0/Baidu.BaiduNetdisk.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#270156 New version: JohannesMillan.superProductivity version 14.0.1
  manifests/j/JohannesMillan/superProductivity/14.0.1/JohannesMillan.superProductivity.installer.yaml
  manifests/j/JohannesMillan/superProductivity/14.0.1/JohannesMillan.superProductivity.locale.en-US.yaml
  manifests/j/JohannesMillan/superProductivity/14.0.1/JohannesMillan.superProductivity.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270158 New version: Exoscale.CLI version 1.85.2
  manifests/e/Exoscale/CLI/1.85.2/Exoscale.CLI.installer.yaml
  manifests/e/Exoscale/CLI/1.85.2/Exoscale.CLI.locale.en-US.yaml
  manifests/e/Exoscale/CLI/1.85.2/Exoscale.CLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270165 New version: kevin.Astral version 2.1.8
  manifests/k/kevin/Astral/2.1.8/kevin.Astral.installer.yaml
  manifests/k/kevin/Astral/2.1.8/kevin.Astral.locale.zh-CN.yaml
  manifests/k/kevin/Astral/2.1.8/kevin.Astral.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270163 New version: HiroSystems.Clarinet version 3.2.0
  manifests/h/HiroSystems/Clarinet/3.2.0/HiroSystems.Clarinet.installer.yaml
  manifests/h/HiroSystems/Clarinet/3.2.0/HiroSystems.Clarinet.locale.en-US.yaml
  manifests/h/HiroSystems/Clarinet/3.2.0/HiroSystems.Clarinet.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270167 New version: 8x8.Work version 8.24.2 (8.24.2.2)
  manifests/8/8x8/Work/8.24.2/8x8.Work.installer.yaml
  manifests/8/8x8/Work/8.24.2/8x8.Work.locale.en-US.yaml
  manifests/8/8x8/Work/8.24.2/8x8.Work.locale.zh-CN.yaml
  manifests/8/8x8/Work/8.24.2/8x8.Work.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270168 New version: Game1024.OpenSpeedy version 1.7.5
  manifests/g/Game1024/OpenSpeedy/1.7.5/Game1024.OpenSpeedy.installer.yaml
  manifests/g/Game1024/OpenSpeedy/1.7.5/Game1024.OpenSpeedy.locale.en-US.yaml
  manifests/g/Game1024/OpenSpeedy/1.7.5/Game1024.OpenSpeedy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270174 New version: Spotify.Spotify version 1.2.67.557.g2d9c92d2 (1.2.67.557)
  manifests/s/Spotify/Spotify/1.2.67.557.g2d9c92d2/Spotify.Spotify.installer.yaml
  manifests/s/Spotify/Spotify/1.2.67.557.g2d9c92d2/Spotify.Spotify.locale.en-US.yaml
  manifests/s/Spotify/Spotify/1.2.67.557.g2d9c92d2/Spotify.Spotify.locale.zh-CN.yaml
  manifests/s/Spotify/Spotify/1.2.67.557.g2d9c92d2/Spotify.Spotify.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270175 New version: TeamViewer.TeamViewer version 15.67.4
  manifests/t/TeamViewer/TeamViewer/15.67.4/TeamViewer.TeamViewer.installer.yaml
  manifests/t/TeamViewer/TeamViewer/15.67.4/TeamViewer.TeamViewer.locale.de-DE.yaml
  manifests/t/TeamViewer/TeamViewer/15.67.4/TeamViewer.TeamViewer.locale.en-US.yaml
  manifests/t/TeamViewer/TeamViewer/15.67.4/TeamViewer.TeamViewer.locale.zh-CN.yaml
  manifests/t/TeamViewer/TeamViewer/15.67.4/TeamViewer.TeamViewer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270176 New version: TeamViewer.TeamViewer.Host version 15.67.4
  manifests/t/TeamViewer/TeamViewer/Host/15.67.4/TeamViewer.TeamViewer.Host.installer.yaml
  manifests/t/TeamViewer/TeamViewer/Host/15.67.4/TeamViewer.TeamViewer.Host.locale.en-US.yaml
  manifests/t/TeamViewer/TeamViewer/Host/15.67.4/TeamViewer.TeamViewer.Host.locale.zh-CN.yaml
  manifests/t/TeamViewer/TeamViewer/Host/15.67.4/TeamViewer.TeamViewer.Host.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270182 New version: EdrawSoft.EdrawMax.CN version 14.5.4.1328 (14.5.4)
  manifests/e/EdrawSoft/EdrawMax/CN/14.5.4.1328/EdrawSoft.EdrawMax.CN.installer.yaml
  manifests/e/EdrawSoft/EdrawMax/CN/14.5.4.1328/EdrawSoft.EdrawMax.CN.locale.en-US.yaml
  manifests/e/EdrawSoft/EdrawMax/CN/14.5.4.1328/EdrawSoft.EdrawMax.CN.locale.zh-CN.yaml
  manifests/e/EdrawSoft/EdrawMax/CN/14.5.4.1328/EdrawSoft.EdrawMax.CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270184 Update: PaulPacifico.ShutterEncoder version 19.1
  manifests/p/PaulPacifico/ShutterEncoder/19.1/PaulPacifico.ShutterEncoder.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed

#270185 New version: TriliumNext.Notes version 0.96.0
  manifests/t/TriliumNext/Notes/0.96.0/TriliumNext.Notes.installer.yaml
  manifests/t/TriliumNext/Notes/0.96.0/TriliumNext.Notes.locale.en-US.yaml
  manifests/t/TriliumNext/Notes/0.96.0/TriliumNext.Notes.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270218 New version: Clockify.Clockify version 2.0.0
  manifests/c/Clockify/Clockify/1.8.6/Clockify.Clockify.locale.en-US.yaml
  manifests/c/Clockify/Clockify/2.0.0/Clockify.Clockify.installer.yaml
  manifests/c/Clockify/Clockify/2.0.0/Clockify.Clockify.locale.en-US.yaml
  manifests/c/Clockify/Clockify/2.0.0/Clockify.Clockify.locale.zh-CN.yaml
  manifests/c/Clockify/Clockify/2.0.0/Clockify.Clockify.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270221 New version: Google.Chrome.Canary version 140.0.7271.0
  manifests/g/Google/Chrome/Canary/140.0.7271.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/140.0.7271.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/140.0.7271.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/140.0.7271.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/140.0.7271.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270223 New version: HHDSoftware.VirtualSerialPortTools version 7.01.00.1604
  manifests/h/HHDSoftware/VirtualSerialPortTools/7.01.00.1604/HHDSoftware.VirtualSerialPortTools.installer.yaml
  manifests/h/HHDSoftware/VirtualSerialPortTools/7.01.00.1604/HHDSoftware.VirtualSerialPortTools.locale.en-US.yaml
  manifests/h/HHDSoftware/VirtualSerialPortTools/7.01.00.1604/HHDSoftware.VirtualSerialPortTools.locale.zh-CN.yaml
  manifests/h/HHDSoftware/VirtualSerialPortTools/7.01.00.1604/HHDSoftware.VirtualSerialPortTools.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270227 New version: Kingsoft.WPSOffice.CN version 12.1.0.21915
  manifests/k/Kingsoft/WPSOffice/CN/12.1.0.21915/Kingsoft.WPSOffice.CN.installer.yaml
  manifests/k/Kingsoft/WPSOffice/CN/12.1.0.21915/Kingsoft.WPSOffice.CN.locale.en-US.yaml
  manifests/k/Kingsoft/WPSOffice/CN/12.1.0.21915/Kingsoft.WPSOffice.CN.locale.zh-CN.yaml
  manifests/k/Kingsoft/WPSOffice/CN/12.1.0.21915/Kingsoft.WPSOffice.CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270235 New version: Tencent.WeChat.Universal version 4.0.6.13
  manifests/t/Tencent/WeChat/Universal/4.0.6.13/Tencent.WeChat.Universal.installer.yaml
  manifests/t/Tencent/WeChat/Universal/4.0.6.13/Tencent.WeChat.Universal.locale.en-US.yaml
  manifests/t/Tencent/WeChat/Universal/4.0.6.13/Tencent.WeChat.Universal.locale.zh-Hans-CN.yaml
  manifests/t/Tencent/WeChat/Universal/4.0.6.13/Tencent.WeChat.Universal.locale.zh-Hans.yaml
  manifests/t/Tencent/WeChat/Universal/4.0.6.13/Tencent.WeChat.Universal.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270232 New version: Bilibili.Livehime version 7.17.0.9343
  manifests/b/Bilibili/Livehime/7.17.0.9343/Bilibili.Livehime.installer.yaml
  manifests/b/Bilibili/Livehime/7.17.0.9343/Bilibili.Livehime.locale.en-US.yaml
  manifests/b/Bilibili/Livehime/7.17.0.9343/Bilibili.Livehime.locale.zh-CN.yaml
  manifests/b/Bilibili/Livehime/7.17.0.9343/Bilibili.Livehime.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269781 AlDanial.Cloc.installer.yaml: Corrected sha256 hash
  manifests/a/AlDanial/Cloc/2.06/AlDanial.Cloc.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270236 TreeSize V9.5.1
  manifests/j/JAMSoftware/TreeSize/9.5.1/JAMSoftware.TreeSize.installer.yaml
  manifests/j/JAMSoftware/TreeSize/9.5.1/JAMSoftware.TreeSize.locale.en-US.yaml
  manifests/j/JAMSoftware/TreeSize/9.5.1/JAMSoftware.TreeSize.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269667 New version: Lean.Lean version 4.21.0
  manifests/l/Lean/Lean/4.21.0/Lean.Lean.installer.yaml
  manifests/l/Lean/Lean/4.21.0/Lean.Lean.locale.en-US.yaml
  manifests/l/Lean/Lean/4.21.0/Lean.Lean.locale.zh-CN.yaml
  manifests/l/Lean/Lean/4.21.0/Lean.Lean.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269669 New version: Synology.BeeStation version 1.3.4-570
  manifests/s/Synology/BeeStation/1.3.4-570/Synology.BeeStation.installer.yaml
  manifests/s/Synology/BeeStation/1.3.4-570/Synology.BeeStation.locale.en-US.yaml
  manifests/s/Synology/BeeStation/1.3.4-570/Synology.BeeStation.locale.zh-CN.yaml
  manifests/s/Synology/BeeStation/1.3.4-570/Synology.BeeStation.yaml
Labels: Validation-Completed, Moderator-Approved

#270243 New version: OpenJS.Electron.37 version 37.1.0
  manifests/o/OpenJS/Electron/37/37.1.0/OpenJS.Electron.37.installer.yaml
  manifests/o/OpenJS/Electron/37/37.1.0/OpenJS.Electron.37.locale.en-US.yaml
  manifests/o/OpenJS/Electron/37/37.1.0/OpenJS.Electron.37.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270255 Remove: CrystalDewWorld.CrystalDiskInfo version 8.12.5
  manifests/c/CrystalDewWorld/CrystalDiskInfo/8.12.5/CrystalDewWorld.CrystalDiskInfo.installer.yaml
  manifests/c/CrystalDewWorld/CrystalDiskInfo/8.12.5/CrystalDewWorld.CrystalDiskInfo.locale.en-US.yaml
  manifests/c/CrystalDewWorld/CrystalDiskInfo/8.12.5/CrystalDewWorld.CrystalDiskInfo.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270252 New version: IndigoByte.DrExplain version 6.10.1348
  manifests/i/IndigoByte/DrExplain/6.10.1348/IndigoByte.DrExplain.installer.yaml
  manifests/i/IndigoByte/DrExplain/6.10.1348/IndigoByte.DrExplain.locale.en-US.yaml
  manifests/i/IndigoByte/DrExplain/6.10.1348/IndigoByte.DrExplain.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270264 New version: jqlang.jq version 1.8.1
  manifests/j/jqlang/jq/1.8.1/jqlang.jq.installer.yaml
  manifests/j/jqlang/jq/1.8.1/jqlang.jq.locale.en-US.yaml
  manifests/j/jqlang/jq/1.8.1/jqlang.jq.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270261 New version: alfaview.alfaview version 9.22.6
  manifests/a/alfaview/alfaview/9.22.6/alfaview.alfaview.installer.yaml
  manifests/a/alfaview/alfaview/9.22.6/alfaview.alfaview.locale.en-US.yaml
  manifests/a/alfaview/alfaview/9.22.6/alfaview.alfaview.locale.zh-CN.yaml
  manifests/a/alfaview/alfaview/9.22.6/alfaview.alfaview.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269721 New version: JetBrains.dotUltimate version 2025.1.4
  manifests/j/JetBrains/dotUltimate/2025.1.4/JetBrains.dotUltimate.installer.yaml
  manifests/j/JetBrains/dotUltimate/2025.1.4/JetBrains.dotUltimate.locale.en-US.yaml
  manifests/j/JetBrains/dotUltimate/2025.1.4/JetBrains.dotUltimate.locale.zh-CN.yaml
  manifests/j/JetBrains/dotUltimate/2025.1.4/JetBrains.dotUltimate.yaml
Labels: Validation-Completed, Moderator-Approved

#270169 New version: chaosweasl.interva version 1.2.1
  manifests/c/chaosweasl/interva/1.2.1/chaosweasl.interva.installer.yaml
  manifests/c/chaosweasl/interva/1.2.1/chaosweasl.interva.locale.en-US.yaml
  manifests/c/chaosweasl/interva/1.2.1/chaosweasl.interva.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Manifest

#270283 Remove Version: Astronomer.Astro version 1.35.0
  manifests/a/Astronomer/Astro/1.35.0/Astronomer.Astro.installer.yaml
  manifests/a/Astronomer/Astro/1.35.0/Astronomer.Astro.locale.en-US.yaml
  manifests/a/Astronomer/Astro/1.35.0/Astronomer.Astro.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270269 New version: abgox.InputTip version 2.40.6
  manifests/a/abgox/InputTip/2.40.6/abgox.InputTip.installer.yaml
  manifests/a/abgox/InputTip/2.40.6/abgox.InputTip.locale.en-US.yaml
  manifests/a/abgox/InputTip/2.40.6/abgox.InputTip.locale.zh-CN.yaml
  manifests/a/abgox/InputTip/2.40.6/abgox.InputTip.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270123 New version: codexu.NoteGen version 0.19.1
  manifests/c/codexu/NoteGen/0.19.1/codexu.NoteGen.installer.yaml
  manifests/c/codexu/NoteGen/0.19.1/codexu.NoteGen.locale.en-US.yaml
  manifests/c/codexu/NoteGen/0.19.1/codexu.NoteGen.locale.zh-CN.yaml
  manifests/c/codexu/NoteGen/0.19.1/codexu.NoteGen.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Manifest

#270244 New version: RoyalApps.RoyalTS.7 version 7.3.50701.0
  manifests/r/RoyalApps/RoyalTS/7/7.3.50701.0/RoyalApps.RoyalTS.7.installer.yaml
  manifests/r/RoyalApps/RoyalTS/7/7.3.50701.0/RoyalApps.RoyalTS.7.locale.en-US.yaml
  manifests/r/RoyalApps/RoyalTS/7/7.3.50701.0/RoyalApps.RoyalTS.7.locale.zh-CN.yaml
  manifests/r/RoyalApps/RoyalTS/7/7.3.50701.0/RoyalApps.RoyalTS.7.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270272 New version: NetEase.YoudaoNote version 8.1.50
  manifests/n/NetEase/YoudaoNote/8.1.50/NetEase.YoudaoNote.installer.yaml
  manifests/n/NetEase/YoudaoNote/8.1.50/NetEase.YoudaoNote.locale.en-US.yaml
  manifests/n/NetEase/YoudaoNote/8.1.50/NetEase.YoudaoNote.locale.zh-CN.yaml
  manifests/n/NetEase/YoudaoNote/8.1.50/NetEase.YoudaoNote.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270274 CrystalDewWorld.CrystalDiskInfo version 9.2.0
  manifests/c/CrystalDewWorld/CrystalDiskInfo/9.2.0/CrystalDewWorld.CrystalDiskInfo.installer.yaml
  manifests/c/CrystalDewWorld/CrystalDiskInfo/9.2.0/CrystalDewWorld.CrystalDiskInfo.locale.en-US.yaml
  manifests/c/CrystalDewWorld/CrystalDiskInfo/9.2.0/CrystalDewWorld.CrystalDiskInfo.locale.zh-CN.yaml
  manifests/c/CrystalDewWorld/CrystalDiskInfo/9.2.0/CrystalDewWorld.CrystalDiskInfo.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#267779 Modify: DuckStudio.Sundry version 1.0.10 (Auto)
  manifests/d/DuckStudio/Sundry/1.0.10/DuckStudio.Sundry.installer.yaml
  manifests/d/DuckStudio/Sundry/1.0.10/DuckStudio.Sundry.locale.en-US.yaml
  manifests/d/DuckStudio/Sundry/1.0.10/DuckStudio.Sundry.locale.zh-CN.yaml
  manifests/d/DuckStudio/Sundry/1.0.10/DuckStudio.Sundry.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved

#270281 CrystalDewWorld.CrystalDiskInfo.AoiEdition version 9.2.3
  manifests/c/CrystalDewWorld/CrystalDiskInfo/AoiEdition/9.2.3/CrystalDewWorld.CrystalDiskInfo.AoiEdition.installer.yaml
  manifests/c/CrystalDewWorld/CrystalDiskInfo/AoiEdition/9.2.3/CrystalDewWorld.CrystalDiskInfo.AoiEdition.locale.en-US.yaml
  manifests/c/CrystalDewWorld/CrystalDiskInfo/AoiEdition/9.2.3/CrystalDewWorld.CrystalDiskInfo.AoiEdition.locale.zh-CN.yaml
  manifests/c/CrystalDewWorld/CrystalDiskInfo/AoiEdition/9.2.3/CrystalDewWorld.CrystalDiskInfo.AoiEdition.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269819 New version: BtbN.FFmpeg.LGPL.Shared version N-120061-gcfd1f81e7d-20250630 (2025-06-30-13-55)
  manifests/b/BtbN/FFmpeg/LGPL/Shared/N-120061-gcfd1f81e7d-20250630/BtbN.FFmpeg.LGPL.Shared.installer.yaml
  manifests/b/BtbN/FFmpeg/LGPL/Shared/N-120061-gcfd1f81e7d-20250630/BtbN.FFmpeg.LGPL.Shared.locale.en-US.yaml
  manifests/b/BtbN/FFmpeg/LGPL/Shared/N-120061-gcfd1f81e7d-20250630/BtbN.FFmpeg.LGPL.Shared.locale.zh-CN.yaml
  manifests/b/BtbN/FFmpeg/LGPL/Shared/N-120061-gcfd1f81e7d-20250630/BtbN.FFmpeg.LGPL.Shared.yaml
Labels: Validation-Completed, Moderator-Approved, New-Manifest

#270287 New version: okteto.okteto version 3.9.0
  manifests/o/okteto/okteto/3.9.0/okteto.okteto.installer.yaml
  manifests/o/okteto/okteto/3.9.0/okteto.okteto.locale.en-US.yaml
  manifests/o/okteto/okteto/3.9.0/okteto.okteto.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270290 New version: Element.Element version 1.11.105
  manifests/e/Element/Element/1.11.105/Element.Element.installer.yaml
  manifests/e/Element/Element/1.11.105/Element.Element.locale.en-US.yaml
  manifests/e/Element/Element/1.11.105/Element.Element.locale.zh-CN.yaml
  manifests/e/Element/Element/1.11.105/Element.Element.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270298 New version: ente-io.photos-desktop version 1.7.14
  manifests/e/ente-io/photos-desktop/1.7.14/ente-io.photos-desktop.installer.yaml
  manifests/e/ente-io/photos-desktop/1.7.14/ente-io.photos-desktop.locale.en-US.yaml
  manifests/e/ente-io/photos-desktop/1.7.14/ente-io.photos-desktop.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270309 ReleaseNotes: RoyalApps.RoyalTS.7 version 7.3.50701.0
  manifests/r/RoyalApps/RoyalTS/7/7.3.50701.0/RoyalApps.RoyalTS.7.installer.yaml
  manifests/r/RoyalApps/RoyalTS/7/7.3.50701.0/RoyalApps.RoyalTS.7.locale.en-US.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270311 New version: FunRoutine.WorkFlowy version 4.1.2507011105
  manifests/f/FunRoutine/WorkFlowy/4.1.2507011105/FunRoutine.WorkFlowy.installer.yaml
  manifests/f/FunRoutine/WorkFlowy/4.1.2507011105/FunRoutine.WorkFlowy.locale.en-US.yaml
  manifests/f/FunRoutine/WorkFlowy/4.1.2507011105/FunRoutine.WorkFlowy.locale.zh-CN.yaml
  manifests/f/FunRoutine/WorkFlowy/4.1.2507011105/FunRoutine.WorkFlowy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270308 New version: Brave.Brave.Nightly version 138.1.82.40
  manifests/b/Brave/Brave/Nightly/138.1.82.40/Brave.Brave.Nightly.installer.yaml
  manifests/b/Brave/Brave/Nightly/138.1.82.40/Brave.Brave.Nightly.locale.en-US.yaml
  manifests/b/Brave/Brave/Nightly/138.1.82.40/Brave.Brave.Nightly.locale.zh-CN.yaml
  manifests/b/Brave/Brave/Nightly/138.1.82.40/Brave.Brave.Nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270314 New version: CozyCloud.CozyDrive.Beta version 4.0.0-beta.6
  manifests/c/CozyCloud/CozyDrive/Beta/4.0.0-beta.6/CozyCloud.CozyDrive.Beta.installer.yaml
  manifests/c/CozyCloud/CozyDrive/Beta/4.0.0-beta.6/CozyCloud.CozyDrive.Beta.locale.en-US.yaml
  manifests/c/CozyCloud/CozyDrive/Beta/4.0.0-beta.6/CozyCloud.CozyDrive.Beta.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270307 New version: Brave.Brave version 138.1.80.115
  manifests/b/Brave/Brave/138.1.80.115/Brave.Brave.installer.yaml
  manifests/b/Brave/Brave/138.1.80.115/Brave.Brave.locale.en-US.yaml
  manifests/b/Brave/Brave/138.1.80.115/Brave.Brave.locale.zh-CN.yaml
  manifests/b/Brave/Brave/138.1.80.115/Brave.Brave.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270318 New version: everauto.zTasker version 2.2.4
  manifests/e/everauto/zTasker/2.2.4/everauto.zTasker.installer.yaml
  manifests/e/everauto/zTasker/2.2.4/everauto.zTasker.locale.en-US.yaml
  manifests/e/everauto/zTasker/2.2.4/everauto.zTasker.locale.zh-CN.yaml
  manifests/e/everauto/zTasker/2.2.4/everauto.zTasker.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270319 New version: FunRoutine.WorkFlowy version 4.1.2507011650
  manifests/f/FunRoutine/WorkFlowy/4.1.2507011650/FunRoutine.WorkFlowy.installer.yaml
  manifests/f/FunRoutine/WorkFlowy/4.1.2507011650/FunRoutine.WorkFlowy.locale.en-US.yaml
  manifests/f/FunRoutine/WorkFlowy/4.1.2507011650/FunRoutine.WorkFlowy.locale.zh-CN.yaml
  manifests/f/FunRoutine/WorkFlowy/4.1.2507011650/FunRoutine.WorkFlowy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270321 Update: MediaHuman.YouTubeDownloader version 3.9.14
  manifests/m/MediaHuman/YouTubeDownloader/3.9.14/MediaHuman.YouTubeDownloader.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270323 New version: Ollama.Ollama version 0.9.4
  manifests/o/Ollama/Ollama/0.9.4/Ollama.Ollama.installer.yaml
  manifests/o/Ollama/Ollama/0.9.4/Ollama.Ollama.locale.en-US.yaml
  manifests/o/Ollama/Ollama/0.9.4/Ollama.Ollama.locale.zh-CN.yaml
  manifests/o/Ollama/Ollama/0.9.4/Ollama.Ollama.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270315 New version: Microsoft.Edge.Beta version 138.0.3351.65
  manifests/m/Microsoft/Edge/Beta/138.0.3351.65/Microsoft.Edge.Beta.installer.yaml
  manifests/m/Microsoft/Edge/Beta/138.0.3351.65/Microsoft.Edge.Beta.locale.en-US.yaml
  manifests/m/Microsoft/Edge/Beta/138.0.3351.65/Microsoft.Edge.Beta.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270324 New version: HearthSim.HearthstoneDeckTracker version 1.45.0
  manifests/h/HearthSim/HearthstoneDeckTracker/1.45.0/HearthSim.HearthstoneDeckTracker.installer.yaml
  manifests/h/HearthSim/HearthstoneDeckTracker/1.45.0/HearthSim.HearthstoneDeckTracker.locale.en-US.yaml
  manifests/h/HearthSim/HearthstoneDeckTracker/1.45.0/HearthSim.HearthstoneDeckTracker.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270322 New version: Microsoft.EdgeWebView2Runtime version 138.0.3351.65
  manifests/m/Microsoft/EdgeWebView2Runtime/138.0.3351.65/Microsoft.EdgeWebView2Runtime.installer.yaml
  manifests/m/Microsoft/EdgeWebView2Runtime/138.0.3351.65/Microsoft.EdgeWebView2Runtime.locale.en-US.yaml
  manifests/m/Microsoft/EdgeWebView2Runtime/138.0.3351.65/Microsoft.EdgeWebView2Runtime.locale.zh-CN.yaml
  manifests/m/Microsoft/EdgeWebView2Runtime/138.0.3351.65/Microsoft.EdgeWebView2Runtime.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270326 New version: AGTEK.Gradework version 1.12
  manifests/a/AGTEK/Gradework/1.12/AGTEK.Gradework.installer.yaml
  manifests/a/AGTEK/Gradework/1.12/AGTEK.Gradework.locale.en-US.yaml
  manifests/a/AGTEK/Gradework/1.12/AGTEK.Gradework.locale.zh-CN.yaml
  manifests/a/AGTEK/Gradework/1.12/AGTEK.Gradework.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270328 New version: AGTEK.Trackwork version 2.25
  manifests/a/AGTEK/Trackwork/2.25/AGTEK.Trackwork.installer.yaml
  manifests/a/AGTEK/Trackwork/2.25/AGTEK.Trackwork.locale.en-US.yaml
  manifests/a/AGTEK/Trackwork/2.25/AGTEK.Trackwork.locale.zh-CN.yaml
  manifests/a/AGTEK/Trackwork/2.25/AGTEK.Trackwork.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270329 New version: AGTEK.UndergroundSA version 1.12
  manifests/a/AGTEK/UndergroundSA/1.12/AGTEK.UndergroundSA.installer.yaml
  manifests/a/AGTEK/UndergroundSA/1.12/AGTEK.UndergroundSA.locale.en-US.yaml
  manifests/a/AGTEK/UndergroundSA/1.12/AGTEK.UndergroundSA.locale.zh-CN.yaml
  manifests/a/AGTEK/UndergroundSA/1.12/AGTEK.UndergroundSA.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270332 New version: Amazon.AWSCLI version 2.27.47
  manifests/a/Amazon/AWSCLI/2.27.47/Amazon.AWSCLI.installer.yaml
  manifests/a/Amazon/AWSCLI/2.27.47/Amazon.AWSCLI.locale.en-US.yaml
  manifests/a/Amazon/AWSCLI/2.27.47/Amazon.AWSCLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#269965 Lenovo Update Retriever version 5.08.02.33
  manifests/l/Lenovo/UpdateRetriever/5.08.02.33/Lenovo.UpdateRetriever.installer.yaml
  manifests/l/Lenovo/UpdateRetriever/5.08.02.33/Lenovo.UpdateRetriever.locale.en-US.yaml
  manifests/l/Lenovo/UpdateRetriever/5.08.02.33/Lenovo.UpdateRetriever.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, URL-Validation-Error, Moderator-Approved, New-Manifest

#270330 New version: Cisco.Webex version 45.7.0.32689
  manifests/c/Cisco/Webex/45.7.0.32689/Cisco.Webex.installer.yaml
  manifests/c/Cisco/Webex/45.7.0.32689/Cisco.Webex.locale.en-US.yaml
  manifests/c/Cisco/Webex/45.7.0.32689/Cisco.Webex.locale.zh-CN.yaml
  manifests/c/Cisco/Webex/45.7.0.32689/Cisco.Webex.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270335 New version: pbek.QOwnNotes version 25.7.0
  manifests/p/pbek/QOwnNotes/25.7.0/pbek.QOwnNotes.installer.yaml
  manifests/p/pbek/QOwnNotes/25.7.0/pbek.QOwnNotes.locale.en-US.yaml
  manifests/p/pbek/QOwnNotes/25.7.0/pbek.QOwnNotes.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270339 New version: Discord.Discord.Canary version 1.0.664
  manifests/d/Discord/Discord/Canary/1.0.664/Discord.Discord.Canary.installer.yaml
  manifests/d/Discord/Discord/Canary/1.0.664/Discord.Discord.Canary.locale.en-US.yaml
  manifests/d/Discord/Discord/Canary/1.0.664/Discord.Discord.Canary.locale.zh-CN.yaml
  manifests/d/Discord/Discord/Canary/1.0.664/Discord.Discord.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270341 [PHP] Add new version `PHP.PHP.8.3` - `8.3.23`
  manifests/p/PHP/PHP/8/3/8.3.23/PHP.PHP.8.3.installer.yaml
  manifests/p/PHP/PHP/8/3/8.3.23/PHP.PHP.8.3.locale.en-US.yaml
  manifests/p/PHP/PHP/8/3/8.3.23/PHP.PHP.8.3.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270344 New version: SimpleX.SimpleX-Chat version 6.3.7
  manifests/s/SimpleX/SimpleX-Chat/6.3.7/SimpleX.SimpleX-Chat.installer.yaml
  manifests/s/SimpleX/SimpleX-Chat/6.3.7/SimpleX.SimpleX-Chat.locale.en-US.yaml
  manifests/s/SimpleX/SimpleX-Chat/6.3.7/SimpleX.SimpleX-Chat.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270342 New version: Microsoft.Edge version 138.0.3351.65
  manifests/m/Microsoft/Edge/138.0.3351.65/Microsoft.Edge.installer.yaml
  manifests/m/Microsoft/Edge/138.0.3351.65/Microsoft.Edge.locale.en-US.yaml
  manifests/m/Microsoft/Edge/138.0.3351.65/Microsoft.Edge.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge/138.0.3351.65/Microsoft.Edge.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#270217 Remove SonicWALL.NetExtender 10.3.2 to SonicWall.NetExtender 10.3.2
  manifests/s/SonicWALL/NetExtender/10.3.2/SonicWALL.NetExtender.installer.yaml
  manifests/s/SonicWALL/NetExtender/10.3.2/SonicWALL.NetExtender.locale.en-US.yaml
  manifests/s/SonicWALL/NetExtender/10.3.2/SonicWALL.NetExtender.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270213 Remove SonicWALL.NetExtender 10.3.0 to SonicWall.NetExtender 10.3.0
  manifests/s/SonicWALL/NetExtender/10.3.0/SonicWALL.NetExtender.installer.yaml
  manifests/s/SonicWALL/NetExtender/10.3.0/SonicWALL.NetExtender.locale.en-US.yaml
  manifests/s/SonicWALL/NetExtender/10.3.0/SonicWALL.NetExtender.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270207 Remove SonicWALL.NetExtender 10.2.338 to SonicWall.NetExtender 10.2.338
  manifests/s/SonicWALL/NetExtender/10.2.338/SonicWALL.NetExtender.installer.yaml
  manifests/s/SonicWALL/NetExtender/10.2.338/SonicWALL.NetExtender.locale.en-US.yaml
  manifests/s/SonicWALL/NetExtender/10.2.338/SonicWALL.NetExtender.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270203 Remove SonicWALL.NetExtender 10.2.331 to SonicWall.NetExtender 10.2.331
  manifests/s/SonicWALL/NetExtender/10.2.331/SonicWALL.NetExtender.installer.yaml
  manifests/s/SonicWALL/NetExtender/10.2.331/SonicWALL.NetExtender.locale.en-US.yaml
  manifests/s/SonicWALL/NetExtender/10.2.331/SonicWALL.NetExtender.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270201 Remove SonicWALL.NetExtender 10.2.324 to SonicWall.NetExtender 10.2.324
  manifests/s/SonicWALL/NetExtender/10.2.324/SonicWALL.NetExtender.installer.yaml
  manifests/s/SonicWALL/NetExtender/10.2.324/SonicWALL.NetExtender.locale.en-US.yaml
  manifests/s/SonicWALL/NetExtender/10.2.324/SonicWALL.NetExtender.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#270193 Remove SonicWALL.GlobalVPN 4.10.4 to SonicWall.GlobalVPNClient 4.10.4
  manifests/s/SonicWALL/GlobalVPN/4.10.4/SonicWALL.GlobalVPN.installer.yaml
  manifests/s/SonicWALL/GlobalVPN/4.10.4/SonicWALL.GlobalVPN.locale.en-US.yaml
  manifests/s/SonicWALL/GlobalVPN/4.10.4/SonicWALL.GlobalVPN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved
