Repository microsoft/winget-pkgs, pull requests merged in 2025-10, with the labels that each got.

#298826 New version: LuisPater.CLIProxyAPI version 6.0.12
  manifests/l/LuisPater/CLIProxyAPI/6.0.12/LuisPater.CLIProxyAPI.installer.yaml
  manifests/l/LuisPater/CLIProxyAPI/6.0.12/LuisPater.CLIProxyAPI.locale.en-US.yaml
  manifests/l/LuisPater/CLIProxyAPI/6.0.12/LuisPater.CLIProxyAPI.locale.zh-CN.yaml
  manifests/l/LuisPater/CLIProxyAPI/6.0.12/LuisPater.CLIProxyAPI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299421 New version: SumbitLabs.Aptakube version 1.13.3
  manifests/s/SumbitLabs/Aptakube/1.13.3/SumbitLabs.Aptakube.installer.yaml
  manifests/s/SumbitLabs/Aptakube/1.13.3/SumbitLabs.Aptakube.locale.en-US.yaml
  manifests/s/SumbitLabs/Aptakube/1.13.3/SumbitLabs.Aptakube.locale.zh-CN.yaml
  manifests/s/SumbitLabs/Aptakube/1.13.3/SumbitLabs.Aptakube.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Manifest

#298749 New version: Microsoft.VisualStudioCode.Insiders.CLI version 1.105.0
  manifests/m/Microsoft/VisualStudioCode/Insiders/CLI/1.105.0/Microsoft.VisualStudioCode.Insiders.CLI.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299037 New version: Carrier.SystemDesignLoad version 6.3
  manifests/c/Carrier/SystemDesignLoad/6.3/Carrier.SystemDesignLoad.installer.yaml
  manifests/c/Carrier/SystemDesignLoad/6.3/Carrier.SystemDesignLoad.locale.en-US.yaml
  manifests/c/Carrier/SystemDesignLoad/6.3/Carrier.SystemDesignLoad.locale.zh-CN.yaml
  manifests/c/Carrier/SystemDesignLoad/6.3/Carrier.SystemDesignLoad.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, Waived-Validation-Domain, New-Manifest

#299515 New version: KnifMelti.WAU-Settings-GUI version 1.9.0.1
  manifests/k/KnifMelti/WAU-Settings-GUI/1.9.0.1/KnifMelti.WAU-Settings-GUI.installer.yaml
  manifests/k/KnifMelti/WAU-Settings-GUI/1.9.0.1/KnifMelti.WAU-Settings-GUI.locale.en-US.yaml
  manifests/k/KnifMelti/WAU-Settings-GUI/1.9.0.1/KnifMelti.WAU-Settings-GUI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299580 New version: Mozilla.Thunderbird.ESR.cy version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/cy/140.3.1/Mozilla.Thunderbird.ESR.cy.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/cy/140.3.1/Mozilla.Thunderbird.ESR.cy.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/cy/140.3.1/Mozilla.Thunderbird.ESR.cy.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/cy/140.3.1/Mozilla.Thunderbird.ESR.cy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299587 New version: Mozilla.Thunderbird.ESR.es-AR version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/es-AR/140.3.1/Mozilla.Thunderbird.ESR.es-AR.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/es-AR/140.3.1/Mozilla.Thunderbird.ESR.es-AR.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/es-AR/140.3.1/Mozilla.Thunderbird.ESR.es-AR.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/es-AR/140.3.1/Mozilla.Thunderbird.ESR.es-AR.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#298657 New package: VovSoft.BatchImageConverter version 2.3.0.0
  manifests/v/VovSoft/BatchImageConverter/2.3.0.0/VovSoft.BatchImageConverter.installer.yaml
  manifests/v/VovSoft/BatchImageConverter/2.3.0.0/VovSoft.BatchImageConverter.locale.en-US.yaml
  manifests/v/VovSoft/BatchImageConverter/2.3.0.0/VovSoft.BatchImageConverter.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#299590 New version: Mozilla.Thunderbird.ESR.et version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/et/140.3.1/Mozilla.Thunderbird.ESR.et.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/et/140.3.1/Mozilla.Thunderbird.ESR.et.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/et/140.3.1/Mozilla.Thunderbird.ESR.et.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/et/140.3.1/Mozilla.Thunderbird.ESR.et.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299493 New version: BtbN.FFmpeg.GPL.8.0 version 8.0-20250930 (2025-09-30-13-19)
  manifests/b/BtbN/FFmpeg/GPL/8/0/8.0-20250930/BtbN.FFmpeg.GPL.8.0.installer.yaml
  manifests/b/BtbN/FFmpeg/GPL/8/0/8.0-20250930/BtbN.FFmpeg.GPL.8.0.locale.en-US.yaml
  manifests/b/BtbN/FFmpeg/GPL/8/0/8.0-20250930/BtbN.FFmpeg.GPL.8.0.locale.zh-CN.yaml
  manifests/b/BtbN/FFmpeg/GPL/8/0/8.0-20250930/BtbN.FFmpeg.GPL.8.0.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#299508 New version: Musescore.Musescore version 4.6.0.252730940
  manifests/m/Musescore/Musescore/4.6.0.252730940/Musescore.Musescore.installer.yaml
  manifests/m/Musescore/Musescore/4.6.0.252730940/Musescore.Musescore.locale.en-US.yaml
  manifests/m/Musescore/Musescore/4.6.0.252730940/Musescore.Musescore.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299592 New version: Mozilla.Thunderbird.ESR.fi version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/fi/140.3.1/Mozilla.Thunderbird.ESR.fi.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/fi/140.3.1/Mozilla.Thunderbird.ESR.fi.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/fi/140.3.1/Mozilla.Thunderbird.ESR.fi.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/fi/140.3.1/Mozilla.Thunderbird.ESR.fi.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299659 New version: LuisPater.CLIProxyAPI version 6.0.19
  manifests/l/LuisPater/CLIProxyAPI/6.0.19/LuisPater.CLIProxyAPI.installer.yaml
  manifests/l/LuisPater/CLIProxyAPI/6.0.19/LuisPater.CLIProxyAPI.locale.en-US.yaml
  manifests/l/LuisPater/CLIProxyAPI/6.0.19/LuisPater.CLIProxyAPI.locale.zh-CN.yaml
  manifests/l/LuisPater/CLIProxyAPI/6.0.19/LuisPater.CLIProxyAPI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299046 New version: Fly-io.flyctl version 0.3.186
  manifests/f/Fly-io/flyctl/0.3.186/Fly-io.flyctl.installer.yaml
  manifests/f/Fly-io/flyctl/0.3.186/Fly-io.flyctl.locale.en-US.yaml
  manifests/f/Fly-io/flyctl/0.3.186/Fly-io.flyctl.locale.ko-KR.yaml
  manifests/f/Fly-io/flyctl/0.3.186/Fly-io.flyctl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299547 New version: Discord.Discord.Canary version 1.0.722
  manifests/d/Discord/Discord/Canary/1.0.722/Discord.Discord.Canary.installer.yaml
  manifests/d/Discord/Discord/Canary/1.0.722/Discord.Discord.Canary.locale.en-US.yaml
  manifests/d/Discord/Discord/Canary/1.0.722/Discord.Discord.Canary.locale.zh-CN.yaml
  manifests/d/Discord/Discord/Canary/1.0.722/Discord.Discord.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299673 New version: cURL.cURL version 8.16.0.4
  manifests/c/cURL/cURL/8.16.0.4/cURL.cURL.installer.yaml
  manifests/c/cURL/cURL/8.16.0.4/cURL.cURL.locale.en-US.yaml
  manifests/c/cURL/cURL/8.16.0.4/cURL.cURL.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299598 New version: Mozilla.Thunderbird.ESR.he version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/he/140.3.1/Mozilla.Thunderbird.ESR.he.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/he/140.3.1/Mozilla.Thunderbird.ESR.he.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/he/140.3.1/Mozilla.Thunderbird.ESR.he.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/he/140.3.1/Mozilla.Thunderbird.ESR.he.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299481 New version: Warp.Warp version v0.2025.09.24.08.11.stable_03
  manifests/w/Warp/Warp/v0.2025.09.24.08.11.stable_03/Warp.Warp.installer.yaml
  manifests/w/Warp/Warp/v0.2025.09.24.08.11.stable_03/Warp.Warp.locale.en-US.yaml
  manifests/w/Warp/Warp/v0.2025.09.24.08.11.stable_03/Warp.Warp.locale.zh-CN.yaml
  manifests/w/Warp/Warp/v0.2025.09.24.08.11.stable_03/Warp.Warp.yaml
Labels: Validation-Completed, Moderator-Approved, New-Manifest

#299588 New version: Mozilla.Thunderbird.ESR.es-ES version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/es-ES/140.3.1/Mozilla.Thunderbird.ESR.es-ES.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/es-ES/140.3.1/Mozilla.Thunderbird.ESR.es-ES.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/es-ES/140.3.1/Mozilla.Thunderbird.ESR.es-ES.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/es-ES/140.3.1/Mozilla.Thunderbird.ESR.es-ES.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299602 New version: Mozilla.Thunderbird.ESR.hy-AM version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/hy-AM/140.3.1/Mozilla.Thunderbird.ESR.hy-AM.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/hy-AM/140.3.1/Mozilla.Thunderbird.ESR.hy-AM.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/hy-AM/140.3.1/Mozilla.Thunderbird.ESR.hy-AM.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/hy-AM/140.3.1/Mozilla.Thunderbird.ESR.hy-AM.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#298797 New version: evilmartians.lefthook version 1.13.5
  manifests/e/evilmartians/lefthook/1.13.5/evilmartians.lefthook.installer.yaml
  manifests/e/evilmartians/lefthook/1.13.5/evilmartians.lefthook.locale.en-US.yaml
  manifests/e/evilmartians/lefthook/1.13.5/evilmartians.lefthook.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299578 New version: Mozilla.Thunderbird.ESR.cak version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/cak/140.3.1/Mozilla.Thunderbird.ESR.cak.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/cak/140.3.1/Mozilla.Thunderbird.ESR.cak.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/cak/140.3.1/Mozilla.Thunderbird.ESR.cak.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/cak/140.3.1/Mozilla.Thunderbird.ESR.cak.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299594 New version: Mozilla.Thunderbird.ESR.fy-NL version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/fy-NL/140.3.1/Mozilla.Thunderbird.ESR.fy-NL.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/fy-NL/140.3.1/Mozilla.Thunderbird.ESR.fy-NL.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/fy-NL/140.3.1/Mozilla.Thunderbird.ESR.fy-NL.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/fy-NL/140.3.1/Mozilla.Thunderbird.ESR.fy-NL.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299601 New version: Mozilla.Thunderbird.ESR.hu version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/hu/140.3.1/Mozilla.Thunderbird.ESR.hu.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/hu/140.3.1/Mozilla.Thunderbird.ESR.hu.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/hu/140.3.1/Mozilla.Thunderbird.ESR.hu.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/hu/140.3.1/Mozilla.Thunderbird.ESR.hu.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299608 New version: Mozilla.Thunderbird.ESR.kab version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/kab/140.3.1/Mozilla.Thunderbird.ESR.kab.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/kab/140.3.1/Mozilla.Thunderbird.ESR.kab.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/kab/140.3.1/Mozilla.Thunderbird.ESR.kab.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/kab/140.3.1/Mozilla.Thunderbird.ESR.kab.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299609 New version: Mozilla.Thunderbird.ESR.kk version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/kk/140.3.1/Mozilla.Thunderbird.ESR.kk.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/kk/140.3.1/Mozilla.Thunderbird.ESR.kk.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/kk/140.3.1/Mozilla.Thunderbird.ESR.kk.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/kk/140.3.1/Mozilla.Thunderbird.ESR.kk.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299614 New version: Mozilla.Thunderbird.ESR.nb-NO version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/nb-NO/140.3.1/Mozilla.Thunderbird.ESR.nb-NO.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/nb-NO/140.3.1/Mozilla.Thunderbird.ESR.nb-NO.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/nb-NO/140.3.1/Mozilla.Thunderbird.ESR.nb-NO.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/nb-NO/140.3.1/Mozilla.Thunderbird.ESR.nb-NO.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#298898 New version: LuisPater.CLIProxyAPI version 6.0.15
  manifests/l/LuisPater/CLIProxyAPI/6.0.15/LuisPater.CLIProxyAPI.installer.yaml
  manifests/l/LuisPater/CLIProxyAPI/6.0.15/LuisPater.CLIProxyAPI.locale.en-US.yaml
  manifests/l/LuisPater/CLIProxyAPI/6.0.15/LuisPater.CLIProxyAPI.locale.zh-CN.yaml
  manifests/l/LuisPater/CLIProxyAPI/6.0.15/LuisPater.CLIProxyAPI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299607 New version: Mozilla.Thunderbird.ESR.ka version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/ka/140.3.1/Mozilla.Thunderbird.ESR.ka.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ka/140.3.1/Mozilla.Thunderbird.ESR.ka.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ka/140.3.1/Mozilla.Thunderbird.ESR.ka.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ka/140.3.1/Mozilla.Thunderbird.ESR.ka.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299621 New version: Mozilla.Thunderbird.ESR.rm version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/rm/140.3.1/Mozilla.Thunderbird.ESR.rm.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/rm/140.3.1/Mozilla.Thunderbird.ESR.rm.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/rm/140.3.1/Mozilla.Thunderbird.ESR.rm.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/rm/140.3.1/Mozilla.Thunderbird.ESR.rm.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299625 New version: Mozilla.Thunderbird.ESR.sk version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/sk/140.3.1/Mozilla.Thunderbird.ESR.sk.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sk/140.3.1/Mozilla.Thunderbird.ESR.sk.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sk/140.3.1/Mozilla.Thunderbird.ESR.sk.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sk/140.3.1/Mozilla.Thunderbird.ESR.sk.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#298672 New version: Warp.Warp version v0.2025.09.24.08.11.stable_01
  manifests/w/Warp/Warp/v0.2025.09.24.08.11.stable_01/Warp.Warp.installer.yaml
  manifests/w/Warp/Warp/v0.2025.09.24.08.11.stable_01/Warp.Warp.locale.en-US.yaml
  manifests/w/Warp/Warp/v0.2025.09.24.08.11.stable_01/Warp.Warp.locale.zh-CN.yaml
  manifests/w/Warp/Warp/v0.2025.09.24.08.11.stable_01/Warp.Warp.yaml
Labels: Validation-Completed, Moderator-Approved, New-Manifest

#299569 New version: Microsoft.RemoteDesktopClient version 1.2.6597.0
  manifests/m/Microsoft/RemoteDesktopClient/1.2.6597.0/Microsoft.RemoteDesktopClient.installer.yaml
  manifests/m/Microsoft/RemoteDesktopClient/1.2.6597.0/Microsoft.RemoteDesktopClient.locale.en-US.yaml
  manifests/m/Microsoft/RemoteDesktopClient/1.2.6597.0/Microsoft.RemoteDesktopClient.locale.zh-CN.yaml
  manifests/m/Microsoft/RemoteDesktopClient/1.2.6597.0/Microsoft.RemoteDesktopClient.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Waived-Validation-Domain, New-Manifest

#299604 New version: Mozilla.Thunderbird.ESR.is version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/is/140.3.1/Mozilla.Thunderbird.ESR.is.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/is/140.3.1/Mozilla.Thunderbird.ESR.is.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/is/140.3.1/Mozilla.Thunderbird.ESR.is.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/is/140.3.1/Mozilla.Thunderbird.ESR.is.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299631 New version: Mozilla.Thunderbird.ESR.tr version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/tr/140.3.1/Mozilla.Thunderbird.ESR.tr.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/tr/140.3.1/Mozilla.Thunderbird.ESR.tr.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/tr/140.3.1/Mozilla.Thunderbird.ESR.tr.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/tr/140.3.1/Mozilla.Thunderbird.ESR.tr.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299622 New version: Mozilla.Thunderbird.ESR.ro version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/ro/140.3.1/Mozilla.Thunderbird.ESR.ro.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ro/140.3.1/Mozilla.Thunderbird.ESR.ro.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ro/140.3.1/Mozilla.Thunderbird.ESR.ro.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ro/140.3.1/Mozilla.Thunderbird.ESR.ro.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299630 New version: Mozilla.Thunderbird.ESR.th version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/th/140.3.1/Mozilla.Thunderbird.ESR.th.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/th/140.3.1/Mozilla.Thunderbird.ESR.th.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/th/140.3.1/Mozilla.Thunderbird.ESR.th.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/th/140.3.1/Mozilla.Thunderbird.ESR.th.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299356 New version: Fedora.CoreOS.butane version 0.25.1
  manifests/f/Fedora/CoreOS/butane/0.25.1/Fedora.CoreOS.butane.installer.yaml
  manifests/f/Fedora/CoreOS/butane/0.25.1/Fedora.CoreOS.butane.locale.en-US.yaml
  manifests/f/Fedora/CoreOS/butane/0.25.1/Fedora.CoreOS.butane.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299597 New version: Mozilla.Thunderbird.ESR.gl version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/gl/140.3.1/Mozilla.Thunderbird.ESR.gl.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/gl/140.3.1/Mozilla.Thunderbird.ESR.gl.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/gl/140.3.1/Mozilla.Thunderbird.ESR.gl.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/gl/140.3.1/Mozilla.Thunderbird.ESR.gl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299618 New version: Mozilla.Thunderbird.ESR.pl version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/pl/140.3.1/Mozilla.Thunderbird.ESR.pl.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/pl/140.3.1/Mozilla.Thunderbird.ESR.pl.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/pl/140.3.1/Mozilla.Thunderbird.ESR.pl.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/pl/140.3.1/Mozilla.Thunderbird.ESR.pl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299627 New version: Mozilla.Thunderbird.ESR.sq version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/sq/140.3.1/Mozilla.Thunderbird.ESR.sq.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sq/140.3.1/Mozilla.Thunderbird.ESR.sq.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sq/140.3.1/Mozilla.Thunderbird.ESR.sq.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sq/140.3.1/Mozilla.Thunderbird.ESR.sq.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299634 New version: Mozilla.Thunderbird.ESR.vi version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/vi/140.3.1/Mozilla.Thunderbird.ESR.vi.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/vi/140.3.1/Mozilla.Thunderbird.ESR.vi.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/vi/140.3.1/Mozilla.Thunderbird.ESR.vi.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/vi/140.3.1/Mozilla.Thunderbird.ESR.vi.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299656 New version: Google.DartSDK version 3.9.4
  manifests/g/Google/DartSDK/3.9.4/Google.DartSDK.installer.yaml
  manifests/g/Google/DartSDK/3.9.4/Google.DartSDK.locale.en-US.yaml
  manifests/g/Google/DartSDK/3.9.4/Google.DartSDK.locale.zh-CN.yaml
  manifests/g/Google/DartSDK/3.9.4/Google.DartSDK.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299662 New version: RedHat.Podman version 5.6.2
  manifests/r/RedHat/Podman/5.6.2/RedHat.Podman.installer.yaml
  manifests/r/RedHat/Podman/5.6.2/RedHat.Podman.locale.en-US.yaml
  manifests/r/RedHat/Podman/5.6.2/RedHat.Podman.locale.zh-CN.yaml
  manifests/r/RedHat/Podman/5.6.2/RedHat.Podman.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299629 New version: Mozilla.Thunderbird.ESR.sv-SE version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/sv-SE/140.3.1/Mozilla.Thunderbird.ESR.sv-SE.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sv-SE/140.3.1/Mozilla.Thunderbird.ESR.sv-SE.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sv-SE/140.3.1/Mozilla.Thunderbird.ESR.sv-SE.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sv-SE/140.3.1/Mozilla.Thunderbird.ESR.sv-SE.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299637 New version: Mozilla.Thunderbird.ESR.MSIX version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/MSIX/140.3.1/Mozilla.Thunderbird.ESR.MSIX.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/MSIX/140.3.1/Mozilla.Thunderbird.ESR.MSIX.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/MSIX/140.3.1/Mozilla.Thunderbird.ESR.MSIX.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/MSIX/140.3.1/Mozilla.Thunderbird.ESR.MSIX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299661 New version: Proxyman.Proxyman version 3.3.0
  manifests/p/Proxyman/Proxyman/3.3.0/Proxyman.Proxyman.installer.yaml
  manifests/p/Proxyman/Proxyman/3.3.0/Proxyman.Proxyman.locale.en-US.yaml
  manifests/p/Proxyman/Proxyman/3.3.0/Proxyman.Proxyman.locale.zh-CN.yaml
  manifests/p/Proxyman/Proxyman/3.3.0/Proxyman.Proxyman.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299055 New version: Gruntwork.Terragrunt version 0.88.1
  manifests/g/Gruntwork/Terragrunt/0.88.1/Gruntwork.Terragrunt.installer.yaml
  manifests/g/Gruntwork/Terragrunt/0.88.1/Gruntwork.Terragrunt.locale.en-US.yaml
  manifests/g/Gruntwork/Terragrunt/0.88.1/Gruntwork.Terragrunt.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299606 New version: Mozilla.Thunderbird.ESR.ja version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/ja/140.3.1/Mozilla.Thunderbird.ESR.ja.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ja/140.3.1/Mozilla.Thunderbird.ESR.ja.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ja/140.3.1/Mozilla.Thunderbird.ESR.ja.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/ja/140.3.1/Mozilla.Thunderbird.ESR.ja.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299632 New version: Mozilla.Thunderbird.ESR.uk version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/uk/140.3.1/Mozilla.Thunderbird.ESR.uk.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/uk/140.3.1/Mozilla.Thunderbird.ESR.uk.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/uk/140.3.1/Mozilla.Thunderbird.ESR.uk.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/uk/140.3.1/Mozilla.Thunderbird.ESR.uk.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299675 New version: hluk.CopyQ version 12.0.1
  manifests/h/hluk/CopyQ/12.0.1/hluk.CopyQ.installer.yaml
  manifests/h/hluk/CopyQ/12.0.1/hluk.CopyQ.locale.en-US.yaml
  manifests/h/hluk/CopyQ/12.0.1/hluk.CopyQ.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299658 Update: KDE.NeoChat version 25.08.1 (25.08-13361)
  manifests/k/KDE/NeoChat/25.08.1/KDE.NeoChat.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299683 New version: Comfy.ComfyUI-Desktop version 0.4.76
  manifests/c/Comfy/ComfyUI-Desktop/0.4.76/Comfy.ComfyUI-Desktop.installer.yaml
  manifests/c/Comfy/ComfyUI-Desktop/0.4.76/Comfy.ComfyUI-Desktop.locale.en-US.yaml
  manifests/c/Comfy/ComfyUI-Desktop/0.4.76/Comfy.ComfyUI-Desktop.locale.zh-CN.yaml
  manifests/c/Comfy/ComfyUI-Desktop/0.4.76/Comfy.ComfyUI-Desktop.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299626 New version: Mozilla.Thunderbird.ESR.sl version 140.3.1
  manifests/m/Mozilla/Thunderbird/ESR/sl/140.3.1/Mozilla.Thunderbird.ESR.sl.installer.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sl/140.3.1/Mozilla.Thunderbird.ESR.sl.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sl/140.3.1/Mozilla.Thunderbird.ESR.sl.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ESR/sl/140.3.1/Mozilla.Thunderbird.ESR.sl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299693 Change Microsoft.VisualStudio.Community.Insiders 18.0.0 Insiders [11010.61] PackageVersion
  manifests/m/Microsoft/VisualStudio/Community/Insiders/18.0.11010.61/Microsoft.VisualStudio.Community.Insiders.installer.yaml
  manifests/m/Microsoft/VisualStudio/Community/Insiders/18.0.11010.61/Microsoft.VisualStudio.Community.Insiders.locale.en-US.yaml
  manifests/m/Microsoft/VisualStudio/Community/Insiders/18.0.11010.61/Microsoft.VisualStudio.Community.Insiders.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299237 New version: Sentry.sentry-cli version 2.56.0
  manifests/s/Sentry/sentry-cli/2.56.0/Sentry.sentry-cli.installer.yaml
  manifests/s/Sentry/sentry-cli/2.56.0/Sentry.sentry-cli.locale.en-US.yaml
  manifests/s/Sentry/sentry-cli/2.56.0/Sentry.sentry-cli.locale.zh-CN.yaml
  manifests/s/Sentry/sentry-cli/2.56.0/Sentry.sentry-cli.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Manifest

#299698 New version: Google.Chrome.EXE version 141.0.7390.55
  manifests/g/Google/Chrome/EXE/141.0.7390.55/Google.Chrome.EXE.installer.yaml
  manifests/g/Google/Chrome/EXE/141.0.7390.55/Google.Chrome.EXE.locale.en-US.yaml
  manifests/g/Google/Chrome/EXE/141.0.7390.55/Google.Chrome.EXE.locale.nb-NO.yaml
  manifests/g/Google/Chrome/EXE/141.0.7390.55/Google.Chrome.EXE.locale.zh-CN.yaml
  manifests/g/Google/Chrome/EXE/141.0.7390.55/Google.Chrome.EXE.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299740 Update: KDE.Konsole version 25.11.70 (4288)
  manifests/k/KDE/Konsole/25.11.70/KDE.Konsole.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299671 New version: Fly-io.flyctl version 0.3.188
  manifests/f/Fly-io/flyctl/0.3.188/Fly-io.flyctl.installer.yaml
  manifests/f/Fly-io/flyctl/0.3.188/Fly-io.flyctl.locale.en-US.yaml
  manifests/f/Fly-io/flyctl/0.3.188/Fly-io.flyctl.locale.ko-KR.yaml
  manifests/f/Fly-io/flyctl/0.3.188/Fly-io.flyctl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299737 New version: Google.Chrome.Canary version 142.0.7444.3
  manifests/g/Google/Chrome/Canary/142.0.7444.3/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/142.0.7444.3/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/142.0.7444.3/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/142.0.7444.3/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/142.0.7444.3/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299764 New version: AlterPhoto.AlterPhoto version 3.1
  manifests/a/AlterPhoto/AlterPhoto/3.1/AlterPhoto.AlterPhoto.installer.yaml
  manifests/a/AlterPhoto/AlterPhoto/3.1/AlterPhoto.AlterPhoto.locale.en-US.yaml
  manifests/a/AlterPhoto/AlterPhoto/3.1/AlterPhoto.AlterPhoto.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299765 New version: CDESoftware.BLS-2026 version 38.02.0006
  manifests/c/CDESoftware/BLS-2026/38.02.0006/CDESoftware.BLS-2026.installer.yaml
  manifests/c/CDESoftware/BLS-2026/38.02.0006/CDESoftware.BLS-2026.locale.en-US.yaml
  manifests/c/CDESoftware/BLS-2026/38.02.0006/CDESoftware.BLS-2026.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299743 Update: KDE.Parley version 25.11.70 (827)
  manifests/k/KDE/Parley/25.11.70/KDE.Parley.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299761 New version: Flexense.DiskSavvyServer version 17.3.14
  manifests/f/Flexense/DiskSavvyServer/17.3.14/Flexense.DiskSavvyServer.installer.yaml
  manifests/f/Flexense/DiskSavvyServer/17.3.14/Flexense.DiskSavvyServer.locale.en-US.yaml
  manifests/f/Flexense/DiskSavvyServer/17.3.14/Flexense.DiskSavvyServer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299796 Update: KDE.KBreakOut version master (734)
  manifests/k/KDE/KBreakOut/master/KDE.KBreakOut.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299689 Change Microsoft.VisualStudio.Enterprise.Insiders 18.0.0 Insiders [11018.127] PackageVersion
  manifests/m/Microsoft/VisualStudio/Enterprise/Insiders/18.0.11018.127/Microsoft.VisualStudio.Enterprise.Insiders.installer.yaml
  manifests/m/Microsoft/VisualStudio/Enterprise/Insiders/18.0.11018.127/Microsoft.VisualStudio.Enterprise.Insiders.locale.en-US.yaml
  manifests/m/Microsoft/VisualStudio/Enterprise/Insiders/18.0.11018.127/Microsoft.VisualStudio.Enterprise.Insiders.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299741 Update: KDE.KTurtle version 25.11.70 (1019)
  manifests/k/KDE/KTurtle/25.11.70/KDE.KTurtle.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299804 Update: KDE.Klickety version master (807)
  manifests/k/KDE/Klickety/master/KDE.Klickety.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299768 Update: KDE.Bomber version master (723)
  manifests/k/KDE/Bomber/master/KDE.Bomber.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299772 Update: KDE.Kapman version master (749)
  manifests/k/KDE/Kapman/master/KDE.Kapman.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299800 Update: KDE.Kigo version master (793)
  manifests/k/KDE/Kigo/master/KDE.Kigo.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299805 Update: KDE.Klines version master (730)
  manifests/k/KDE/Klines/master/KDE.Klines.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299808 Update: KDE.KNetWalk version master (715)
  manifests/k/KDE/KNetWalk/master/KDE.KNetWalk.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299811 Update: KDE.KReversi version master (772)
  manifests/k/KDE/KReversi/master/KDE.KReversi.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299806 Update: KDE.KMahjongg version 25.08.1 (893)
  manifests/k/KDE/KMahjongg/25.08.1/KDE.KMahjongg.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299810 Update: KDE.Kollision version master (705)
  manifests/k/KDE/Kollision/master/KDE.Kollision.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299815 Update: KDE.KSquares version master (743)
  manifests/k/KDE/KSquares/master/KDE.KSquares.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299817 New version: Hibbiki.Chromium version 141.0.7390.55
  manifests/h/Hibbiki/Chromium/141.0.7390.55/Hibbiki.Chromium.installer.yaml
  manifests/h/Hibbiki/Chromium/141.0.7390.55/Hibbiki.Chromium.locale.en-US.yaml
  manifests/h/Hibbiki/Chromium/141.0.7390.55/Hibbiki.Chromium.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299822 New version: KDE.Okular version 25.08.2 (25.08-6765)
  manifests/k/KDE/Okular/25.08.2/KDE.Okular.installer.yaml
  manifests/k/KDE/Okular/25.08.2/KDE.Okular.locale.en-US.yaml
  manifests/k/KDE/Okular/25.08.2/KDE.Okular.locale.zh-CN.yaml
  manifests/k/KDE/Okular/25.08.2/KDE.Okular.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299713 New version: ShiningLight.OpenSSL.Dev version 3.5.4
  manifests/s/ShiningLight/OpenSSL/Dev/3.5.4/ShiningLight.OpenSSL.Dev.installer.yaml
  manifests/s/ShiningLight/OpenSSL/Dev/3.5.4/ShiningLight.OpenSSL.Dev.locale.en-US.yaml
  manifests/s/ShiningLight/OpenSSL/Dev/3.5.4/ShiningLight.OpenSSL.Dev.locale.zh-CN.yaml
  manifests/s/ShiningLight/OpenSSL/Dev/3.5.4/ShiningLight.OpenSSL.Dev.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299818 New version: FrancisBanyikwa.SiriKali version 1.8.2
  manifests/f/FrancisBanyikwa/SiriKali/1.8.2/FrancisBanyikwa.SiriKali.installer.yaml
  manifests/f/FrancisBanyikwa/SiriKali/1.8.2/FrancisBanyikwa.SiriKali.locale.en-US.yaml
  manifests/f/FrancisBanyikwa/SiriKali/1.8.2/FrancisBanyikwa.SiriKali.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299831 Remove version: CDESoftware.TBRAC-2024 version 06.03.0007
  manifests/c/CDESoftware/TBRAC-2024/06.03.0007/CDESoftware.TBRAC-2024.installer.yaml
  manifests/c/CDESoftware/TBRAC-2024/06.03.0007/CDESoftware.TBRAC-2024.locale.en-US.yaml
  manifests/c/CDESoftware/TBRAC-2024/06.03.0007/CDESoftware.TBRAC-2024.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299862 Update: KDE.KAlarm version master (2946)
  manifests/k/KDE/KAlarm/master/KDE.KAlarm.installer.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved

#299325 Add BellSoft.LibericaJRE.25
  manifests/b/BellSoft/LibericaJRE/25/25+37/BellSoft.LibericaJRE.25.installer.yaml
  manifests/b/BellSoft/LibericaJRE/25/25+37/BellSoft.LibericaJRE.25.locale.en-US.yaml
  manifests/b/BellSoft/LibericaJRE/25/25+37/BellSoft.LibericaJRE.25.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, New-Package

#299839 Update: KDE.LSkat version master (784)
  manifests/k/KDE/LSkat/master/KDE.LSkat.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299875 New version: Anysphere.Cursor version 1.7.28
  manifests/a/Anysphere/Cursor/1.7.28/Anysphere.Cursor.installer.yaml
  manifests/a/Anysphere/Cursor/1.7.28/Anysphere.Cursor.locale.en-US.yaml
  manifests/a/Anysphere/Cursor/1.7.28/Anysphere.Cursor.locale.zh-CN.yaml
  manifests/a/Anysphere/Cursor/1.7.28/Anysphere.Cursor.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299877 Update: KDE.Elisa version 25.11.70 (4042)
  manifests/k/KDE/Elisa/25.11.70/KDE.Elisa.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#298690 New package: VovSoft.CompareTwoTexts version 1.3.0.0
  manifests/v/VovSoft/CompareTwoTexts/1.3.0.0/VovSoft.CompareTwoTexts.installer.yaml
  manifests/v/VovSoft/CompareTwoTexts/1.3.0.0/VovSoft.CompareTwoTexts.locale.en-US.yaml
  manifests/v/VovSoft/CompareTwoTexts/1.3.0.0/VovSoft.CompareTwoTexts.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#299821 Update: KDE.KSudoku version master (900)
  manifests/k/KDE/KSudoku/master/KDE.KSudoku.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299861 Update: KDE.Konversation version 25.08.1 (25.08-1462)
  manifests/k/KDE/Konversation/25.08.1/KDE.Konversation.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299881 New version: Zoom.Zoom.VDI version 6.5.26770 (6.5.11.26770)
  manifests/z/Zoom/Zoom/VDI/6.5.26770/Zoom.Zoom.VDI.installer.yaml
  manifests/z/Zoom/Zoom/VDI/6.5.26770/Zoom.Zoom.VDI.locale.en-US.yaml
  manifests/z/Zoom/Zoom/VDI/6.5.26770/Zoom.Zoom.VDI.locale.zh-CN.yaml
  manifests/z/Zoom/Zoom/VDI/6.5.26770/Zoom.Zoom.VDI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#298697 New package: VovSoft.ConvertVideoToAudio version 2.4.0.0
  manifests/v/VovSoft/ConvertVideoToAudio/2.4.0.0/VovSoft.ConvertVideoToAudio.installer.yaml
  manifests/v/VovSoft/ConvertVideoToAudio/2.4.0.0/VovSoft.ConvertVideoToAudio.locale.en-US.yaml
  manifests/v/VovSoft/ConvertVideoToAudio/2.4.0.0/VovSoft.ConvertVideoToAudio.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#298693 New package: VovSoft.ContainerLoadingCalculator version 1.5.0.0
  manifests/v/VovSoft/ContainerLoadingCalculator/1.5.0.0/VovSoft.ContainerLoadingCalculator.installer.yaml
  manifests/v/VovSoft/ContainerLoadingCalculator/1.5.0.0/VovSoft.ContainerLoadingCalculator.locale.en-US.yaml
  manifests/v/VovSoft/ContainerLoadingCalculator/1.5.0.0/VovSoft.ContainerLoadingCalculator.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#299910 New version: Google.Chrome.Canary version 142.0.7444.6
  manifests/g/Google/Chrome/Canary/142.0.7444.6/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/142.0.7444.6/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/142.0.7444.6/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/142.0.7444.6/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/142.0.7444.6/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#298703 New package: VovSoft.CPUBenchmark version 1.0.0.0
  manifests/v/VovSoft/CPUBenchmark/1.0.0.0/VovSoft.CPUBenchmark.installer.yaml
  manifests/v/VovSoft/CPUBenchmark/1.0.0.0/VovSoft.CPUBenchmark.locale.en-US.yaml
  manifests/v/VovSoft/CPUBenchmark/1.0.0.0/VovSoft.CPUBenchmark.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#298907 New package: VovSoft.CryptocurrencyTracker version 2.4.0.0
  manifests/v/VovSoft/CryptocurrencyTracker/2.4.0.0/VovSoft.CryptocurrencyTracker.installer.yaml
  manifests/v/VovSoft/CryptocurrencyTracker/2.4.0.0/VovSoft.CryptocurrencyTracker.locale.en-US.yaml
  manifests/v/VovSoft/CryptocurrencyTracker/2.4.0.0/VovSoft.CryptocurrencyTracker.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#298911 New package: VovSoft.CSVSplitter version 2.0.0.0
  manifests/v/VovSoft/CSVSplitter/2.0.0.0/VovSoft.CSVSplitter.installer.yaml
  manifests/v/VovSoft/CSVSplitter/2.0.0.0/VovSoft.CSVSplitter.locale.en-US.yaml
  manifests/v/VovSoft/CSVSplitter/2.0.0.0/VovSoft.CSVSplitter.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#299791 Add version: hpjansson.Chafa version 1.16.0
  manifests/h/hpjansson/Chafa/1.16.0/hpjansson.Chafa.installer.yaml
  manifests/h/hpjansson/Chafa/1.16.0/hpjansson.Chafa.locale.en-US.yaml
  manifests/h/hpjansson/Chafa/1.16.0/hpjansson.Chafa.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299516 Update version: GrafanaLabs.k6 version 1.3.0
  manifests/g/GrafanaLabs/k6/1.3.0/GrafanaLabs.k6.installer.yaml
  manifests/g/GrafanaLabs/k6/1.3.0/GrafanaLabs.k6.locale.en-US.yaml
  manifests/g/GrafanaLabs/k6/1.3.0/GrafanaLabs.k6.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299739 Update: KDE.Kiten version 25.08.1 (869)
  manifests/k/KDE/Kiten/25.08.1/KDE.Kiten.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299801 Update: KDE.Killbots version master (814)
  manifests/k/KDE/Killbots/master/KDE.Killbots.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299835 New version: IPEVO.Vurbo-ai version 1.9.7.2
  manifests/i/IPEVO/Vurbo-ai/1.9.7.2/IPEVO.Vurbo-ai.installer.yaml
  manifests/i/IPEVO/Vurbo-ai/1.9.7.2/IPEVO.Vurbo-ai.locale.en-US.yaml
  manifests/i/IPEVO/Vurbo-ai/1.9.7.2/IPEVO.Vurbo-ai.locale.zh-CN.yaml
  manifests/i/IPEVO/Vurbo-ai/1.9.7.2/IPEVO.Vurbo-ai.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299859 New version: GAM-Team.gam version 7.23.03
  manifests/g/GAM-Team/gam/7.23.03/GAM-Team.gam.installer.yaml
  manifests/g/GAM-Team/gam/7.23.03/GAM-Team.gam.locale.en-US.yaml
  manifests/g/GAM-Team/gam/7.23.03/GAM-Team.gam.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299921 New version: Microsoft.Teams.Free version 25255.501.3956.3603
  manifests/m/Microsoft/Teams/Free/25255.501.3956.3603/Microsoft.Teams.Free.installer.yaml
  manifests/m/Microsoft/Teams/Free/25255.501.3956.3603/Microsoft.Teams.Free.locale.en-US.yaml
  manifests/m/Microsoft/Teams/Free/25255.501.3956.3603/Microsoft.Teams.Free.locale.zh-CN.yaml
  manifests/m/Microsoft/Teams/Free/25255.501.3956.3603/Microsoft.Teams.Free.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299786 Add version: Microsoft.OpenSSH.Preview version 9.8.0.0
  manifests/m/Microsoft/OpenSSH/Preview/9.8.0.0/Microsoft.OpenSSH.Preview.installer.yaml
  manifests/m/Microsoft/OpenSSH/Preview/9.8.0.0/Microsoft.OpenSSH.Preview.locale.en-US.yaml
  manifests/m/Microsoft/OpenSSH/Preview/9.8.0.0/Microsoft.OpenSSH.Preview.yaml
Labels: Validation-Completed, Moderator-Approved, New-Manifest

#299922 New version: Philips.SpeechLive version 3.8.0
  manifests/p/Philips/SpeechLive/3.8.0/Philips.SpeechLive.installer.yaml
  manifests/p/Philips/SpeechLive/3.8.0/Philips.SpeechLive.locale.en-US.yaml
  manifests/p/Philips/SpeechLive/3.8.0/Philips.SpeechLive.locale.zh-CN.yaml
  manifests/p/Philips/SpeechLive/3.8.0/Philips.SpeechLive.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Waived-Validation-Domain, New-Manifest

#299900 New version: Vivaldi.Vivaldi version 7.6.3797.58
  manifests/v/Vivaldi/Vivaldi/7.6.3797.58/Vivaldi.Vivaldi.installer.yaml
  manifests/v/Vivaldi/Vivaldi/7.6.3797.58/Vivaldi.Vivaldi.locale.en-US.yaml
  manifests/v/Vivaldi/Vivaldi/7.6.3797.58/Vivaldi.Vivaldi.locale.zh-CN.yaml
  manifests/v/Vivaldi/Vivaldi/7.6.3797.58/Vivaldi.Vivaldi.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299937 New version: FrancisBanyikwa.MediaDownloader version 5.4.3
  manifests/f/FrancisBanyikwa/MediaDownloader/5.4.3/FrancisBanyikwa.MediaDownloader.installer.yaml
  manifests/f/FrancisBanyikwa/MediaDownloader/5.4.3/FrancisBanyikwa.MediaDownloader.locale.en-US.yaml
  manifests/f/FrancisBanyikwa/MediaDownloader/5.4.3/FrancisBanyikwa.MediaDownloader.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299960 New version: UpNote.UpNote version 9.14.12
  manifests/u/UpNote/UpNote/9.14.12/UpNote.UpNote.installer.yaml
  manifests/u/UpNote/UpNote/9.14.12/UpNote.UpNote.locale.en-US.yaml
  manifests/u/UpNote/UpNote/9.14.12/UpNote.UpNote.locale.zh-CN.yaml
  manifests/u/UpNote/UpNote/9.14.12/UpNote.UpNote.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299939 New version: Google.OSVScanner version 2.2.3
  manifests/g/Google/OSVScanner/2.2.3/Google.OSVScanner.installer.yaml
  manifests/g/Google/OSVScanner/2.2.3/Google.OSVScanner.locale.en-US.yaml
  manifests/g/Google/OSVScanner/2.2.3/Google.OSVScanner.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299989 New version: 7S2P.Effie.CN version 6.5.1
  manifests/7/7S2P/Effie/CN/6.5.1/7S2P.Effie.CN.installer.yaml
  manifests/7/7S2P/Effie/CN/6.5.1/7S2P.Effie.CN.locale.en-US.yaml
  manifests/7/7S2P/Effie/CN/6.5.1/7S2P.Effie.CN.locale.zh-CN.yaml
  manifests/7/7S2P/Effie/CN/6.5.1/7S2P.Effie.CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299499 New version: BtbN.FFmpeg.LGPL.7.1 version 7.1.2-20250930 (2025-09-30-13-19)
  manifests/b/BtbN/FFmpeg/LGPL/7/1/7.1.2-20250930/BtbN.FFmpeg.LGPL.7.1.installer.yaml
  manifests/b/BtbN/FFmpeg/LGPL/7/1/7.1.2-20250930/BtbN.FFmpeg.LGPL.7.1.locale.en-US.yaml
  manifests/b/BtbN/FFmpeg/LGPL/7/1/7.1.2-20250930/BtbN.FFmpeg.LGPL.7.1.locale.zh-CN.yaml
  manifests/b/BtbN/FFmpeg/LGPL/7/1/7.1.2-20250930/BtbN.FFmpeg.LGPL.7.1.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299816 New version: pizzaboxer.Bloxstrap version 2.10.0
  manifests/p/pizzaboxer/Bloxstrap/2.10.0/pizzaboxer.Bloxstrap.installer.yaml
  manifests/p/pizzaboxer/Bloxstrap/2.10.0/pizzaboxer.Bloxstrap.locale.en-US.yaml
  manifests/p/pizzaboxer/Bloxstrap/2.10.0/pizzaboxer.Bloxstrap.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299920 New version: KDE.NeoChat version 25.08.2 (25.08-13366)
  manifests/k/KDE/NeoChat/25.08.2/KDE.NeoChat.installer.yaml
  manifests/k/KDE/NeoChat/25.08.2/KDE.NeoChat.locale.en-US.yaml
  manifests/k/KDE/NeoChat/25.08.2/KDE.NeoChat.locale.zh-CN.yaml
  manifests/k/KDE/NeoChat/25.08.2/KDE.NeoChat.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299955 New version: Google.Chrome.Canary version 143.0.7445.0
  manifests/g/Google/Chrome/Canary/143.0.7445.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/143.0.7445.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/143.0.7445.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/143.0.7445.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/143.0.7445.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299972 New version: Yandex.Music version 5.71.2
  manifests/y/Yandex/Music/5.71.2/Yandex.Music.installer.yaml
  manifests/y/Yandex/Music/5.71.2/Yandex.Music.locale.en-US.yaml
  manifests/y/Yandex/Music/5.71.2/Yandex.Music.locale.zh-CN.yaml
  manifests/y/Yandex/Music/5.71.2/Yandex.Music.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299984 ArminOsaj.AutoDarkMode version 10.4.2.29
  manifests/a/ArminOsaj/AutoDarkMode/10.4.2.29/ArminOsaj.AutoDarkMode.installer.yaml
  manifests/a/ArminOsaj/AutoDarkMode/10.4.2.29/ArminOsaj.AutoDarkMode.locale.en-US.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#300011 New version: DevProxy.DevProxy.Beta version 1.3.0-beta.1
  manifests/d/DevProxy/DevProxy/Beta/1.3.0-beta.1/DevProxy.DevProxy.Beta.installer.yaml
  manifests/d/DevProxy/DevProxy/Beta/1.3.0-beta.1/DevProxy.DevProxy.Beta.locale.en-US.yaml
  manifests/d/DevProxy/DevProxy/Beta/1.3.0-beta.1/DevProxy.DevProxy.Beta.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299975 New version: Kenkun.AviUtlExEdit2 version 2.0-beta12
  manifests/k/Kenkun/AviUtlExEdit2/2.0-beta12/Kenkun.AviUtlExEdit2.installer.yaml
  manifests/k/Kenkun/AviUtlExEdit2/2.0-beta12/Kenkun.AviUtlExEdit2.locale.ja-JP.yaml
  manifests/k/Kenkun/AviUtlExEdit2/2.0-beta12/Kenkun.AviUtlExEdit2.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300122 Remove version: Google.Chrome.Canary version 142.0.7417.0
  manifests/g/Google/Chrome/Canary/142.0.7417.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/142.0.7417.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/142.0.7417.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/142.0.7417.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/142.0.7417.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#299999 New version: Amazon.AWSCLI version 2.31.5
  manifests/a/Amazon/AWSCLI/2.31.5/Amazon.AWSCLI.installer.yaml
  manifests/a/Amazon/AWSCLI/2.31.5/Amazon.AWSCLI.locale.en-US.yaml
  manifests/a/Amazon/AWSCLI/2.31.5/Amazon.AWSCLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300020 New version: SweetScape.010Editor version 16.0.2
  manifests/s/SweetScape/010Editor/16.0.2/SweetScape.010Editor.installer.yaml
  manifests/s/SweetScape/010Editor/16.0.2/SweetScape.010Editor.locale.en-US.yaml
  manifests/s/SweetScape/010Editor/16.0.2/SweetScape.010Editor.locale.zh-CN.yaml
  manifests/s/SweetScape/010Editor/16.0.2/SweetScape.010Editor.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300063 New version: 7S2P.Effie version 6.5.1
  manifests/7/7S2P/Effie/6.5.1/7S2P.Effie.installer.yaml
  manifests/7/7S2P/Effie/6.5.1/7S2P.Effie.locale.en-US.yaml
  manifests/7/7S2P/Effie/6.5.1/7S2P.Effie.locale.zh-CN.yaml
  manifests/7/7S2P/Effie/6.5.1/7S2P.Effie.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300068 New version: lycheeverse.lychee version 0.20.0
  manifests/l/lycheeverse/lychee/0.20.0/lycheeverse.lychee.installer.yaml
  manifests/l/lycheeverse/lychee/0.20.0/lycheeverse.lychee.locale.en-US.yaml
  manifests/l/lycheeverse/lychee/0.20.0/lycheeverse.lychee.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#298917 New package: VovSoft.CSVtoVCFConverter version 3.6.0.0
  manifests/v/VovSoft/CSVtoVCFConverter/3.6.0.0/VovSoft.CSVtoVCFConverter.installer.yaml
  manifests/v/VovSoft/CSVtoVCFConverter/3.6.0.0/VovSoft.CSVtoVCFConverter.locale.en-US.yaml
  manifests/v/VovSoft/CSVtoVCFConverter/3.6.0.0/VovSoft.CSVtoVCFConverter.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#298944 New package: VovSoft.DesktopDiary version 2.5.0.0
  manifests/v/VovSoft/DesktopDiary/2.5.0.0/VovSoft.DesktopDiary.installer.yaml
  manifests/v/VovSoft/DesktopDiary/2.5.0.0/VovSoft.DesktopDiary.locale.en-US.yaml
  manifests/v/VovSoft/DesktopDiary/2.5.0.0/VovSoft.DesktopDiary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#299938 New version: electerm.electerm version 2.3.36
  manifests/e/electerm/electerm/2.3.36/electerm.electerm.installer.yaml
  manifests/e/electerm/electerm/2.3.36/electerm.electerm.locale.en-US.yaml
  manifests/e/electerm/electerm/2.3.36/electerm.electerm.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299991 New version: Elgato.StreamDeck version 7.0.2.22062
  manifests/e/Elgato/StreamDeck/7.0.2.22062/Elgato.StreamDeck.installer.yaml
  manifests/e/Elgato/StreamDeck/7.0.2.22062/Elgato.StreamDeck.locale.en-US.yaml
  manifests/e/Elgato/StreamDeck/7.0.2.22062/Elgato.StreamDeck.locale.zh-CN.yaml
  manifests/e/Elgato/StreamDeck/7.0.2.22062/Elgato.StreamDeck.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300075 New version: Infracost.Infracost version 0.10.42
  manifests/i/Infracost/Infracost/0.10.42/Infracost.Infracost.installer.yaml
  manifests/i/Infracost/Infracost/0.10.42/Infracost.Infracost.locale.en-US.yaml
  manifests/i/Infracost/Infracost/0.10.42/Infracost.Infracost.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300086 New version: Learneo.LanguageTool version 1.2.8.0
  manifests/l/Learneo/LanguageTool/1.2.8.0/Learneo.LanguageTool.installer.yaml
  manifests/l/Learneo/LanguageTool/1.2.8.0/Learneo.LanguageTool.locale.en-US.yaml
  manifests/l/Learneo/LanguageTool/1.2.8.0/Learneo.LanguageTool.locale.zh-CN.yaml
  manifests/l/Learneo/LanguageTool/1.2.8.0/Learneo.LanguageTool.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299030 New package: VovSoft.DocumentManager version 2.0.0.0
  manifests/v/VovSoft/DocumentManager/2.0.0.0/VovSoft.DocumentManager.installer.yaml
  manifests/v/VovSoft/DocumentManager/2.0.0.0/VovSoft.DocumentManager.locale.en-US.yaml
  manifests/v/VovSoft/DocumentManager/2.0.0.0/VovSoft.DocumentManager.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#299042 New package: VovSoft.WindowResizer version 4.3.0.0
  manifests/v/VovSoft/WindowResizer/4.3.0.0/VovSoft.WindowResizer.installer.yaml
  manifests/v/VovSoft/WindowResizer/4.3.0.0/VovSoft.WindowResizer.locale.en-US.yaml
  manifests/v/VovSoft/WindowResizer/4.3.0.0/VovSoft.WindowResizer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#299035 New package: VovSoft.DownloadMailboxEmails version 2.1.0.0
  manifests/v/VovSoft/DownloadMailboxEmails/2.1.0.0/VovSoft.DownloadMailboxEmails.installer.yaml
  manifests/v/VovSoft/DownloadMailboxEmails/2.1.0.0/VovSoft.DownloadMailboxEmails.locale.en-US.yaml
  manifests/v/VovSoft/DownloadMailboxEmails/2.1.0.0/VovSoft.DownloadMailboxEmails.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#299032 New package: VovSoft.DomainChecker version 9.8.0.0
  manifests/v/VovSoft/DomainChecker/9.8.0.0/VovSoft.DomainChecker.installer.yaml
  manifests/v/VovSoft/DomainChecker/9.8.0.0/VovSoft.DomainChecker.locale.en-US.yaml
  manifests/v/VovSoft/DomainChecker/9.8.0.0/VovSoft.DomainChecker.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#299329 New version: okteto.okteto version 3.12.0
  manifests/o/okteto/okteto/3.12.0/okteto.okteto.installer.yaml
  manifests/o/okteto/okteto/3.12.0/okteto.okteto.locale.en-US.yaml
  manifests/o/okteto/okteto/3.12.0/okteto.okteto.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300066 New version: Gajim.Gajim version 2.3.6
  manifests/g/Gajim/Gajim/2.3.6/Gajim.Gajim.installer.yaml
  manifests/g/Gajim/Gajim/2.3.6/Gajim.Gajim.locale.en-US.yaml
  manifests/g/Gajim/Gajim/2.3.6/Gajim.Gajim.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300071 New version: RicoSuter.NSwagStudio version 14.6.1.0
  manifests/r/RicoSuter/NSwagStudio/14.6.1.0/RicoSuter.NSwagStudio.installer.yaml
  manifests/r/RicoSuter/NSwagStudio/14.6.1.0/RicoSuter.NSwagStudio.locale.en-US.yaml
  manifests/r/RicoSuter/NSwagStudio/14.6.1.0/RicoSuter.NSwagStudio.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300078 New version: SecretsOPerationS.SOPS version 3.11.0
  manifests/s/SecretsOPerationS/SOPS/3.11.0/SecretsOPerationS.SOPS.installer.yaml
  manifests/s/SecretsOPerationS/SOPS/3.11.0/SecretsOPerationS.SOPS.locale.en-US.yaml
  manifests/s/SecretsOPerationS/SOPS/3.11.0/SecretsOPerationS.SOPS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300084 New version: Figma.Figma version 125.8.9
  manifests/f/Figma/Figma/125.8.9/Figma.Figma.installer.yaml
  manifests/f/Figma/Figma/125.8.9/Figma.Figma.locale.en-US.yaml
  manifests/f/Figma/Figma/125.8.9/Figma.Figma.locale.zh-CN.yaml
  manifests/f/Figma/Figma/125.8.9/Figma.Figma.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300088 New version: TailwindLabs.TailwindCSS version 4.1.14
  manifests/t/TailwindLabs/TailwindCSS/4.1.14/TailwindLabs.TailwindCSS.installer.yaml
  manifests/t/TailwindLabs/TailwindCSS/4.1.14/TailwindLabs.TailwindCSS.locale.en-US.yaml
  manifests/t/TailwindLabs/TailwindCSS/4.1.14/TailwindLabs.TailwindCSS.locale.zh-CN.yaml
  manifests/t/TailwindLabs/TailwindCSS/4.1.14/TailwindLabs.TailwindCSS.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#299051 New package: VovSoft.TimeSync version 3.1.0.0
  manifests/v/VovSoft/TimeSync/3.1.0.0/VovSoft.TimeSync.installer.yaml
  manifests/v/VovSoft/TimeSync/3.1.0.0/VovSoft.TimeSync.locale.en-US.yaml
  manifests/v/VovSoft/TimeSync/3.1.0.0/VovSoft.TimeSync.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Package

#300103 Add version: Proton.ProtonVPN version 4.3.1
  manifests/p/Proton/ProtonVPN/4.3.1/Proton.ProtonVPN.installer.yaml
  manifests/p/Proton/ProtonVPN/4.3.1/Proton.ProtonVPN.locale.en-US.yaml
  manifests/p/Proton/ProtonVPN/4.3.1/Proton.ProtonVPN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#300106 New version: SaladTechnologies.Salad version 1.9.3
  manifests/s/SaladTechnologies/Salad/1.9.3/SaladTechnologies.Salad.installer.yaml
  manifests/s/SaladTechnologies/Salad/1.9.3/SaladTechnologies.Salad.locale.en-US.yaml
  manifests/s/SaladTechnologies/Salad/1.9.3/SaladTechnologies.Salad.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300109 New version: PasteIntoFile.PasteIntoFile version 5.5
  manifests/p/PasteIntoFile/PasteIntoFile/5.5/PasteIntoFile.PasteIntoFile.installer.yaml
  manifests/p/PasteIntoFile/PasteIntoFile/5.5/PasteIntoFile.PasteIntoFile.locale.en-US.yaml
  manifests/p/PasteIntoFile/PasteIntoFile/5.5/PasteIntoFile.PasteIntoFile.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300110 New version: Cogin.QueueExplorer version 5.0.58
  manifests/c/Cogin/QueueExplorer/5.0.58/Cogin.QueueExplorer.installer.yaml
  manifests/c/Cogin/QueueExplorer/5.0.58/Cogin.QueueExplorer.locale.en-US.yaml
  manifests/c/Cogin/QueueExplorer/5.0.58/Cogin.QueueExplorer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300112 New version: loft-sh.vcluster version 0.29.0
  manifests/l/loft-sh/vcluster/0.29.0/loft-sh.vcluster.installer.yaml
  manifests/l/loft-sh/vcluster/0.29.0/loft-sh.vcluster.locale.en-US.yaml
  manifests/l/loft-sh/vcluster/0.29.0/loft-sh.vcluster.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300114 New version: Flexense.SyncBreeze version 17.3.16
  manifests/f/Flexense/SyncBreeze/17.3.16/Flexense.SyncBreeze.installer.yaml
  manifests/f/Flexense/SyncBreeze/17.3.16/Flexense.SyncBreeze.locale.en-US.yaml
  manifests/f/Flexense/SyncBreeze/17.3.16/Flexense.SyncBreeze.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300117 New version: Flexense.SyncBreezeUltimate version 17.3.16
  manifests/f/Flexense/SyncBreezeUltimate/17.3.16/Flexense.SyncBreezeUltimate.installer.yaml
  manifests/f/Flexense/SyncBreezeUltimate/17.3.16/Flexense.SyncBreezeUltimate.locale.en-US.yaml
  manifests/f/Flexense/SyncBreezeUltimate/17.3.16/Flexense.SyncBreezeUltimate.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300120 New version: Mozilla.Firefox.MSIX.Nightly version 145.2510.107.0
  manifests/m/Mozilla/Firefox/MSIX/Nightly/145.2510.107.0/Mozilla.Firefox.MSIX.Nightly.installer.yaml
  manifests/m/Mozilla/Firefox/MSIX/Nightly/145.2510.107.0/Mozilla.Firefox.MSIX.Nightly.locale.en-US.yaml
  manifests/m/Mozilla/Firefox/MSIX/Nightly/145.2510.107.0/Mozilla.Firefox.MSIX.Nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#300121 New version: Flexense.SyncBreezeEnterprise version 17.3.16
  manifests/f/Flexense/SyncBreezeEnterprise/17.3.16/Flexense.SyncBreezeEnterprise.installer.yaml
  manifests/f/Flexense/SyncBreezeEnterprise/17.3.16/Flexense.SyncBreezeEnterprise.locale.en-US.yaml
  manifests/f/Flexense/SyncBreezeEnterprise/17.3.16/Flexense.SyncBreezeEnterprise.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest
