Repository microsoft/winget-pkgs, pull requests merged in 2025-06, with the labels that each got.

#262141 New version: CubeSoft.CubePDF version 4.3.1
  manifests/c/CubeSoft/CubePDF/4.3.1/CubeSoft.CubePDF.installer.yaml
  manifests/c/CubeSoft/CubePDF/4.3.1/CubeSoft.CubePDF.locale.en-US.yaml
  manifests/c/CubeSoft/CubePDF/4.3.1/CubeSoft.CubePDF.locale.ja-JP.yaml
  manifests/c/CubeSoft/CubePDF/4.3.1/CubeSoft.CubePDF.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262145 New version: PrestoSoft.ExamDiff.Pro version 16.0.1.2
  manifests/p/PrestoSoft/ExamDiff/Pro/16.0.1.2/PrestoSoft.ExamDiff.Pro.installer.yaml
  manifests/p/PrestoSoft/ExamDiff/Pro/16.0.1.2/PrestoSoft.ExamDiff.Pro.locale.en-US.yaml
  manifests/p/PrestoSoft/ExamDiff/Pro/16.0.1.2/PrestoSoft.ExamDiff.Pro.locale.zh-CN.yaml
  manifests/p/PrestoSoft/ExamDiff/Pro/16.0.1.2/PrestoSoft.ExamDiff.Pro.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262144 New version: HydraLauncher.Hydra version 3.6.0
  manifests/h/HydraLauncher/Hydra/3.6.0/HydraLauncher.Hydra.installer.yaml
  manifests/h/HydraLauncher/Hydra/3.6.0/HydraLauncher.Hydra.locale.en-US.yaml
  manifests/h/HydraLauncher/Hydra/3.6.0/HydraLauncher.Hydra.locale.zh-CN.yaml
  manifests/h/HydraLauncher/Hydra/3.6.0/HydraLauncher.Hydra.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262158 Update: KDE.Glaxnimate version 0.5.80 (0.6-2892)
  manifests/k/KDE/Glaxnimate/0.5.80/KDE.Glaxnimate.installer.yaml
  manifests/k/KDE/Glaxnimate/0.5.80/KDE.Glaxnimate.locale.en-US.yaml
  manifests/k/KDE/Glaxnimate/0.5.80/KDE.Glaxnimate.locale.zh-CN.yaml
  manifests/k/KDE/Glaxnimate/0.5.80/KDE.Glaxnimate.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262060 New package: HuLaSpark.HuLa version 2.6.12
  manifests/h/HuLaSpark/HuLa/2.6.12/HuLaSpark.HuLa.installer.yaml
  manifests/h/HuLaSpark/HuLa/2.6.12/HuLaSpark.HuLa.locale.en-US.yaml
  manifests/h/HuLaSpark/HuLa/2.6.12/HuLaSpark.HuLa.locale.zh-CN.yaml
  manifests/h/HuLaSpark/HuLa/2.6.12/HuLaSpark.HuLa.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved, New-Package

#262169 New version: xemu-project.xemu version 0.8.68
  manifests/x/xemu-project/xemu/0.8.68/xemu-project.xemu.installer.yaml
  manifests/x/xemu-project/xemu/0.8.68/xemu-project.xemu.locale.en-US.yaml
  manifests/x/xemu-project/xemu/0.8.68/xemu-project.xemu.locale.zh-CN.yaml
  manifests/x/xemu-project/xemu/0.8.68/xemu-project.xemu.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262170 New version: JustArchiNET.ArchiSteamFarm version 6.1.6.7
  manifests/j/JustArchiNET/ArchiSteamFarm/6.1.6.7/JustArchiNET.ArchiSteamFarm.installer.yaml
  manifests/j/JustArchiNET/ArchiSteamFarm/6.1.6.7/JustArchiNET.ArchiSteamFarm.locale.en-US.yaml
  manifests/j/JustArchiNET/ArchiSteamFarm/6.1.6.7/JustArchiNET.ArchiSteamFarm.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#261986 New version: Netbird.Netbird version 0.45.2
  manifests/n/Netbird/Netbird/0.45.2/Netbird.Netbird.installer.yaml
  manifests/n/Netbird/Netbird/0.45.2/Netbird.Netbird.locale.en-US.yaml
  manifests/n/Netbird/Netbird/0.45.2/Netbird.Netbird.locale.zh-CN.yaml
  manifests/n/Netbird/Netbird/0.45.2/Netbird.Netbird.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262175 New version: nektos.act version 0.2.78
  manifests/n/nektos/act/0.2.78/nektos.act.installer.yaml
  manifests/n/nektos/act/0.2.78/nektos.act.locale.en-US.yaml
  manifests/n/nektos/act/0.2.78/nektos.act.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262177 Modify: AirExplorer.AirExplorer version 5.8.1
  manifests/a/AirExplorer/AirExplorer/5.8.1/AirExplorer.AirExplorer.installer.yaml
  manifests/a/AirExplorer/AirExplorer/5.8.1/AirExplorer.AirExplorer.locale.en-US.yaml
  manifests/a/AirExplorer/AirExplorer/5.8.1/AirExplorer.AirExplorer.locale.zh-CN.yaml
  manifests/a/AirExplorer/AirExplorer/5.8.1/AirExplorer.AirExplorer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262178 Modify: LEGO.MindstormsEduEV3Classroom version 1.5.3
  manifests/l/LEGO/MindstormsEduEV3Classroom/1.5.3/LEGO.MindstormsEduEV3Classroom.installer.yaml
  manifests/l/LEGO/MindstormsEduEV3Classroom/1.5.3/LEGO.MindstormsEduEV3Classroom.locale.en-US.yaml
  manifests/l/LEGO/MindstormsEduEV3Classroom/1.5.3/LEGO.MindstormsEduEV3Classroom.locale.zh-CN.yaml
  manifests/l/LEGO/MindstormsEduEV3Classroom/1.5.3/LEGO.MindstormsEduEV3Classroom.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262180 New version: AlexanderPro.SmartSystemMenu version 2.31.0 (Auto)
  manifests/a/AlexanderPro/SmartSystemMenu/2.31.0/AlexanderPro.SmartSystemMenu.installer.yaml
  manifests/a/AlexanderPro/SmartSystemMenu/2.31.0/AlexanderPro.SmartSystemMenu.locale.en-US.yaml
  manifests/a/AlexanderPro/SmartSystemMenu/2.31.0/AlexanderPro.SmartSystemMenu.locale.zh-CN.yaml
  manifests/a/AlexanderPro/SmartSystemMenu/2.31.0/AlexanderPro.SmartSystemMenu.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262183 New version: MilosParipovic.OneCommander version 3.96.2 (3.96.2.0)
  manifests/m/MilosParipovic/OneCommander/3.96.2/MilosParipovic.OneCommander.installer.yaml
  manifests/m/MilosParipovic/OneCommander/3.96.2/MilosParipovic.OneCommander.locale.en-US.yaml
  manifests/m/MilosParipovic/OneCommander/3.96.2/MilosParipovic.OneCommander.locale.zh-CN.yaml
  manifests/m/MilosParipovic/OneCommander/3.96.2/MilosParipovic.OneCommander.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262185 New version: Jackett.Jackett version 0.22.1975
  manifests/j/Jackett/Jackett/0.22.1975/Jackett.Jackett.installer.yaml
  manifests/j/Jackett/Jackett/0.22.1975/Jackett.Jackett.locale.en-US.yaml
  manifests/j/Jackett/Jackett/0.22.1975/Jackett.Jackett.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262187 New version: NitroRCr.AIasWorkspace version 1.7.4
  manifests/n/NitroRCr/AIasWorkspace/1.7.4/NitroRCr.AIasWorkspace.installer.yaml
  manifests/n/NitroRCr/AIasWorkspace/1.7.4/NitroRCr.AIasWorkspace.locale.en-US.yaml
  manifests/n/NitroRCr/AIasWorkspace/1.7.4/NitroRCr.AIasWorkspace.locale.zh-CN.yaml
  manifests/n/NitroRCr/AIasWorkspace/1.7.4/NitroRCr.AIasWorkspace.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262188 New version: VidJuice.UniTube version 7.0.3
  manifests/v/VidJuice/UniTube/7.0.3/VidJuice.UniTube.installer.yaml
  manifests/v/VidJuice/UniTube/7.0.3/VidJuice.UniTube.locale.en-US.yaml
  manifests/v/VidJuice/UniTube/7.0.3/VidJuice.UniTube.locale.zh-CN.yaml
  manifests/v/VidJuice/UniTube/7.0.3/VidJuice.UniTube.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262191 Update: KDE.NeoChat version 25.04.1 (25.04-12140)
  manifests/k/KDE/NeoChat/25.04.1/KDE.NeoChat.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262193 New version: AppByTroye.KoodoReader version 2.0.0
  manifests/a/AppByTroye/KoodoReader/2.0.0/AppByTroye.KoodoReader.installer.yaml
  manifests/a/AppByTroye/KoodoReader/2.0.0/AppByTroye.KoodoReader.locale.en-US.yaml
  manifests/a/AppByTroye/KoodoReader/2.0.0/AppByTroye.KoodoReader.locale.zh-CN.yaml
  manifests/a/AppByTroye/KoodoReader/2.0.0/AppByTroye.KoodoReader.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262195 New version: kangfenmao.CherryStudio version 1.4.0
  manifests/k/kangfenmao/CherryStudio/1.4.0/kangfenmao.CherryStudio.installer.yaml
  manifests/k/kangfenmao/CherryStudio/1.4.0/kangfenmao.CherryStudio.locale.en-US.yaml
  manifests/k/kangfenmao/CherryStudio/1.4.0/kangfenmao.CherryStudio.locale.zh-CN.yaml
  manifests/k/kangfenmao/CherryStudio/1.4.0/kangfenmao.CherryStudio.yaml
Labels: Validation-Completed, Validation-Installation-Error, Moderator-Approved

#262197 New version: Geoxor.Amethyst version 2.1.7
  manifests/g/Geoxor/Amethyst/2.1.7/Geoxor.Amethyst.installer.yaml
  manifests/g/Geoxor/Amethyst/2.1.7/Geoxor.Amethyst.locale.en-US.yaml
  manifests/g/Geoxor/Amethyst/2.1.7/Geoxor.Amethyst.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262198 New version: jqlang.jq version 1.8.0
  manifests/j/jqlang/jq/1.8.0/jqlang.jq.installer.yaml
  manifests/j/jqlang/jq/1.8.0/jqlang.jq.locale.en-US.yaml
  manifests/j/jqlang/jq/1.8.0/jqlang.jq.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262199 New version: vkbo.novelWriter version 2.7
  manifests/v/vkbo/novelWriter/2.7/vkbo.novelWriter.installer.yaml
  manifests/v/vkbo/novelWriter/2.7/vkbo.novelWriter.locale.en-US.yaml
  manifests/v/vkbo/novelWriter/2.7/vkbo.novelWriter.locale.zh-CN.yaml
  manifests/v/vkbo/novelWriter/2.7/vkbo.novelWriter.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262204 New version: xpipe-io.xpipe version 16.5
  manifests/x/xpipe-io/xpipe/16.5/xpipe-io.xpipe.installer.yaml
  manifests/x/xpipe-io/xpipe/16.5/xpipe-io.xpipe.locale.en-US.yaml
  manifests/x/xpipe-io/xpipe/16.5/xpipe-io.xpipe.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262207 New version: PaulPacifico.ShutterEncoder version 19.1
  manifests/p/PaulPacifico/ShutterEncoder/19.1/PaulPacifico.ShutterEncoder.installer.yaml
  manifests/p/PaulPacifico/ShutterEncoder/19.1/PaulPacifico.ShutterEncoder.locale.en-US.yaml
  manifests/p/PaulPacifico/ShutterEncoder/19.1/PaulPacifico.ShutterEncoder.locale.zh-CN.yaml
  manifests/p/PaulPacifico/ShutterEncoder/19.1/PaulPacifico.ShutterEncoder.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262209 New version: TooYi.IShell version 2.0.7
  manifests/t/TooYi/IShell/2.0.7/TooYi.IShell.installer.yaml
  manifests/t/TooYi/IShell/2.0.7/TooYi.IShell.locale.en-US.yaml
  manifests/t/TooYi/IShell/2.0.7/TooYi.IShell.locale.zh-CN.yaml
  manifests/t/TooYi/IShell/2.0.7/TooYi.IShell.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262208 Update: PaulPacifico.ShutterEncoder version 19.0
  manifests/p/PaulPacifico/ShutterEncoder/19.0/PaulPacifico.ShutterEncoder.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262058 New version: EasyTidy.EasyTidy version 1.3.6.531
  manifests/e/EasyTidy/EasyTidy/1.3.6.531/EasyTidy.EasyTidy.installer.yaml
  manifests/e/EasyTidy/EasyTidy/1.3.6.531/EasyTidy.EasyTidy.locale.en-US.yaml
  manifests/e/EasyTidy/EasyTidy/1.3.6.531/EasyTidy.EasyTidy.locale.zh-CN.yaml
  manifests/e/EasyTidy/EasyTidy/1.3.6.531/EasyTidy.EasyTidy.yaml
Labels: Validation-Completed, Moderator-Approved

#256824 New version: VentisMedia.MediaMonkey.2024 version 2024.1.0.3113
  manifests/v/VentisMedia/MediaMonkey/2024/2024.1.0.3113/VentisMedia.MediaMonkey.2024.installer.yaml
  manifests/v/VentisMedia/MediaMonkey/2024/2024.1.0.3113/VentisMedia.MediaMonkey.2024.locale.en-US.yaml
  manifests/v/VentisMedia/MediaMonkey/2024/2024.1.0.3113/VentisMedia.MediaMonkey.2024.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, Needs-Attention, Needs-Manual-Merge, New-Manifest, Manifest-Metadata-Consistency

#262221 JanDeDobbeleer.OhMyPosh version 26.1.0
  manifests/j/JanDeDobbeleer/OhMyPosh/26.1.0/JanDeDobbeleer.OhMyPosh.installer.yaml
  manifests/j/JanDeDobbeleer/OhMyPosh/26.1.0/JanDeDobbeleer.OhMyPosh.locale.en-US.yaml
  manifests/j/JanDeDobbeleer/OhMyPosh/26.1.0/JanDeDobbeleer.OhMyPosh.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#261470 New version: astral-sh.ruff version 0.11.12
  manifests/a/astral-sh/ruff/0.11.12/astral-sh.ruff.installer.yaml
  manifests/a/astral-sh/ruff/0.11.12/astral-sh.ruff.locale.en-US.yaml
  manifests/a/astral-sh/ruff/0.11.12/astral-sh.ruff.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262212 New version: decipher.Capter version 4.0.0
  manifests/d/decipher/Capter/4.0.0/decipher.Capter.installer.yaml
  manifests/d/decipher/Capter/4.0.0/decipher.Capter.locale.en-US.yaml
  manifests/d/decipher/Capter/4.0.0/decipher.Capter.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262224 Remove version: Google.Chrome.Canary version 138.0.7184.0
  manifests/g/Google/Chrome/Canary/138.0.7184.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/138.0.7184.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/138.0.7184.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/138.0.7184.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/138.0.7184.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262226 Remove version: Google.Chrome.Canary version 138.0.7186.0
  manifests/g/Google/Chrome/Canary/138.0.7186.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/138.0.7186.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/138.0.7186.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/138.0.7186.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/138.0.7186.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262225 Remove version: Google.Chrome.Canary version 138.0.7185.0
  manifests/g/Google/Chrome/Canary/138.0.7185.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/138.0.7185.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/138.0.7185.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/138.0.7185.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/138.0.7185.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262222 New version: xishang0128.Sparkle version 1.6.6
  manifests/x/xishang0128/Sparkle/1.6.6/xishang0128.Sparkle.installer.yaml
  manifests/x/xishang0128/Sparkle/1.6.6/xishang0128.Sparkle.locale.en-US.yaml
  manifests/x/xishang0128/Sparkle/1.6.6/xishang0128.Sparkle.locale.zh-CN.yaml
  manifests/x/xishang0128/Sparkle/1.6.6/xishang0128.Sparkle.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262229 New version: alagrede.znote version 3.2.3
  manifests/a/alagrede/znote/3.2.3/alagrede.znote.installer.yaml
  manifests/a/alagrede/znote/3.2.3/alagrede.znote.locale.en-US.yaml
  manifests/a/alagrede/znote/3.2.3/alagrede.znote.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262233 New version: Gitleaks.Gitleaks version 8.27.0
  manifests/g/Gitleaks/Gitleaks/8.27.0/Gitleaks.Gitleaks.installer.yaml
  manifests/g/Gitleaks/Gitleaks/8.27.0/Gitleaks.Gitleaks.locale.en-US.yaml
  manifests/g/Gitleaks/Gitleaks/8.27.0/Gitleaks.Gitleaks.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262236 New version: Zen-Team.Zen-Browser version 1.12.10b
  manifests/z/Zen-Team/Zen-Browser/1.12.10b/Zen-Team.Zen-Browser.installer.yaml
  manifests/z/Zen-Team/Zen-Browser/1.12.10b/Zen-Team.Zen-Browser.locale.en-US.yaml
  manifests/z/Zen-Team/Zen-Browser/1.12.10b/Zen-Team.Zen-Browser.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262237 New version: pbek.QOwnNotes version 25.6.0
  manifests/p/pbek/QOwnNotes/25.6.0/pbek.QOwnNotes.installer.yaml
  manifests/p/pbek/QOwnNotes/25.6.0/pbek.QOwnNotes.locale.en-US.yaml
  manifests/p/pbek/QOwnNotes/25.6.0/pbek.QOwnNotes.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262238 New version: GAM-Team.gam version 7.08.01
  manifests/g/GAM-Team/gam/7.08.01/GAM-Team.gam.installer.yaml
  manifests/g/GAM-Team/gam/7.08.01/GAM-Team.gam.locale.en-US.yaml
  manifests/g/GAM-Team/gam/7.08.01/GAM-Team.gam.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262240 New version: whitewaterfoundry.fedora-remix-for-wsl version 42.0.4.0
  manifests/w/whitewaterfoundry/fedora-remix-for-wsl/42.0.4.0/whitewaterfoundry.fedora-remix-for-wsl.installer.yaml
  manifests/w/whitewaterfoundry/fedora-remix-for-wsl/42.0.4.0/whitewaterfoundry.fedora-remix-for-wsl.locale.en-US.yaml
  manifests/w/whitewaterfoundry/fedora-remix-for-wsl/42.0.4.0/whitewaterfoundry.fedora-remix-for-wsl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262247 Update: TravisGoodspeed.MaskROMTool version 2025-06-01
  manifests/t/TravisGoodspeed/MaskROMTool/2025-06-01/TravisGoodspeed.MaskROMTool.installer.yaml
  manifests/t/TravisGoodspeed/MaskROMTool/2025-06-01/TravisGoodspeed.MaskROMTool.locale.en-US.yaml
  manifests/t/TravisGoodspeed/MaskROMTool/2025-06-01/TravisGoodspeed.MaskROMTool.locale.zh-CN.yaml
  manifests/t/TravisGoodspeed/MaskROMTool/2025-06-01/TravisGoodspeed.MaskROMTool.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262255 New version: facebook.watchman version 2025.02.24.00
  manifests/f/facebook/watchman/2025.02.24.00/facebook.watchman.installer.yaml
  manifests/f/facebook/watchman/2025.02.24.00/facebook.watchman.locale.en-US.yaml
  manifests/f/facebook/watchman/2025.02.24.00/facebook.watchman.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262245 Update version: Microsoft.Edit version 1.1.0
  manifests/m/Microsoft/Edit/1.1.0/Microsoft.Edit.installer.yaml
  manifests/m/Microsoft/Edit/1.1.0/Microsoft.Edit.locale.en-US.yaml
  manifests/m/Microsoft/Edit/1.1.0/Microsoft.Edit.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262248 Update version: Microsoft.Edit version 1.0.0
  manifests/m/Microsoft/Edit/1.0.0/Microsoft.Edit.installer.yaml
  manifests/m/Microsoft/Edit/1.0.0/Microsoft.Edit.locale.en-US.yaml
  manifests/m/Microsoft/Edit/1.0.0/Microsoft.Edit.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262243 New version: IrfanSkiljan.IrfanView version 4.72
  manifests/i/IrfanSkiljan/IrfanView/4.72/IrfanSkiljan.IrfanView.installer.yaml
  manifests/i/IrfanSkiljan/IrfanView/4.72/IrfanSkiljan.IrfanView.locale.en-US.yaml
  manifests/i/IrfanSkiljan/IrfanView/4.72/IrfanSkiljan.IrfanView.locale.zh-CN.yaml
  manifests/i/IrfanSkiljan/IrfanView/4.72/IrfanSkiljan.IrfanView.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262244 New version: IrfanSkiljan.IrfanView.PlugIns version 4.72
  manifests/i/IrfanSkiljan/IrfanView/PlugIns/4.72/IrfanSkiljan.IrfanView.PlugIns.installer.yaml
  manifests/i/IrfanSkiljan/IrfanView/PlugIns/4.72/IrfanSkiljan.IrfanView.PlugIns.locale.en-US.yaml
  manifests/i/IrfanSkiljan/IrfanView/PlugIns/4.72/IrfanSkiljan.IrfanView.PlugIns.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#259778 Update: KDE.Haruna version 1.4.0 (1216)
  manifests/k/KDE/Haruna/1.4.0/KDE.Haruna.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Retry-1, Moderator-Approved

#262274 New version: vim.vim.nightly version 9.1.1425
  manifests/v/vim/vim/nightly/9.1.1425/vim.vim.nightly.installer.yaml
  manifests/v/vim/vim/nightly/9.1.1425/vim.vim.nightly.locale.en-US.yaml
  manifests/v/vim/vim/nightly/9.1.1425/vim.vim.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262277 New version: Microsoft.Bicep version 0.36.1
  manifests/m/Microsoft/Bicep/0.36.1/Microsoft.Bicep.installer.yaml
  manifests/m/Microsoft/Bicep/0.36.1/Microsoft.Bicep.locale.en-US.yaml
  manifests/m/Microsoft/Bicep/0.36.1/Microsoft.Bicep.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262276 New version: Google.Chrome.Canary version 139.0.7214.0
  manifests/g/Google/Chrome/Canary/139.0.7214.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/139.0.7214.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/139.0.7214.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/139.0.7214.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/139.0.7214.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262301 Revert: RinLit.ClassWidgets version 1.1.7.1
  manifests/r/RinLit/ClassWidgets/1.1.7.1/RinLit.ClassWidgets.installer.yaml
  manifests/r/RinLit/ClassWidgets/1.1.7.1/RinLit.ClassWidgets.locale.zh-CN.yaml
  manifests/r/RinLit/ClassWidgets/1.1.7.1/RinLit.ClassWidgets.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262287 New version: Synology.BeeStation version 1.3.3-558
  manifests/s/Synology/BeeStation/1.3.3-558/Synology.BeeStation.installer.yaml
  manifests/s/Synology/BeeStation/1.3.3-558/Synology.BeeStation.locale.en-US.yaml
  manifests/s/Synology/BeeStation/1.3.3-558/Synology.BeeStation.locale.zh-CN.yaml
  manifests/s/Synology/BeeStation/1.3.3-558/Synology.BeeStation.yaml
Labels: Validation-Completed, Moderator-Approved

#262296 New version: NCSoft.Purple version 2.25.602.38
  manifests/n/NCSoft/Purple/2.25.602.38/NCSoft.Purple.installer.yaml
  manifests/n/NCSoft/Purple/2.25.602.38/NCSoft.Purple.locale.en-US.yaml
  manifests/n/NCSoft/Purple/2.25.602.38/NCSoft.Purple.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262306 New version: krzys-h.UndertaleModTool version 0.8.2.0
  manifests/k/krzys-h/UndertaleModTool/0.8.2.0/krzys-h.UndertaleModTool.installer.yaml
  manifests/k/krzys-h/UndertaleModTool/0.8.2.0/krzys-h.UndertaleModTool.locale.en-US.yaml
  manifests/k/krzys-h/UndertaleModTool/0.8.2.0/krzys-h.UndertaleModTool.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262315 Remove: EasyTier.EasyTier version 2.3.0
  manifests/e/EasyTier/EasyTier/2.3.0/EasyTier.EasyTier.installer.yaml
  manifests/e/EasyTier/EasyTier/2.3.0/EasyTier.EasyTier.locale.en-US.yaml
  manifests/e/EasyTier/EasyTier/2.3.0/EasyTier.EasyTier.locale.zh-CN.yaml
  manifests/e/EasyTier/EasyTier/2.3.0/EasyTier.EasyTier.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262312 Modify: Ollama.Ollama version 0.9.0
  manifests/o/Ollama/Ollama/0.9.0/Ollama.Ollama.installer.yaml
  manifests/o/Ollama/Ollama/0.9.0/Ollama.Ollama.locale.en-US.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262308 New version: OctopusDeploy.Server version 2025.1.10159
  manifests/o/OctopusDeploy/Server/2025.1.10159/OctopusDeploy.Server.installer.yaml
  manifests/o/OctopusDeploy/Server/2025.1.10159/OctopusDeploy.Server.locale.en-US.yaml
  manifests/o/OctopusDeploy/Server/2025.1.10159/OctopusDeploy.Server.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262316 New version: Microsoft.VisualStudioCode.Insiders version 1.101.0
  manifests/m/Microsoft/VisualStudioCode/Insiders/1.101.0/Microsoft.VisualStudioCode.Insiders.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262317 New version: Microsoft.VisualStudioCode.Insiders.CLI version 1.101.0
  manifests/m/Microsoft/VisualStudioCode/Insiders/CLI/1.101.0/Microsoft.VisualStudioCode.Insiders.CLI.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262326 New version: 34u.MultiBaseCSHome version 5.3.3
  manifests/3/34u/MultiBaseCSHome/5.3.3/34u.MultiBaseCSHome.installer.yaml
  manifests/3/34u/MultiBaseCSHome/5.3.3/34u.MultiBaseCSHome.locale.de-DE.yaml
  manifests/3/34u/MultiBaseCSHome/5.3.3/34u.MultiBaseCSHome.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262330 New version: 34u.MultiBaseCSBirdBase version 5.3.3
  manifests/3/34u/MultiBaseCSBirdBase/5.3.3/34u.MultiBaseCSBirdBase.installer.yaml
  manifests/3/34u/MultiBaseCSBirdBase/5.3.3/34u.MultiBaseCSBirdBase.locale.de-DE.yaml
  manifests/3/34u/MultiBaseCSBirdBase/5.3.3/34u.MultiBaseCSBirdBase.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262319 Remove version: SanDisk.MemoryZone.Desktop version 1.0.0.1 (Auto)
  manifests/s/SanDisk/MemoryZone/Desktop/1.0.0.1/SanDisk.MemoryZone.Desktop.installer.yaml
  manifests/s/SanDisk/MemoryZone/Desktop/1.0.0.1/SanDisk.MemoryZone.Desktop.locale.en-US.yaml
  manifests/s/SanDisk/MemoryZone/Desktop/1.0.0.1/SanDisk.MemoryZone.Desktop.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262334 Update: KDE.Konsole version 25.07.70 (4080)
  manifests/k/KDE/Konsole/25.07.70/KDE.Konsole.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262340 New version: AssetRipper.AssetRipper version 1.2.4
  manifests/a/AssetRipper/AssetRipper/1.2.4/AssetRipper.AssetRipper.installer.yaml
  manifests/a/AssetRipper/AssetRipper/1.2.4/AssetRipper.AssetRipper.locale.en-US.yaml
  manifests/a/AssetRipper/AssetRipper/1.2.4/AssetRipper.AssetRipper.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262337 New version: VSCodium.VSCodium.Insiders version 1.101.03679
  manifests/v/VSCodium/VSCodium/Insiders/1.101.03679/VSCodium.VSCodium.Insiders.installer.yaml
  manifests/v/VSCodium/VSCodium/Insiders/1.101.03679/VSCodium.VSCodium.Insiders.locale.en-US.yaml
  manifests/v/VSCodium/VSCodium/Insiders/1.101.03679/VSCodium.VSCodium.Insiders.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262341 MikeFarah.yq 4.45.4
  manifests/m/MikeFarah/yq/4.45.4/MikeFarah.yq.installer.yaml
  manifests/m/MikeFarah/yq/4.45.4/MikeFarah.yq.locale.en-US.yaml
  manifests/m/MikeFarah/yq/4.45.4/MikeFarah.yq.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262344 New version: 3TSoftwareLabs.Studio3T version 2025.10.0
  manifests/3/3TSoftwareLabs/Studio3T/2025.10.0/3TSoftwareLabs.Studio3T.installer.yaml
  manifests/3/3TSoftwareLabs/Studio3T/2025.10.0/3TSoftwareLabs.Studio3T.locale.en-US.yaml
  manifests/3/3TSoftwareLabs/Studio3T/2025.10.0/3TSoftwareLabs.Studio3T.locale.zh-CN.yaml
  manifests/3/3TSoftwareLabs/Studio3T/2025.10.0/3TSoftwareLabs.Studio3T.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262321 Modify: glueckkanja.KONNEKT version 2.9.1 (Auto)
  manifests/g/glueckkanja/KONNEKT/2.9.1/glueckkanja.KONNEKT.installer.yaml
  manifests/g/glueckkanja/KONNEKT/2.9.1/glueckkanja.KONNEKT.locale.en-US.yaml
  manifests/g/glueckkanja/KONNEKT/2.9.1/glueckkanja.KONNEKT.locale.zh-CN.yaml
  manifests/g/glueckkanja/KONNEKT/2.9.1/glueckkanja.KONNEKT.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262351 New version: Google.Chrome.Canary version 139.0.7215.0
  manifests/g/Google/Chrome/Canary/139.0.7215.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/139.0.7215.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/139.0.7215.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/139.0.7215.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/139.0.7215.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262360 Upgrade to Build 711 (inkl workaround for winget Bug with BOM)
  manifests/t/TUitTUWien/TUtoolbox/2025.1.0.711/TUitTUWien.TUtoolbox.installer.yaml
  manifests/t/TUitTUWien/TUtoolbox/2025.1.0.711/TUitTUWien.TUtoolbox.locale.de-DE.yaml
  manifests/t/TUitTUWien/TUtoolbox/2025.1.0.711/TUitTUWien.TUtoolbox.locale.en-US.yaml
  manifests/t/TUitTUWien/TUtoolbox/2025.1.0.711/TUitTUWien.TUtoolbox.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262362 New version: S3Drive.S3Drive version 1.12.9
  manifests/s/S3Drive/S3Drive/1.12.9/S3Drive.S3Drive.installer.yaml
  manifests/s/S3Drive/S3Drive/1.12.9/S3Drive.S3Drive.locale.en-US.yaml
  manifests/s/S3Drive/S3Drive/1.12.9/S3Drive.S3Drive.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262364 New version: orhun.git-cliff version 2.9.0
  manifests/o/orhun/git-cliff/2.9.0/orhun.git-cliff.installer.yaml
  manifests/o/orhun/git-cliff/2.9.0/orhun.git-cliff.locale.en-US.yaml
  manifests/o/orhun/git-cliff/2.9.0/orhun.git-cliff.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262369 New version: cebby2420.VIADesktop version 2025.6.2
  manifests/c/cebby2420/VIADesktop/2025.6.2/cebby2420.VIADesktop.installer.yaml
  manifests/c/cebby2420/VIADesktop/2025.6.2/cebby2420.VIADesktop.locale.en-US.yaml
  manifests/c/cebby2420/VIADesktop/2025.6.2/cebby2420.VIADesktop.locale.zh-CN.yaml
  manifests/c/cebby2420/VIADesktop/2025.6.2/cebby2420.VIADesktop.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262368 New version: APIDocumentation.Scalar version 0.1.199
  manifests/a/APIDocumentation/Scalar/0.1.199/APIDocumentation.Scalar.installer.yaml
  manifests/a/APIDocumentation/Scalar/0.1.199/APIDocumentation.Scalar.locale.en-US.yaml
  manifests/a/APIDocumentation/Scalar/0.1.199/APIDocumentation.Scalar.locale.zh-CN.yaml
  manifests/a/APIDocumentation/Scalar/0.1.199/APIDocumentation.Scalar.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262411 New version: Mozilla.Thunderbird.es-MX version 139.0.1
  manifests/m/Mozilla/Thunderbird/es-MX/139.0.1/Mozilla.Thunderbird.es-MX.installer.yaml
  manifests/m/Mozilla/Thunderbird/es-MX/139.0.1/Mozilla.Thunderbird.es-MX.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/es-MX/139.0.1/Mozilla.Thunderbird.es-MX.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/es-MX/139.0.1/Mozilla.Thunderbird.es-MX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262460 New version: Mozilla.Thunderbird.zh-CN version 139.0.1
  manifests/m/Mozilla/Thunderbird/zh-CN/139.0.1/Mozilla.Thunderbird.zh-CN.installer.yaml
  manifests/m/Mozilla/Thunderbird/zh-CN/139.0.1/Mozilla.Thunderbird.zh-CN.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/zh-CN/139.0.1/Mozilla.Thunderbird.zh-CN.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/zh-CN/139.0.1/Mozilla.Thunderbird.zh-CN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262455 New version: Mozilla.Thunderbird.th version 139.0.1
  manifests/m/Mozilla/Thunderbird/th/139.0.1/Mozilla.Thunderbird.th.installer.yaml
  manifests/m/Mozilla/Thunderbird/th/139.0.1/Mozilla.Thunderbird.th.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/th/139.0.1/Mozilla.Thunderbird.th.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/th/139.0.1/Mozilla.Thunderbird.th.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262454 New version: Mozilla.Thunderbird.sv-SE version 139.0.1
  manifests/m/Mozilla/Thunderbird/sv-SE/139.0.1/Mozilla.Thunderbird.sv-SE.installer.yaml
  manifests/m/Mozilla/Thunderbird/sv-SE/139.0.1/Mozilla.Thunderbird.sv-SE.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/sv-SE/139.0.1/Mozilla.Thunderbird.sv-SE.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/sv-SE/139.0.1/Mozilla.Thunderbird.sv-SE.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262469 New version: Posit.Positron version 2025.06.0 (2025.06.0-167)
  manifests/p/Posit/Positron/2025.06.0/Posit.Positron.installer.yaml
  manifests/p/Posit/Positron/2025.06.0/Posit.Positron.locale.en-US.yaml
  manifests/p/Posit/Positron/2025.06.0/Posit.Positron.locale.zh-CN.yaml
  manifests/p/Posit/Positron/2025.06.0/Posit.Positron.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262478 ReleaseNotes: MathiasSvensson.MultiCommander version 15.5.0.3101
  manifests/m/MathiasSvensson/MultiCommander/15.5.0.3101/MathiasSvensson.MultiCommander.installer.yaml
  manifests/m/MathiasSvensson/MultiCommander/15.5.0.3101/MathiasSvensson.MultiCommander.locale.en-US.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262462 New version: Mozilla.Thunderbird.MSIX version 139.0.1
  manifests/m/Mozilla/Thunderbird/MSIX/139.0.1/Mozilla.Thunderbird.MSIX.installer.yaml
  manifests/m/Mozilla/Thunderbird/MSIX/139.0.1/Mozilla.Thunderbird.MSIX.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/MSIX/139.0.1/Mozilla.Thunderbird.MSIX.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/MSIX/139.0.1/Mozilla.Thunderbird.MSIX.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262464 New version: Helm.Helm version 3.18.2
  manifests/h/Helm/Helm/3.18.2/Helm.Helm.installer.yaml
  manifests/h/Helm/Helm/3.18.2/Helm.Helm.locale.en-US.yaml
  manifests/h/Helm/Helm/3.18.2/Helm.Helm.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262396 New version: Mozilla.Thunderbird.be version 139.0.1
  manifests/m/Mozilla/Thunderbird/be/139.0.1/Mozilla.Thunderbird.be.installer.yaml
  manifests/m/Mozilla/Thunderbird/be/139.0.1/Mozilla.Thunderbird.be.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/be/139.0.1/Mozilla.Thunderbird.be.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/be/139.0.1/Mozilla.Thunderbird.be.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262379 update Hash for peanut996.CloudflareWarpSpeedTest v1.1.5
  manifests/p/peanut996/CloudflareWarpSpeedTest/v1.1.5/peanut996.CloudflareWarpSpeedTest.installer.yaml
  manifests/p/peanut996/CloudflareWarpSpeedTest/v1.1.5/peanut996.CloudflareWarpSpeedTest.locale.en-US.yaml
  manifests/p/peanut996/CloudflareWarpSpeedTest/v1.1.5/peanut996.CloudflareWarpSpeedTest.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262380 New version: 3TSoftwareLabs.Studio3T version 2025.10.1
  manifests/3/3TSoftwareLabs/Studio3T/2025.10.1/3TSoftwareLabs.Studio3T.installer.yaml
  manifests/3/3TSoftwareLabs/Studio3T/2025.10.1/3TSoftwareLabs.Studio3T.locale.en-US.yaml
  manifests/3/3TSoftwareLabs/Studio3T/2025.10.1/3TSoftwareLabs.Studio3T.locale.zh-CN.yaml
  manifests/3/3TSoftwareLabs/Studio3T/2025.10.1/3TSoftwareLabs.Studio3T.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262417 New version: Mozilla.Thunderbird.ga-IE version 139.0.1
  manifests/m/Mozilla/Thunderbird/ga-IE/139.0.1/Mozilla.Thunderbird.ga-IE.installer.yaml
  manifests/m/Mozilla/Thunderbird/ga-IE/139.0.1/Mozilla.Thunderbird.ga-IE.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ga-IE/139.0.1/Mozilla.Thunderbird.ga-IE.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ga-IE/139.0.1/Mozilla.Thunderbird.ga-IE.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262395 New version: Mozilla.Thunderbird.ast version 139.0.1
  manifests/m/Mozilla/Thunderbird/ast/139.0.1/Mozilla.Thunderbird.ast.installer.yaml
  manifests/m/Mozilla/Thunderbird/ast/139.0.1/Mozilla.Thunderbird.ast.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ast/139.0.1/Mozilla.Thunderbird.ast.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ast/139.0.1/Mozilla.Thunderbird.ast.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262398 New version: Mozilla.Thunderbird.br version 139.0.1
  manifests/m/Mozilla/Thunderbird/br/139.0.1/Mozilla.Thunderbird.br.installer.yaml
  manifests/m/Mozilla/Thunderbird/br/139.0.1/Mozilla.Thunderbird.br.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/br/139.0.1/Mozilla.Thunderbird.br.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/br/139.0.1/Mozilla.Thunderbird.br.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262399 New version: Mozilla.Thunderbird.ca version 139.0.1
  manifests/m/Mozilla/Thunderbird/ca/139.0.1/Mozilla.Thunderbird.ca.installer.yaml
  manifests/m/Mozilla/Thunderbird/ca/139.0.1/Mozilla.Thunderbird.ca.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ca/139.0.1/Mozilla.Thunderbird.ca.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ca/139.0.1/Mozilla.Thunderbird.ca.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262400 New version: Mozilla.Thunderbird.cak version 139.0.1
  manifests/m/Mozilla/Thunderbird/cak/139.0.1/Mozilla.Thunderbird.cak.installer.yaml
  manifests/m/Mozilla/Thunderbird/cak/139.0.1/Mozilla.Thunderbird.cak.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/cak/139.0.1/Mozilla.Thunderbird.cak.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/cak/139.0.1/Mozilla.Thunderbird.cak.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262405 New version: Mozilla.Thunderbird.dsb version 139.0.1
  manifests/m/Mozilla/Thunderbird/dsb/139.0.1/Mozilla.Thunderbird.dsb.installer.yaml
  manifests/m/Mozilla/Thunderbird/dsb/139.0.1/Mozilla.Thunderbird.dsb.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/dsb/139.0.1/Mozilla.Thunderbird.dsb.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/dsb/139.0.1/Mozilla.Thunderbird.dsb.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262406 New version: Mozilla.Thunderbird.el version 139.0.1
  manifests/m/Mozilla/Thunderbird/el/139.0.1/Mozilla.Thunderbird.el.installer.yaml
  manifests/m/Mozilla/Thunderbird/el/139.0.1/Mozilla.Thunderbird.el.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/el/139.0.1/Mozilla.Thunderbird.el.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/el/139.0.1/Mozilla.Thunderbird.el.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262409 New version: Mozilla.Thunderbird.es-AR version 139.0.1
  manifests/m/Mozilla/Thunderbird/es-AR/139.0.1/Mozilla.Thunderbird.es-AR.installer.yaml
  manifests/m/Mozilla/Thunderbird/es-AR/139.0.1/Mozilla.Thunderbird.es-AR.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/es-AR/139.0.1/Mozilla.Thunderbird.es-AR.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/es-AR/139.0.1/Mozilla.Thunderbird.es-AR.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262410 New version: Mozilla.Thunderbird.es-ES version 139.0.1
  manifests/m/Mozilla/Thunderbird/es-ES/139.0.1/Mozilla.Thunderbird.es-ES.installer.yaml
  manifests/m/Mozilla/Thunderbird/es-ES/139.0.1/Mozilla.Thunderbird.es-ES.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/es-ES/139.0.1/Mozilla.Thunderbird.es-ES.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/es-ES/139.0.1/Mozilla.Thunderbird.es-ES.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262415 New version: Mozilla.Thunderbird.fr version 139.0.1
  manifests/m/Mozilla/Thunderbird/fr/139.0.1/Mozilla.Thunderbird.fr.installer.yaml
  manifests/m/Mozilla/Thunderbird/fr/139.0.1/Mozilla.Thunderbird.fr.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/fr/139.0.1/Mozilla.Thunderbird.fr.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/fr/139.0.1/Mozilla.Thunderbird.fr.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262416 New version: Mozilla.Thunderbird.fy-NL version 139.0.1
  manifests/m/Mozilla/Thunderbird/fy-NL/139.0.1/Mozilla.Thunderbird.fy-NL.installer.yaml
  manifests/m/Mozilla/Thunderbird/fy-NL/139.0.1/Mozilla.Thunderbird.fy-NL.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/fy-NL/139.0.1/Mozilla.Thunderbird.fy-NL.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/fy-NL/139.0.1/Mozilla.Thunderbird.fy-NL.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262453 New version: Mozilla.Thunderbird.sr version 139.0.1
  manifests/m/Mozilla/Thunderbird/sr/139.0.1/Mozilla.Thunderbird.sr.installer.yaml
  manifests/m/Mozilla/Thunderbird/sr/139.0.1/Mozilla.Thunderbird.sr.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/sr/139.0.1/Mozilla.Thunderbird.sr.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/sr/139.0.1/Mozilla.Thunderbird.sr.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262467 New version: Hashicorp.Packer version 1.13.0
  manifests/h/Hashicorp/Packer/1.13.0/Hashicorp.Packer.installer.yaml
  manifests/h/Hashicorp/Packer/1.13.0/Hashicorp.Packer.locale.en-US.yaml
  manifests/h/Hashicorp/Packer/1.13.0/Hashicorp.Packer.locale.zh-CN.yaml
  manifests/h/Hashicorp/Packer/1.13.0/Hashicorp.Packer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262477 New version: Gleam.Gleam version 1.11.0
  manifests/g/Gleam/Gleam/1.11.0/Gleam.Gleam.installer.yaml
  manifests/g/Gleam/Gleam/1.11.0/Gleam.Gleam.locale.en-US.yaml
  manifests/g/Gleam/Gleam/1.11.0/Gleam.Gleam.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262384 New version: Balena.BalenaCLI version 22.0.6
  manifests/b/Balena/BalenaCLI/22.0.6/Balena.BalenaCLI.installer.yaml
  manifests/b/Balena/BalenaCLI/22.0.6/Balena.BalenaCLI.locale.en-US.yaml
  manifests/b/Balena/BalenaCLI/22.0.6/Balena.BalenaCLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262385 update Hash for pangeacyber.pangea 2.0.0
  manifests/p/pangeacyber/pangea/2.0.0/pangeacyber.pangea.installer.yaml
  manifests/p/pangeacyber/pangea/2.0.0/pangeacyber.pangea.locale.en-US.yaml
  manifests/p/pangeacyber/pangea/2.0.0/pangeacyber.pangea.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262475 New version: seerge.g-helper version 0.213
  manifests/s/seerge/g-helper/0.213/seerge.g-helper.installer.yaml
  manifests/s/seerge/g-helper/0.213/seerge.g-helper.locale.en-US.yaml
  manifests/s/seerge/g-helper/0.213/seerge.g-helper.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262391 New version: Speakeasy.speakeasy 1.555.0
  manifests/s/Speakeasy/speakeasy/1.555.0/Speakeasy.speakeasy.installer.yaml
  manifests/s/Speakeasy/speakeasy/1.555.0/Speakeasy.speakeasy.locale.en-US.yaml
  manifests/s/Speakeasy/speakeasy/1.555.0/Speakeasy.speakeasy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262420 New version: Mozilla.Thunderbird.he version 139.0.1
  manifests/m/Mozilla/Thunderbird/he/139.0.1/Mozilla.Thunderbird.he.installer.yaml
  manifests/m/Mozilla/Thunderbird/he/139.0.1/Mozilla.Thunderbird.he.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/he/139.0.1/Mozilla.Thunderbird.he.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/he/139.0.1/Mozilla.Thunderbird.he.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262422 New version: Mozilla.Thunderbird.hsb version 139.0.1
  manifests/m/Mozilla/Thunderbird/hsb/139.0.1/Mozilla.Thunderbird.hsb.installer.yaml
  manifests/m/Mozilla/Thunderbird/hsb/139.0.1/Mozilla.Thunderbird.hsb.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/hsb/139.0.1/Mozilla.Thunderbird.hsb.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/hsb/139.0.1/Mozilla.Thunderbird.hsb.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262423 New version: Mozilla.Thunderbird.hu version 139.0.1
  manifests/m/Mozilla/Thunderbird/hu/139.0.1/Mozilla.Thunderbird.hu.installer.yaml
  manifests/m/Mozilla/Thunderbird/hu/139.0.1/Mozilla.Thunderbird.hu.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/hu/139.0.1/Mozilla.Thunderbird.hu.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/hu/139.0.1/Mozilla.Thunderbird.hu.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262426 New version: Mozilla.Thunderbird.is version 139.0.1
  manifests/m/Mozilla/Thunderbird/is/139.0.1/Mozilla.Thunderbird.is.installer.yaml
  manifests/m/Mozilla/Thunderbird/is/139.0.1/Mozilla.Thunderbird.is.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/is/139.0.1/Mozilla.Thunderbird.is.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/is/139.0.1/Mozilla.Thunderbird.is.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262431 New version: Mozilla.Thunderbird.kk version 139.0.1
  manifests/m/Mozilla/Thunderbird/kk/139.0.1/Mozilla.Thunderbird.kk.installer.yaml
  manifests/m/Mozilla/Thunderbird/kk/139.0.1/Mozilla.Thunderbird.kk.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/kk/139.0.1/Mozilla.Thunderbird.kk.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/kk/139.0.1/Mozilla.Thunderbird.kk.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262432 New version: Mozilla.Thunderbird.ko version 139.0.1
  manifests/m/Mozilla/Thunderbird/ko/139.0.1/Mozilla.Thunderbird.ko.installer.yaml
  manifests/m/Mozilla/Thunderbird/ko/139.0.1/Mozilla.Thunderbird.ko.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ko/139.0.1/Mozilla.Thunderbird.ko.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ko/139.0.1/Mozilla.Thunderbird.ko.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262435 New version: Mozilla.Thunderbird.ms version 139.0.1
  manifests/m/Mozilla/Thunderbird/ms/139.0.1/Mozilla.Thunderbird.ms.installer.yaml
  manifests/m/Mozilla/Thunderbird/ms/139.0.1/Mozilla.Thunderbird.ms.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/ms/139.0.1/Mozilla.Thunderbird.ms.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/ms/139.0.1/Mozilla.Thunderbird.ms.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262438 New version: Mozilla.Thunderbird.nn-NO version 139.0.1
  manifests/m/Mozilla/Thunderbird/nn-NO/139.0.1/Mozilla.Thunderbird.nn-NO.installer.yaml
  manifests/m/Mozilla/Thunderbird/nn-NO/139.0.1/Mozilla.Thunderbird.nn-NO.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/nn-NO/139.0.1/Mozilla.Thunderbird.nn-NO.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/nn-NO/139.0.1/Mozilla.Thunderbird.nn-NO.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262439 New version: Mozilla.Thunderbird.pa-IN version 139.0.1
  manifests/m/Mozilla/Thunderbird/pa-IN/139.0.1/Mozilla.Thunderbird.pa-IN.installer.yaml
  manifests/m/Mozilla/Thunderbird/pa-IN/139.0.1/Mozilla.Thunderbird.pa-IN.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/pa-IN/139.0.1/Mozilla.Thunderbird.pa-IN.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/pa-IN/139.0.1/Mozilla.Thunderbird.pa-IN.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262440 New version: Mozilla.Thunderbird.pl version 139.0.1
  manifests/m/Mozilla/Thunderbird/pl/139.0.1/Mozilla.Thunderbird.pl.installer.yaml
  manifests/m/Mozilla/Thunderbird/pl/139.0.1/Mozilla.Thunderbird.pl.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/pl/139.0.1/Mozilla.Thunderbird.pl.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/pl/139.0.1/Mozilla.Thunderbird.pl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262441 New version: StefanFreischlad.Filius version 2.9.3
  manifests/s/StefanFreischlad/Filius/2.9.3/StefanFreischlad.Filius.installer.yaml
  manifests/s/StefanFreischlad/Filius/2.9.3/StefanFreischlad.Filius.locale.de-DE.yaml
  manifests/s/StefanFreischlad/Filius/2.9.3/StefanFreischlad.Filius.locale.zh-CN.yaml
  manifests/s/StefanFreischlad/Filius/2.9.3/StefanFreischlad.Filius.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262442 New version: Mozilla.Thunderbird.pt-BR version 139.0.1
  manifests/m/Mozilla/Thunderbird/pt-BR/139.0.1/Mozilla.Thunderbird.pt-BR.installer.yaml
  manifests/m/Mozilla/Thunderbird/pt-BR/139.0.1/Mozilla.Thunderbird.pt-BR.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/pt-BR/139.0.1/Mozilla.Thunderbird.pt-BR.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/pt-BR/139.0.1/Mozilla.Thunderbird.pt-BR.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262443 New version: Mozilla.Thunderbird.pt-PT version 139.0.1
  manifests/m/Mozilla/Thunderbird/pt-PT/139.0.1/Mozilla.Thunderbird.pt-PT.installer.yaml
  manifests/m/Mozilla/Thunderbird/pt-PT/139.0.1/Mozilla.Thunderbird.pt-PT.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/pt-PT/139.0.1/Mozilla.Thunderbird.pt-PT.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/pt-PT/139.0.1/Mozilla.Thunderbird.pt-PT.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262450 New version: Mozilla.Thunderbird.sk version 139.0.1
  manifests/m/Mozilla/Thunderbird/sk/139.0.1/Mozilla.Thunderbird.sk.installer.yaml
  manifests/m/Mozilla/Thunderbird/sk/139.0.1/Mozilla.Thunderbird.sk.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/sk/139.0.1/Mozilla.Thunderbird.sk.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/sk/139.0.1/Mozilla.Thunderbird.sk.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262414 New version: Mozilla.Thunderbird.fi version 139.0.1
  manifests/m/Mozilla/Thunderbird/fi/139.0.1/Mozilla.Thunderbird.fi.installer.yaml
  manifests/m/Mozilla/Thunderbird/fi/139.0.1/Mozilla.Thunderbird.fi.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/fi/139.0.1/Mozilla.Thunderbird.fi.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/fi/139.0.1/Mozilla.Thunderbird.fi.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262452 New version: Mozilla.Thunderbird.sq version 139.0.1
  manifests/m/Mozilla/Thunderbird/sq/139.0.1/Mozilla.Thunderbird.sq.installer.yaml
  manifests/m/Mozilla/Thunderbird/sq/139.0.1/Mozilla.Thunderbird.sq.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/sq/139.0.1/Mozilla.Thunderbird.sq.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/sq/139.0.1/Mozilla.Thunderbird.sq.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262457 New version: Mozilla.Thunderbird.uk version 139.0.1
  manifests/m/Mozilla/Thunderbird/uk/139.0.1/Mozilla.Thunderbird.uk.installer.yaml
  manifests/m/Mozilla/Thunderbird/uk/139.0.1/Mozilla.Thunderbird.uk.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/uk/139.0.1/Mozilla.Thunderbird.uk.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/uk/139.0.1/Mozilla.Thunderbird.uk.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262459 New version: Mozilla.Thunderbird.vi version 139.0.1
  manifests/m/Mozilla/Thunderbird/vi/139.0.1/Mozilla.Thunderbird.vi.installer.yaml
  manifests/m/Mozilla/Thunderbird/vi/139.0.1/Mozilla.Thunderbird.vi.locale.en-US.yaml
  manifests/m/Mozilla/Thunderbird/vi/139.0.1/Mozilla.Thunderbird.vi.locale.zh-CN.yaml
  manifests/m/Mozilla/Thunderbird/vi/139.0.1/Mozilla.Thunderbird.vi.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262031 Fix: monkeyWie.Gopeed version 1.6.8
  manifests/m/monkeyWie/Gopeed/1.6.8/monkeyWie.Gopeed.installer.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#262388 update Hash for Picocrypt.Picocrypt 1.45
  manifests/p/Picocrypt/Picocrypt/1.45/Picocrypt.Picocrypt.installer.yaml
  manifests/p/Picocrypt/Picocrypt/1.45/Picocrypt.Picocrypt.locale.en-US.yaml
  manifests/p/Picocrypt/Picocrypt/1.45/Picocrypt.Picocrypt.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved

#259274 New version: WK.WKRadar version 7.15.0
  manifests/w/WK/WKRadar/7.15.0/WK.WKRadar.installer.yaml
  manifests/w/WK/WKRadar/7.15.0/WK.WKRadar.locale.pt-BR.yaml
  manifests/w/WK/WKRadar/7.15.0/WK.WKRadar.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved

#262474 New version: Microsoft.PIX version 2505.30
  manifests/m/Microsoft/PIX/2505.30/Microsoft.PIX.installer.yaml
  manifests/m/Microsoft/PIX/2505.30/Microsoft.PIX.locale.en-US.yaml
  manifests/m/Microsoft/PIX/2505.30/Microsoft.PIX.yaml
Labels: Azure-Pipeline-Passed, Moderator-Approved, Needs-Attention, Needs-Manual-Merge, New-Manifest, Validation-Agreement-Domain

#262609 New version: Discord.Discord version 1.0.9194
  manifests/d/Discord/Discord/1.0.9194/Discord.Discord.installer.yaml
  manifests/d/Discord/Discord/1.0.9194/Discord.Discord.locale.en-US.yaml
  manifests/d/Discord/Discord/1.0.9194/Discord.Discord.locale.pt-BR.yaml
  manifests/d/Discord/Discord/1.0.9194/Discord.Discord.locale.zh-CN.yaml
  manifests/d/Discord/Discord/1.0.9194/Discord.Discord.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262612 New version: PDQ.PDQDeploy version 19.4.77.0
  manifests/p/PDQ/PDQDeploy/19.4.77.0/PDQ.PDQDeploy.installer.yaml
  manifests/p/PDQ/PDQDeploy/19.4.77.0/PDQ.PDQDeploy.locale.en-US.yaml
  manifests/p/PDQ/PDQDeploy/19.4.77.0/PDQ.PDQDeploy.locale.zh-CN.yaml
  manifests/p/PDQ/PDQDeploy/19.4.77.0/PDQ.PDQDeploy.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262614 New version: RaisingTheFloor.Morphic version 1.10.25153.2
  manifests/r/RaisingTheFloor/Morphic/1.10.25153.2/RaisingTheFloor.Morphic.installer.yaml
  manifests/r/RaisingTheFloor/Morphic/1.10.25153.2/RaisingTheFloor.Morphic.locale.en-US.yaml
  manifests/r/RaisingTheFloor/Morphic/1.10.25153.2/RaisingTheFloor.Morphic.locale.zh-CN.yaml
  manifests/r/RaisingTheFloor/Morphic/1.10.25153.2/RaisingTheFloor.Morphic.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262608 New version: Amazon.AWSCLI version 2.27.27
  manifests/a/Amazon/AWSCLI/2.27.27/Amazon.AWSCLI.installer.yaml
  manifests/a/Amazon/AWSCLI/2.27.27/Amazon.AWSCLI.locale.en-US.yaml
  manifests/a/Amazon/AWSCLI/2.27.27/Amazon.AWSCLI.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262616 New version: activescott.lessmsi version 2.7.2
  manifests/a/activescott/lessmsi/2.7.2/activescott.lessmsi.installer.yaml
  manifests/a/activescott/lessmsi/2.7.2/activescott.lessmsi.locale.en-US.yaml
  manifests/a/activescott/lessmsi/2.7.2/activescott.lessmsi.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262623 New version: yt-dlp.yt-dlp.nightly version 2025.06.01.232947
  manifests/y/yt-dlp/yt-dlp/nightly/2025.06.01.232947/yt-dlp.yt-dlp.nightly.installer.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2025.06.01.232947/yt-dlp.yt-dlp.nightly.locale.en-US.yaml
  manifests/y/yt-dlp/yt-dlp/nightly/2025.06.01.232947/yt-dlp.yt-dlp.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262624 New version: DigitalOcean.Doctl version 1.128.0
  manifests/d/DigitalOcean/Doctl/1.128.0/DigitalOcean.Doctl.installer.yaml
  manifests/d/DigitalOcean/Doctl/1.128.0/DigitalOcean.Doctl.locale.en-US.yaml
  manifests/d/DigitalOcean/Doctl/1.128.0/DigitalOcean.Doctl.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262625 New version: Google.Chrome.Canary version 139.0.7216.0
  manifests/g/Google/Chrome/Canary/139.0.7216.0/Google.Chrome.Canary.installer.yaml
  manifests/g/Google/Chrome/Canary/139.0.7216.0/Google.Chrome.Canary.locale.en-US.yaml
  manifests/g/Google/Chrome/Canary/139.0.7216.0/Google.Chrome.Canary.locale.nb-NO.yaml
  manifests/g/Google/Chrome/Canary/139.0.7216.0/Google.Chrome.Canary.locale.zh-CN.yaml
  manifests/g/Google/Chrome/Canary/139.0.7216.0/Google.Chrome.Canary.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262470 New version: VapourSynth.VapourSynth version R72
  manifests/v/VapourSynth/VapourSynth/R72/VapourSynth.VapourSynth.installer.yaml
  manifests/v/VapourSynth/VapourSynth/R72/VapourSynth.VapourSynth.locale.en-US.yaml
  manifests/v/VapourSynth/VapourSynth/R72/VapourSynth.VapourSynth.locale.zh-CN.yaml
  manifests/v/VapourSynth/VapourSynth/R72/VapourSynth.VapourSynth.yaml
Labels: Validation-Completed, Retry-1, Moderator-Approved

#262634 New version: Amazon.AWSVPNClient version 5.2.2
  manifests/a/Amazon/AWSVPNClient/5.2.2/Amazon.AWSVPNClient.installer.yaml
  manifests/a/Amazon/AWSVPNClient/5.2.2/Amazon.AWSVPNClient.locale.en-US.yaml
  manifests/a/Amazon/AWSVPNClient/5.2.2/Amazon.AWSVPNClient.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262638 New version: vim.vim.nightly version 9.1.1426
  manifests/v/vim/vim/nightly/9.1.1426/vim.vim.nightly.installer.yaml
  manifests/v/vim/vim/nightly/9.1.1426/vim.vim.nightly.locale.en-US.yaml
  manifests/v/vim/vim/nightly/9.1.1426/vim.vim.nightly.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262637 New version: matchmycolor.ColibriAlpha version 25.2.0.15123
  manifests/m/matchmycolor/ColibriAlpha/25.2.0.15123/matchmycolor.ColibriAlpha.installer.yaml
  manifests/m/matchmycolor/ColibriAlpha/25.2.0.15123/matchmycolor.ColibriAlpha.locale.en-US.yaml
  manifests/m/matchmycolor/ColibriAlpha/25.2.0.15123/matchmycolor.ColibriAlpha.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262639 New version: Anthropic.Claude version 0.9.4
  manifests/a/Anthropic/Claude/0.9.4/Anthropic.Claude.installer.yaml
  manifests/a/Anthropic/Claude/0.9.4/Anthropic.Claude.locale.en-US.yaml
  manifests/a/Anthropic/Claude/0.9.4/Anthropic.Claude.locale.zh-CN.yaml
  manifests/a/Anthropic/Claude/0.9.4/Anthropic.Claude.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262644 New version: usual2970.Certimate version 0.3.15
  manifests/u/usual2970/Certimate/0.3.15/usual2970.Certimate.installer.yaml
  manifests/u/usual2970/Certimate/0.3.15/usual2970.Certimate.locale.en-US.yaml
  manifests/u/usual2970/Certimate/0.3.15/usual2970.Certimate.locale.zh-CN.yaml
  manifests/u/usual2970/Certimate/0.3.15/usual2970.Certimate.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262642 New version: KDE.Kate version 25.04.2 (25.04-9521)
  manifests/k/KDE/Kate/25.04.2/KDE.Kate.installer.yaml
  manifests/k/KDE/Kate/25.04.2/KDE.Kate.locale.en-US.yaml
  manifests/k/KDE/Kate/25.04.2/KDE.Kate.locale.zh-CN.yaml
  manifests/k/KDE/Kate/25.04.2/KDE.Kate.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262085 New version: Hugo.Hugo version 0.147.7
  manifests/h/Hugo/Hugo/0.147.7/Hugo.Hugo.installer.yaml
  manifests/h/Hugo/Hugo/0.147.7/Hugo.Hugo.locale.en-US.yaml
  manifests/h/Hugo/Hugo/0.147.7/Hugo.Hugo.locale.zh-CN.yaml
  manifests/h/Hugo/Hugo/0.147.7/Hugo.Hugo.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262086 New version: Hugo.Hugo.Extended version 0.147.7
  manifests/h/Hugo/Hugo/Extended/0.147.7/Hugo.Hugo.Extended.installer.yaml
  manifests/h/Hugo/Hugo/Extended/0.147.7/Hugo.Hugo.Extended.locale.en-US.yaml
  manifests/h/Hugo/Hugo/Extended/0.147.7/Hugo.Hugo.Extended.locale.zh-CN.yaml
  manifests/h/Hugo/Hugo/Extended/0.147.7/Hugo.Hugo.Extended.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262090 New version: BtbN.FFmpeg.GPL version N-119779-g6c291232cf-20250531 (2025-05-31-14-01)
  manifests/b/BtbN/FFmpeg/GPL/N-119779-g6c291232cf-20250531/BtbN.FFmpeg.GPL.installer.yaml
  manifests/b/BtbN/FFmpeg/GPL/N-119779-g6c291232cf-20250531/BtbN.FFmpeg.GPL.locale.en-US.yaml
  manifests/b/BtbN/FFmpeg/GPL/N-119779-g6c291232cf-20250531/BtbN.FFmpeg.GPL.locale.zh-CN.yaml
  manifests/b/BtbN/FFmpeg/GPL/N-119779-g6c291232cf-20250531/BtbN.FFmpeg.GPL.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262091 New version: BtbN.FFmpeg.GPL.6.1 version 6.1.2-20250531 (2025-05-31-14-01)
  manifests/b/BtbN/FFmpeg/GPL/6/1/6.1.2-20250531/BtbN.FFmpeg.GPL.6.1.installer.yaml
  manifests/b/BtbN/FFmpeg/GPL/6/1/6.1.2-20250531/BtbN.FFmpeg.GPL.6.1.locale.en-US.yaml
  manifests/b/BtbN/FFmpeg/GPL/6/1/6.1.2-20250531/BtbN.FFmpeg.GPL.6.1.locale.zh-CN.yaml
  manifests/b/BtbN/FFmpeg/GPL/6/1/6.1.2-20250531/BtbN.FFmpeg.GPL.6.1.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262096 New version: BtbN.FFmpeg.LGPL version N-119779-g6c291232cf-20250531 (2025-05-31-14-01)
  manifests/b/BtbN/FFmpeg/LGPL/N-119779-g6c291232cf-20250531/BtbN.FFmpeg.LGPL.installer.yaml
  manifests/b/BtbN/FFmpeg/LGPL/N-119779-g6c291232cf-20250531/BtbN.FFmpeg.LGPL.locale.en-US.yaml
  manifests/b/BtbN/FFmpeg/LGPL/N-119779-g6c291232cf-20250531/BtbN.FFmpeg.LGPL.locale.zh-CN.yaml
  manifests/b/BtbN/FFmpeg/LGPL/N-119779-g6c291232cf-20250531/BtbN.FFmpeg.LGPL.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262097 New version: BtbN.FFmpeg.LGPL.6.1 version 6.1.2-20250531 (2025-05-31-14-01)
  manifests/b/BtbN/FFmpeg/LGPL/6/1/6.1.2-20250531/BtbN.FFmpeg.LGPL.6.1.installer.yaml
  manifests/b/BtbN/FFmpeg/LGPL/6/1/6.1.2-20250531/BtbN.FFmpeg.LGPL.6.1.locale.en-US.yaml
  manifests/b/BtbN/FFmpeg/LGPL/6/1/6.1.2-20250531/BtbN.FFmpeg.LGPL.6.1.locale.zh-CN.yaml
  manifests/b/BtbN/FFmpeg/LGPL/6/1/6.1.2-20250531/BtbN.FFmpeg.LGPL.6.1.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262651 New version: ElectronicArts.EADesktop version 13.479.0.5992
  manifests/e/ElectronicArts/EADesktop/13.479.0.5992/ElectronicArts.EADesktop.installer.yaml
  manifests/e/ElectronicArts/EADesktop/13.479.0.5992/ElectronicArts.EADesktop.locale.en-US.yaml
  manifests/e/ElectronicArts/EADesktop/13.479.0.5992/ElectronicArts.EADesktop.locale.zh-CN.yaml
  manifests/e/ElectronicArts/EADesktop/13.479.0.5992/ElectronicArts.EADesktop.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262655 New version: Martchus.syncthingtray version 1.7.8
  manifests/m/Martchus/syncthingtray/1.7.8/Martchus.syncthingtray.installer.yaml
  manifests/m/Martchus/syncthingtray/1.7.8/Martchus.syncthingtray.locale.en-US.yaml
  manifests/m/Martchus/syncthingtray/1.7.8/Martchus.syncthingtray.locale.pt-BR.yaml
  manifests/m/Martchus/syncthingtray/1.7.8/Martchus.syncthingtray.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest

#262660 New version: Taozuhong.KangarooMultiple 7.98.1
  manifests/t/Taozuhong/KangarooMultiple/7.98.1.603/Taozuhong.KangarooMultiple.installer.yaml
  manifests/t/Taozuhong/KangarooMultiple/7.98.1.603/Taozuhong.KangarooMultiple.locale.en-US.yaml
  manifests/t/Taozuhong/KangarooMultiple/7.98.1.603/Taozuhong.KangarooMultiple.locale.zh-CN.yaml
  manifests/t/Taozuhong/KangarooMultiple/7.98.1.603/Taozuhong.KangarooMultiple.yaml
Labels: Azure-Pipeline-Passed, Validation-Completed, Moderator-Approved, New-Manifest
